<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui">

    <h:head>
        <f:facet name="first">
            <meta http-equiv="X-UA-Compatible" content="IE=edge" />
            <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
            <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"/>
            <meta name="apple-mobile-web-app-capable" content="yes" />
        </f:facet>
        <title>SIGPAT - Sistema de Gestão Patrimonial</title>
        <h:outputScript name="js/ripple.js" library="ultima-layout" />
    </h:head>

    <h:body styleClass="exception-body notfound-page">
    
        <div class="exception-type">
            <p:graphicImage name="images/404.svg" library="ultima-layout" />
        </div>
        
        <div class="card exception-panel">
            <i class="material-icons">&#xE001;</i>
            <h1>Página não encontrada!</h1>
            <div class="exception-detail">O recurso que você procura não existe. Caso o erro persista, favor entrar em contato com o administrador do SIGPAT na sua entidade.</div>
            <p:button outcome="/index" value="Homepage" styleClass="secondary"/>
        </div>
        
        <h:outputStylesheet name="css/ripple.css" library="ultima-layout" />
        <h:outputStylesheet name="css/layout-indigo.css" library="ultima-layout" />
    </h:body>

</html>