<!DOCTYPE html>
<ui:composition template="/WEB-INF/template.xhtml"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:p="http://primefaces.org/ui" xmlns:o="http://omnifaces.org/ui">

	<f:metadata>
		<o:viewParam name="codigoClassificacaoInventario"
			value="#{cadastroClassificacaoInventarioBean.classificacaoInventario}" />
		<f:viewAction
			action="#{cadastroClassificacaoInventarioBean.prepararCadastro}" />
	</f:metadata>

	<ui:define name="titulo">Cadastro de Classificações de Inventários</ui:define>

	<ui:define name="content">
		<div class="ui-g ui-fluid">
			<div class="ui-g-12">
				<div class="card">

					<h1>
						<h:graphicImage library="lavor" name="classficinventario.png"
							height="45" width="45" />
						(ATUALIZANDO) Cadastro de Classificações de Inventários <a
							href="ConsultaClassificacoesInventarios.xhtml"><h:graphicImage
								library="lavor" name="voltar.gif" height="35" width="80"
								style="float:right;" /> </a>
					</h1>

					<h:form id="frm">
						<p:messages showDetail="false" showSummary="true"
							autoUpdate="true" />

						<p:panel header="Cadastro de Classificações de Inventários">
							<p:panelGrid columns="2" styleClass="semBorda">
								<p:outputLabel value="Nome da Classificação do Inventário">
									<p:outputLabel value="*" style="font-size:11px; color:red;" />
									<h:graphicImage library="lavor" name="ajuda.png" height="15"
										width="15" style="float:right;" onclick="PF('dlg1').show();" />
								</p:outputLabel>
								<p:inputText size="70" required="true"
									value="#{cadastroClassificacaoInventarioBean.classificacaoInventario.descricaoClassificacaoInventario}"
									label="Cadastro de Classificações de Inventários"
									immediate="true" maxlength="100"
									placeholder="informe o nome da classificação do inventário "
									title="Informe o nome da Classificação do Inventário." />

								<p:outputLabel />
								<p:outputLabel value=" * é campo de preenchimento obrigatório"
									style="font-size:11px; color:red;" />
								<p:commandButton value="Salvar"
									action="#{cadastroClassificacaoInventarioBean.editar}"
									icon="ui-icon-save" process="@form" update="@form" style="width:100px"/>
							</p:panelGrid>
						</p:panel>
					</h:form>
					<p:dialog header="Ajuda: Nome da Classificação do Inventário"
						widgetVar="dlg1" showEffect="explode" width="600" height="90"
						resizable="false" maximizable="false" position="center"
						hideEffect="explode">
						<h:outputText
							value="É a descrição do nome da Classificação do Inventário." />
						<br />
						<br />
						<h:outputText value="Por exemplo: Eventual" />
						<br />
						<div align="center">
							<p:button value="OK" icon="ui-icon-check"
								onclick="PF('dlg1').hide(); return false" style="width:100px"/>
						</div>
					</p:dialog>
				</div>
			</div>
		</div>
	</ui:define>
</ui:composition>