<!DOCTYPE html>
<ui:composition template="/WEB-INF/template.xhtml"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">

	<f:metadata>
		<f:viewAction action="#{consultaCargosBean.consultar}" />
	</f:metadata>

	<ui:define name="titulo">Consulta de Cargos Funcionais</ui:define>

	<ui:define name="content">
		<div class="ui-g">
			<div class="ui-g-12">
				<div class="card card-w-title">
					<h1>
						<h:graphicImage library="lavor" name="cargo.png" height="45"
							width="45" />
						Consulta de Cargos Funcionais <a href="../../dashboard.xhtml"> <h:graphicImage
								library="lavor" name="voltar.gif" height="35" width="80"
								style="float:right;" /></a>
					</h1>

					<h:form id="frm">
						<p:messages showDetail="false" showSummary="true"
							autoUpdate="true" />
									<p:dataTable value="#{consultaCargosBean.cargos}" 
										expandableRowGroups="true" reflow="true" selectionMode="single"
										selection="#{consultaCargosBean.cargoSelecionado}"
										rowKey="#{cargo.codigoCargo}"
										var="cargo"
										border="1" cellspacing="0" cellpadding="2" paginator="true"
										rows="8" rowsPerPageTemplate="8,25,50,100"
										paginatorPosition="bottom" id="tabela"
										emptyMessage="Não foi localizado o registro solicitado."
										paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
										currentPageReportTemplate="Total de {totalRecords} registros localizados - Página: {currentPage} de {totalPages}">

										<f:facet name="header">
       									 Lista de Cargos Funcionais
					<div align="right">
												<p:commandButton id="toggler" type="button"
													value="Ajuste Colunas" icon="ui-icon-calculator" />
											</div>
											<p:columnToggler datasource="tabela" trigger="toggler" />
										</f:facet>

										<f:facet name="footer">
											<div align="right">
												Exportar
												<h:commandLink>
													<h:graphicImage library="lavor" name="pdf.png" width="20"
														title="Exportar para PDF" />
													<p:dataExporter type="pdf" target="tabela"
														fileName="cargos" />
												</h:commandLink>

												<h:commandLink>
													<h:graphicImage library="lavor" name="xls.png" width="20"
														title="Exportar para XLS" />
													<p:dataExporter type="xls" target="tabela"
														fileName="cargos" />
												</h:commandLink>

												<h:commandLink>
													<h:graphicImage library="lavor" name="xml.png" width="20"
														title="Exportar para XML" />
													<p:dataExporter type="xml" target="tabela"
														fileName="cargos" />
												</h:commandLink>
											</div>
										</f:facet>

										<p:column headerText="Nome do Cargo Funcional"
											style="width:30%" sortBy="#{cargo.descricaoCargo}"
											filterBy="#{cargo.descricaoCargo}" filterMatchMode="contains"
											id="campomarca">
											<h:outputText value="#{cargo.descricaoCargo}" />
										</p:column>

										<p:column headerText="Ação" style="width:7%"
											exportable="false">
											<div align="center">
												<p:column style="width:20px">
													<p:commandButton update=":frm:cargoDetalhes" styleClass="blue-grey-btn"
														oncomplete="PF('dlgver').show()" icon="ui-icon-search"
														title="Ver">
														<f:setPropertyActionListener value="#{cargo}"
															target="#{consultaCargosBean.cargoSelecionado}" />
													</p:commandButton>
												</p:column>
												<p:column style="width:20px">
													<p:button icon="ui-icon-pencil" title="Alterar"
													    	rendered="#{seguranca.autoridades=='[ROLE_ADMINISTRADORES]' or seguranca.autoridades=='[ROLE_GESTORES]'}"
														outcome="/paginas/Cargo/CadastroCargoEdit">
														<f:param name="codigoCargo" value="#{cargo.codigoCargo}" />
													</p:button>
												</p:column>
												<p:column style="width:20px">
													<p:commandButton icon="ui-icon-trash" title="Excluir" styleClass="red-btn"
													    rendered="#{seguranca.autoridades=='[ROLE_ADMINISTRADORES]'}"
														process="@this" update="@form"
														action="#{consultaCargosBean.excluir}">
														<p:confirm header="Excluindo..."
															message="Tem certeza que deseja excluir este Registro?"
															icon="ui-icon-alert" />
														<f:setPropertyActionListener value="#{cargo}"
															target="#{consultaCargosBean.cargoSelecionado}" />
													</p:commandButton>
												</p:column>
											</div>
										</p:column>
									</p:dataTable>
						<p:dialog header="Detalhes: Cargo Funcional " widgetVar="dlgver"
							modal="true" showEffect="fade" hideEffect="fade"
							resizable="false">
							<p:outputPanel id="cargoDetalhes" style="text-align:center;">
								<p:panelGrid columns="2"
									rendered="#{not empty consultaCargosBean.cargoSelecionado}"
									columnClasses="label,value">

									<h:outputText value="Código Interno" style="font-weight:bold" />
									<h:outputText
										value="#{consultaCargosBean.cargoSelecionado.codigoCargo}"
										style="font-weight:bold" />

									<h:outputText value="Nome do Cargo" style="font-weight:bold" />
									<h:outputText
										value="#{consultaCargosBean.cargoSelecionado.descricaoCargo}"
										style="font-weight:bold" />
								</p:panelGrid>
							</p:outputPanel>
							<br />
							<div align="center">
								<p:button value="OK" icon="ui-icon-check"
									onclick="PF('dlgver').hide(); return false" />
							</div>
						</p:dialog>
					</h:form>
				</div>
			</div>
		</div>
	</ui:define>
</ui:composition>