<!DOCTYPE html>
<ui:composition template="/WEB-INF/template.xhtml"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">

	<f:metadata>
		<f:viewAction
			action="#{consultaModalidadesAquisicoesBensBean.consultar}" />
	</f:metadata>

	<ui:define name="titulo">Consulta de Modalidades de Aquisições de Bens Patrimoniais</ui:define>

	<ui:define name="content">
		<div class="ui-g ui-fluid">
			<div class="ui-g-12">
				<div class="card">
					<h1>
						<h:graphicImage library="lavor" name="modalidades.png" height="45"
							width="45" />
						Consulta de Modalidades de Aquisições de Bens Patrimoniais <a
							href="../../dashboard.xhtml"><h:graphicImage library="lavor"
								name="voltar.gif" height="35" width="80" style="float:right;" />
						</a>
					</h1>

					<h:form id="frm">
						<p:messages showDetail="false" showSummary="true"
							autoUpdate="true" />

						<p:dataTable
							value="#{consultaModalidadesAquisicoesBensBean.modalidadesAquisicoesBens}"
							expandableRowGroups="true" reflow="true" selectionMode="single"
							selection="#{consultaModalidadesAquisicoesBensBean.modalidadeAquisicaoBensSelecionado}"
							rowKey="#{modalidadeAquisicaoBem.codigoModalidadeAquisicaoBem}"
							var="modalidadeAquisicaoBem" border="1" cellspacing="0"
							cellpadding="2" paginator="true"
							rowsPerPageTemplate="8,25,50,100" rows="8"
							paginatorPosition="bottom" id="tabela"
							emptyMessage="Não foi localizado o registro solicitado."
							paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
							currentPageReportTemplate="Total de {totalRecords} registros localizados - Página: {currentPage} de {totalPages}">

							<f:facet name="header">
       				 Lista de Modalidades de Aquisições
					<div align="right">
									<p:commandButton id="toggler" type="button"
										value="Ajuste Colunas" icon="ui-icon-calculator" />
								</div>
								<p:columnToggler datasource="tabela" trigger="toggler" />
							</f:facet>

							<f:facet name="footer">
								<div align="right">
									Exportar
									<h:commandLink>
										<h:graphicImage library="lavor" name="pdf.png" width="20"
											title="Exportar para PDF" />
										<p:dataExporter type="pdf" target="tabela"
											fileName="modalidadeaquisicaobens" />
									</h:commandLink>

									<h:commandLink>
										<h:graphicImage library="lavor" name="xls.png" width="20"
											title="Exportar para XLS" />
										<p:dataExporter type="xls" target="tabela"
											fileName="modalidadeaquisicaobens" />
									</h:commandLink>

									<h:commandLink>
										<h:graphicImage library="lavor" name="xml.png" width="20"
											title="Exportar para XML" />
										<p:dataExporter type="xml" target="tabela"
											fileName="modalidadeaquisicaobens" />
									</h:commandLink>
								</div>
							</f:facet>


							<p:column headerText="Nome da Modalidade de Aquisição"
								style="width:30%"
								sortBy="#{modalidadeAquisicaoBem.descricaoModalidadeAquisicaoBem}"
								filterBy="#{modalidadeAquisicaoBem.descricaoModalidadeAquisicaoBem}"
								filterMatchMode="contains" id="campomarca">
								<h:outputText
									value="#{modalidadeAquisicaoBem.descricaoModalidadeAquisicaoBem}" />
							</p:column>

							<p:column headerText="Ação" style="width:7%" exportable="false">
								<div align="center">
									<p:column style="width:20px">
										<p:commandButton update=":frm:modalidadeAquisicaoBemDetalhes" styleClass="blue-grey-btn"
											oncomplete="PF('dlgver').show()" icon="ui-icon-search"
											title="Ver">
											<f:setPropertyActionListener
												value="#{modalidadeAquisicaoBem}"
												target="#{consultaModalidadesAquisicoesBensBean.modalidadeAquisicaoBensSelecionado}" />
										</p:commandButton>
									</p:column>
									<p:column style="width:20px">
										<p:button icon="ui-icon-pencil" title="Alterar"
										    rendered="#{seguranca.autoridades=='[ROLE_ADMINISTRADORES]'}"
											outcome="/paginas/ModalidadeAquisicaoBem/CadastroModalidadeAquisicaoBensEdit">
											<f:param name="codigoModalidadeAquisicaoBem"
												value="#{modalidadeAquisicaoBem.codigoModalidadeAquisicaoBem}" />
										</p:button>
									</p:column>
									<p:column style="width:20px">
										<p:commandButton icon="ui-icon-trash" title="Excluir" styleClass="red-btn"
										    rendered="#{seguranca.autoridades=='[ROLE_ADMINISTRADORES]'}"
											process="@this" update="@form"
											action="#{consultaModalidadesAquisicoesBensBean.excluir}">
											<p:confirm header="Excluindo..."
												message="Tem certeza que deseja excluir este Registro?"
												icon="ui-icon-alert" />
											<f:setPropertyActionListener
												value="#{modalidadeAquisicaoBem}"
												target="#{consultaModalidadesAquisicoesBensBean.modalidadeAquisicaoBensSelecionado}" />
										</p:commandButton>
									</p:column>
								</div>
							</p:column>
						</p:dataTable>
						<p:dialog header="Detalhes: Modalidade de Aquisição "
							widgetVar="dlgver" modal="true" showEffect="fade"
							hideEffect="fade" resizable="false">
							<p:outputPanel id="modalidadeAquisicaoBemDetalhes"
								style="text-align:center;">
								<p:panelGrid columns="2"
									rendered="#{not empty consultaModalidadesAquisicoesBensBean.modalidadeAquisicaoBensSelecionado}"
									columnClasses="label,value">

									<h:outputText value="Código Interno" style="font-weight:bold" />
									<h:outputText
										value="#{consultaModalidadesAquisicoesBensBean.modalidadeAquisicaoBensSelecionado.codigoModalidadeAquisicaoBem}"
										style="font-weight:bold" />

									<h:outputText value="Nome da Modalidade"
										style="font-weight:bold" />
									<h:outputText
										value="#{consultaModalidadesAquisicoesBensBean.modalidadeAquisicaoBensSelecionado.descricaoModalidadeAquisicaoBem}"
										style="font-weight:bold" />
								</p:panelGrid>
							</p:outputPanel>
							<br />
							<div align="center">
								<p:button value="OK" icon="ui-icon-check"
									onclick="PF('dlgver').hide(); return false" style="width:100px" />
							</div>
						</p:dialog>
					</h:form>
				</div>
			</div>
		</div>
	</ui:define>
</ui:composition>