<!DOCTYPE html>
<ui:composition template="/WEB-INF/template.xhtml"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:p="http://primefaces.org/ui" xmlns:o="http://omnifaces.org/ui">

	<f:metadata>
		<o:viewParam name="codigoReferenciaFornecedor"
			value="#{cadastroReferenciaFornecedorBean.referenciaFornecedor}" />
		<f:viewAction
			action="#{cadastroReferenciaFornecedorBean.prepararCadastro}" />
	</f:metadata>

	<ui:define name="titulo">Cadastro de Referências de Fornecedores</ui:define>

	<ui:define name="content">
		<div class="ui-g ui-fluid">
			<div class="ui-g-12">
				<div class="card">
					<h1>
						<h:graphicImage library="lavor" name="referenciafornecedores.png"
							height="45" width="45" />
						(ATUALIZANDO) Cadastro de Referências de Fornecedores <a
							href="ConsultaReferenciasFornecedores.xhtml"><h:graphicImage
								library="lavor" name="voltar.gif" height="35" width="80"
								style="float:right;" /> </a>
					</h1>

					<h:form id="frm">
						<p:messages showDetail="false" showSummary="true"
							autoUpdate="true" />

						<p:panel header="Cadastro de Referências de Fornecedores">
							<p:panelGrid columns="2" styleClass="semBorda">
								<p:outputLabel value="Nome da Referência do Fornecedor">
									<p:outputLabel value="*" style="font-size:11px; color:red;" />
									<h:graphicImage library="lavor" name="ajuda.png" height="15"
										width="15" style="float:right;" onclick="PF('dlg1').show();" />
								</p:outputLabel>
								<p:inputText size="70" required="true"
									value="#{cadastroReferenciaFornecedorBean.referenciaFornecedor.descricaoReferenciaFornecedor}"
									label="Nome da Referência do Fornecedor" immediate="true"
									maxlength="50"
									placeholder="informe o nome da referência do fornecedor"
									title="Informe o nome da Referência do Fornecedor." />

								<p:outputLabel value="Regra/Restrição" for="regraFornecedor">
									<p:outputLabel value="*" style="font-size:11px; color:red;" />
									<h:graphicImage library="lavor" name="ajuda.png" height="15"
										width="15" style="float:right;" onclick="PF('dlg2').show();" />
								</p:outputLabel>
								<p:selectOneMenu
									value="#{cadastroReferenciaFornecedorBean.referenciaFornecedor.regraFornecedor}"
									label="Regra/Restrição" id="regraFornecedor"
									filterMatchMode="contains">
									<f:selectItem itemLabel="Selecione" noSelectionOption="true" />
									<f:selectItems
										value="#{cadastroReferenciaFornecedorBean.regrasForncedores}"
										var="regraFornecedor" itemValue="#{regraFornecedor}"
										itemLabel="#{regraFornecedor}" />
								</p:selectOneMenu>
								<p:outputLabel />
								<p:outputLabel value=" * é campo de preenchimento obrigatório"
									style="font-size:11px; color:red;" />
								<p:commandButton value="Salvar"
									action="#{cadastroReferenciaFornecedorBean.editar}"
									icon="ui-icon-save" process="@form" update="@form" style="width:100px"/>
							</p:panelGrid>
						</p:panel>
					</h:form>
					<p:dialog header="Ajuda: Nome da Referência do Fornecedor"
						widgetVar="dlg1" showEffect="explode" width="600" height="90"
						resizable="false" maximizable="false" position="center"
						hideEffect="explode">
						<h:outputText
							value="É a descrição do nome da Referência do Fornecedor, relativo ao fornecimento dos Bens." />
						<br />
						<br />
						<h:outputText value="Por exemplo: Ótimo Fornecedor" />
						<br />
						<div align="center">
							<p:button value="OK" icon="ui-icon-check"
								onclick="PF('dlg1').hide(); return false" style="width:100px"/>
						</div>
					</p:dialog>

					<p:dialog header="Ajuda: Regra/Restrição" widgetVar="dlg2"
						showEffect="explode" width="600" height="100" resizable="false"
						maximizable="false" position="center" hideEffect="explode">
						<h:outputText
							value="Para cada Referência de Fornecedor é possível associar as regras: Liberado ou Bloqueado." />
						<br />
						<br />
						<h:outputText
							value="Por exemplo: Lista Negra, poderia usar a regra/restrição BLOQUEADO, para alertar que existem Fornecedores inaptos!" />
						<br />
						<div align="center">
							<p:button value="OK" icon="ui-icon-check"
								onclick="PF('dlg2').hide(); return false" style="width:100px" />
						</div>
					</p:dialog>
				</div>
			</div>
		</div>
	</ui:define>
</ui:composition>