<!DOCTYPE html>
<ui:composition template="/WEB-INF/template.xhtml"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:p="http://primefaces.org/ui" xmlns:o="http://omnifaces.org/ui">

	<f:metadata>
		<o:viewParam name="codigoMotivoBaixa"
			value="#{cadastroMotivoBaixaBean.motivoBaixa}" />
		<f:viewAction action="#{cadastroMotivoBaixaBean.prepararCadastro}" />
	</f:metadata>

	<ui:define name="titulo">Cadastro de Motivos Baixas de Bens</ui:define>

	<ui:define name="content">
		<div class="ui-g ui-fluid">
			<div class="ui-g-12">
				<div class="card">
					<h1>
						<h:graphicImage library="lavor" name="motivobaixa.png" height="45"
							width="45" />
						Cadastro de Motivos Baixas de Bens <a href="../../dashboard.xhtml"><h:graphicImage
								library="lavor" name="voltar.gif" height="35" width="80"
								style="float:right;" /> </a>
					</h1>

					<h:form id="frm">
						<p:messages showDetail="false" showSummary="true"
							autoUpdate="true" />

						<p:panel header="Cadastro de Motivos de Baixas de Bens">
							<p:panelGrid columns="2" styleClass="semBorda">
								<p:outputLabel value="Nome do Motivo da Baixa">
									<p:outputLabel value="*" style="font-size:11px; color:red;" />
									<h:graphicImage library="lavor" name="ajuda.png" height="15"
										width="15" style="float:right;" onclick="PF('dlg1').show();" />
								</p:outputLabel>
								<p:inputText size="50" required="true"
									value="#{cadastroMotivoBaixaBean.motivoBaixa.descricaoMotivoBaixa}"
									label="Nome do Motivo da Baixa" immediate="true" maxlength="30"
									placeholder="informe o nome do motivo da baixa de bem"
									title="Informe o nome do Motivo da Baixa de Bem." />

								<p:outputLabel />
								<p:outputLabel value=" * é campo de preenchimento obrigatório"
									style="font-size:11px; color:red;" />
								<p:commandButton value="Salvar"
									action="#{cadastroMotivoBaixaBean.salvar}" icon="ui-icon-save" style="width:100px"
									process="@form" update="@form" />
							</p:panelGrid>
						</p:panel>
					</h:form>
					<p:dialog header="Ajuda: Nome do Motivo da Baixa" widgetVar="dlg1"
						showEffect="explode" width="600" height="90" resizable="false"
						maximizable="false" position="center" hideEffect="explode">
						<h:outputText
							value="É a descrição do nome motivo da baixa/alienação de bens patrimoniais." />
						<br />
						<br />
						<h:outputText value="Por exemplo: Inservível" />
						<br />
						<div align="center">
							<p:button value="OK" icon="ui-icon-check"
								onclick="PF('dlg1').hide(); return false" style="width:100px"/>
						</div>
					</p:dialog>
				</div>
			</div>
		</div>
	</ui:define>
</ui:composition>