<!DOCTYPE html>
<ui:composition template="/WEB-INF/template.xhtml"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:pe="http://primefaces.org/ui/extensions"
	xmlns:o="http://omnifaces.org/ui">

	<f:metadata>
		<o:viewParam name="codigoBemMovel"
			value="#{cadastroBemMovelBean.bemMovel}" />
		<f:viewAction action="#{cadastroBemMovelBean.prepararCadastroEdit}" />
	</f:metadata>

	<ui:define name="titulo">Cadastro de Bens Móveis</ui:define>

	<ui:define name="content">
		<div class="ui-g ui-fluid">
			<div class="ui-g-12">
				<div class="card">
					<h:outputStylesheet library="lavor" name="estilo.css" />
					<h1>
						<h:graphicImage library="lavor" name="bem.png" height="45"
							width="45" />
						(ATUALIZANDO) Cadastro de Bens Móveis <a
							href="ConsultaBensMoveisMesAtual.xhtml"><h:graphicImage
								library="lavor" name="voltar.gif" height="35" width="80"
								style="float:right;" /> </a>
					</h1>

					<h:form enctype="multipart/form-data" id="frm">
						<p:messages showDetail="false" showSummary="true"
							autoUpdate="true" />

						<p:wizard backLabel="Voltar" nextLabel="Próximo" id="wiz"
							flowListener="#{cadastroBemMovelBean.onFlowProcess}"
							style="width: 1000px;">

							<p:tab id="dadospatrimoniais" title="Dados Patrimoniais"
								titleStyle="font-size:12px;">

								<p:panel header="Detalhes Patrimoniais">
									<h:messages errorClass="error" />
									<p:panelGrid columns="3" styleClass="semBorda">

										<p:outputLabel value="Número Patrimônio/Tombamento">
											<p:outputLabel value=" *" style="font-size:11px; color:red;" />
											<h:graphicImage library="lavor" name="ajuda.png" height="15"
												width="15" style="float:right;" onclick="PF('dlg1').show();" />
										</p:outputLabel>
										<p:inputText size="30" required="true"
											value="#{cadastroBemMovelBean.bemMovel.numeroPatrimonio}"
											label="Número Patrimônio/Tombamento" immediate="true"
											maxlength="18"
											placeholder="informe o número do patrimônio do bem móvel"
											title="Informe o Número do Patrimônio do Bem Móvel." />
										<p:outputLabel />

										<p:outputLabel value="Data de Tombamento">
											<h:graphicImage library="lavor" name="ajuda.png" height="15"
												width="15" style="float:right;" onclick="PF('dlg2').show();" />
										</p:outputLabel>
										<p:calendar id="datatombamento" effect="fold" showOn="button"
											mask="true"
											value="#{cadastroBemMovelBean.bemMovel.dataTombamento}"
											placeholder="informe a data do tombamento do bem"
											title="Informe a Data do Tombamento do Bem."
											pattern="dd/MM/yyyy" locale="pt" />
										<p:outputLabel />

										<p:outputLabel value="Descrição do Bem">
											<p:outputLabel value=" *" style="font-size:11px; color:red;" />
											<h:graphicImage library="lavor" name="ajuda.png" height="15"
												width="15" style="float:right;" onclick="PF('dlg3').show();" />
											<h:graphicImage library="lavor" name="auto.png" height="15"
												width="15" style="float:right;" onclick="PF('dlg4').show();"
												title="Recurso de Autocomplete.  Recurso este, que permite pesquisar descrições de bens já cadastrados." />
										</p:outputLabel>
										<p:inputTextarea required="true"
											value="#{cadastroBemMovelBean.bemMovel.descricao}"
											label="Descrição do Bem" immediate="true" maxlength="500"
											counterTemplate="{0} restantes" counter="display"
											completeMethod="#{cadastroBemMovelBean.pesquisarDescricoes}"
											minQueryLength="4" autoResize="true|false" rows="5" cols="75" />
										<h:outputText id="display" />


										<p:outputLabel value="Tipo de Bem" for="tipoBem">
											<h:graphicImage library="lavor" name="ajuda.png" height="15"
												width="15" style="float:right;" onclick="PF('dlg5').show();" />
										</p:outputLabel>
										<p:selectOneMenu value="#{cadastroBemMovelBean.bemMovel.tipo}"
											required="true" label="Tipo de Bem" id="tipoBem"
											filter="false" filterMatchMode="contains">
											<f:selectItem itemLabel="Selecione" noSelectionOption="true" />
											<f:selectItems value="#{cadastroBemMovelBean.todosTipos}"
												var="tipoBem" itemValue="#{tipoBem}"
												itemLabel="#{tipoBem.descricaoTipoBem}" />
											<p:ajax
												listener="#{cadastroBemMovelBean.prepararTiposBens()}"
												update=":frm:tipoBem" process="@this" />
										</p:selectOneMenu>
										<p:outputLabel />

										<p:outputLabel value="Marca" for="marca">
											<h:graphicImage library="lavor" name="ajuda.png" height="15"
												width="15" style="float:right;" onclick="PF('dlg6').show();" />
										</p:outputLabel>
										<p:selectOneMenu
											value="#{cadastroBemMovelBean.bemMovel.marca}"
											required="true" label="Marca" id="marca" filter="true"
											filterMatchMode="contains">
											<f:selectItem itemLabel="Selecione" noSelectionOption="true" />
											<f:selectItems value="#{cadastroBemMovelBean.todasMarcas}"
												var="marca" itemValue="#{marca}"
												itemLabel="#{marca.descricaoMarcaBem}" />
											<p:ajax listener="#{cadastroBemMovelBean.prepararMarcas()}"
												update=":frm:marca" process="@this" />
										</p:selectOneMenu>
										<p:outputLabel />

										<p:outputLabel value="Modelo">
											<h:graphicImage library="lavor" name="ajuda.png" height="15"
												width="15" style="float:right;" onclick="PF('dlg7').show();" />
										</p:outputLabel>
										<p:inputText size="40"
											value="#{cadastroBemMovelBean.bemMovel.modelo}"
											label="Modelo" immediate="true" maxlength="50"
											placeholder="informe o modelo do bem móvel"
											title="Informe o Modelo do Bem Móvel." />
										<p:outputLabel />

										<p:outputLabel value="Número de Série">
											<h:graphicImage library="lavor" name="ajuda.png" height="15"
												width="15" style="float:right;" onclick="PF('dlg8').show();" />
										</p:outputLabel>
										<p:inputText size="30"
											value="#{cadastroBemMovelBean.bemMovel.numeroSerie}"
											label="Número de Série" immediate="true" maxlength="30"
											placeholder="informe o número de série do bem móvel"
											title="Informe o Número de Série do Bem Móvel." />
										<p:outputLabel />

										<p:outputLabel value="Estado do Bem" for="estadoBem">
											<h:graphicImage library="lavor" name="ajuda.png" height="15"
												width="15" style="float:right;" onclick="PF('dlg9').show();" />
										</p:outputLabel>
										<p:selectOneMenu
											value="#{cadastroBemMovelBean.bemMovel.estadoBem}"
											required="true" label="Estado do Bem" id="estadoBem"
											filter="false" filterMatchMode="contains">
											<f:selectItem itemLabel="Selecione" noSelectionOption="true" />
											<f:selectItems
												value="#{cadastroBemMovelBean.todosEstadosBens}"
												var="estadoBem" itemValue="#{estadoBem}"
												itemLabel="#{estadoBem.descricaoEstadoBem}" />
											<p:ajax
												listener="#{cadastroBemMovelBean.prepararEstadosBens()}"
												update=":frm:estadoBem" process="@this" />
										</p:selectOneMenu>
										<p:outputLabel />

										<p:outputLabel value="Grupo do Bem" for="grupoBem">
											<h:graphicImage library="lavor" name="ajuda.png" height="15"
												width="15" style="float:right;"
												onclick="PF('dlg10').show();" />
										</p:outputLabel>
										<p:selectOneMenu
											value="#{cadastroBemMovelBean.bemMovel.grupoBem}"
											required="true" label="Grupo do Bem" id="grupoBem"
											filter="true" filterMatchMode="contains" style="width:250px">
											<f:selectItem itemLabel="Selecione o Grupo"
												noSelectionOption="true" />
											<f:selectItems
												value="#{cadastroBemMovelBean.todosGruposBens}"
												var="grupoBem" itemValue="#{grupoBem}"
												itemLabel="#{grupoBem.contaContabil} - #{grupoBem.descricaoGrupoBem}" />
											<p:ajax
												listener="#{cadastroBemMovelBean.carregarSubGruposBens}"
												update="subGrupoBem" />
										</p:selectOneMenu>
										<p:outputLabel />

										<p:outputLabel value="SubGrupo do Bem" for="subGrupoBem">
											<h:graphicImage library="lavor" name="ajuda.png" height="15"
												width="15" style="float:right;"
												onclick="PF('dlg11').show();" />
										</p:outputLabel>
										<p:selectOneMenu
											value="#{cadastroBemMovelBean.bemMovel.subGrupoBem}"
											required="true" label="SubGrupo do Bem" id="subGrupoBem"
											filter="true" filterMatchMode="contains" style="width:250px">
											<f:selectItem itemLabel="Selecione o SubGrupo"
												noSelectionOption="true" />
											<f:selectItems
												value="#{cadastroBemMovelBean.subGruposBensSelecionados}"
												var="subGrupoBem" itemValue="#{subGrupoBem}"
												itemLabel="#{subGrupoBem.descricaoSubGrupoBem}" />
										</p:selectOneMenu>
										<p:outputLabel />
									</p:panelGrid>
								</p:panel>
								<p:outputLabel value=" * é campo de preenchimento obrigatório"
									style="font-size:11px; color:red;" />
							</p:tab>

							<p:tab id="aquisicao" title="Dados de Aquisição"
								titleStyle="font-size:12px;">
								<p:panel header="Detalhes da Aquisição">
									<h:messages errorClass="error" />
									<p:panelGrid columns="3" styleClass="semBorda">

										<p:outputLabel value="Data de Aquisição">
											<p:outputLabel value=" *" style="font-size:11px; color:red;" />
											<h:graphicImage library="lavor" name="ajuda.png" height="15"
												width="15" style="float:right;"
												onclick="PF('dlg12').show();" />
										</p:outputLabel>
										<p:calendar id="dataaquisicao" effect="fold" required="true"
											showOn="button" mask="true"
											value="#{cadastroBemMovelBean.bemMovel.dataAquisicao}"
											placeholder="informe a data de aquisição do bem"
											title="Informe a Data de Aquisição do Bem."
											pattern="dd/MM/yyyy" locale="pt" />
										<p:outputLabel />

										<p:outputLabel value="Modalidade de Aquisição"
											for="modalidade">
											<h:graphicImage library="lavor" name="ajuda.png" height="15"
												width="15" style="float:right;"
												onclick="PF('dlg13').show();" />
										</p:outputLabel>
										<p:selectOneMenu
											value="#{cadastroBemMovelBean.bemMovel.modalidadeAquisicao}"
											required="true" label="Modalidade de Aquisição"
											id="modalidade" filter="false" filterMatchMode="contains">
											<f:selectItem itemLabel="Selecione" noSelectionOption="true" />
											<f:selectItems
												value="#{cadastroBemMovelBean.todasModalidades}"
												var="modalidade" itemValue="#{modalidade}"
												itemLabel="#{modalidade.descricaoModalidadeAquisicaoBem}" />
											<p:ajax
												listener="#{cadastroBemMovelBean.prepararModalidades()}"
												update=":frm:modalidade" process="@this" />
										</p:selectOneMenu>
										<p:outputLabel />

										<p:outputLabel value="Fonte de Recurso" for="fonteRecurso">
											<h:graphicImage library="lavor" name="ajuda.png" height="15"
												width="15" style="float:right;"
												onclick="PF('dlg14').show();" />
										</p:outputLabel>
										<p:selectOneMenu
											value="#{cadastroBemMovelBean.bemMovel.fonteRecurso}"
											required="true" label="Fonte de Recurso" id="fonteRecurso"
											filter="true" filterMatchMode="contains">
											<f:selectItem itemLabel="Selecione" noSelectionOption="true" />
											<f:selectItems
												value="#{cadastroBemMovelBean.todasFontesRecursos}"
												var="fonteRecurso" itemValue="#{fonteRecurso}"
												itemLabel="#{fonteRecurso.fonte} - #{fonteRecurso.nomeFonteRecurso}" />
											<p:ajax
												listener="#{cadastroBemMovelBean.prepararFontesRecusos()}"
												update=":frm:fonteRecurso" process="@this" />
										</p:selectOneMenu>
										<p:outputLabel />
										
										<p:outputLabel value="Unidade Orçamentária da Fonte de Recurso" for="unidadeOrcamentariaFonteRecurso">
									     <h:graphicImage library="lavor" name="ajuda.png" height="15"
												width="15" style="float:right;" onclick="PF('dlg26').show();" />
										</p:outputLabel>
										<p:selectOneMenu value="#{cadastroBemMovelBean.bemMovel.unidadeOrcamentariaFonteRecurso}"
											required="false" label="Unidade Orçamentária da Fonte de Recurso" id="unidadeOrcamentariaFonteRecurso"
											filter="false" filterMatchMode="contains">
											<f:selectItem itemLabel="Selecione" noSelectionOption="true" />
											<f:selectItems value="#{cadastroBemMovelBean.todasUnidadesOrcamentarias}"
												var="unidadeOrcamentariaFonteRecurso" itemValue="#{unidadeOrcamentariaFonteRecurso}"
												itemLabel="#{unidadeOrcamentariaFonteRecurso.codigoOrcamentario} - #{unidadeOrcamentariaFonteRecurso.nomeUnidadeGestora} (#{unidadeOrcamentariaFonteRecurso.nomeResumido})" />
											<p:ajax
												listener="#{cadastroBemMovelBean.prepararUnidadesOrcamentarias()}"
												update=":frm:unidadeOrcamentariaFonteRecurso" process="@this" />
										</p:selectOneMenu>
										<p:outputLabel />
										
										<p:outputLabel value="Número do Convênio">
											<h:graphicImage library="lavor" name="ajuda.png" height="15"
												width="15" style="float:right;"
												onclick="PF('dlg27').show();" />
										</p:outputLabel>
										<p:inputText size="20"
											value="#{cadastroBemMovelBean.bemMovel.numeroConvenio}"
											label="Número do Convênio" immediate="true" maxlength="30"
											placeholder="informe o número do convênio do bem móvel"
											title="Informe o Número do Convênio do Bem Móvel." />
										<p:outputLabel />
										
										

										<p:outputLabel value="Elemento Despesa">
											<p:outputLabel value=" *" style="font-size:11px; color:red;" />
											<h:graphicImage library="lavor" name="ajuda.png" height="15"
												width="15" style="float:right;"
												onclick="PF('dlg15').show();" />
										</p:outputLabel>
										<p:selectOneMenu id="elemento"
											title="Informe o Elemento Despesa do Bem Móvel."
											immediate="true"
											value="#{cadastroBemMovelBean.bemMovel.elementoDespesa}"
											style="width:125px">
											<f:selectItem itemLabel="Selecione" noSelectionOption="true" />
											<f:selectItem
												itemLabel="449052 - Equipamento e Material Permanente"
												itemValue="449052" />
											<f:selectItem
												itemLabel="449092 - Despesas de Exercícios Anteriores"
												itemValue="449092" />
										</p:selectOneMenu>
										<p:outputLabel />

										<p:outputLabel value="Fornecedor" for="fornecedor">
											<h:graphicImage library="lavor" name="ajuda.png" height="15"
												width="15" style="float:right;"
												onclick="PF('dlg16').show();" />
										</p:outputLabel>
										<p:selectOneMenu
											value="#{cadastroBemMovelBean.bemMovel.fornecedor}"
											required="true" label="Fornecedor" id="fornecedor"
											filter="true" filterMatchMode="contains">
											<f:selectItem itemLabel="Selecione" noSelectionOption="true" />
											<f:selectItems
												value="#{cadastroBemMovelBean.todosFornecedores}"
												var="fornecedor" itemValue="#{fornecedor}"
												itemLabel="#{fornecedor.nomeFornecedor}" />
											<p:ajax
												listener="#{cadastroBemMovelBean.prepararFornecedores()}"
												update=":frm:fornecedor" process="@this" />
										</p:selectOneMenu>
										<p:outputLabel />

										<p:outputLabel value="Número do Processo">
											<h:graphicImage library="lavor" name="ajuda.png" height="15"
												width="15" style="float:right;"
												onclick="PF('dlg17').show();" />
										</p:outputLabel>
										<p:inputText size="20"
											value="#{cadastroBemMovelBean.bemMovel.numeroProcesso}"
											label="Número do Processo" immediate="true" maxlength="30"
											placeholder="informe o número do processo do bem móvel"
											title="Informe o Número do Proceso do Bem Móvel." />
										<p:outputLabel />

										<p:outputLabel value="Número do Empenho">
											<h:graphicImage library="lavor" name="ajuda.png" height="15"
												width="15" style="float:right;"
												onclick="PF('dlg18').show();" />
										</p:outputLabel>
										<p:inputText size="20"
											value="#{cadastroBemMovelBean.bemMovel.numeroEmpenho}"
											label="Número do Empenho" immediate="true" maxlength="30"
											placeholder="informe o número do empenho do bem móvel"
											title="Informe o Número do Empenho do Bem Móvel." />
										<p:outputLabel />

										<p:outputLabel value="Data de Emissão do Empenho">
											<h:graphicImage library="lavor" name="ajuda.png" height="15"
												width="15" style="float:right;"
												onclick="PF('dlg19').show();" />
										</p:outputLabel>
										<p:calendar id="dataempenho" effect="fold" showOn="button"
											mask="true"
											value="#{cadastroBemMovelBean.bemMovel.dataEmissaoEmpenho}"
											placeholder="informe a data de emissão do empenho do bem"
											title="Informe a Data de Emissão do Empenho do Bem."
											pattern="dd/MM/yyyy" locale="pt" />
										<p:outputLabel />

										<p:outputLabel value="Número da Nota Fiscal">
											<h:graphicImage library="lavor" name="ajuda.png" height="15"
												width="15" style="float:right;"
												onclick="PF('dlg20').show();" />
										</p:outputLabel>
										<p:inputText size="20"
											value="#{cadastroBemMovelBean.bemMovel.numeroNotaFiscal}"
											label="Número da Nota Fiscal" immediate="true" maxlength="30"
											placeholder="informe o número da nota fiscal do bem móvel"
											title="Informe o Número da Nota Fiscal do Bem Móvel." />
										<p:outputLabel />

										<p:outputLabel value="Anexo Nota Fiscal">
											<h:graphicImage library="lavor" name="ajuda.png" height="15"
												width="15" style="float:right;"
												onclick="PF('dlg21').show();" />
											<h:graphicImage id="ver" library="lavor" name="ver.png"
												height="20" width="20" style="float:right;"
												onclick="PF('dlgnota').show();"
												title="Visualizar Nota Fiscal" />
										</p:outputLabel>
										<p:outputLabel id="notafiscalpdf"
											value="#{cadastroBemMovelBean.bemMovel.notaFiscalPdf}" />
										<p:outputLabel />

										<p:outputLabel />
										<p:fileUpload fileLimit="3"
											fileLimitMessage="Só é permitido enviar apenas uma nota fiscal."
											label="Selecionar Nota Fiscal PDF" sizeLimit="1000000"
											customUI="true" multiple="false"
											invalidSizeMessage="Tamanho inválido! Tamanho máximo permitido 1MB."
											fileUploadListener="#{cadastroBemMovelBean.uploadPdf}"
											update=":frm:notafiscalpdf :frm:pdfviewnota" mode="advanced"
											cancelLabel="Cancelar" uploadLabel="Enviar" auto="false"
											invalidFileMessage="Formato inválido!"
											allowTypes="/(\.|\/)(pdf)$/" />
										<p:outputLabel />

										<p:outputLabel value="Data de Limite da Garantia">
											<h:graphicImage library="lavor" name="ajuda.png" height="15"
												width="15" style="float:right;"
												onclick="PF('dlg22').show();" />
										</p:outputLabel>
										<p:calendar id="datagarantia" effect="fold" showOn="button"
											mask="true"
											value="#{cadastroBemMovelBean.bemMovel.dataLimiteGarantia}"
											placeholder="informe a data de limite da garantia do bem"
											title="Informe a Data de Limite da Garantia do Bem."
											pattern="dd/MM/yyyy" locale="pt" />
										<p:outputLabel />
									</p:panelGrid>
								</p:panel>
								<p:outputLabel value=" * é campo de preenchimento obrigatório"
									style="font-size:11px; color:red;" />
							</p:tab>

							<p:tab id="financeiro" title="Dados Financeiros"
								titleStyle="font-size:12px;">
								<p:panel header="Detalhes Financeiros">
									<h:messages errorClass="error" />
									<p:panelGrid columns="3" styleClass="semBorda">

										<p:outputLabel value="Valor de Aquisição do Bem">
											<p:outputLabel value=" *" style="font-size:11px; color:red;" />
											<h:graphicImage library="lavor" name="ajuda.png" height="15"
												width="15" style="float:right;"
												onclick="PF('dlg23').show();" />
										</p:outputLabel>
										<p:inputNumber
											value="#{cadastroBemMovelBean.bemMovel.valorAquisicao}"
											required="true" symbol="R$ " symbolPosition="p"
											decimalSeparator="," thousandSeparator="." immediate="true"
											label="Valor de Aquisição do Bem" maxlength="12"
											title="Informe o valor de aquisição do de Bem Patrimonial.">
										</p:inputNumber>
										<p:outputLabel />

										<p:outputLabel value="Valor Reavaliado do Bem">
											<h:graphicImage library="lavor" name="ajuda.png" height="15"
												width="15" style="float:right;"
												onclick="PF('dlg24').show();" />
										</p:outputLabel>
										<p:inputNumber
											value="#{cadastroBemMovelBean.bemMovel.valorReavaliado}"
											required="false" symbol="R$ " symbolPosition="p"
											decimalSeparator="," thousandSeparator="." immediate="true"
											label="Valor de Reavaliado do Bem" maxlength="12"
											title="Informe o valor Reavaliado do de Bem Patrimonial.">
										</p:inputNumber>
										<p:outputLabel />

										<p:outputLabel value="Data da Reavaliação">
											<h:graphicImage library="lavor" name="ajuda.png" height="15"
												width="15" style="float:right;"
												onclick="PF('dlg25').show();" />
										</p:outputLabel>
										<p:calendar id="datareavaliacao" effect="fold"
											required="false" showOn="button" mask="true"
											value="#{cadastroBemMovelBean.bemMovel.dataReavaliacao}"
											placeholder="informe a data da reavaliação do bem"
											title="Informe a Data da Reavaliação do Bem."
											pattern="dd/MM/yyyy" locale="pt" />
										<p:outputLabel />
									</p:panelGrid>
								</p:panel>
								<p:outputLabel value=" * é campo de preenchimento obrigatório"
									style="font-size:11px; color:red;" />
							</p:tab>


							<p:tab id="fotobem" title="Foto do Bem"
								titleStyle="font-size:12px;">

								<p:panel header="Imagem do Bem - Foto">
									<h:messages errorClass="error" />
									<p:column>
										<p:outputPanel id="photo">
											<p:graphicImage width="111" height="140" cache="false"
												style="border:  1px double gray;"
												library="enviados/bensmoveis"
												onclick="PF('dlgFOTO').show();"
												title="CLIQUE AQUI PARA ADICIONAR UMA FOTO DO BEM PATRIMONIAL"
												name="#{cadastroBemMovelBean.bemMovel.fotoBemMovel}"
												rendered="#{not empty cadastroBemMovelBean.bemMovel.fotoBemMovel}">
											</p:graphicImage>
										</p:outputPanel>
									</p:column>
								</p:panel>
							</p:tab>

							<p:tab id="transferencias" title="Transferências"
								titleStyle="font-size:12px;">
								<p:dataTable value="#{cadastroBemMovelBean.todasTransferencias}"
									var="transferencias" border="1" cellspacing="0" cellpadding="2"
									reflow="true"
									paginator="true" rows="8" rowsPerPageTemplate="8,25,50,100"
									paginatorPosition="bottom" id="tabela"
									emptyMessage="Não existem transferências para este bem."
									paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
									currentPageReportTemplate="Total de {totalRecords} registros localizados - Página: {currentPage} de {totalPages}">

									<f:facet name="header">
       									 Lista de Transferências
										<div align="right">
											<p:commandButton id="toggler" type="button"
												value="Ajuste Colunas" icon="ui-icon-calculator" />
										</div>
										<p:columnToggler datasource="tabela" trigger="toggler" />
									</f:facet>

									<f:facet name="footer">
										<div align="right">
											Exportar
											<h:commandLink>
												<h:graphicImage library="lavor" name="pdf.png" width="20"
													title="Exportar para PDF" />
												<p:dataExporter type="pdf" target="tabela" fileName="transferencias" />
											</h:commandLink>

											<h:commandLink>
												<h:graphicImage library="lavor" name="xls.png" width="20"
													title="Exportar para XLS" />
												<p:dataExporter type="xls" target="tabela" fileName="transferencias" />
											</h:commandLink>

											<h:commandLink>
												<h:graphicImage library="lavor" name="xml.png" width="20"
													title="Exportar para XML" />
												<p:dataExporter type="xml" target="tabela" fileName="transferencias" />
											</h:commandLink>
										</div>
									</f:facet>
									<p:column headerText="No. Transferência" style="width:30%"
										filterBy="#{transferencias.numeroTermoTransferencia}"
										filterMatchMode="contains" id="camponumero">
										<h:outputText
											value="#{transferencias.numeroTermoTransferencia}" />
								     	<h:graphicImage library="lavor" name="mailok.png" rendered="#{transferencias.notificarEmail}" height="20" width="20" />
						           	    <h:graphicImage library="lavor" name="mailnot.png" rendered="#{!transferencias.notificarEmail}" height="20" width="20" />
						
									</p:column>
									
									<p:column headerText="Estado de Conservação do Bem" style="width:30%"
										filterBy="#{transferencias.estadoBem.descricaoEstadoBem}"
										filterMatchMode="contains" id="campoestado">
										<h:outputText
											value="#{transferencias.estadoBem.descricaoEstadoBem}" />
									</p:column>
									
								     <p:column headerText="Tipo de Transferência" style="width:30%"
										filterBy="#{transferencias.tipoTransferencia.descricaoTipoTransferencia}"
										filterMatchMode="contains" id="campotipo">
										<h:outputText
											value="#{transferencias.tipoTransferencia.descricaoTipoTransferencia}" />
									</p:column>
									
									
									<p:column headerText="Unidade ORIGEM/Saída" style="width:30%"
										filterBy="#{transferencias.localOrigem.nomeUnidadeAdministrativa} (#{transferencias.localOrigem.nomeResumido}) Responsável:#{transferencias.antigoFuncionarioResponsavelPatrimonial.nomeFuncionario}"
										filterMatchMode="contains" id="campoorigem">
										<h:outputText
											value="#{transferencias.localOrigem.nomeUnidadeAdministrativa} (#{transferencias.localOrigem.nomeResumido}) Responsável:#{transferencias.antigoFuncionarioResponsavelPatrimonial.nomeFuncionario}" />
									</p:column>
									
									<p:column headerText="Unidade DESTINO/Entrada" style="width:30%"
										filterBy="#{transferencias.localDestino.nomeUnidadeAdministrativa} (#{transferencias.localDestino.nomeResumido}) Receptor:#{transferencias.novoFuncionarioResponsavelPatrimonial.nomeFuncionario}"
										filterMatchMode="contains" id="campodestino">
										<h:outputText
											value="#{transferencias.localDestino.nomeUnidadeAdministrativa} (#{transferencias.localDestino.nomeResumido}) Receptor:#{transferencias.novoFuncionarioResponsavelPatrimonial.nomeFuncionario}">
										</h:outputText>
									</p:column>
									
									
									<p:column headerText="Data de Transferência" style="width:20%"
										filterBy="#{transferencias.dataTransferencia}"
										filterMatchMode="contains" id="campodatatransferencia">
										<h:outputText
											value="#{transferencias.dataTransferencia}" >
											<f:convertDateTime locale="pt" pattern="dd/MM/yyyy"/>
											</h:outputText>
									</p:column>
									
									<p:column headerText="Data de Registro" style="width:30%"
										filterBy="#{transferencias.dataCadastro}"
										filterMatchMode="contains" id="campodatacadastro">
										<h:outputText
											value="#{transferencias.dataCadastro}" >
											<f:convertDateTime locale="pt" dateStyle="long" pattern="dd/MM/yyyy HH:mm:ss" timeZone="GMT-04:00" />
											</h:outputText>
									</p:column>
									
									<p:column headerText="Observação" style="width:30%"
										filterBy="#{transferencias.observacao}"
										filterMatchMode="contains" id="campoobs">
										<h:outputText
											value="#{transferencias.observacao}" />
									</p:column>
								</p:dataTable>
							</p:tab>



							<p:tab id="confirmacao" title="Confirmação"
								titleStyle="font-size:12px;">
								<p:panel header="Detalhes da Confirmação (SALVAR REGISTRO?)">
									<h:messages errorClass=" error" />
									<p:panelGrid columns="4" styleClass="semBorda"
										columnClasses="grid,grid,grid">

										<h:outputText value="Número Patrimônio/Tombamento: " />
										<h:outputText id="numeroPatrimonioTombamento"
											value="#{cadastroBemMovelBean.bemMovel.numeroPatrimonio}"
											styleClass="outputLabel" style="font-weight:bold" />

										<h:outputText value="Data de Tombamento: " />
										<h:outputText
											value="#{cadastroBemMovelBean.bemMovel.dataTombamento}"
											styleClass="outputLabel" style="font-weight:bold">
											<f:convertDateTime pattern="dd/MM/yyyy" />
										</h:outputText>

										<h:outputText value="Descrição do Bem: " />
										<h:outputText
											value="#{cadastroBemMovelBean.bemMovel.descricao}"
											styleClass="outputLabel" style="font-weight:bold" />

										<h:outputText value="Tipo de Bem: " />
										<h:outputText
											value="#{cadastroBemMovelBean.bemMovel.tipo.descricaoTipoBem}"
											styleClass="outputLabel" style="font-weight:bold" />

										<h:outputText value="Marca: " />
										<h:outputText
											value="#{cadastroBemMovelBean.bemMovel.marca.descricaoMarcaBem}"
											styleClass="outputLabel" style="font-weight:bold" />

										<h:outputText value="Modelo: " />
										<h:outputText value="#{cadastroBemMovelBean.bemMovel.modelo}"
											styleClass="outputLabel" style="font-weight:bold" />


										<h:outputText value="Número de Série: " />
										<h:outputText id="numeroSerieConfirmacao"
											value="#{cadastroBemMovelBean.bemMovel.numeroSerie}"
											styleClass="outputLabel" style="font-weight:bold" />

										<h:outputText value="Estado do Bem: " />
										<h:outputText
											value="#{cadastroBemMovelBean.bemMovel.estadoBem.descricaoEstadoBem}"
											styleClass="outputLabel" style="font-weight:bold" />

										<h:outputText value="Grupo do Bem: " />
										<h:outputText
											value="#{cadastroBemMovelBean.bemMovel.grupoBem.contaContabil} - #{cadastroBemMovelBean.bemMovel.grupoBem.descricaoGrupoBem}"
											styleClass="outputLabel" style="font-weight:bold" />

										<h:outputText value="SubGrupo do Bem: " />
										<h:outputText
											value="#{cadastroBemMovelBean.bemMovel.subGrupoBem.descricaoSubGrupoBem}"
											styleClass="outputLabel" style="font-weight:bold" />

										<h:outputText value="Número do Processo: " />
										<h:outputText
											value="#{cadastroBemMovelBean.bemMovel.numeroProcesso}"
											styleClass="outputLabel" style="font-weight:bold" />

										<h:outputText value="Número do Empenho: " />
										<h:outputText
											value="#{cadastroBemMovelBean.bemMovel.numeroEmpenho}"
											styleClass="outputLabel" style="font-weight:bold" />


										<h:outputText value="Data de Emissão do Empenho: " />
										<h:outputText
											value="#{cadastroBemMovelBean.bemMovel.dataEmissaoEmpenho}"
											styleClass="outputLabel" style="font-weight:bold">
											<f:convertDateTime pattern="dd/MM/yyyy" />
										</h:outputText>

										<h:outputText value="Número da Nota Fiscal: " />
										<h:outputText
											value="#{cadastroBemMovelBean.bemMovel.numeroNotaFiscal}"
											styleClass="outputLabel" style="font-weight:bold" />

										<h:outputText value="Anexo Nota Fiscal : " />
										<h:outputText
											value="#{cadastroBemMovelBean.bemMovel.notaFiscalPdf}"
											styleClass="outputLabel" style="font-weight:bold" />

										<h:outputText value="Número da Nota Fiscal: " />
										<h:outputText
											value="#{cadastroBemMovelBean.bemMovel.numeroNotaFiscal}"
											styleClass="outputLabel" style="font-weight:bold" />

										<h:outputText value="Data de Limite da Garantia : " />
										<h:outputText
											value="#{cadastroBemMovelBean.bemMovel.dataLimiteGarantia}"
											styleClass="outputLabel" style="font-weight:bold">
											<f:convertDateTime pattern="dd/MM/yyyy" />
										</h:outputText>

										<h:outputText value="Fonte de Recurso: " />
										<h:outputText
											value="#{cadastroBemMovelBean.bemMovel.fonteRecurso.fonte} - #{cadastroBemMovelBean.bemMovel.fonteRecurso.nomeFonteRecurso}"
											styleClass="outputLabel" style="font-weight:bold" />
											
										<h:outputText value="Unidade Orçamentária da Fonte de Recurso: " />
										<h:outputText
											value="#{cadastroBemMovelBean.bemMovel.unidadeOrcamentariaFonteRecurso.codigoOrcamentario} - #{cadastroBemMovelBean.bemMovel.unidadeOrcamentariaFonteRecurso.nomeUnidadeGestora} (#{cadastroBemMovelBean.bemMovel.unidadeOrcamentariaFonteRecurso.nomeResumido})"
											styleClass="outputLabel" style="font-weight:bold" />
											
										<h:outputText value="Número de Convênio: " />
										<h:outputText
											value="#{cadastroBemMovelBean.bemMovel.numeroConvenio}"
											styleClass="outputLabel" style="font-weight:bold" />

										<h:outputText value="Elemento Despesa: " />
										<h:outputText
											value="#{cadastroBemMovelBean.bemMovel.elementoDespesa}"
											styleClass="outputLabel" style="font-weight:bold" />

										<h:outputText value="Fornecedor: " />
										<h:outputText
											value="#{cadastroBemMovelBean.bemMovel.fornecedor.nomeFornecedor}"
											styleClass="outputLabel" style="font-weight:bold" />

										<h:outputText value="Data de Aquisição: " />
										<h:outputText
											value="#{cadastroBemMovelBean.bemMovel.dataAquisicao}"
											styleClass="outputLabel" style="font-weight:bold">
											<f:convertDateTime pattern="dd/MM/yyyy" />
										</h:outputText>

										<h:outputText value="Modalidade de Aquisição: " />
										<h:outputText
											value="#{cadastroBemMovelBean.bemMovel.modalidadeAquisicao.descricaoModalidadeAquisicaoBem}"
											styleClass="outputLabel" style="font-weight:bold" />

										<h:outputText value="Valor de Aquisição do Bem (R$): " />
										<h:outputText
											value="#{cadastroBemMovelBean.bemMovel.valorAquisicao}"
											styleClass="outputLabel" style="font-weight:bold">
											<f:convertNumber minFractionDigits="2" minIntegerDigits="3" />
										</h:outputText>

										<h:outputText value="Valor Reavaliado do Bem (R$): " />
										<h:outputText
											value="#{cadastroBemMovelBean.bemMovel.valorReavaliado}"
											styleClass="outputLabel" style="font-weight:bold">
											<f:convertNumber minFractionDigits="2" minIntegerDigits="3" />
										</h:outputText>

										<h:outputText value="Data da Reavaliação: " />
										<h:outputText
											value="#{cadastroBemMovelBean.bemMovel.dataReavaliacao}"
											styleClass="outputLabel" style="font-weight:bold">
											<f:convertDateTime pattern="dd/MM/yyyy" />
										</h:outputText>

										<h:outputText value="Data de cadastro: " />
										<h:outputText
											value="#{cadastroBemMovelBean.bemMovel.dataCadastro}"
											styleClass="outputLabel" style="font-weight:bold">
											<f:convertDateTime locale="pt" dateStyle="long"
												pattern="dd/MM/yyyy HH:mm:ss" timeZone="GMT-04:00" />
										</h:outputText>

										<h:outputLabel />
										<p:commandButton value="Salvar Este bem"
											title="Cadastrar apenas este Bem patrimonial"
											icon="ui-icon-save" action="#{cadastroBemMovelBean.editarMesAtual}"
											process="@form" update="@form" />
									</p:panelGrid>
								</p:panel>
							</p:tab>
						</p:wizard>

						<p:dialog header="Informação: Arquivo PDF-Nota Fiscal"
							widgetVar="dlgnota" showEffect="explode" width="600" height="500"
							resizable="false" maximizable="false" position="center"
							hideEffect="explode">
							<pe:documentViewer id="pdfviewnota" width="550" height="450"
								url="http://localhost:8080/sigpat/resources/enviados/bensmoveis/notasfiscais/#{cadastroBemMovelBean.bemMovel.notaFiscalPdf}" />
							<br />
							<div align="center">
								<p:button value="OK" icon="ui-icon-check"
									onclick="PF('dlgnota').hide(); return false" />
							</div>
						</p:dialog>

						<p:dialog header="FOTO: Escolha uma das Opções:"
							widgetVar="dlgFOTO" showEffect="explode" width="450" height="250"
							resizable="false" maximizable="false" position="center"
							hideEffect="explode">
							<p:panelGrid columns="2">
								<f:facet name="header">
									<h:outputText
										value="Escolha a opção para enviar a foto do Bem:"
										style="font-weight:bold" />
								</f:facet>

								<h:graphicImage library="lavor" name="arquivofoto.jpg"
									height="180" width="180" title="Escolher uma Foto Existente"
									style="float:right;" onclick="PF('dlgFOTO1').show();" />

								<h:graphicImage library="lavor" name="foto.jpg" height="180"
									width="180" title="Tirar Foto" style="float:right;"
									onclick="PF('dlgFOTO2').show();" />
							</p:panelGrid>
							<div align="center">
								<p:button value="Fechar" icon="ui-icon-close"
									onclick="PF('dlgFOTO').hide(); return false" />
							</div>
						</p:dialog>

						<p:dialog header="Enviar Foto Existente" widgetVar="dlgFOTO1"
							showEffect="explode" width="600" height="260" resizable="false"
							maximizable="false" position="center" hideEffect="explode"
							modal="true">
							<p:outputLabel value="Foto">
								<p:outputLabel />
							</p:outputLabel>
							<p:fileUpload fileLimit="3"
								fileLimitMessage="Só é permitido enviar apenas uma foto."
								label="Selecionar Foto" sizeLimit="9000000" customUI="true"
								multiple="false"
								invalidSizeMessage="Tamanho inválido! Tamanho máximo permitido 9MB."
								fileUploadListener="#{cadastroBemMovelBean.uploadBem}"
								update=":frm:photo" mode="advanced" cancelLabel="Cancelar"
								uploadLabel="Enviar" auto="false"
								invalidFileMessage="Formato inválido!"
								allowTypes="/(\.|\/)(jpe?g|png)$/" />
							<div align="center">
								<p:button value="Fechar" icon="ui-icon-close"
									onclick="PF('dlgFOTO1').hide(); return false" />
							</div>
						</p:dialog>

						<p:dialog header="Capturar Foto" widgetVar="dlgFOTO2"
							showEffect="explode" width="440" height="280" resizable="false"
							maximizable="false" position="center" hideEffect="explode"
							modal="true">
							<p:panelGrid columns="2">
								<p:photoCam widgetVar="pc" height="200" width="200"
									listener="#{cadastroBemMovelBean.photoCamAction}"
									update="photo1 :frm:photo" />

								<p:graphicImage height="170" width="170" id="photo1"
									cache="false" library="enviados/bensmoveis"
									name="#{cadastroBemMovelBean.bemMovel.fotoBemMovel}"
									rendered="#{not empty cadastroBemMovelBean.bemMovel.fotoBemMovel}" />

								<p:commandButton type="button" value="Capturar FOTO"
									style="float:center;" onclick="PF('pc').capture()" />
								<h:outputText />
							</p:panelGrid>

							<div align="center">
								<p:button value="Fechar" icon="ui-icon-close"
									onclick="PF('dlgFOTO2').hide(); return false" />
							</div>
						</p:dialog>

						<p:dialog header="Ajuda: Número do Patrimônio/Tombamento"
							widgetVar="dlg1" showEffect="explode" width="500" height="80"
							resizable="false" maximizable="false" position="center"
							hideEffect="explode">
							<h:outputText
								value="É número ÚNICO de identificação do Bem patrimonial." />
							<br />
							<br />
							<h:outputText value="Por exemplo: 10000000200" />
							<br />
							<div align="center">
								<p:button value="OK" icon="ui-icon-check"
									onclick="PF('dlg1').hide(); return false" />
							</div>
						</p:dialog>

						<p:dialog header="Ajuda: Data de Tombamento" widgetVar="dlg2"
							showEffect="explode" width="500" height="80" resizable="false"
							maximizable="false" position="center" hideEffect="explode">
							<h:outputText
								value="É a data em que foi criado/registrado o Bem patrimonial." />
							<br />
							<br />
							<br />
							<div align="center">
								<p:button value="OK" icon="ui-icon-check"
									onclick="PF('dlg2').hide(); return false" />
							</div>
						</p:dialog>

						<p:dialog header="Ajuda: Descrição do Bem" widgetVar="dlg3"
							showEffect="explode" width="500" height="80" resizable="false"
							maximizable="false" position="center" hideEffect="explode">
							<h:outputText value="É a descrição detalhada do Bem patrimonial." />
							<br />
							<br />
							<div align="center">
								<p:button value="OK" icon="ui-icon-check"
									onclick="PF('dlg3').hide(); return false" />
							</div>
						</p:dialog>

						<p:dialog header="Ajuda: Opção AUTOCOMPLETE" widgetVar="dlg4"
							showEffect="explode" width="500" height="80" resizable="false"
							maximizable="false" position="center" hideEffect="explode">
							<h:graphicImage library="lavor" name="auto.png" height="30"
								width="30" style="float:left;" />
							<h:outputText
								value="É o recurso de auto-pesquisar descrições já cadastradas de bens patrimoniais, visando padronizar as descrições dos bens. 
					É necessário digitar no mínimo 4 letras para o recurso ser ativado." />
							<br />
							<br />
							<div align="center">
								<p:button value="OK" icon="ui-icon-check"
									onclick="PF('dlg4').hide(); return false" />
							</div>
						</p:dialog>

						<p:dialog header="Ajuda: Descrição do Bem" widgetVar="dlg3"
							showEffect="explode" width="500" height="80" resizable="false"
							maximizable="false" position="center" hideEffect="explode">
							<h:outputText value="É a descrição detalhada do Bem patrimonial." />
							<br />
							<br />
							<div align="center">
								<p:button value="OK" icon="ui-icon-check"
									onclick="PF('dlg3').hide(); return false" />
							</div>
						</p:dialog>

						<p:dialog header="Ajuda: Tipo de Bem" widgetVar="dlg5"
							showEffect="explode" width="500" height="80" resizable="false"
							maximizable="false" position="center" hideEffect="explode">
							<h:graphicImage library="lavor" name="tipobens.png" height="30"
								width="30" style="float:left;" />
							<h:outputText
								value="É os tipos dos bens patrimoniais permanentes. Podendo servir como categoria dos Bens." />
							<br />
							<h:outputText
								value="Por exemplo: Bem Móvel, Bem de Controle, Bem Imóvel" />
							<br />
							<div align="center">
								<p:button value="OK" icon="ui-icon-check"
									onclick="PF('dlg5').hide(); return false" />
							</div>
						</p:dialog>

						<p:dialog header="Ajuda: Marca do Bem" widgetVar="dlg6"
							showEffect="explode" width="500" height="80" resizable="false"
							maximizable="false" position="center" hideEffect="explode">
							<h:graphicImage library="lavor" name="marcas.png" height="30"
								width="30" style="float:left;" />
							<h:outputText
								value="É as Marcas dos bens patrimoniais permanentes." />
							<br />
							<h:outputText value="Por exemplo: Apple" />
							<br />
							<div align="center">
								<p:button value="OK" icon="ui-icon-check"
									onclick="PF('dlg6').hide(); return false" />
							</div>
						</p:dialog>

						<p:dialog header="Ajuda: Modelo do Bem" widgetVar="dlg7"
							showEffect="explode" width="500" height="80" resizable="false"
							maximizable="false" position="center" hideEffect="explode">
							<h:outputText value="É o Modelo do bem patrimonial permanente." />
							<br />
							<h:outputText value="Por exemplo: MacbookPro" />
							<br />
							<div align="center">
								<p:button value="OK" icon="ui-icon-check"
									onclick="PF('dlg7').hide(); return false" />
							</div>
						</p:dialog>

						<p:dialog header="Ajuda: Número de Série do Bem" widgetVar="dlg8"
							showEffect="explode" width="500" height="140" resizable="false"
							maximizable="false" position="center" hideEffect="explode">
							<h:outputText
								value="É um número que identifica produtos, muitas vezes ligados à informática. Um número de série para um dispositivo de hardware,
				 como um computador ou impressora quase sempre pode ser encontrado na parte inferior ou traseira do dispositivo. A inserção de números de série deve obedecer a ISO 9001/2000." />
							<br />
							<br />
							<h:outputText value="Por exemplo: Y 0139836" />
							<br />
							<div align="center">
								<p:button value="OK" icon="ui-icon-check"
									onclick="PF('dlg8').hide(); return false" />
							</div>
						</p:dialog>

						<p:dialog header="Ajuda: Estado do Bem" widgetVar="dlg9"
							showEffect="explode" width="500" height="80" resizable="false"
							maximizable="false" position="center" hideEffect="explode">
							<h:graphicImage library="lavor" name="estadobem.png" height="30"
								width="30" style="float:left;" />
							<h:outputText
								value="É o Estado de Conservação dos bens patrimoniais permanentes." />
							<br />
							<h:outputText value="Por exemplo: Bom Estado" />
							<br />
							<div align="center">
								<p:button value="OK" icon="ui-icon-check"
									onclick="PF('dlg9').hide(); return false" />
							</div>
						</p:dialog>

						<p:dialog header="Ajuda: Grupo do Bem" widgetVar="dlg10"
							showEffect="explode" width="500" height="80" resizable="false"
							maximizable="false" position="center" hideEffect="explode">
							<h:graphicImage library="lavor" name="grupobem.png" height="30"
								width="30" style="float:left;" />
							<h:outputText value="É o Grupo de bens patrimoniais permanentes." />
							<br />
							<br />
							<h:outputText
								value="Por exemplo: Equipamentos de Processamento de Dados" />
							<br />
							<div align="center">
								<p:button value="OK" icon="ui-icon-check"
									onclick="PF('dlg10').hide(); return false" />
							</div>
						</p:dialog>

						<p:dialog header="Ajuda: Subgrupo do Bem" widgetVar="dlg11"
							showEffect="explode" width="550" height="100" resizable="false"
							maximizable="false" position="center" hideEffect="explode">
							<h:graphicImage library="lavor" name="subgrupobem.png"
								height="30" width="30" style="float:left;" />
							<h:outputText
								value="Visando melhor detalhar o produto, trata-se do SubGrupo de bens patrimoniais permanentes." />
							<br />
							<br />
							<h:outputText
								value="Por exemplo: IMPRESSORA é subgrupo do Grupo EQUIPAMENTOS DE PROCESSAMENTO DE DADOS" />
							<br />
							<div align="center">
								<p:button value="OK" icon="ui-icon-check"
									onclick="PF('dlg11').hide(); return false" />
							</div>
						</p:dialog>

						<p:dialog header="Ajuda: Data de Aquisição do Bem"
							widgetVar="dlg12" showEffect="explode" width="500" height="80"
							resizable="false" maximizable="false" position="center"
							hideEffect="explode">
							<h:outputText
								value="É a data em que é entregue o Bem patrimonial." />
							<br />
							<br />
							<br />
							<div align="center">
								<p:button value="OK" icon="ui-icon-check"
									onclick="PF('dlg12').hide(); return false" />
							</div>
						</p:dialog>

						<p:dialog header="Ajuda: Modalidade de Aquisição do Bem"
							widgetVar="dlg13" showEffect="explode" width="550" height="100"
							resizable="false" maximizable="false" position="center"
							hideEffect="explode">
							<h:graphicImage library="lavor" name="modalidades.png"
								height="30" width="30" style="float:left;" />
							<h:outputText
								value="É a Modalidade de Aquisição dos bens patrimoniais permanentes." />
							<br />
							<br />
							<h:outputText value="Por exemplo: Compra" />
							<br />
							<div align="center">
								<p:button value="OK" icon="ui-icon-check"
									onclick="PF('dlg13').hide(); return false" />
							</div>
						</p:dialog>

						<p:dialog header="Ajuda: Fonte de Recurso" widgetVar="dlg14"
							showEffect="explode" width="550" height="100" resizable="false"
							maximizable="false" position="center" hideEffect="explode">
							<h:graphicImage library="lavor" name="fonterecurso.png"
								height="30" width="30" style="float:left;" />
							<h:outputText
								value="É o meio pelo qual foi possível captar recursos financeiros para aquisição do produto patrimonial." />
							<br />
							<br />
							<h:outputText
								value="Por exemplo: 150 - Recurso Próprio da Entidade" />
							<br />
							<div align="center">
								<p:button value="OK" icon="ui-icon-check"
									onclick="PF('dlg14').hide(); return false" />
							</div>
						</p:dialog>

						<p:dialog header="Ajuda: Elemento de Despesa" widgetVar="dlg15"
							showEffect="explode" width="550" height="100" resizable="false"
							maximizable="false" position="center" hideEffect="explode">
							<h:outputText
								value="É o código contábil de Desdobramento da despesa com pessoal, material, serviços, obras e outras meios de que se serve a administração pública para a consecução dos seus fins. (fonte: sítio da Secretaria do Tesouro Nacional)." />
							<br />
							<br />
							<h:outputText
								value="Por exemplo: 449052 - Equipamento e Material Permanente" />
							<br />
							<div align="center">
								<p:button value="OK" icon="ui-icon-check"
									onclick="PF('dlg15').hide(); return false" />
							</div>
						</p:dialog>

						<p:dialog header="Ajuda: Fornecedor" widgetVar="dlg16"
							showEffect="explode" width="550" height="100" resizable="false"
							maximizable="false" position="center" hideEffect="explode">
							<h:graphicImage library="lavor" name="fornecedores.png"
								height="30" width="30" style="float:left;" />
							<h:outputText
								value="É a Pessoa Jurídica/Física resposnsável pelo fornecimento do bem patrimonial." />
							<br />
							<br />
							<h:outputText value="Por exemplo: Sytem 7 Infomática " />
							<br />
							<div align="center">
								<p:button value="OK" icon="ui-icon-check"
									onclick="PF('dlg16').hide(); return false" />
							</div>
						</p:dialog>

						<p:dialog header="Ajuda: Número do Processo" widgetVar="dlg17"
							showEffect="explode" width="550" height="100" resizable="false"
							maximizable="false" position="center" hideEffect="explode">
							<h:outputText
								value="É o número do processo Licitatório, que após autorização da autoridade competente, abrir-se-á o processo licitatório a cargo da
CPL - Comissão Permanente de Licitação." />
							<br />
							<br />
							<div align="center">
								<p:button value="OK" icon="ui-icon-check"
									onclick="PF('dlg17').hide(); return false" />
							</div>
						</p:dialog>


						<p:dialog header="Ajuda: Número do Empenho" widgetVar="dlg18"
							showEffect="explode" width="550" height="120" resizable="false"
							maximizable="false" position="center" hideEffect="explode">
							<h:outputText
								value="É o número do Empenho. Ato emanado de autoridade competente, que cria para o estado a obrigação de pagamento pendente 
					ou não de implemento de condição; a garantia de que existe o crédito necessário para a liquidação de um compromisso assumido; 
					é o primeiro estágio da despesa pública. (fonte: sítio da Secretaria do Tesouro Nacional)" />
							<br />
							<br />
							<div align="center">
								<p:button value="OK" icon="ui-icon-check"
									onclick="PF('dlg18').hide(); return false" />
							</div>
						</p:dialog>

						<p:dialog header="Ajuda: Data de Emissão do Empenho"
							widgetVar="dlg19" showEffect="explode" width="500" height="80"
							resizable="false" maximizable="false" position="center"
							hideEffect="explode">
							<h:outputText
								value="É a data que o empenho foi Gerado/impresso referente ao Bem patrimonial." />
							<br />
							<br />
							<br />
							<div align="center">
								<p:button value="OK" icon="ui-icon-check"
									onclick="PF('dlg19').hide(); return false" />
							</div>
						</p:dialog>

						<p:dialog header="Ajuda: Número da Nota Fiscal" widgetVar="dlg20"
							showEffect="explode" width="500" height="80" resizable="false"
							maximizable="false" position="center" hideEffect="explode">
							<h:outputText
								value="É o número da Nota Fiscal do bem patrimonial, encaminhado pelo Fornecedor do Produto." />
							<br />
							<br />
							<br />
							<div align="center">
								<p:button value="OK" icon="ui-icon-check"
									onclick="PF('dlg20').hide(); return false" />
							</div>
						</p:dialog>


						<p:dialog header="Ajuda: Anexo da Nota Fiscal" widgetVar="dlg21"
							showEffect="explode" width="500" height="80" resizable="false"
							maximizable="false" position="center" hideEffect="explode">
							<h:outputText
								value="É o arquivo no formato PDF da cópia digitalizada ou gerada por outros meios, da nota fiscal do produto." />
							<br />
							<br />
							<br />
							<div align="center">
								<p:button value="OK" icon="ui-icon-check"
									onclick="PF('dlg21').hide(); return false" />
							</div>
						</p:dialog>

						<p:dialog header="Ajuda: Data Limite da Garantia"
							widgetVar="dlg22" showEffect="explode" width="500" height="80"
							resizable="false" maximizable="false" position="center"
							hideEffect="explode">
							<h:outputText
								value="É a data que ocasionalmente, poderá vir informado no produto ou na nota fiscal, o tempo máximo da Garantia do Produto." />
							<br />
							<br />
							<br />
							<div align="center">
								<p:button value="OK" icon="ui-icon-check"
									onclick="PF('dlg22').hide(); return false" />
							</div>
						</p:dialog>

						<p:dialog header="Ajuda: Valor de Aquisição" widgetVar="dlg23"
							showEffect="explode" width="500" height="80" resizable="false"
							maximizable="false" position="center" hideEffect="explode">
							<h:outputText
								value="É o valor em reais (R$) da compra do produto, informada na nota fiscal do produto." />
							<br />
							<br />
							<div align="center">
								<p:button value="OK" icon="ui-icon-check"
									onclick="PF('dlg23').hide(); return false" />
							</div>
						</p:dialog>

						<p:dialog header="Ajuda: Valor Reavaliado do Bem"
							widgetVar="dlg24" showEffect="explode" width="500" height="110"
							resizable="false" maximizable="false" position="center"
							hideEffect="explode">
							<h:outputText
								value="É o valor em reais (R$) reavaliado do bem, visando manter o valor de mercado atual do referido bem, geralmente é constituído uma comissão de reavaliação de bens patrimoniais." />
							<br />
							<br />
							<div align="center">
								<p:button value="OK" icon="ui-icon-check"
									onclick="PF('dlg24').hide(); return false" />
							</div>
						</p:dialog>

						<p:dialog header="Ajuda: Data da Reavaliação" widgetVar="dlg25"
							showEffect="explode" width="500" height="80" resizable="false"
							maximizable="false" position="center" hideEffect="explode">
							<h:outputText
								value="É a data a qual foi executada a reavaliação do bem patrimonial." />
							<br />
							<br />
							<br />
							<div align="center">
								<p:button value="OK" icon="ui-icon-check"
									onclick="PF('dlg25').hide(); return false" />
							</div>
						</p:dialog>
						
						<p:dialog header="Ajuda: Unidade Orçamentária da Fonte de Recurso" widgetVar="dlg26"
							showEffect="explode" width="500" height="80" resizable="false"
							maximizable="false" position="center" hideEffect="explode">
							<h:outputText
								value="É o Unidade responsável pelo Orçamento deste Bem." />
							<br />
							<br />
							<br />
							<div align="center">
								<p:button value="OK" icon="ui-icon-check"
									onclick="PF('dlg26').hide(); return false" />
							</div>
						</p:dialog>
						
						<p:dialog header="Ajuda: Número do Convênio" widgetVar="dlg27"
							showEffect="explode" width="500" height="80" resizable="false"
							maximizable="false" position="center" hideEffect="explode">
							<h:outputText
								value="É o Número de identificação do Convênio deste bem." />
							<br />
							<br />
							<br />
							<div align="center">
								<p:button value="OK" icon="ui-icon-check"
									onclick="PF('dlg27').hide(); return false" />
							</div>
						</p:dialog>
						
					</h:form>
				</div>
			</div>
		</div>

	</ui:define>
</ui:composition>