<!DOCTYPE html>
<ui:composition template="/WEB-INF/template.xhtml"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:pe="http://primefaces.org/ui/extensions"
	xmlns:o="http://omnifaces.org/ui">

	<f:metadata>
		<o:viewParam name="codigoBemMovel"
			value="#{cadastroBemMovelBean.bemMovel}" />
		<f:viewAction action="#{cadastroBemMovelBean.prepararCadastroEdit}" />
	</f:metadata>

	<ui:define name="titulo">Transferências de Bem Patrimonial</ui:define>

	<ui:define name="content">
		<div class="ui-g ui-fluid">
			<div class="ui-g-12">
				<div class="card">
					<h:outputStylesheet library="lavor" name="estilo.css" />
					<h1>
						<h:graphicImage library="lavor" name="transferencia.png" height="45"
							width="45" />
						Transferências do Bem Patrimonial</h1> 
						
						<p:outputLabel style="font-size:16px; color:red;" value="#{cadastroBemMovelBean.bemMovel.numeroPatrimonio} - #{cadastroBemMovelBean.bemMovel.descricao}"/><BR />
					
						<a
							href="ConsultaBensMoveisMesAtual.xhtml"><h:graphicImage
								library="lavor" name="voltar.gif" height="35" width="80"
								style="float:right;" /> </a>
									<BR />	<BR />
									
								
								

					<h:form enctype="multipart/form-data" id="frm">
							<p:tab id="transferencias" title="Transferências"
								titleStyle="font-size:12px;">
								<p:dataTable value="#{cadastroBemMovelBean.todasTransferencias}"
									var="transferencias" border="1" cellspacing="0" cellpadding="2"
									reflow="true"
									paginator="true" rows="8" rowsPerPageTemplate="8,25,50,100"
									paginatorPosition="bottom" id="tabela"
									emptyMessage="Não existem transferências para este bem."
									paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
									currentPageReportTemplate="Total de {totalRecords} registros localizados - Página: {currentPage} de {totalPages}">

									<f:facet name="header">
       									 Lista de Transferências
										<div align="right">
											<p:commandButton id="toggler" type="button"
												value="Ajuste Colunas" icon="ui-icon-calculator" />
										</div>
										<p:columnToggler datasource="tabela" trigger="toggler" />
									</f:facet>

									<f:facet name="footer">
										<div align="right">
											Exportar
											<h:commandLink>
												<h:graphicImage library="lavor" name="pdf.png" width="20"
													title="Exportar para PDF" />
												<p:dataExporter type="pdf" target="tabela" fileName="transferencias" />
											</h:commandLink>

											<h:commandLink>
												<h:graphicImage library="lavor" name="xls.png" width="20"
													title="Exportar para XLS" />
												<p:dataExporter type="xls" target="tabela" fileName="transferencias" />
											</h:commandLink>

											<h:commandLink>
												<h:graphicImage library="lavor" name="xml.png" width="20"
													title="Exportar para XML" />
												<p:dataExporter type="xml" target="tabela" fileName="transferencias" />
											</h:commandLink>
										</div>
									</f:facet>
									<p:column headerText="No. Transferência" style="width:30%"
										filterBy="#{transferencias.numeroTermoTransferencia}"
										filterMatchMode="contains" id="camponumero">
										<h:outputText
											value="#{transferencias.numeroTermoTransferencia}" />
								     	<h:graphicImage library="lavor" name="mailok.png" rendered="#{transferencias.notificarEmail}" height="20" width="20" />
						           	    <h:graphicImage library="lavor" name="mailnot.png" rendered="#{!transferencias.notificarEmail}" height="20" width="20" />
						
									</p:column>
									
									<p:column headerText="Estado de Conservação do Bem" style="width:20%"
										filterBy="#{transferencias.estadoBem.descricaoEstadoBem}"
										filterMatchMode="contains" id="campoestado">
										<h:outputText
											value="#{transferencias.estadoBem.descricaoEstadoBem}" />
									</p:column>
									
									<p:column headerText="Tipo de Transferência" style="width:30%"
										filterBy="#{transferencias.tipoTransferencia.descricaoTipoTransferencia}"
										filterMatchMode="contains" id="campotipo">
										<h:outputText
											value="#{transferencias.tipoTransferencia.descricaoTipoTransferencia}" />
									</p:column>
									
									<p:column headerText="Unidade ORIGEM/Saída" style="width:30%"
										filterBy="#{transferencias.localOrigem.nomeUnidadeAdministrativa} (#{transferencias.localOrigem.nomeResumido}) Responsável:#{transferencias.antigoFuncionarioResponsavelPatrimonial.nomeFuncionario}"
										filterMatchMode="contains" id="campoorigem">
										<h:outputText
											value="#{transferencias.localOrigem.nomeUnidadeAdministrativa} (#{transferencias.localOrigem.nomeResumido}) Responsável:#{transferencias.antigoFuncionarioResponsavelPatrimonial.nomeFuncionario}" />
									</p:column>
									
									<p:column headerText="Unidade DESTINO/Entrada" style="width:30%"
										filterBy="#{transferencias.localDestino.nomeUnidadeAdministrativa} (#{transferencias.localDestino.nomeResumido}) Receptor:#{transferencias.novoFuncionarioResponsavelPatrimonial.nomeFuncionario}"
										filterMatchMode="contains" id="campodestino">
										<h:outputText
											value="#{transferencias.localDestino.nomeUnidadeAdministrativa} (#{transferencias.localDestino.nomeResumido}) Receptor:#{transferencias.novoFuncionarioResponsavelPatrimonial.nomeFuncionario}">
										</h:outputText>
									</p:column>
									
									
									<p:column headerText="Data de Transferência" style="width:20%"
										filterBy="#{transferencias.dataTransferencia}"
										filterMatchMode="contains" id="campodatatransferencia">
										<h:outputText
											value="#{transferencias.dataTransferencia}" >
											<f:convertDateTime locale="pt" pattern="dd/MM/yyyy"/>
											</h:outputText>
									</p:column>
									
									<p:column headerText="Data de Registro" style="width:30%"
										filterBy="#{transferencias.dataCadastro}"
										filterMatchMode="contains" id="campodatacadastro">
										<h:outputText
											value="#{transferencias.dataCadastro}" >
											<f:convertDateTime locale="pt" dateStyle="long" pattern="dd/MM/yyyy HH:mm:ss" timeZone="GMT-04:00" />
											</h:outputText>
									</p:column>
									
									<p:column headerText="Observação" style="width:30%"
										filterBy="#{transferencias.observacao}"
										filterMatchMode="contains" id="campoobs">
										<h:outputText
											value="#{transferencias.observacao}" />
									</p:column>
									
									
								</p:dataTable>
							</p:tab>
					</h:form>
				</div>
			</div>
		</div>

	</ui:define>
</ui:composition>