<!DOCTYPE html>
<ui:composition template="/WEB-INF/template.xhtml"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">

	<f:metadata>
		<f:viewAction action="#{consultaBensMoveisBean.consultarBensMesAtual}" />
		<f:viewAction action="#{cadastroBemMovelBean.prepararCadastroEdit}" />
	</f:metadata>

	<ui:define name="titulo">Consulta de Novos Bens patrimoniais - Mês Atual</ui:define>

	<ui:define name="content">
		<div class="ui-g">
			<div class="ui-g-12">
				<div class="card card-w-title">
					<!-- Estilo usado para  -->
					<style type="text/css">
.colored {
	color: red;
}

.colorvermelho {
	color: red;
}

.colorgreen {
	color: green;
}

.colororange {
	color: orange;
}

</style>
					<h1>
						<h:graphicImage library="lavor" name="bem.png" height="45"
							width="45" />
						Consulta de Bens Novos Bens Patrimoniais - Mês Atual<a href="../../dashboard.xhtml"><h:graphicImage
								library="lavor" name="voltar.gif" height="35" width="80"
								style="float:right;" /> </a>
					</h1>


					<h:form id="frm">
						<p:messages showDetail="false" showSummary="true"
							autoUpdate="true" />
						<p:dataTable value="#{consultaBensMoveisBean.bensMoveisMesAtual}"
							expandableRowGroups="true" reflow="true" selectionMode="single"
							selection="#{consultaBensMoveisBean.bemMovelSelecionado}"
							rowKey="#{bemMovel.codigoBemMovel}" var="bemMovel" border="1"
							cellspacing="0" cellpadding="2" paginator="true" rows="8"
							rowsPerPageTemplate="8,25,50,100" paginatorPosition="bottom"
							id="tabela"
							rowStyleClass="#{bemMovel.numeroTermoResponsabilidade eq 'NAO INCORPORADO' ? 'colored' : null} #{bemMovel.ativo eq 'Baixado' ? 'colorgreen' : null} #{bemMovel.ativo eq 'Reparo' ? 'colororange' : null}"
							emptyMessage="Não foi localizado o registro solicitado."
							paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
							currentPageReportTemplate="Total de {totalRecords} registros localizados - Página: {currentPage} de {totalPages}">

							<f:facet name="header">
       				 Lista de Bens Novos Bens Patrimoniais - Mês Atual
					<div align="right">
									<p:commandButton id="toggler" type="button"
										value="Ajuste Colunas" icon="ui-icon-calculator" />
								</div>
								<p:columnToggler datasource="tabela" trigger="toggler" />
							</f:facet>

							<f:facet name="footer">
								<div align="right">
									Exportar
									<h:commandLink>
										<h:graphicImage library="lavor" name="pdf.png" width="20"
											title="Exportar para PDF" />
										<p:dataExporter type="pdf" target="tabela"
											fileName="bensmoveis" />
									</h:commandLink>

									<h:commandLink>
										<h:graphicImage library="lavor" name="xls.png" width="20"
											title="Exportar para XLS" />
										<p:dataExporter type="xls" target="tabela"
											fileName="bensmoveis" />
									</h:commandLink>

									<h:commandLink>
										<h:graphicImage library="lavor" name="xml.png" width="20"
											title="Exportar para XML" />
										<p:dataExporter type="xml" target="tabela"
											fileName="bensmoveis" />
									</h:commandLink>
								</div>
							</f:facet>
							
							<p:column headerText="Foto" style="font-size:11px;width:40px">
							
								<h:graphicImage name="#{bemMovel.fotoBemMovel}" id="imageBtn"
									library="enviados/bensmoveis" width="45" height="50" />
                                <p:overlayPanel id="imagePanel" for="imageBtn" hideEffect="clip">
                                    <p:graphicImage library="enviados/bensmoveis" name="#{bemMovel.fotoBemMovel}" width="250" />
                                </p:overlayPanel>
							</p:column>

							<p:column headerText="Número do Patrimônio" visible="true"
								style="width:80px;text-align: center;font-size:11px;"
								sortBy="#{bemMovel.numeroPatrimonio}"
								filterBy="#{bemMovel.numeroPatrimonio}"
								filterMatchMode="contains" id="campoPatrimonio">
								<h:outputText value="#{bemMovel.numeroPatrimonio}" />
							</p:column>
							
							<p:column headerText="No. Série" visible="true"
								style="width:80px;text-align: center;font-size:10px;"
								sortBy="#{bemMovel.numeroSerie}"
								filterBy="#{bemMovel.numeroSerie}"
								filterMatchMode="contains" id="campoNumeroSerie">
								<h:outputText value="#{bemMovel.numeroSerie}" />
							</p:column>

							<p:column headerText="No.Termo Responsabilidade"
								visible="true" style="width:90px;text-align: center;font-size:10px"
								sortBy="#{bemMovel.numeroTermoResponsabilidade}"
								filterBy="#{bemMovel.numeroTermoResponsabilidade}"
								filterMatchMode="contains" id="campoTermoResp">
								<h:outputText value="#{bemMovel.numeroTermoResponsabilidade}" />
							</p:column>

							<p:column headerText="Descrição do Bem" visible="true"
								style="width:200px;font-size:11px;font-weight:bold" sortBy="#{bemMovel.descricao}"
								filterBy="#{bemMovel.descricao}" filterMatchMode="contains"
								id="campoDescricao">
								<h:outputText value="#{bemMovel.descricao}" />
							</p:column>

							<p:column headerText="Grupo do Bem" toggleable="true"
								style="width:150px;font-size:10px"
								sortBy="#{bemMovel.grupoBem.contaContabil} - #{bemMovel.grupoBem.descricaoGrupoBem}"
								filterBy="#{bemMovel.grupoBem.contaContabil} - #{bemMovel.grupoBem.descricaoGrupoBem}"
								filterMatchMode="contains" id="campoGrupo">
								<h:outputText
									value="#{bemMovel.grupoBem.contaContabil} - #{bemMovel.grupoBem.descricaoGrupoBem}" />
							</p:column>

							<p:column headerText="Local Origem"
								style="width:90px;text-align: center;font-size:10px" visible="true"
								sortBy="#{bemMovel.localOrigem.unidadeGestora.nomeResumido}/#{bemMovel.localOrigem.nomeResumido}"
								filterBy="#{bemMovel.localOrigem.unidadeGestora.nomeResumido}/#{bemMovel.localOrigem.nomeResumido}"
								filterMatchMode="contains" id="campoOrigem">
								<h:outputText
									value="#{bemMovel.localOrigem.unidadeGestora.nomeResumido}/#{bemMovel.localOrigem.nomeResumido}" />
							</p:column>

							<p:column headerText="Local Destino"
								style="width:90px;text-align: center;font-size:10px" visible="true"
								sortBy="#{bemMovel.localDestino.unidadeGestora.nomeResumido}/#{bemMovel.localDestino.nomeResumido}"
								filterBy="#{bemMovel.localDestino.unidadeGestora.nomeResumido}/#{bemMovel.localDestino.nomeResumido}"
								filterMatchMode="contains" id="campoDestino">
								<h:outputText
									value="#{bemMovel.localDestino.unidadeGestora.nomeResumido}/#{bemMovel.localDestino.nomeResumido}" />
							</p:column>
							
							<p:column headerText="Unid.Orçamentária / Convênio"
								style="width:100px;text-align: center;font-size:10px" visible="true"
								sortBy="#{bemMovel.unidadeOrcamentariaFonteRecurso.nomeResumido} / Convênio No.: #{bemMovel.numeroConvenio}"
								filterBy="#{bemMovel.unidadeOrcamentariaFonteRecurso.nomeResumido} / Convênio No.: #{bemMovel.numeroConvenio}"
								filterMatchMode="contains" id="campoUnidadeOrcamentaria">
								<h:outputText
									value="#{bemMovel.unidadeOrcamentariaFonteRecurso.nomeResumido} / Convênio No.: #{bemMovel.numeroConvenio}"/>
							</p:column>
							<p:column headerText="Ativo?" visible="true"
								style="width:30px;text-align: center;font-size:10px;"
								sortBy="#{bemMovel.ativo}"
								filterBy="#{bemMovel.ativo}"
								filterMatchMode="contains" id="campoAtivo">
								<h:outputText value="#{bemMovel.ativo}" />
							</p:column>
							
							<p:column headerText="Ação" style="width:25%" exportable="false">
								  <div align="center">
								  
								   <p:column style="width:20px">
										<p:button icon="ui-icon-loop" title="Visualizar Transferências"
											outcome="/paginas/BemMovel/CadastroBemMovelTransferenciasMesAtual">
											<f:param name="codigoBemMovel"
												value="#{bemMovel.codigoBemMovel}" />
										</p:button>
									</p:column>
									
									<p:column style="width:20px">
										<p:commandButton update=":frm:bemMovelDetalhes"
											styleClass="blue-grey-btn" oncomplete="PF('dlgver').show()"
											icon="ui-icon-search" title="Ver">
											<f:setPropertyActionListener value="#{bemMovel}"
												target="#{consultaBensMoveisBean.bemMovelSelecionado}" />
										</p:commandButton>
									</p:column>
									
									<p:column style="width:20px">
										<p:button icon="ui-icon-pencil" title="Alterar" 
										    rendered="#{bemMovel.ativo == 'Sim' and (seguranca.autoridades=='[ROLE_ADMINISTRADORES]' or seguranca.autoridades=='[ROLE_GESTORES]')}"
											outcome="/paginas/BemMovel/CadastroBemMovelEditMesAtual">
											<f:param name="codigoBemMovel"
												value="#{bemMovel.codigoBemMovel}" />
										</p:button>
									</p:column>
								</div>
							</p:column>
						</p:dataTable>

						<p:dialog  widgetVar="dlgver"
							modal="true" showEffect="fade" hideEffect="fade"
							resizable="false">
							<p:outputPanel id="bemMovelDetalhes" style="text-align:center;" >
							
							<h:outputText id="ativo2" value="Bem BAIXADO"
							 styleClass="outputLabel" style="text-align:center; font-weight:bold; color:red;font-size:18px;"
							  rendered="#{consultaBensMoveisBean.bemMovelSelecionado.ativo == 'Baixado'}">
							  </h:outputText>
							  
								<p:panelGrid columns="4" 
									rendered="#{not empty consultaBensMoveisBean.bemMovelSelecionado}"
									columnClasses="label,value">

									<h:outputText value="Número Patrimônio/Tombamento: " />
									<h:outputText id="numeroPatrimonioTombamento"
										value="#{consultaBensMoveisBean.bemMovelSelecionado.numeroPatrimonio}"
										styleClass="outputLabel" style="font-weight:bold; font-size:10px" />

									<h:outputText value="Descrição do Bem: " />
									<h:outputText
										value="#{consultaBensMoveisBean.bemMovelSelecionado.descricao}"
										styleClass="outputLabel" style="font-weight:bold; font-size:10px" />

									<h:outputText value="Tipo de Bem: " />
									<h:outputText
										value="#{consultaBensMoveisBean.bemMovelSelecionado.tipo.descricaoTipoBem}"
										styleClass="outputLabel" style="font-weight:bold; font-size:10px" />

									<h:outputText value="Estado do Bem: " />
									<h:outputText
										value="#{consultaBensMoveisBean.bemMovelSelecionado.estadoBem.descricaoEstadoBem}"
										styleClass="outputLabel" style="font-weight:bold; font-size:10px" />

									<h:outputText value="Grupo do Bem: " />
									<h:outputText
										value="(#{consultaBensMoveisBean.bemMovelSelecionado.grupoBem.contaContabil}) #{consultaBensMoveisBean.bemMovelSelecionado.grupoBem.descricaoGrupoBem}"
										styleClass="outputLabel" style="font-weight:bold; font-size:10pxs" />

									<h:outputText value="SubGrupo do Bem: " />
									<h:outputText
										value="#{consultaBensMoveisBean.bemMovelSelecionado.subGrupoBem.descricaoSubGrupoBem}"
										styleClass="outputLabel" style="font-weight:bold; font-size:10px" />

									<h:outputText value="Número do Processo: " />
									<h:outputText
										value="#{consultaBensMoveisBean.bemMovelSelecionado.numeroProcesso}"
										styleClass="outputLabel" style="font-weight:bold; font-size:10px" />

									<h:outputText value="Número do Empenho: " />
									<h:outputText
										value="#{consultaBensMoveisBean.bemMovelSelecionado.numeroEmpenho}"
										styleClass="outputLabel" style="font-weight:bold; font-size:10px" />

									<h:outputText value="Fonte de Recurso: " />
									<h:outputText
										value="#{consultaBensMoveisBean.bemMovelSelecionado.fonteRecurso.fonte} - #{consultaBensMoveisBean.bemMovelSelecionado.fonteRecurso.nomeFonteRecurso}"
										styleClass="outputLabel" style="font-weight:bold; font-size:10px" />

									<h:outputText value="Fornecedor: " />
									<h:outputText
										value="#{consultaBensMoveisBean.bemMovelSelecionado.fornecedor.nomeFornecedor}"
										styleClass="outputLabel" style="font-weight:bold; font-size:10px" />

									<h:outputText value="Data de Aquisição: " />
									<h:outputText
										value="#{consultaBensMoveisBean.bemMovelSelecionado.dataAquisicao}"
										styleClass="outputLabel" style="font-weight:bold; font-size:10px">
										<f:convertDateTime pattern="dd/MM/yyyy" />
									</h:outputText>

									<h:outputText value="Modalidade de Aquisição: " />
									<h:outputText
										value="#{consultaBensMoveisBean.bemMovelSelecionado.modalidadeAquisicao.descricaoModalidadeAquisicaoBem}"
										styleClass="outputLabel" style="font-weight:bold; font-size:10px" />

									<h:outputText value="Valor de Aquisição do Bem (R$): " />
									<h:outputText
										value="#{consultaBensMoveisBean.bemMovelSelecionado.valorAquisicao}"
										styleClass="outputLabel" style="font-weight:bold; font-size:10px">
										<f:convertNumber minFractionDigits="2" minIntegerDigits="3" />
									</h:outputText>

									<h:outputText value="Número do Termo de Responsabilidade: " />
									<h:outputText
										value="#{consultaBensMoveisBean.bemMovelSelecionado.numeroTermoResponsabilidade}"
										style="font-weight:bold; font-size:10px"/>

									<h:outputText value="Unidade Administrativa de ORIGEM do Bem: " />
									<h:outputText
										value="#{consultaBensMoveisBean.bemMovelSelecionado.localOrigem.nomeUnidadeAdministrativa} (#{consultaBensMoveisBean.bemMovelSelecionado.localOrigem.nomeResumido}/#{consultaBensMoveisBean.bemMovelSelecionado.localOrigem.unidadeGestora.nomeResumido})"
										styleClass="outputLabel" style="font-weight:bold; font-size:10px" />

									<h:outputText value="Localização Física de Origem do Bem: " />
									<h:outputText
										value="Prédio: #{consultaBensMoveisBean.bemMovelSelecionado.localOrigem.predio} 
							Piso: #{consultaBensMoveisBean.bemMovelSelecionado.localOrigem.piso} 
							Corredor: #{consultaBensMoveisBean.bemMovelSelecionado.localOrigem.corredor} 
						    Sala:  #{consultaBensMoveisBean.bemMovelSelecionado.localOrigem.sala}"
										styleClass="outputLabel"
										style="font-weight:bold; color:green; font-size:10px" />

									<h:outputText
										value="Unidade Administrativa de DESTINO do Bem: " />
									<h:outputText
										value="#{consultaBensMoveisBean.bemMovelSelecionado.localDestino.nomeUnidadeAdministrativa} (#{consultaBensMoveisBean.bemMovelSelecionado.localDestino.nomeResumido}/#{consultaBensMoveisBean.bemMovelSelecionado.localDestino.unidadeGestora.nomeResumido})"
										styleClass="outputLabel" style="font-weight:bold; font-size:10px" />

									<h:outputText value="Localização Física de Destino do Bem: " />
									<h:outputText
										value="Prédio: #{consultaBensMoveisBean.bemMovelSelecionado.localDestino.predio} 
							Piso: #{consultaBensMoveisBean.bemMovelSelecionado.localDestino.piso} 
							Corredor: #{consultaBensMoveisBean.bemMovelSelecionado.localDestino.corredor} 
						    Sala:  #{consultaBensMoveisBean.bemMovelSelecionado.localDestino.sala}"
										styleClass="outputLabel" style="font-weight:bold; color:blue; font-size:10px" />

									<h:outputText value="Novo Funcionário Responsável pelo Bem: " />
									<h:outputText
										value="#{consultaBensMoveisBean.bemMovelSelecionado.novoFuncionarioResponsavelPatrimonial.nomeFuncionario} (#{consultaBensMoveisBean.bemMovelSelecionado.novoFuncionarioResponsavelPatrimonial.unidadeAdministrativa.unidadeGestora.nomeResumido}/#{consultaBensMoveisBean.bemMovelSelecionado.novoFuncionarioResponsavelPatrimonial.unidadeAdministrativa.nomeUnidadeAdministrativa})"
										styleClass="outputLabel" style="font-weight:bold; font-size:10px" />

									<h:outputText value="Data de Registro do Bem: " styleClass="outputLabel" />
									<h:outputText value="#{consultaBensMoveisBean.bemMovelSelecionado.dataCadastro}" 
									style="font-weight:bold; color:orange; font-size:10px">
										<f:convertDateTime locale="pt" dateStyle="long"
											pattern="dd/MM/yyyy HH:mm:ss" timeZone="GMT-04:00" />
									</h:outputText> 

								</p:panelGrid>
								<br />
								<div align="center">
									<p:button value="OK" icon="ui-icon-check"
										onclick="PF('dlgver').hide(); return false"
										style="width:100px" />
								</div>
							</p:outputPanel>
						</p:dialog>
					</h:form>
				</div>
			</div>
		</div>
	</ui:define>
</ui:composition>