<!DOCTYPE html>
<ui:composition template="/WEB-INF/template.xhtml"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:p="http://primefaces.org/ui" xmlns:o="http://omnifaces.org/ui">

	<f:metadata>
		<o:viewParam name="codigoUnidadeGestora"
			value="#{cadastroUnidadeGestoraBean.unidadeGestora}" />
		<f:viewAction action="#{cadastroUnidadeGestoraBean.prepararCadastro}" />
	</f:metadata>

	<ui:define name="titulo">Cadastro de Unidades Gestoras</ui:define>

	<ui:define name="content">
		<div class="ui-g ui-fluid">
			<div class="ui-g-12">
				<div class="card">
					<h1>
						<h:graphicImage library="lavor" name="unidadegestora.png"
							height="45" width="45" />
						Cadastro de Unidades Gestoras <a href="../../dashboard.xhtml"><h:graphicImage
								library="lavor" name="voltar.gif" height="35" width="80"
								style="float:right;" /> </a>
					</h1>

					<h:form id="frm">
						<p:messages showDetail="false" showSummary="true"
							autoUpdate="true" />
						<script>
				function checarJS() {
					var valorx = document.getElementById('frm:cep').valueOf();
					pesquisacep(valorx);
				}

				function limpa_formulário_cep() {
					//Limpa valores do formulário de cep.
					document.getElementById('frm:rua').value = ("");
					document.getElementById('frm:bairro').value = ("");
					document.getElementById('frm:municipio').value = ("");
					document.getElementById('frm:uf').value = ("");
					// document.getElementById('frm:ibge').value=("");
				}

				function meu_callback(conteudo) {
					if (!("erro" in conteudo)) {
						//Atualiza os campos com os valores.
						document.getElementById('frm:rua').value = (conteudo.logradouro);
						document.getElementById('frm:bairro').value = (conteudo.bairro);
						document.getElementById('frm:municipio').value = (conteudo.localidade);
						document.getElementById('frm:uf').value = (conteudo.uf);
						//document.getElementById('frm:ibge').value=(conteudo.ibge);
					} //end if.
					else {
						//CEP não Encontrado.
						limpa_formulário_cep();
						alert("CEP não encontrado.");
					}
				}

				function pesquisacep(valor) {

					//Nova variável "cep" somente com dígitos.
					var cep = valor.replace(/\D/g, '');

					//Verifica se campo cep possui valor informado.
					if (cep != "") {

						//Expressão regular para validar o CEP.
						var validacep = /^[0-9]{8}$/;

						//Valida o formato do CEP.
						if (validacep.test(cep)) {
							//Cria um elemento javascript.
							var script = document.createElement('script');

							//Sincroniza com o callback.
							script.src = '//viacep.com.br/ws/' + cep
									+ '/json/?callback=meu_callback';

							//Insere script no documento e carrega o conteúdo.
							document.body.appendChild(script);

						} //end if.
						else {
							//cep é inválido.
							limpa_formulário_cep();
							alert("Formato de CEP inválido.");
						}
					} //end if.
					else {
						//cep sem valor, limpa formulário.
						limpa_formulário_cep();
					}
				};
			</script>

						<p:wizard backLabel="Voltar" nextLabel="Próximo"
							flowListener="#{cadastroUnidadeGestoraBean.onFlowProcess}"
							style="width: 850px;">
							<p:tab id="unidadegestora" title="Unidade Gestora"
								titleStyle="font-size:12px;">
								<p:panel header="Dados da Unidade Gestora">
									<p:panelGrid columns="2" styleClass="semBorda">

										<p:outputLabel value="Tipo de Poder" for="tipoPoder">
											<p:outputLabel value="*" style="font-size:11px; color:red;" />
											<h:graphicImage library="lavor" name="ajuda.png" height="15"
												width="15" style="float:right;" onclick="PF('dlg1').show();" />
										</p:outputLabel>
										<p:selectOneMenu
											value="#{cadastroUnidadeGestoraBean.unidadeGestora.tipoPoder}"
											label="Tipo de Poder" id="tipoPoder" filter="false"
											filterMatchMode="contains">
											<f:selectItem itemLabel="Selecione" noSelectionOption="true" />
											<f:selectItems
												value="#{cadastroUnidadeGestoraBean.tiposPoderes}"
												var="tipoPoder" itemValue="#{tipoPoder}"
												itemLabel="#{tipoPoder}" />
										</p:selectOneMenu>

										<p:outputLabel value="Tipo de Instituição"
											for="tipoInstituicao">
											<p:outputLabel value="*" style="font-size:11px; color:red;" />
											<h:graphicImage library="lavor" name="ajuda.png" height="15"
												width="15" style="float:right;" onclick="PF('dlg2').show();" />
										</p:outputLabel>
										<p:selectOneMenu
											value="#{cadastroUnidadeGestoraBean.unidadeGestora.tipoInstituicao}"
											label="Tipo de Instituição" id="tipoInstituicao"
											filter="true" filterMatchMode="contains">
											<f:selectItem itemLabel="Selecione" noSelectionOption="true" />
											<f:selectItems
												value="#{cadastroUnidadeGestoraBean.todosTiposInstituicoes}"
												var="tipoInstituicao" itemValue="#{tipoInstituicao}"
												itemLabel="#{tipoInstituicao.descricaoTipoInstituicao}" />
										</p:selectOneMenu>

										<p:outputLabel value="Código Orçamentário">
											<p:outputLabel value="*" style="font-size:11px; color:red;" />
											<h:graphicImage library="lavor" name="ajuda.png" height="15"
												width="15" style="float:right;" onclick="PF('dlg3').show();" />
										</p:outputLabel>
										<p:inputText size="10" required="true"
											value="#{cadastroUnidadeGestoraBean.unidadeGestora.codigoOrcamentario}"
											label="Código Orçamentário" immediate="true" maxlength="5"
											placeholder="informe o código orçamentário"
											title="Informe o Código Orçamentário." />

										<p:outputLabel value="Nome da Unidade Gestora">
											<p:outputLabel value="*" style="font-size:11px; color:red;" />
											<h:graphicImage library="lavor" name="ajuda.png" height="15"
												width="15" style="float:right;" onclick="PF('dlg4').show();" />
										</p:outputLabel>
										<p:inputText size="75" required="true"
											value="#{cadastroUnidadeGestoraBean.unidadeGestora.nomeUnidadeGestora}"
											label="Nome da Unidade Gestora" immediate="true"
											maxlength="150"
											placeholder="informe o nome da unidade gestora"
											title="Informe o nome da Unidade Gestora." />

										<p:outputLabel value="Nome Resumido">
											<p:outputLabel value="*" style="font-size:11px; color:red;" />
											<h:graphicImage library="lavor" name="ajuda.png" height="15"
												width="15" style="float:right;" onclick="PF('dlg5').show();" />
										</p:outputLabel>
										<p:inputText size="30" required="true"
											value="#{cadastroUnidadeGestoraBean.unidadeGestora.nomeResumido}"
											label="Nome Resumido" immediate="true" maxlength="50"
											placeholder="informe o nome resumido da unidade gestora"
											title="Informe o nome resumido da Unidade Gestora." />

										<p:outputLabel value="CNPJ">
											<p:outputLabel />
											<h:graphicImage library="lavor" name="ajuda.png" height="15"
												width="15" style="float:right;" onclick="PF('dlg6').show();" />
										</p:outputLabel>
										<p:inputMask size="30" required="false"
											value="#{cadastroUnidadeGestoraBean.unidadeGestora.cnpj}"
											label="CNPJ" immediate="true" maxlength="18"
											placeholder="00.000.000/0000-00" mask="99.999.999/9999-99"
											title="Informe o CNPJ da Unidade Gestora." />
										<p:outputLabel value="Situação" for="situacao">
											<p:outputLabel value="*" style="font-size:11px; color:red;" />
											<h:graphicImage library="lavor" name="ajuda.png" height="15"
												width="15" style="float:right;"
												onclick="PF('dlg16').show();" />
										</p:outputLabel>
										<p:selectOneMenu
											value="#{cadastroUnidadeGestoraBean.unidadeGestora.tipoSituacaoUnidadeGestora}"
											label="Situação" id="situacao" filter="false"
											filterMatchMode="contains">
											<f:selectItem itemLabel="Selecione" noSelectionOption="true" />
											<f:selectItems
												value="#{cadastroUnidadeGestoraBean.tiposSituacoesUnidadesGestoras}"
												var="tipoSituacaoUnidadeGestora"
												itemValue="#{tipoSituacaoUnidadeGestora}"
												itemLabel="#{tipoSituacaoUnidadeGestora}" />
										</p:selectOneMenu>
										<p:outputLabel />

									</p:panelGrid>
								</p:panel>
								<p:outputLabel value=" * é campo de preenchimento obrigatório"
									style="font-size:11px; color:red;" />
							</p:tab>

							<p:tab id="endereco" title="Endereço"
								titleStyle="font-size:12px;">
								<p:panel header="Detalhes do Endereço">
									<p:panelGrid columns="2" styleClass="semBorda">
										<p:outputLabel value="CEP">
											<h:graphicImage library="lavor" name="ajuda.png" height="15"
												width="15" style="float:right;" onclick="PF('dlg7').show();" />
										</p:outputLabel>
										<p:inputMask size="10" required="false" id="cep"
											onblur="pesquisacep(this.value);"
											value="#{cadastroUnidadeGestoraBean.unidadeGestora.cep}"
											label="cep" immediate="true" maxlength="9" mask="99999-999"
											placeholder="00000-000"
											title="Informe o CEP (Código de Endereçamento Postal)." />

										<p:outputLabel value="UF">
											<h:graphicImage library="lavor" name="ajuda.png" height="15"
												width="15" style="float:right;" onclick="PF('dlg8').show();" />
										</p:outputLabel>
										<p:inputText size="5" required="false" id="uf"
											value="#{cadastroUnidadeGestoraBean.unidadeGestora.uf}"
											label="UF" immediate="true" maxlength="2"
											placeholder="informe a uf"
											title="Informe a UF(Unidade Federativa) da Unidade Gestora." />

										<p:outputLabel value="Município">
											<h:graphicImage library="lavor" name="ajuda.png" height="15"
												width="15" style="float:right;" onclick="PF('dlg9').show();" />
										</p:outputLabel>
										<p:inputText size="80" required="false" id="municipio"
											value="#{cadastroUnidadeGestoraBean.unidadeGestora.municipio}"
											label="Município" immediate="true" maxlength="100"
											placeholder="informe o município"
											title="Informe o Munícipio da Unidade Gestora." />

										<p:outputLabel value="Distrito/Bairro">
											<h:graphicImage library="lavor" name="ajuda.png" height="15"
												width="15" style="float:right;"
												onclick="PF('dlg10').show();" />
										</p:outputLabel>
										<p:inputText size="80" required="false" id="bairro"
											value="#{cadastroUnidadeGestoraBean.unidadeGestora.distrito}"
											label="Distrito" immediate="true" maxlength="150"
											placeholder="informe o distrito/bairro"
											title="Informe o Distrito/Bairro da Unidade Gestora." />

										<p:outputLabel value="Logradouro">
											<h:graphicImage library="lavor" name="ajuda.png" height="15"
												width="15" style="float:right;"
												onclick="PF('dlg11').show();" />
										</p:outputLabel>
										<p:inputText size="80" required="false" id="rua"
											value="#{cadastroUnidadeGestoraBean.unidadeGestora.logradouro}"
											label="Logradouro" immediate="true" maxlength="100"
											placeholder="informe o nome do logradouro"
											title="Informe o nome do Logradouro da Unidade Gestora." />

										<p:outputLabel value="Número">
											<h:graphicImage library="lavor" name="ajuda.png" height="15"
												width="15" style="float:right;"
												onclick="PF('dlg12').show();" />
										</p:outputLabel>
										<p:inputText size="15" required="false"
											value="#{cadastroUnidadeGestoraBean.unidadeGestora.numero}"
											label="Nome Fantasia" immediate="true" maxlength="10"
											placeholder="informe o número"
											title="Informe o Número do Endereço da Unidade Gestora." />

										<p:outputLabel value="Complemento">
											<h:graphicImage library="lavor" name="ajuda.png" height="15"
												width="15" style="float:right;"
												onclick="PF('dlg13').show();" />
										</p:outputLabel>
										<p:inputText size="80" required="false" id="complemento"
											value="#{cadastroUnidadeGestoraBean.unidadeGestora.complemento}"
											label="Nome Fantasia" immediate="true" maxlength="150"
											placeholder="informe o complemento"
											title="Informe o Complemento do Endereço da Unidade Gestora." />

										<p:outputLabel value="Latitude">
											<p:outputLabel />
											<h:graphicImage library="lavor" name="ajuda.png" height="15"
												width="15" style="float:right;"
												onclick="PF('dlg14').show();" />
										</p:outputLabel>
										<p:inputText size="20" required="false"
											value="#{cadastroUnidadeGestoraBean.unidadeGestora.latitude}"
											label="Latitude" immediate="true" maxlength="20"
											placeholder="informe a latitude" title="Informe a Latitude." />

										<p:outputLabel value="Longitude">
											<p:outputLabel />
											<h:graphicImage library="lavor" name="ajuda.png" height="15"
												width="15" style="float:right;"
												onclick="PF('dlg15').show();" />
										</p:outputLabel>
										<p:inputText size="20" required="false"
											value="#{cadastroUnidadeGestoraBean.unidadeGestora.longitude}"
											label="Longitude" immediate="true" maxlength="20"
											placeholder="informe a longitude"
											title="Informe a Longitude." />
									</p:panelGrid>
								</p:panel>
								<p:outputLabel value=" * é campo de preenchimento obrigatório"
									style="font-size:11px; color:red;" />
							</p:tab>

							<p:tab id="confirmacao" title="Confirmação"
								titleStyle="font-size:12px;">
								<p:panel header="Detalhes da Confirmação (SALVAR REGISTRO?)">
									<h:messages errorClass=" error" />
									<p:panelGrid columns="4" styleClass="semBorda"
										columnClasses="grid,grid,grid">

										<h:outputText value="Tipo de Poder: " />
										<h:outputText
											value="#{cadastroUnidadeGestoraBean.unidadeGestora.tipoPoder}"
											styleClass="outputLabel" style="font-weight:bold" />
										<h:outputText value="Tipo de Instituição: " />
										<h:outputText
											value="#{cadastroUnidadeGestoraBean.unidadeGestora.tipoInstituicao.descricaoTipoInstituicao}"
											styleClass="outputLabel" style="font-weight:bold" />

										<h:outputText value="Código Orçamentário: " />
										<h:outputText
											value="#{cadastroUnidadeGestoraBean.unidadeGestora.codigoOrcamentario}"
											styleClass="outputLabel" style="font-weight:bold" />
										<h:outputText value="Nome da Unidade Gestora: " />
										<h:outputText
											value="#{cadastroUnidadeGestoraBean.unidadeGestora.nomeUnidadeGestora}"
											styleClass="outputLabel" style="font-weight:bold" />

										<h:outputText value="Nome Resumido: " />
										<h:outputText
											value="#{cadastroUnidadeGestoraBean.unidadeGestora.nomeResumido}"
											styleClass="outputLabel" style="font-weight:bold" />
										<h:outputText value="CNPJ: " />
										<h:outputText
											value="#{cadastroUnidadeGestoraBean.unidadeGestora.cnpj}"
											styleClass="outputLabel" style="font-weight:bold" />

										<h:outputText value="CEP: " />
										<h:outputText
											value="#{cadastroUnidadeGestoraBean.unidadeGestora.cep}"
											styleClass="outputLabel" style="font-weight:bold" />
										<h:outputText value="UF: " />
										<h:outputText
											value="#{cadastroUnidadeGestoraBean.unidadeGestora.uf}"
											styleClass="outputLabel" style="font-weight:bold" />

										<h:outputText value="Município: " />
										<h:outputText
											value="#{cadastroUnidadeGestoraBean.unidadeGestora.municipio}"
											styleClass="outputLabel" style="font-weight:bold" />
										<h:outputText value="Distrito/Bairro: " />
										<h:outputText
											value="#{cadastroUnidadeGestoraBean.unidadeGestora.distrito}"
											styleClass="outputLabel" style="font-weight:bold" />

										<h:outputText value="Logradouro: " />
										<h:outputText
											value="#{cadastroUnidadeGestoraBean.unidadeGestora.logradouro}"
											styleClass="outputLabel" style="font-weight:bold" />
										<h:outputText value="Número: " />
										<h:outputText
											value="#{cadastroUnidadeGestoraBean.unidadeGestora.numero}"
											styleClass="outputLabel" style="font-weight:bold" />

										<h:outputText value="Complemento: " />
										<h:outputText
											value="#{cadastroUnidadeGestoraBean.unidadeGestora.complemento}"
											styleClass="outputLabel" style="font-weight:bold" />
										<p:outputLabel />
										<p:outputLabel />

										<h:outputText value="Latitude: " />
										<h:outputText
											value="#{cadastroUnidadeGestoraBean.unidadeGestora.latitude}"
											styleClass="outputLabel" style="font-weight:bold" />
										<h:outputText value="Longitude: " />
										<h:outputText
											value="#{cadastroUnidadeGestoraBean.unidadeGestora.longitude}"
											styleClass="outputLabel" style="font-weight:bold" />

										<h:outputText value="Situação: " />
										<h:outputText
											value="#{cadastroUnidadeGestoraBean.unidadeGestora.tipoSituacaoUnidadeGestora}"
											styleClass="outputLabel" style="font-weight:bold" />
										<p:outputLabel />
										<p:outputLabel />

										<p:outputLabel />
										<p:commandButton value="Salvar"
											action="#{cadastroUnidadeGestoraBean.salvar}"
											icon="ui-icon-save" process="@form" update="@form" style="width:100px"/>
									</p:panelGrid>
								</p:panel>

							</p:tab>
						</p:wizard>

					</h:form>

					<p:dialog header="Ajuda: Tipo de Poderes" widgetVar="dlg1"
						showEffect="explode" width="600" height="340" resizable="false"
						maximizable="false" position="center" hideEffect="explode">
						<b><h:outputText value="Poder LEGISLATIVO - Criação de Leis" /></b>
						<br />
						<h:outputText value="- Funções típicas: legislar e fiscalizar" />
						<br />
						<h:outputText
							value="- Funções atípicas: administrar (organização interna) e julgar" />
						<br />
						<br />

						<b><h:outputText value="Poder EXECUTIVO - Execução das Leis" /></b>
						<br />
						<h:outputText
							value="- Função típica: administrar a coisa pública (república)" />
						<br />
						<h:outputText value="- Funções atípicas: legislar e julgar" />
						<br />
						<br />

						<b><h:outputText
								value="Poder JUDICIÁRIO - Fiscaliza o cumprimento das leis" /></b>
						<br />
						<h:outputText
							value="- Função típica: julgar, aplicando a lei a um caso concreto que lhe é posto, resultante de um conflito de interesses" />
						<br />
						<h:outputText
							value="- Funções atípicas: as de natureza administrativa e legislativa." />
						<br />
						<br />

						<h:outputText
							value="Por exemplo: Poder Judiciário = Tribunal de Justiça" />
						<br />
						<h:outputText
							value="             Poder Executivo = Secretaria de Estado da Gestão Estratégica e Administração" />
						<br />
						<br />
						<br />
						<div align="center">
							<p:button value="OK" icon="ui-icon-check"
								onclick="PF('dlg1').hide(); return false" style="width:100px"/>
						</div>
					</p:dialog>

					<p:dialog header="Ajuda: Tipo de Instituição" widgetVar="dlg2"
						showEffect="explode" width="600" height="100" resizable="false"
						maximizable="false" position="center" hideEffect="explode">
						<h:outputText
							value="É a característica determinante da administração da Entidade." />
						<br />
						<br />
						<h:outputText
							value="Por exemplo: A Secretaria de Estado da Fazenda é o tipo de Instituição de ADMINISTRAÇÃO DIRETA" />
						<br />
						<div align="center">
							<p:button value="OK" icon="ui-icon-check"
								onclick="PF('dlg2').hide(); return false" style="width:100px" />
						</div>
					</p:dialog>

					<p:dialog header="Ajuda: Código Orçamentário" widgetVar="dlg3"
						showEffect="explode" width="600" height="90" resizable="false"
						maximizable="false" position="center" hideEffect="explode">
						<h:outputText
							value="É o código orçamentário da Instituição, composto de 5(cinco) dígitos." />
						<br />
						<br />
						<h:outputText value="Por exemplo: 15101" />
						<br />
						<div align="center">
							<p:button value="OK" icon="ui-icon-check"
								onclick="PF('dlg3').hide(); return false" style="width:100px"/>
						</div>
					</p:dialog>

					<p:dialog header="Ajuda: Nome da Unidade Gestora" widgetVar="dlg4"
						showEffect="explode" width="600" height="90" resizable="false"
						maximizable="false" position="center" hideEffect="explode">
						<h:outputText value="É a descrição do nome da Unidade Gestora." />
						<br />
						<br />
						<h:outputText value="Por exemplo: Secretaria de Estado da Fazenda" />
						<br />
						<div align="center">
							<p:button value="OK" icon="ui-icon-check"
								onclick="PF('dlg4').hide(); return false" style="width:100px" />
						</div>
					</p:dialog>

					<p:dialog header="Ajuda: Nome Resumido" widgetVar="dlg5"
						showEffect="explode" width="600" height="90" resizable="false"
						maximizable="false" position="center" hideEffect="explode">
						<h:outputText
							value="É a descrição do nome Resumido da Unidade Gestora." />
						<br />
						<br />
						<h:outputText
							value="Por exemplo: O nome resumido da Secretaria de Estado da Fazenda é SEFAZ" />
						<br />
						<div align="center">
							<p:button value="OK" icon="ui-icon-check"
								onclick="PF('dlg5').hide(); return false" style="width:100px"/>
						</div>
					</p:dialog>

					<p:dialog header="Ajuda: CNPJ" widgetVar="dlg6"
						showEffect="explode" width="600" height="90" resizable="false"
						maximizable="false" position="center" hideEffect="explode">
						<h:outputText
							value="É a sigla de Cadastro Nacional da Pessoa Jurídica." />
						<br />
						<br />
						<h:outputText value="Por exemplo: 11.111.111/111-11" />
						<br />
						<div align="center">
							<p:button value="OK" icon="ui-icon-check"
								onclick="PF('dlg6').hide(); return false" style="width:100px" />
						</div>
					</p:dialog>

					<p:dialog header="Ajuda: CEP" widgetVar="dlg7" showEffect="explode"
						width="500" height="120" resizable="false" maximizable="false"
						position="center" hideEffect="explode">
						<h:outputText
							value="É a sigla de Código de Endereçamento Postal, criado e utilizado pelos Correios para facilitar o encaminhamento e a entrega das correspondências aos destinatários." />
						<br />
						<br />
						<h:outputText value="Por exemplo: 69305520" />
						<br />
						<div align="center">
							<p:button value="OK" icon="ui-icon-check"
								onclick="PF('dlg7').hide(); return false" style="width:100px"/>
						</div>
					</p:dialog>


					<p:dialog header="Ajuda: UF" widgetVar="dlg8" showEffect="explode"
						width="500" height="120" resizable="false" maximizable="false"
						position="center" hideEffect="explode">
						<h:outputText
							value="É a sigla para Unidade da Federação. Unidade da Federação refere-se aos Estados brasileiros, porque cada um representa uma Unidade da Federação." />
						<br />
						<br />
						<h:outputText value="Por exemplo: RR" />
						<br />
						<div align="center">
							<p:button value="OK" icon="ui-icon-check"
								onclick="PF('dlg8').hide(); return false" style="width:100px"/>
						</div>
					</p:dialog>

					<p:dialog header="Ajuda: Munícipio" widgetVar="dlg9"
						showEffect="explode" width="500" height="90" resizable="false"
						maximizable="false" position="center" hideEffect="explode">
						<h:outputText
							value="É nome do Munícipio onde está localizada a Unidade Gestora." />
						<br />
						<br />
						<h:outputText value="Por exemplo: Boa Vista" />
						<br />
						<div align="center">
							<p:button value="OK" icon="ui-icon-check"
								onclick="PF('dlg9').hide(); return false" style="width:100px" />
						</div>
					</p:dialog>

					<p:dialog header="Ajuda: Distrito/Bairro" widgetVar="dlg10"
						showEffect="explode" width="500" height="90" resizable="false"
						maximizable="false" position="center" hideEffect="explode">
						<h:outputText
							value="É nome do Distrito/Bairro da Unidade Gestora." />
						<br />
						<br />
						<h:outputText value="Por exemplo: Centro" />
						<br />
						<div align="center">
							<p:button value="OK" icon="ui-icon-check"
								onclick="PF('dlg10').hide(); return false" style="width:100px"/>
						</div>
					</p:dialog>

					<p:dialog header="Ajuda: Logradouro" widgetVar="dlg11"
						showEffect="explode" width="500" height="100" resizable="false"
						maximizable="false" position="center" hideEffect="explode">
						<h:outputText
							value="É o nome da  rua; um endereço de espaço público ou privado da Unidade Gestora." />
						<br />
						<br />
						<h:outputText value="Por exemplo: Avenida Ville Roy" />
						<br />
						<div align="center">
							<p:button value="OK" icon="ui-icon-check"
								onclick="PF('dlg11').hide(); return false" style="width:100px" />
						</div>
					</p:dialog>

					<p:dialog header="Ajuda: Número" widgetVar="dlg12"
						showEffect="explode" width="500" height="100" resizable="false"
						maximizable="false" position="center" hideEffect="explode">
						<h:outputText
							value="É o número de identificação do estabelecimento público ou privado da Unidade Gestora." />
						<br />
						<br />
						<h:outputText value="Por exemplo: 123" />
						<br />
						<div align="center">
							<p:button value="OK" icon="ui-icon-check"
								onclick="PF('dlg12').hide(); return false" style="width:100px" />
						</div>
					</p:dialog>

					<p:dialog header="Ajuda: Complemento" widgetVar="dlg13"
						showEffect="explode" width="500" height="100" resizable="false"
						maximizable="false" position="center" hideEffect="explode">
						<h:outputText
							value="Na necessidade de ser mais preciso, no endereçamento, para indicar uma referência mais precisa." />
						<br />
						<br />
						<h:outputText
							value="Por exemplo: Apartamento 123, Próximo ao Supermercado." />
						<br />
						<div align="center">
							<p:button value="OK" icon="ui-icon-check"
								onclick="PF('dlg13').hide(); return false" style="width:100px"/>
						</div>
					</p:dialog>

					<p:dialog header="Ajuda: Latitude" widgetVar="dlg14"
						positionType="Center" showEffect="explode" width="600"
						height="550" resizable="false" maximizable="false"
						position="center" hideEffect="explode">
						<h:outputText
							value="Latitude é uma coordenada geográfica, sendo a distância ao Equador medida ao longo do meridiano de Greenwich. Esta distância mede-se em graus, podendo variar entre 0º e 90º para Norte(N) ou para Sul(S)." />
						<br />
						<h:graphicImage library="lavor" name="latitude.png" align="center"
							width="200" height="95" style="float:center;" />
						<h3 style="margin-top: 0">Vídeo</h3>
						<p:media value="http://www.youtube.com/v/RxLrXbGH82A" width="405"
							height="300" player="flash" />
						<br />
						<h:outputText value="Por exemplo:2°49'17.1''N  4=  2.8214237" />
						<br />
						<div align="center">
							<p:button value="OK" icon="ui-icon-check"
								onclick="PF('dlg14').hide(); return false" style="width:100px"/>
						</div>
					</p:dialog>

					<p:dialog header="Ajuda: Longitude" widgetVar="dlg15"
						positionType="Center" showEffect="explode" width="600"
						height="550" resizable="false" maximizable="false"
						position="center" hideEffect="explode">
						<h:outputText
							value="Longitude é uma coordenada geográfica, sendo a distância ao meridiano de Greenwich medida ao longo do Equador. Esta distância mede-se em graus, podendo variar entre 0º e 180º para Leste(E) ou para Oeste(W)." />
						<br />
						<h:graphicImage library="lavor" name="longitude.png"
							align="center" width="200" height="95" style="float:center;" />
						<h3 style="margin-top: 0">Vídeo</h3>
						<p:media value="http://www.youtube.com/v/RxLrXbGH82A" width="405"
							height="300" player="flash" />
						<br />
						<h:outputText value="Por exemplo:60°40'22.6''W  = -60.690454" />
						<br />
						<div align="center">
							<p:button value="OK" icon="ui-icon-check"
								onclick="PF('dlg15').hide(); return false" style="width:100px" />
						</div>
					</p:dialog>


					<p:dialog header="Ajuda: Situação" widgetVar="dlg16"
						showEffect="explode" width="600" height="90" resizable="false"
						maximizable="false" position="center" hideEffect="explode">
						<h:outputText
							value="Caso a Unidade Gestora esteja em funcionamento, escolha ATIVO, caso contrário, será INATIVO." />
						<br />
						<br />
						<div align="center">
							<p:button value="OK" icon="ui-icon-check"
								onclick="PF('dlg16').hide(); return false" style="width:100px" />
						</div>
					</p:dialog>
				</div>
			</div>
		</div>
	</ui:define>
</ui:composition>