<!DOCTYPE html>
<ui:composition template="/WEB-INF/template.xhtml"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">

	<f:metadata>
		<f:viewAction action="#{consultaUnidadesGestorasBean.consultarGeral}" />
	</f:metadata>

	<ui:define name="titulo">Consulta de Unidades Gestoras</ui:define>

	<ui:define name="content">
		<div class="ui-g ui-fluid">
			<div class="ui-g-12">
				<div class="card">
					<h1>
						<h:graphicImage library="lavor" name="unidadegestora.png"
							height="45" width="45" />
						Consulta de Unidades Gestoras <a href="../../dashboard.xhtml"><h:graphicImage
								library="lavor" name="voltar.gif" height="35" width="80"
								style="float:right;" /> </a>
					</h1>

					<h:form id="frm">
						<p:messages showDetail="false" showSummary="true"
							autoUpdate="true" />

						<p:dataTable
							value="#{consultaUnidadesGestorasBean.unidadesGestoras}"
							expandableRowGroups="true" reflow="true" selectionMode="single"
							selection="#{consultaUnidadesGestorasBean.unidadeGestoraSelecionada}"
							rowKey="#{unidadeGestora.codigoUnidadeGestora}"
							var="unidadeGestora" border="1" cellspacing="0" cellpadding="2"
							paginator="true" rows="8" rowsPerPageTemplate="8,25,50,100"
							paginatorPosition="bottom" id="tabela"
							emptyMessage="Não foi localizado o registro solicitado."
							paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
							currentPageReportTemplate="Total de {totalRecords} registros localizados - Página: {currentPage} de {totalPages}">

							<f:facet name="header">
       				 Lista de Unidades Gestoras
					<div align="right">
									<p:commandButton id="toggler" type="button"
										value="Ajuste Colunas" icon="ui-icon-calculator" />
								</div>
								<p:columnToggler datasource="tabela" trigger="toggler" />
							</f:facet>

							<f:facet name="footer">
								<div align="right">
									Exportar
									<h:commandLink>
										<h:graphicImage library="lavor" name="pdf.png" width="20"
											title="Exportar para PDF" />
										<p:dataExporter type="pdf" target="tabela"
											fileName="unidadesgestoras" />
									</h:commandLink>

									<h:commandLink>
										<h:graphicImage library="lavor" name="xls.png" width="20"
											title="Exportar para XLS" />
										<p:dataExporter type="xls" target="tabela"
											fileName="unidadesgestoras" />
									</h:commandLink>

									<h:commandLink>
										<h:graphicImage library="lavor" name="xml.png" width="20"
											title="Exportar para XML" />
										<p:dataExporter type="xml" target="tabela"
											fileName="unidadesgestoras" />
									</h:commandLink>
								</div>
							</f:facet>

							<!-- <p:column headerText="Tipoxx" style="width:15%"
					sortBy="#{unidadeGestora.tipoInstituicao.descricaoTipoInstituicao}"
					filterBy="#{unidadeGestora.tipoInstituicao.descricaoTipoInstituicao}"
					filterMatchMode="contains" id="campotipoinstiuicaox">
					<f:facet name="filter">
					<p:selectOneMenu onchange="PF('campotipoinstiuicaox').filter()" >
					<f:selectItem itemLabel="Selecione" noSelectionOption="true" />
					<f:selectItems
							value="#{cadastroUnidadeGestoraBean.todosTiposInstituicoes}"
							var="tipoInstituicao" itemValue="#{tipoInstituicao}"
							itemLabel="#{tipoInstituicao.descricaoTipoInstituicao}" />
					</p:selectOneMenu>
					</f:facet>
					<h:outputText
						value="#{tipoInstituicao.descricaoTipoInstituicao}" />
				</p:column> -->

							<p:column headerText="Código Orçamentário"
								style="width:9%;text-align: center"
								sortBy="#{unidadeGestora.codigoOrcamentario}"
								filterBy="#{unidadeGestora.codigoOrcamentario}"
								filterMatchMode="contains" id="campocodigoorcamentario">
								<h:outputText value="#{unidadeGestora.codigoOrcamentario}" />
							</p:column>

							<p:column headerText="Nome da Unidade Gestora" style="width:30%"
								sortBy="#{unidadeGestora.nomeUnidadeGestora}(#{unidadeGestora.nomeResumido})"
								filterBy="#{unidadeGestora.nomeUnidadeGestora}(#{unidadeGestora.nomeResumido})"
								filterMatchMode="contains" id="campounidadegestora">
								<h:outputText
									value="#{unidadeGestora.nomeUnidadeGestora}(#{unidadeGestora.nomeResumido})" />
							</p:column>

							<p:column headerText="Situação"
								style="width:10%;text-align: center"
								sortBy="#{unidadeGestora.tipoSituacaoUnidadeGestora}"
								filterBy="#{unidadeGestora.tipoSituacaoUnidadeGestora}"
								filterMatchMode="contains" id="campoosituacao">
								<h:outputText
									value="#{unidadeGestora.tipoSituacaoUnidadeGestora}" />
							</p:column>

							<p:column headerText="Tipo de Instituição"
								style="width:15%;text-align: center"
								sortBy="#{unidadeGestora.tipoInstituicao.descricaoTipoInstituicao}"
								filterBy="#{unidadeGestora.tipoInstituicao.descricaoTipoInstituicao}"
								filterMatchMode="contains" id="campotipoinstiuicao">
								<h:outputText
									value="#{unidadeGestora.tipoInstituicao.descricaoTipoInstituicao}" />
							</p:column>

							<p:column headerText="Ação" style="width:90px" exportable="false">
								<div align="center">
									<p:column style="width:20px">
										<p:commandButton update=":frm:unidadeGestoraDetalhes" styleClass="blue-grey-btn"
											oncomplete="PF('dlgver').show()" icon="ui-icon-search"
											title="Ver">
											<f:setPropertyActionListener value="#{unidadeGestora}"
												target="#{consultaUnidadesGestorasBean.unidadeGestoraSelecionada}" />
										</p:commandButton>
									</p:column>
									<p:column style="width:20px">
										<p:button icon="ui-icon-pencil" title="Alterar"
										    rendered="#{seguranca.autoridades=='[ROLE_ADMINISTRADORES]'}"
											outcome="/paginas/UnidadeGestora/CadastroUnidadeGestoraEdit">
											<f:param name="codigoUnidadeGestora"
												value="#{unidadeGestora.codigoUnidadeGestora}" />
										</p:button>
									</p:column>
									<p:column style="width:20px">
										<p:commandButton icon="ui-icon-trash" title="Excluir" styleClass="red-btn"
										    rendered="#{seguranca.autoridades=='[ROLE_ADMINISTRADORES]'}"
											process="@this" update="@form"
											action="#{consultaUnidadesGestorasBean.excluir}">
											<p:confirm header="Excluindo..."
												message="Tem certeza que deseja excluir este Registro?"
												icon="ui-icon-alert" />
											<f:setPropertyActionListener value="#{unidadeGestora}"
												target="#{consultaUnidadesGestorasBean.unidadeGestoraSelecionada}" />
										</p:commandButton>
									</p:column>
								</div>
							</p:column>
						</p:dataTable>
						<p:dialog header="Detalhes: Unidade Gestora" widgetVar="dlgver"
							modal="true" showEffect="fade" hideEffect="fade"
							resizable="false">
							<p:outputPanel id="unidadeGestoraDetalhes"
								style="text-align:center;">
								<p:panelGrid columns="2"
									rendered="#{not empty consultaUnidadesGestorasBean.unidadeGestoraSelecionada}"
									columnClasses="label,value">

									<h:outputText value="Código Interno" style="font-weight:bold" />
									<h:outputText
										value="#{consultaUnidadesGestorasBean.unidadeGestoraSelecionada.codigoUnidadeGestora}"
										style="font-weight:bold" />

									<h:outputText value="Código Orçamentário"
										style="font-weight:bold" />
									<h:outputText
										value="#{consultaUnidadesGestorasBean.unidadeGestoraSelecionada.codigoOrcamentario}"
										style="font-weight:bold" />

									<h:outputText value="Nome da Unidade Gestora"
										style=" font-weight:bold" />
									<h:outputText
										value="#{consultaUnidadesGestorasBean.unidadeGestoraSelecionada.nomeUnidadeGestora}"
										style="font-weight:bold" />

									<h:outputText value="Nome Resumido" style=" font-weight:bold" />
									<h:outputText
										value="#{consultaUnidadesGestorasBean.unidadeGestoraSelecionada.nomeResumido}"
										style="font-weight:bold" />

									<h:outputText value="Tipo de Poder" />
									<h:outputText
										value="#{consultaUnidadesGestorasBean.unidadeGestoraSelecionada.tipoPoder}" />

									<h:outputText value="Tipo de Instituição" />
									<h:outputText
										value="#{consultaUnidadesGestorasBean.unidadeGestoraSelecionada.tipoInstituicao.descricaoTipoInstituicao}" />

									<h:outputText value="CNPJ" />
									<h:outputText
										value="#{consultaUnidadesGestorasBean.unidadeGestoraSelecionada.cnpj}" />

									<h:outputText value="Situação" />
									<h:outputText style="font-weight:bold; color:red;"
										value="#{consultaUnidadesGestorasBean.unidadeGestoraSelecionada.tipoSituacaoUnidadeGestora}" />
								</p:panelGrid>
							</p:outputPanel>
							<br />
							<div align="center">
								<p:button value="OK" icon="ui-icon-check"
									onclick="PF('dlgver').hide(); return false" style="width:100px" />
							</div>
						</p:dialog>
					</h:form>
				</div>
			</div>
		</div>
	</ui:define>
</ui:composition>