<!DOCTYPE html>
<ui:composition template="/WEB-INF/template.xhtml"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui" xmlns:o="http://omnifaces.org/ui">

	<f:metadata>
		<f:viewAction action="#{consultaGruposBensBean.consultar}" />
	</f:metadata>
	
	<ui:define name="titulo">Relatório de Inventário Analítico por Grupo do Bem</ui:define>

	<ui:define name="content">
		<div class="ui-g ui-fluid">
			<div class="ui-g-12">
				<div class="card">
					<h:form id="frm">

						<script>
				      
			    	 	 function transferirValorGrupo() {
			    		    var valoroculto = document.getElementById('frm:grupooculto').value; 
			    		    document.getElementById('frm:grupo').value = (valoroculto);
			    	 	 }
			    	 </script>

						<h1>
							<h:graphicImage library="lavor" name="grupobem.png" height="45"
								width="45" />
							Relatório de Inventário Analítico por Grupo do Bem<a
								href="../../dashboard.xhtml"><h:graphicImage library="lavor"
									name="voltar.gif" height="35" width="80" style="float:right;" />
							</a>
						</h1>

						<p:messages autoUpdate="true" closable="true" />

						<p:toolbar style="margin-top: 20px">

							<p:toolbarGroup>
								<p:commandButton value="Emitir Inventário Analítico"
									action="#{relatorioInventarioAnaliticoPorGrupoBean.execute}"
									ajax="false" styleClass="amber-btn flat"
									style="margin-bottom:10px;" />
							</p:toolbarGroup>

						</p:toolbar>

						<p:panelGrid columns="2" id="painel"
							styleClass="form-group ui-panelgrid-blank" layout="grid"
							style="width: 40%; margin-top: 20px">

							<p:outputLabel value="Grupo do Bem" for="grupoSel">
								<p:outputLabel />
								<h:graphicImage library="lavor" name="ajuda.png" height="15"
									width="15" style="float:right;" onclick="PF('dlg1').show();" />
							</p:outputLabel>
							<p:selectOneMenu required="true" filter="true" 
							    onblur="transferirValorGrupo();" style="width:400px;"
								widgetVar="selectGrupo" 
								value="#{consultaGruposBensBean.grupoBensSelecionado}"
								label="Grupo do Bem"
								id="grupoSel" filterMatchMode="contains">
								<f:selectItem itemLabel="Selecione" noSelectionOption="true" />
								<f:selectItems value="#{consultaGruposBensBean.gruposBens}"
									var="grupoSel" itemValue="#{grupoSel}"
									itemLabel="#{grupoSel.contaContabil} #{grupoSel.descricaoGrupoBem}" />
								<p:ajax event="change"
									update=":frm:grupoSel :frm:grupooculto"
									process="@this" />
							</p:selectOneMenu>
							
							<h:inputHidden value="#{consultaGruposBensBean.grupoBensSelecionado.codigoGrupoBem}"
							 id="grupooculto" />
							<p:outputLabel />	
							
							<h:inputHidden value="#{relatorioInventarioAnaliticoPorGrupoBean.codigoGrupo}"
							 id="grupo" />
							<p:outputLabel />


						</p:panelGrid>
					</h:form>

					<p:dialog header="Ajuda: Grupo do Bem"
						widgetVar="dlg1" showEffect="explode" width="550" height="120"
						resizable="false" maximizable="false" position="center"
						hideEffect="explode">
						<h:outputText value="É o Grupo de bens patrimoniais permanentes." />
							<br />
							<br />
							<h:outputText
								value="Por exemplo: 12311010300 Equipamentos de Processamento de Dados" />
							<br />
							<br />
						<div align="center">
							<p:button value="OK" icon="ui-icon-check"
								onclick="PF('dlg1').hide(); return false" style="width:100px" />
						</div>
					</p:dialog>
				</div>
			</div>
		</div>
	</ui:define>
</ui:composition>