<!DOCTYPE html>
<ui:composition template="/WEB-INF/template.xhtml"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui" xmlns:o="http://omnifaces.org/ui">

	<f:metadata>
		<f:viewAction
			action="#{cadastroTransferenciaBean.prepararCadastro}" />
	</f:metadata>

	<ui:define name="titulo">Relatório Termo de Transferência Externa</ui:define>

	<ui:define name="content">
		<div class="ui-g ui-fluid">
			<div class="ui-g-12">
				<div class="card">
					<h:form id="frm">
						<h1>
							<h:graphicImage library="lavor" name="transferencia.png" height="45"
								width="45" />
							Relatório Termo de Transferência Externa de Bens - TEB <a
								href="../../dashboard.xhtml"><h:graphicImage library="lavor"
									name="voltar.gif" height="35" width="80" style="float:right;" />
							</a>
						</h1>

						<p:messages autoUpdate="true" closable="true" />

						<p:toolbar style="margin-top: 20px">

							<p:toolbarGroup>
								<p:commandButton value="Emitir Termo de Transferência"
									action="#{relatorioTermoTransferenciaTEBBean.execute}" ajax="false"
									styleClass="amber-btn flat" style="margin-bottom:10px;" />
							</p:toolbarGroup>

						</p:toolbar>

						<p:panelGrid columns="2" id="painel"
							styleClass="form-group ui-panelgrid-blank" layout="grid"
							style="width: 40%; margin-top: 20px">
							<p:outputLabel value="Número do Termo de Transferência"
								style="width:30%">
								<h:graphicImage library="lavor" name="ajuda.png" height="15"
									width="15" style="float:right;" onclick="PF('dlg1').show();" />

								<h:graphicImage library="lavor" name="auto.png" height="15"
									width="15" style="float:right;" onclick="PF('dlg2').show();"
									title="Recurso de Autocomplete.  Recurso este, que permite pesquisar os números dos termos de transferências já cadastrados." />
							</p:outputLabel>
							
							<h:panelGroup>
								<p:inputTextarea required="true" id="numero" 
									style="font-weight:bold; font-size:20px; width: 300px"
									placeholder="número do termo"
									value="#{relatorioTermoTransferenciaTEBBean.numeroTermoTransferencia}"
									label="Número do termo" immediate="true" maxlength="40"
									completeMethod="#{cadastroTransferenciaBean.pesquisarNumeroTermoTransferenciaTEB}"
									minQueryLength="3" autoResize="true|false" rows="1" >
								</p:inputTextarea>
								<p:spacer width="20" />
							</h:panelGroup>
						</p:panelGrid>
					</h:form>
					<p:dialog header="Ajuda: Número do Termo de Transferência"
						widgetVar="dlg1" showEffect="explode" width="600" height="100"
						resizable="false" maximizable="false" position="center"
						hideEffect="explode">
						<h:outputText
							value="É o número do termo de transferência do bem patrimonial incorporado." />
						<br />
						<br />
						<h:outputText value="Por exemplo: 00000012017" />
						<br />
						<div align="center">
							<p:button value="OK" icon="ui-icon-check"
								onclick="PF('dlg1').hide(); return false" style="width:100px" />
						</div>
					</p:dialog>

					<p:dialog header="Ajuda: Opção AUTOCOMPLETE" widgetVar="dlg2"
						showEffect="explode" width="500" height="100" resizable="false"
						maximizable="false" position="center" hideEffect="explode">
						<h:graphicImage library="lavor" name="auto.png" height="30"
							width="30" style="float:left;" />
						<h:outputText
							value="É o recurso de auto-pesquisa, filtrando apenas números de termos de transferências já cadastradas, visando
							 facilitar a digitação. É necessário digitar no mínimo 3 caracteres para o recurso ser ativado." />
						<br />
						<br />
						<div align="center">
							<p:button value="OK" icon="ui-icon-check"
								onclick="PF('dlg2').hide(); return false" style="width:100px" />
						</div>
					</p:dialog>
				</div>
			</div>
		</div>
	</ui:define>
</ui:composition>