<!DOCTYPE html>
<ui:composition template="/WEB-INF/template.xhtml"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui" xmlns:o="http://omnifaces.org/ui">

	<ui:define name="titulo">Relatório de Bens por período de Inclusão</ui:define>

	<ui:define name="content">
		<div class="ui-g ui-fluid">
			<div class="ui-g-12">
				<div class="card">
					<h:form id="frm">

						<h1>
							<h:graphicImage library="lavor" name="bem.png" height="45"
								width="45" />
							Relatório de Bens por período de Inclusão<a
								href="../../dashboard.xhtml"><h:graphicImage library="lavor"
									name="voltar.gif" height="35" width="80" style="float:right;" />
							</a>
						</h1>

						<p:messages autoUpdate="true" closable="true" />

						<p:toolbar style="margin-top: 20px">

							<p:toolbarGroup>
								<p:commandButton value="Emitir Relatório"
									action="#{relatorioBensInclusaoBean.execute}"
									ajax="false" styleClass="amber-btn flat"
									style="margin-bottom:10px;" />
							</p:toolbarGroup>

						</p:toolbar>

						<p:panelGrid columns="2" id="painel"
							styleClass="form-group ui-panelgrid-blank" layout="grid"
							style="width: 40%; margin-top: 20px">

							<p:outputLabel value="Data Inicial">
								<p:outputLabel value=" *" style="font-size:11px;" />
								<h:graphicImage library="lavor" name="ajuda.png" height="15"
									width="15" style="float:right;"
									onclick="PF('dlg1').show();" />
							</p:outputLabel>
							<p:calendar id="dataIni" effect="fold" required="true"
								showOn="button" mask="true"
								value="#{relatorioBensInclusaoBean.dataInicial}"
								placeholder="informe a data inicial"
								title="Informe a Data Incial."
								pattern="dd/MM/yyyy" locale="pt">
								<p:ajax event="dateSelect" update="dataFim" />
							</p:calendar>

							<p:outputLabel value="Data Final">
								<p:outputLabel value=" *" style="font-size:11px;" />
								<h:graphicImage library="lavor" name="ajuda.png" height="15"
									width="15" style="float:right;"
									onclick="PF('dlg2').show();" />
							</p:outputLabel>
							<p:calendar id="dataFim" effect="fold" required="true"
								showOn="button" mask="true"
								mindate="#{relatorioBensInclusaoBean.dataInicial}"
								value="#{relatorioBensInclusaoBean.dataFinal}"
								placeholder="informe a data final"
								title="Informe a Data Final." pattern="dd/MM/yyyy"
								locale="pt">
								<p:ajax event="dateSelect"/>
							</p:calendar>

						</p:panelGrid>
					</h:form>

					<p:dialog header="Ajuda: Data Inicial" widgetVar="dlg1"
						showEffect="explode" width="600" height="100" resizable="false"
						maximizable="false" position="center" hideEffect="explode">
						<h:outputText
							value="É a data de início do intervalo." />
						<br />
						<br />
						<br />
						<div align="center">
							<p:button value="OK" icon="ui-icon-check"
								onclick="PF('dlg1').hide(); return false" style="width:100px" />
						</div>
					</p:dialog>
					
					<p:dialog header="Ajuda: Data Inicial" widgetVar="dlg2"
						showEffect="explode" width="600" height="100" resizable="false"
						maximizable="false" position="center" hideEffect="explode">
						<h:outputText
							value="É a data de final do intervalo." />
						<br />
						<br />
						<br />
						<div align="center">
							<p:button value="OK" icon="ui-icon-check"
								onclick="PF('dlg2').hide(); return false" style="width:100px" />
						</div>
					</p:dialog>

				</div>
			</div>
		</div>
	</ui:define>
</ui:composition>