<!DOCTYPE html>
<ui:composition template="/WEB-INF/template.xhtml"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">

	<ui:define name="titulo">Relatório Termo de Responsabilidade</ui:define>

	<ui:define name="content">
		<div class="ui-g ui-fluid">
			<div class="ui-g-12">
				<div class="card">
					<h:form id="frm">
						<h1>
							<h:graphicImage library="lavor" name="termoresp.png" height="45"
								width="45" />
							Relatório Termo de Responsabilidade
							<a
							href="../../dashboard.xhtml"><h:graphicImage library="lavor"
								name="voltar.gif" height="35" width="80" style="float:right;" />
						   </a>
						</h1>

						<p:messages autoUpdate="true" closable="true" />

						<p:toolbar style="margin-top: 20px">

							<p:toolbarGroup>
								<p:commandButton value="Emitir Termo de Responsabilidade"
									action="#{relatorioTermoResponsavelBean.executeAuto}" ajax="false" styleClass="amber-btn flat" style="margin-bottom:10px;"/>
							</p:toolbarGroup>
							
						</p:toolbar>

						<p:panelGrid columns="2" id="painel" styleClass="form-group ui-panelgrid-blank" layout="grid"
							style="width: 40%; margin-top: 20px">
							<p:outputLabel value="Número do Termo de Responsabilidade"
								style="width:30%" />
							<h:panelGroup >
								<p:inputText
									value="#{relatorioTermoResponsavelBean.numeroTermoAuto}"  
									label="Número do Termo" size="50"
									style="font-weight:bold; font-size:20px"
									title="informe o número do termo" />
								<p:spacer width="20" />
								
							</h:panelGroup>
						</p:panelGrid>
					</h:form>
				</div>
			</div>
		</div>
	</ui:define>
</ui:composition>