<!DOCTYPE html>
<ui:composition template="/WEB-INF/template.xhtml"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui" xmlns:o="http://omnifaces.org/ui">

	<f:metadata>
		<f:viewAction action="#{cadastroUnidadeGestoraBean.prepararUnidadesGestorasGeral}" />
	</f:metadata>

	<ui:define name="titulo">Relatório de Inventário Analítico por de Unidade Gestora</ui:define>

	<ui:define name="content">
		<div class="ui-g ui-fluid">
			<div class="ui-g-12">
				<div class="card">
					<h:form id="frm">
					
					  <script>
				      
			    	 	 function transferirValorUA() {
			    		    var valoroculto = document.getElementById('frm:ugoculto').value; 
			    		    document.getElementById('frm:ug').value = (valoroculto);
			    	 	 }
			    	 </script>
					
						<h1>
							<h:graphicImage library="lavor" name="inventario.png" height="45"
								width="45" />
							Relatório de Inventário  Analítico por de Unidade Gestora<a
								href="../../dashboard.xhtml"><h:graphicImage library="lavor"
									name="voltar.gif" height="35" width="80" style="float:right;" />
							</a>
						</h1>

						<p:messages autoUpdate="true" closable="true" />

						<p:toolbar style="margin-top: 20px">

							<p:toolbarGroup>
								<p:commandButton value="Emitir Inventário Analítico"
									action="#{relatorioInventarioPorUnidadeGestoraBean.execute}" ajax="false"
									styleClass="amber-btn flat" style="margin-bottom:10px;" />
							</p:toolbarGroup>

						</p:toolbar>

						<p:panelGrid columns="2" id="painel"
							styleClass="form-group ui-panelgrid-blank" layout="grid"
							style="width: 40%; margin-top: 20px">

							<p:outputLabel
								value="Unidade Gestora Inventariada"
								for="unidadeGestora">
								<p:outputLabel />
								<h:graphicImage library="lavor" name="ajuda.png" height="15"
									width="15" style="float:right;" onclick="PF('dlg1').show();" />
							</p:outputLabel>
							<p:selectOneMenu required="true" filter="true" onblur="transferirValorUA();" style="width:400px;"
								widgetVar="selectUA" 
								value="#{cadastroUnidadeGestoraBean.unidadeGestora}"
								label="Unidade Gestora"
								id="unidadeGestora" filterMatchMode="contains">
								<f:selectItem itemLabel="Selecione" noSelectionOption="true" />
								<f:selectItems value="#{cadastroUnidadeGestoraBean.todasUnidadesGestoras}"
									var="unidadeGestora" itemValue="#{unidadeGestora}"
									itemLabel="#{unidadeGestora.nomeUnidadeGestora} (#{unidadeGestora.nomeResumido})" />
								<p:ajax event="change"
									update=":frm:unidadeGestora :frm:ugoculto"
									process="@this" />
							</p:selectOneMenu>
							
							<h:inputHidden value="#{cadastroUnidadeGestoraBean.unidadeGestora.codigoOrcamentario}"
							 id="ugoculto" />
							<p:outputLabel />	
							
							<h:inputHidden value="#{relatorioInventarioPorUnidadeGestoraBean.numeroUnidadeGestora}"
							 id="ug" />
							<p:outputLabel />

						</p:panelGrid>
					</h:form>

					<p:dialog header="Ajuda: Unidade Gestora" widgetVar="dlg1"
						showEffect="explode" width="600" height="100" resizable="false"
						maximizable="false" position="center" hideEffect="explode">
						<h:outputText
							value="É a Unidade Gestora que já tenha sido executado o inventário." />
						<br />
						<br />
						<br />
						<div align="center">
							<p:button value="OK" icon="ui-icon-check"
								onclick="PF('dlg1').hide(); return false" style="width:100px" />
						</div>
					</p:dialog>

				</div>
			</div>
		</div>
	</ui:define>
</ui:composition>