<!DOCTYPE html>
<ui:composition template="/WEB-INF/template.xhtml"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui" xmlns:o="http://omnifaces.org/ui">

	<f:metadata>
		<f:viewAction action="#{cadastroDepreciacaoViewBean.prepararCadastro}" />
	</f:metadata>

	<ui:define name="titulo">Emissão do Relatório de Depreciação Completo do bem patrimonial</ui:define>

	<ui:define name="content">
		<div class="ui-g ui-fluid">
			<div class="ui-g-12">
				<div class="card">
					<h:form id="frm">

						<h1>
							<h:graphicImage library="lavor" name="depreciacaonovo.jpg"
								height="45" width="45" />
							Emissão do Relatório de Depreciação Completo do bem patrimonial<a
								href="../../dashboard.xhtml"><h:graphicImage library="lavor"
									name="voltar.gif" height="35" width="80" style="float:right;" />
							</a>
						</h1>
							<p:outputLabel style="font-size:13px; color:green;font-weight:bold" value="Em cumprimento às disposições do Decreto Estadual Nº 13.378-E 26 de Outubro de 2011." />
						

						<p:messages autoUpdate="true" closable="true" />

						<p:toolbar style="margin-top: 20px">

							<p:toolbarGroup>
								<p:commandButton value="Emitir Depreciação" 
									action="#{relatorioDepreciacaoPatrimonialPorBemPatrimonial.execute}"
									ajax="false" styleClass="amber-btn flat"
									style="margin-bottom:10px;" onclick="checarCampos();" />
							</p:toolbarGroup>

						</p:toolbar>

						<p:panelGrid columns="2" id="painel"
							styleClass="form-group ui-panelgrid-blank" layout="grid"
							style="width: 40%; margin-top: 20px">

							<p:outputLabel value="Bem Patrimonial depreciável" for="bemMovel"
									style="font-size:13px; color:red;font-weight:bold">
									<h:graphicImage library="lavor" name="ajuda.png" height="15"
										width="15" style="float:right;" onclick="PF('dlg1').show();" />
								</p:outputLabel>
								<p:selectOneMenu value="#{relatorioDepreciacaoPatrimonialPorBemPatrimonial.numeroPatrimonial}"
									panelStyle="width:150px" var="f" required="true"
									label="Bem Patrimonial" id="bemMovel" filter="true"
									filterMatchMode="contains">
									<f:selectItem itemLabel="Selecione" noSelectionOption="true" />
									<f:selectItems value="#{cadastroDepreciacaoViewBean.todosBensMoveisDepreciados}"
										var="bemMovel" itemValue="#{bemMovel.numeroPatrimonio}"
										itemLabel="#{bemMovel.numeroPatrimonio} - #{bemMovel.descricaoBem}" />
									<p:ajax event="change"
										listener="#{cadastroDepreciacaoViewBean.prepararCadastro()}"
										update=":frm:bemMovel" process="@this" />
								</p:selectOneMenu>

								
								<p:outputLabel />
								
						</p:panelGrid>
					</h:form>
					
					
					
					<p:dialog header="Ajuda: Bem Patrimonial depreciável" widgetVar="dlg1"
						showEffect="explode" width="600" height="100" resizable="false"
						maximizable="false" position="center" hideEffect="explode">
						<h:outputText
							value="Selecione um Bem patrimonial depreciável, e emita a depreciação até a data atual. Obs: Esta listagem dispõem apenas dos bens patrimoniais depreciáveis." />
						<br />
						<br />
						<div align="center">
							<p:button value="OK" icon="ui-icon-check"
								onclick="PF('dlg1').hide(); return false" style="width:100px"  />
						</div>
					</p:dialog>

				</div>
			</div>
		</div>
	</ui:define>
</ui:composition>