<!DOCTYPE html>
<ui:composition template="/WEB-INF/template.xhtml"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui" xmlns:o="http://omnifaces.org/ui">

	<f:metadata>
		<f:viewAction action="#{cadastroDivergenciaBean.prepararListaDivergencias}" />
	</f:metadata>
	
	<ui:define name="titulo">Relatório de Bens Por Divegência</ui:define>

	<ui:define name="content">
		<div class="ui-g ui-fluid">
			<div class="ui-g-12">
				<div class="card">
					<h:form id="frm">

						<script>
				      
			    	 	 function transferirValorDivergencia() {
			    		    var valoroculto = document.getElementById('frm:divergenciaoculto').value; 
			    		    document.getElementById('frm:divergencia').value = (valoroculto);
			    	 	 }
			    	 </script>

						<h1>
							<h:graphicImage library="lavor" name="divergencia.png" height="45"
								width="45" />
							Relatório de Bens Por Divegência<a
								href="../../dashboard.xhtml"><h:graphicImage library="lavor"
									name="voltar.gif" height="35" width="80" style="float:right;" />
							</a>
						</h1>

						<p:messages autoUpdate="true" closable="true" />

						<p:toolbar style="margin-top: 20px">

							<p:toolbarGroup>
								<p:commandButton value="Emitir Relatório"
									action="#{relatorioBensDivergenciaBean.execute}"
									ajax="false" styleClass="amber-btn flat"
									style="margin-bottom:10px;" />
							</p:toolbarGroup>

						</p:toolbar>

						<p:panelGrid columns="2" id="painel"
							styleClass="form-group ui-panelgrid-blank" layout="grid"
							style="width: 40%; margin-top: 20px">

							<p:outputLabel
								value="Divergência"
								for="divergenciaSel">
								<p:outputLabel />
								<h:graphicImage library="lavor" name="ajuda.png" height="15"
									width="15" style="float:right;" onclick="PF('dlg1').show();" />
							</p:outputLabel>
							<p:selectOneMenu required="true" filter="true" 
							    onblur="transferirValorDivergencia();" style="width:400px;"
								widgetVar="selectDivergencia" 
								value="#{cadastroDivergenciaBean.divergencia}"
								label="Divegência"
								id="divergenciaSel" filterMatchMode="contains">
								<f:selectItem itemLabel="Selecione" noSelectionOption="true" />
								<f:selectItems value="#{cadastroDivergenciaBean.todasDivergenciasApenas}"
									var="divergenciaSel" itemValue="#{divergenciaSel}"
									itemLabel="#{divergenciaSel.descricaoDivergencia}" />
								<p:ajax event="change"
									update=":frm:divergenciaSel :frm:divergenciaoculto"
									process="@this" />
							</p:selectOneMenu>
							
							<h:inputHidden value="#{cadastroDivergenciaBean.divergencia.codigoDivergencia}"
							 id="divergenciaoculto" />
							<p:outputLabel />	
							
							<h:inputHidden value="#{relatorioBensDivergenciaBean.divergencia}"
							 id="divergencia" />
							<p:outputLabel />


						</p:panelGrid>
					</h:form>

					<p:dialog header="Ajuda: Divergência"
						widgetVar="dlg1" showEffect="explode" width="550" height="100"
						resizable="false" maximizable="false" position="center"
						hideEffect="explode">
						<h:outputText
							value="Escolha uma das possíveis divergências(discordância) para localizar os bens associados a essa divergência." />
						<br />
						<br />
						<div align="center">
							<p:button value="OK" icon="ui-icon-check"
								onclick="PF('dlg1').hide(); return false" style="width:100px" />
						</div>
					</p:dialog>
				</div>
			</div>
		</div>
	</ui:define>
</ui:composition>