<!DOCTYPE html>
<ui:composition template="/WEB-INF/template.xhtml"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:p="http://primefaces.org/ui" xmlns:o="http://omnifaces.org/ui">

	<f:metadata>
		<f:viewAction action="#{consultaInventariosBean.consultar}" />
	</f:metadata>

	<ui:define name="titulo">Lista de Inventários</ui:define>

	<ui:define name="content">
		<div class="ui-g ui-fluid">
			<div class="ui-g-12">
				<div class="card">
					<!-- Estilo usado para  -->
					<style type="text/css">
.colored {
	/* background-color: red;*/
	color: red;
}

.corvermelho {
	color: red;
}

.corverde {
	/* background-color:green; */
	color: green;
}

.corazul {
	color: blue;
}
</style>
					<h1>
						<h:graphicImage library="lavor" name="inventario.png" height="55"
							width="55" />
						Lista de Inventários <a href="../../dashboard.xhtml"><h:graphicImage
								library="lavor" name="voltar.gif" height="35" width="80"
								style="float:right;" /> </a>
					</h1>
					<h1>
					<div align="right">
					<p:button icon="ui-icon-done-all" value="Vistoriar"  styleClass="deep-orange-btn" style="width:100px"
											title="Vistoriar Unidades Administrativas(Inventário em aberto)" id="btVistoriar"
											outcome="/paginas/Vistoria/CadastroVistoria"
											rendered="#{inventario.situacaoInventario != 'Encerrado'}">
										</p:button></div>
</h1>
					<h:form id="frm">
						<p:messages showDetail="false" showSummary="true"
							autoUpdate="true" />
						<p:dataTable value="#{consultaInventariosBean.inventarios}"
							expandableRowGroups="true" reflow="true" selectionMode="single"
							selection="#{consultaInventariosBean.inventarioSelecionado}"
							rowKey="#{inventario.codigoInventario}" var="inventario"
							border="1" cellspacing="0" cellpadding="2" paginator="true"
							rows="10" rowsPerPageTemplate="10,20,30,50,100,200"
							paginatorPosition="bottom" id="tabela"
							emptyMessage="Não foi localizado o registro solicitado."
							rowStyleClass="#{inventario.situacaoInventario eq 'Encerrado' ? 'corazul' : 
								 inventario.situacaoInventario eq 'Aberto' ? 'corverde' : null}"
							paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
							currentPageReportTemplate="Total de {totalRecords} registros localizados - Página: {currentPage} de {totalPages}">
							<f:facet name="header">
       				 LISTA DE INVENTÁRIOS
					<div align="right">
									<p:commandButton id="toggler" type="button"
										value="Ajuste Colunas" icon="ui-icon-calculator" />
								</div>
								<p:columnToggler datasource="tabela" trigger="toggler" />
							</f:facet>

							<f:facet name="footer">
								<div align="right">
									Exportar
									<h:commandLink>
										<h:graphicImage library="lavor" name="pdf.png" width="20"
											title="Exportar para PDF" />
										<p:dataExporter type="pdf" target="tabela"
											fileName="inventarios" />
									</h:commandLink>

									<h:commandLink>
										<h:graphicImage library="lavor" name="xls.png" width="20"
											title="Exportar para XLS" />
										<p:dataExporter type="xls" target="tabela"
											fileName="inventarios" />
									</h:commandLink>

									<h:commandLink>
										<h:graphicImage library="lavor" name="xml.png" width="20"
											title="Exportar para XML" />
										<p:dataExporter type="xml" target="tabela"
											fileName="inventarios" />
									</h:commandLink>
								</div>
							</f:facet>

							<p:column headerText="Código do Inventário"
								style="width:50px;text-align: center"
								sortBy="#{inventario.codigoInventario}"
								filterBy="#{inventario.codigoInventario}"
								filterMatchMode="contains" id="campocodigoInventario">
								<h:outputText value="#{inventario.codigoInventario}" />
							</p:column>

							<p:column headerText="Data Inicial"
								style="width:70px;text-align: center"
								sortBy="#{inventario.dataInicial}"
								filterBy="#{inventario.dataInicial}" filterMatchMode="contains"
								id="campodatainicio">
								<h:outputText value="#{inventario.dataInicial}">
									<f:convertDateTime pattern="dd/MM/yyyy" locale="pt" />
								</h:outputText>
								<h:graphicImage library="lavor" name="mailok.png"
									rendered="#{inventario.notificarAbertoEmail}" height="20"
									width="20" />
								<h:graphicImage library="lavor" name="mailnot.png"
									rendered="#{!inventario.notificarAbertoEmail}" height="20"
									width="20" />

							</p:column>
							<p:column headerText="Data Encerramento"
								style="width:70px;text-align: center"
								sortBy="#{inventario.dataFinal}"
								filterBy="#{inventario.dataFinal}" filterMatchMode="contains"
								id="campodatafinal">
								<h:outputText value="#{inventario.dataFinal}">
									<f:convertDateTime pattern="dd/MM/yyyy" locale="pt" />
								</h:outputText>
								<h:graphicImage library="lavor" name="mailok.png"
									rendered="#{inventario.notificarEncerramentoEmail}" height="20"
									width="20" />
								<h:graphicImage library="lavor" name="mailnot.png"
									rendered="#{!inventario.notificarEncerramentoEmail}"
									height="20" width="20" />
							</p:column>

							<p:column headerText="Unidade Administrativa / Gestora"
								style="width:35%"
								sortBy="#{inventario.unidadeAdministrativa.nomeUnidadeAdministrativa} (#{inventario.unidadeAdministrativa.nomeResumido} / #{inventario.unidadeAdministrativa.unidadeGestora.nomeResumido})"
								filterBy="#{inventario.unidadeAdministrativa.nomeUnidadeAdministrativa} (#{inventario.unidadeAdministrativa.nomeResumido} / #{inventario.unidadeAdministrativa.unidadeGestora.nomeResumido})"
								filterMatchMode="contains" id="campounidadeadministrativa">
								<h:outputText
									value="#{inventario.unidadeAdministrativa.nomeUnidadeAdministrativa} (#{inventario.unidadeAdministrativa.nomeResumido} / #{inventario.unidadeAdministrativa.unidadeGestora.nomeResumido})" />
							</p:column>

							<p:column headerText="Situação"
								style="width:70px;text-align: center"
								sortBy="#{inventario.situacaoInventario}"
								filterBy="#{inventario.situacaoInventario}"
								filterMatchMode="contains" id="camposituacao">
								<h:outputText value="#{inventario.situacaoInventario}" />
							</p:column>

							<p:column headerText="Ação" style="width:120px"
								exportable="false">
								<div align="center">
									<p:column style="width:20px;text-align: center">
										<p:commandButton update=":frm:inventarioDetalhes"
											styleClass="blue-grey-btn" oncomplete="PF('dlgver').show()"
											icon="ui-icon-search" title="Ver Detalhes do Inventário"
											value="Ver">
											<f:setPropertyActionListener value="#{inventario}"
												target="#{consultaInventariosBean.inventarioSelecionado}" />
										</p:commandButton>
									</p:column>
									<p:column style="width:20px;text-align: center">
										<p:commandButton icon="ui-icon-mail" value="Notificar"
										    rendered="#{inventario.situacaoInventario != 'Encerrado' and (seguranca.autoridades=='[ROLE_ADMINISTRADORES]' or seguranca.autoridades=='[ROLE_GESTORES]')}"
											styleClass="green-btn"
											title="ENVIAR E-MAIL AO RESPONSÁVEL PELO INVENTÁRIO"
											id="btEmail"
											action="#{consultaInventariosBean.enviarInventario}"
											process="@this">
											<f:setPropertyActionListener value="#{inventario}"
												target="#{consultaInventariosBean.inventarioSelecionado}" />
										</p:commandButton>
									</p:column>
									<p:column style="width:20px;text-align: center">
										<p:button icon="ui-icon-pan-tool" value="Encerrar"
										   rendered="#{inventario.situacaoInventario != 'Encerrado' and (seguranca.autoridades=='[ROLE_ADMINISTRADORES]' or seguranca.autoridades=='[ROLE_GESTORES]')}"
											styleClass="red-btn" title="ENCERRAR INVENTÁRIO"
											id="btEncerrar"
											outcome="/paginas/Inventario/CadastroInventarioEncerrar">
											<f:param name="codigoInventario"
												value="#{inventario.codigoInventario}" />
										</p:button>
									</p:column>
								</div>
							</p:column>

						</p:dataTable>
						<p:dialog header="Detalhes: Inventário " widgetVar="dlgver"
							modal="true" showEffect="fade" hideEffect="fade"
							resizable="false">
							<p:outputPanel id="inventarioDetalhes" style="text-align:center;">
								<p:panelGrid columns="2"
									rendered="#{not empty consultaInventariosBean.inventarioSelecionado}"
									columnClasses="label,value">

									<h:outputText value="Código Interno" style="font-weight:bold" />
									<h:outputText
										value="#{consultaInventariosBean.inventarioSelecionado.codigoInventario}"
										style="font-weight:bold" />

									<h:outputText value="Situação" style="font-weight:bold" />
									<h:outputText style="font-weight:bold"
										styleClass="#{consultaInventariosBean.inventarioSelecionado.situacaoInventario eq 'Aberto' ? 'corverde' : 'corazul'}"
										value="#{consultaInventariosBean.inventarioSelecionado.situacaoInventario}">
									</h:outputText>

									<h:outputText value="Classificação Inventário"
										style="font-weight:bold" />
									<h:outputText
										value="#{consultaInventariosBean.inventarioSelecionado.classificacaoInventario.descricaoClassificacaoInventario}"
										style="font-weight:bold" />

									<h:outputText value="Unidade Administrativa"
										style="font-weight:bold" />
									<h:outputText style="font-weight:bold"
										value="#{consultaInventariosBean.inventarioSelecionado.unidadeAdministrativa.nomeUnidadeAdministrativa} (#{consultaInventariosBean.inventarioSelecionado.unidadeAdministrativa.nomeResumido})" />

									<h:outputText value="Unidade Gestora" style="font-weight:bold" />
									<h:outputText style="font-weight:bold"
										value="#{consultaInventariosBean.inventarioSelecionado.unidadeAdministrativa.unidadeGestora.nomeUnidadeGestora} (#{consultaInventariosBean.inventarioSelecionado.unidadeAdministrativa.unidadeGestora.nomeResumido})" />

									<p:outputLabel value="Funcionário Responsável pelo Inventário"
										style="font-weight:bold" />
									<h:outputText
										value="#{consultaInventariosBean.inventarioSelecionado.funcionarioResponsavelInventario.nomeFuncionario} - #{consultaInventariosBean.inventarioSelecionado.funcionarioResponsavelInventario.cargo.descricaoCargo}" />

									<h:outputText value="Data Inicial do Inventário"
										style="font-weight:bold" />
									<h:outputText style="font-weight:bold"
										styleClass="#{consultaInventariosBean.inventarioSelecionado.situacaoInventario eq 'Aberto' ? 'corverde' : 'corazul'}"
										value="#{consultaInventariosBean.inventarioSelecionado.dataInicial}">
										<f:convertDateTime pattern="dd/MM/yyyy" locale="pt" />
									</h:outputText>

									<h:outputText value="Data de Encerramento do Inventário"
										style="font-weight:bold" />
									<h:outputText style="font-weight:bold"
										styleClass="#{consultaInventariosBean.inventarioSelecionado.situacaoInventario eq 'Aberto' ? 'corverde' : 'corazul'}"
										value="#{consultaInventariosBean.inventarioSelecionado.dataFinal}">
										<f:convertDateTime pattern="dd/MM/yyyy" locale="pt" />
									</h:outputText>

									<p:outputLabel value="Descrição do Inventário"
										style="font-weight:bold" />
									<h:outputText escape="false"
										value="#{consultaInventariosBean.inventarioSelecionado.descricao}" />

									<p:outputLabel value="Observação do Inventário"
										style="font-weight:bold" />
									<h:outputText escape="false"
										value="#{consultaInventariosBean.inventarioSelecionado.observacao}" />
								</p:panelGrid>
							</p:outputPanel>
							<br />
							<div align="center">
								<p:button value="OK" icon="ui-icon-check"
									onclick="PF('dlgver').hide(); return false" style="width:100px" />
							</div>
						</p:dialog>
					</h:form>
				</div>
			</div>
		</div>
	</ui:define>
</ui:composition>