<!DOCTYPE html>
<ui:composition template="/WEB-INF/template.xhtml"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:pe="http://primefaces.org/ui/extensions"
	xmlns:o="http://omnifaces.org/ui">

	<f:metadata>
		<o:viewParam name="codigoUsuario"
			value="#{cadastroUsuarioBean.usuario}" />
		<f:viewAction action="#{cadastroUsuarioBean.prepararCadastro}" />
		
	</f:metadata>

	<ui:define name="titulo">Cadastro de Usuários do Sistema</ui:define>

	<ui:define name="content">
		<div class="ui-g ui-fluid">
			<div class="ui-g-12">
				<div class="card">
					<h1>
						<h:graphicImage library="lavor" name="fotofuncionario.jpg" height="45"
							width="45" />
						(ATUALIZANDO) Cadastro de Usuários do Sistema <a
							href="ConsultaUsuarios.xhtml"><h:graphicImage library="lavor"
								name="voltar.gif" height="35" width="80" style="float:right;" />
						</a>
					</h1>

					<h:form id="frm">

						<p:messages showDetail="false" showSummary="true"
							autoUpdate="true" />

						<p:panel header="Cadastro de Usuários do Sistema">
							<p:panelGrid columns="3" styleClass="semBorda">
							
								
							
							

								<p:outputLabel value="Funcionário"
									for="funcionarioNome">
								</p:outputLabel>
								<p:inputText size="150" disabled="true" id="funcionarioNome"
									value="#{cadastroUsuarioBean.usuario.funcionario.nomeFuncionario} - #{cadastroUsuarioBean.usuario.funcionario.cargo.descricaoCargo}) "
									label="Funcionário" immediate="true" maxlength="150"/>
								<p:outputLabel />
								
								<p:outputLabel  value="Unidade Gestora"/>
								<p:inputText size="150" disabled="true" id="funcionarioUnidadeGestora"
									value="#{cadastroUsuarioBean.usuario.funcionario.unidadeAdministrativa.unidadeGestora.nomeUnidadeGestora} (#{cadastroUsuarioBean.usuario.funcionario.unidadeAdministrativa.unidadeGestora.nomeResumido})"
									label="ug" immediate="true" maxlength="150"/>
								<p:outputLabel />
								
								
								<p:outputLabel  value="Unidade Administrativa"/>
								<p:inputText size="150" disabled="true" id="funcionarioUnidadeAdministrativa"
									value="#{cadastroUsuarioBean.usuario.funcionario.unidadeAdministrativa.nomeUnidadeAdministrativa} / #{cadastroUsuarioBean.usuario.funcionario.unidadeAdministrativa.nomeResumido}"
									label="ua" immediate="true" maxlength="150"/>
								<p:outputLabel />
								
								
								
								<p:outputLabel value="Perfil de Acesso"
									for="perfil">
									<h:graphicImage library="lavor" name="ajuda.png" height="15"
										width="15" style="float:right;" onclick="PF('dlg2').show();" />
								</p:outputLabel>
								<p:selectOneMenu
									value="#{cadastroUsuarioBean.usuario.perfil}"
									immediate="true" required="true"
									label="Perfil de Acesso" id="perfil"
									filter="false" filterMatchMode="contains">
									<f:selectItem itemLabel="Selecione" noSelectionOption="true" />
									<f:selectItems value="#{cadastroUsuarioBean.todosPerfis}"
										var="perfil" itemValue="#{perfil}"
										itemLabel="#{perfil.descricaoPerfil}" />
									<p:ajax
										listener="#{cadastroUsuarioBean.prepararPerfis()}"
										update=":frm:perfil" process="@this" />
								</p:selectOneMenu>
								<p:outputLabel />
								
								<p:outputLabel value="E-mail">
									<p:outputLabel value=" *" style="font-size:11px; color:red;" />
									<h:graphicImage library="lavor" name="ajuda.png" height="15"
										width="15" style="float:right;" onclick="PF('dlg3').show();" />
								</p:outputLabel>
								<p:inputText size="150" required="true"
									value="#{cadastroUsuarioBean.usuario.email}"
									label="E-mail" immediate="true" maxlength="150"
									placeholder="informe um e-mail válido para acessar o sistema"
									title="Informe um e-mail válido para acessar o sistema." />
								<p:outputLabel />
								
								<p:outputLabel value="Senha">
									<p:outputLabel value=" *" style="font-size:11px; color:red;" />
									<h:graphicImage library="lavor" name="ajuda.png" height="15"
										width="15" style="float:right;" onclick="PF('dlg4').show();" />
								</p:outputLabel>
								<p:password size="50" required="true" 
								    feedback="true"
								    inline="true"
								    goodLabel="Senha boa"
								    strongLabel="Senha forte"
								    weakLabel="Senha fraca"
									value="#{cadastroUsuarioBean.usuario.passsword}"
									label="Senha" immediate="true" maxlength="20"
									placeholder="informe uma senha para acessar o sistema"
									title="Informe uma senha para acessar o sistema." />
								<p:outputLabel />
								
								
								<p:outputLabel />
								<h:selectBooleanCheckbox id="notificacao"
									value="#{cadastroUsuarioBean.usuario.notificarEmail}">
									<h:outputLabel
										style="font-weight:bold; font-size:11px; color:red;"
										value="Notificar por E-mail este Usuário para instrução de acesso ao sistema?"
										for="notificacao" />
								</h:selectBooleanCheckbox>
								<p:outputLabel />

								
								<p:outputLabel />
								<p:outputLabel value=" * é campo de preenchimento obrigatório"
									style="font-size:11px; color:red;" />
								<p:outputLabel />
								
								<p:outputLabel />
								<p:commandButton value="Salvar"
									action="#{cadastroUsuarioBean.editar}" icon="ui-icon-save"
									style="width:100px" process="@form" update="@form" />
							</p:panelGrid>
						</p:panel>
						
						
						<p:dialog header="Ajuda: Funcionário" widgetVar="dlg1"
						showEffect="explode" width="600" height="100" resizable="false"
						maximizable="false" position="center" hideEffect="explode">
						<h:outputText
							value="Selecione na Listagem o Funcionário da Unidade Gestora adequadamente." />
						<br />
						<br />
						<h:outputText value="ATENÇÃO: Esta listagem consta, somente os Funcionários que ainda não são usuário do Sistema." />
						<br />
						<div align="center">
							<p:button value="OK" icon="ui-icon-check"
								onclick="PF('dlg1').hide(); return false" style="width:100px"/>
						</div>
					  </p:dialog>
					  
					  
					  	<p:dialog header="Ajuda: Perfil de Acesso" widgetVar="dlg2"
						showEffect="explode" width="600" height="250" resizable="false"
						maximizable="false" position="center" hideEffect="explode">
						<h:outputText
							value="Selecione o Perfil deste Usuário(Funcionário da Unidade Gestora) adequadamente." />
						<br />
						<br />
						<b>
						<h:outputText value="PERFIL ..................................................... PREVILÉGIOS   "  />
						</b>
						<br />
						
						<b>
						<h:outputText value="Auditoria ................................................. ( )Inserir ( )Alterar ( X )Exibir ( )Excluir"  />
						</b>
						<br />
						<br />
						<b>
						<h:outputText value="Auxiliares ............................................... ( X )Inserir ( )Alterar ( X )Exibir ( )Excluir"  />
						</b>
						<br />
						<br />
						<b>
						<h:outputText value="Gestor de Unidade ................................... ( X )Inserir ( X )Alterar ( X )Exibir ( )Excluir"  />
						</b>
						<br />
						<br />
						<b>
						<h:outputText value="Administrador do Sistema Patrimonial .... ( X )Inserir ( X )Alterar ( X )Exibir ( X )Excluir"  />
						</b>
						<br />
						<br />
						<br />
						<div align="center">
							<p:button value="OK" icon="ui-icon-check"
								onclick="PF('dlg2').hide(); return false" style="width:100px"/>
						</div>
					  </p:dialog>


						<p:dialog header="Ajuda: E-mail" widgetVar="dlg3"
						showEffect="explode" width="600" height="100" resizable="false"
						maximizable="false" position="center" hideEffect="explode">
						<h:outputText
							value="Informe um e-mail válido para este usuário." />
						<br />
						<br />
							<h:outputText value="Opcionalmente você pode enviar um e-mail ao usuário informando os dados de acesso ao sistema."  />
						<br />
						<div align="center">
							<p:button value="OK" icon="ui-icon-check"
								onclick="PF('dlg3').hide(); return false" style="width:100px"/>
						</div>
					  </p:dialog>
					  
					  
						<p:dialog header="Ajuda: Senha" widgetVar="dlg4"
						showEffect="explode" width="600" height="100" resizable="false"
						maximizable="false" position="center" hideEffect="explode">
						<h:outputText
							value="Informe uma senha para este usuário." />
						<br />
						<br />
							<h:outputText value="Opcionalme você pode enviar um e-mail ao usuário informando os dados de acesso ao sistema."  />
						<br />
						<div align="center">
							<p:button value="OK" icon="ui-icon-check"
								onclick="PF('dlg4').hide(); return false" style="width:100px"/>
						</div>
					  </p:dialog>
					  
					  
					  


					</h:form>
				</div>
			</div>
		</div>
	</ui:define>
</ui:composition>