<!DOCTYPE html>
<ui:composition template="/WEB-INF/template.xhtml"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:p="http://primefaces.org/ui" xmlns:o="http://omnifaces.org/ui">

	<f:metadata>
		<o:viewParam name="codigoTermoResponsavel"
			value="#{cadastroTermoResponsavelBean.termoResponsavel}" />
		<f:viewAction
			action="#{cadastroTermoResponsavelBean.prepararCadastro}" />
	</f:metadata>

	<ui:define name="titulo">Termo de Responsabilidade de Bens Patrimoniais</ui:define>

	<ui:define name="content">
		<div class="ui-g">
			<div class="ui-g-12">
				<div class="card">
					<h1>
						<h:graphicImage library="lavor" name="termoresp.png" height="45"
							width="45" />
						Termo de Responsabilidade de Bens Patrimoniais <a
							href="../../dashboard.xhtml"><h:graphicImage library="lavor"
								name="voltar.gif" height="35" width="80" style="float:right;" />
						</a>
					</h1>

					<h:form id="frm">
						<script> 
          			function bloquear(){
                	document.getElementById('frm:numero').disabled=true; //ok
            			}

          			function desbloquear(){
                    	document.getElementById('frm:numero').disabled=false; //ok
                			}
       			 </script>


						<p:messages showDetail="false" showSummary="true"
							autoUpdate="true" />

						<p:panel header="Termo de Responsabilidade de Bens Patrimoniais">
							<p:panelGrid columns="3" styleClass="semBorda">


								<p:outputLabel value="Número do Termo de Responsabilidade">
									<p:outputLabel value=" *" style="font-size:11px; color:red;" />
									<h:graphicImage library="lavor" name="ajuda.png" height="15"
										width="15" style="float:right;" onclick="PF('dlg1').show();" />
								</p:outputLabel>
								<p:inputTextarea required="true" id="numero"
									style="font-weight:bold; font-size:20px"
									placeholder="número do termo"
									value="#{cadastroTermoResponsavelBean.termoResponsavel.numeroTermoResponsabilidade}"
									label="Descrição do Bem" immediate="true" maxlength="30"
									counterTemplate="{0} restantes"
									completeMethod="#{cadastroTermoResponsavelBean.pesquisarNumeroTermoResponsavel}"
									minQueryLength="3" autoResize="true|false" rows="1" cols="30"
									title="Informe o Número do Termo de responsabilidade do Bem Móvel." />
								<p:outputLabel />

								<p:outputLabel value="Data do Termo de Responsabilidade">
									<p:outputLabel value=" *" style="font-size:11px; color:red;" />
									<h:graphicImage library="lavor" name="ajuda.png" height="15"
										width="15" style="float:right;" onclick="PF('dlg2').show();" />
								</p:outputLabel>
								<p:calendar id="datatermoresponsabilidade" effect="fold"
									widgetVar="widgetVarDataTermoResponsabilidade"
									disabledWeekends="true"
									required="#{empty cadastroTermoResponsavelBean.termoResponsavel.dataTermoResponsabilidade}"
									showOn="button" mask="true"
									value="#{cadastroTermoResponsavelBean.termoResponsavel.dataTermoResponsabilidade}"
									placeholder="__/__/____"
									title="Informe a Data da Termo de Responsailidade do Bem."
									pattern="dd/MM/yyyy" locale="pt" />
								<p:outputLabel />

								<p:outputLabel value="Receptor Responsável pelo Bem"
									for="responsavel">
									<h:graphicImage library="lavor" name="ajuda.png" height="15"
										width="15" style="float:right;" onclick="PF('dlg3').show();" />
								</p:outputLabel>
								<p:selectOneMenu panelStyle="width:150px" var="r"
									widgetVar="selectOneMenuWidgetResponsavel"
									required="#{empty cadastroTermoResponsavelBean.termoResponsavel.funcionarioResponsavelPatrimonial}"
									value="#{cadastroTermoResponsavelBean.termoResponsavel.funcionarioResponsavelPatrimonial}"
									label="Funcionário Receptor Responsável pelo Bem"
									id="responsavel" filter="true" filterMatchMode="contains">
									<f:selectItem itemLabel="Selecione" noSelectionOption="true" />
									<f:selectItems
										value="#{cadastroTermoResponsavelBean.todosFuncionariosResponsaveis}"
										var="responsavel" itemValue="#{responsavel}"
										itemLabel="#{responsavel.nomeFuncionario} (#{responsavel.unidadeAdministrativa.unidadeGestora.nomeResumido}/#{responsavel.unidadeAdministrativa.nomeUnidadeAdministrativa})" />
									<p:column>
										<p:graphicImage width="40" height="50"
											library="enviados/funcionarios" name="#{r.foto}"
											rendered="#{not empty r.foto}" />
									</p:column>
									<p:column>
										<h:outputText
											value="#{r.nomeFuncionario} (#{r.unidadeAdministrativa.unidadeGestora.nomeResumido}/#{r.unidadeAdministrativa.nomeUnidadeAdministrativa})" />
									</p:column>
									<p:ajax
										listener="#{cadastroTermoResponsavelBean.prepararFuncionariosResponsaveisPatrimoniais()}"
										update=":frm:responsavel" process="@this" />
								</p:selectOneMenu>
								<p:outputLabel />

								<p:outputLabel value="Unidade Administrativa de ORIGEM do Bem"
									for="destino">
									<h:graphicImage library="lavor" name="ajuda.png" height="15"
										width="15" style="float:right;" onclick="PF('dlg4').show();" />
								</p:outputLabel>
								<p:selectOneMenu
									required="#{empty cadastroTermoResponsavelBean.termoResponsavel.localOrigem}"
									widgetVar="selectOneMenuWidgetVarLocalOrigem"
									value="#{cadastroTermoResponsavelBean.termoResponsavel.localOrigem}"
									label="Unidade Administrativa de ORIGEM do Bem" id="origem"
									filter="true" filterMatchMode="contains">
									<f:selectItem itemLabel="Selecione a Origem do Bem"
										noSelectionOption="true" />
									<f:selectItems
										value="#{cadastroTermoResponsavelBean.todosLocaisOrigens}"
										var="origem" itemValue="#{origem}"
										itemLabel="#{origem.nomeUnidadeAdministrativa} (#{origem.nomeResumido}/#{origem.unidadeGestora.nomeResumido})" />
									<p:ajax
										listener="#{cadastroTermoResponsavelBean.prepararLocaisOrigens()}"
										update=":frm:origem :frm:localizacaoFisicaOrigem"
										process="@this" />
								</p:selectOneMenu>
								<p:outputLabel />

								<h:outputText value="Localização Física de Origem do Bem" />
								<h:outputText id="localizacaoFisicaOrigem"
									style="font-size:12px; color:green;"
									value="Prédio: #{cadastroTermoResponsavelBean.termoResponsavel.localOrigem.predio} 
							Piso: #{cadastroTermoResponsavelBean.termoResponsavel.localOrigem.piso} 
							Corredor: #{cadastroTermoResponsavelBean.termoResponsavel.localOrigem.corredor} 
						    Sala:  #{cadastroTermoResponsavelBean.termoResponsavel.localOrigem.sala}" />
								<p:outputLabel />


								<p:outputLabel value="Unidade Administrativa de DESTINO do Bem"
									for="destino">
									<h:graphicImage library="lavor" name="ajuda.png" height="15"
										width="15" style="float:right;" onclick="PF('dlg5').show();" />
								</p:outputLabel>
								<p:selectOneMenu
									required="#{empty cadastroTermoResponsavelBean.termoResponsavel.localDestino}"
									widgetVar="selectOneMenuWidgetVarLocalDestino"
									value="#{cadastroTermoResponsavelBean.termoResponsavel.localDestino}"
									label="Unidade Administrativa de DESTINO do Bem" id="destino"
									filter="true" filterMatchMode="contains">
									<f:selectItem itemLabel="Selecione o Destino do Bem"
										noSelectionOption="true" />
									<f:selectItems
										value="#{cadastroTermoResponsavelBean.todosLocaisDestinos}"
										var="destino" itemValue="#{destino}"
										itemLabel="#{destino.nomeUnidadeAdministrativa} (#{destino.nomeResumido}/#{destino.unidadeGestora.nomeResumido})" />
									<p:ajax
										listener="#{cadastroTermoResponsavelBean.prepararLocaisDestinos()}"
										update=":frm:destino :frm:localizacaoFisicaDestino"
										process="@this" />
								</p:selectOneMenu>
								<p:outputLabel />

								<h:outputText value="Localização Física de Destino do Bem" />
								<h:outputText id="localizacaoFisicaDestino"
									style="font-size:12px; color:blue;"
									value="Prédio: #{cadastroTermoResponsavelBean.termoResponsavel.localDestino.predio} 
							Piso: #{cadastroTermoResponsavelBean.termoResponsavel.localDestino.piso} 
							Corredor: #{cadastroTermoResponsavelBean.termoResponsavel.localDestino.corredor} 
						    Sala:  #{cadastroTermoResponsavelBean.termoResponsavel.localDestino.sala}" />
								<p:outputLabel />


								<p:outputLabel value="Bem Patrimonial /p Incorporação"
									for="bemMovel"
									style="font-size:13px; color:red;font-weight:bold">
									<h:graphicImage library="lavor" name="ajuda.png" height="15"
										width="15" style="float:right;" onclick="PF('dlg6').show();" />
								</p:outputLabel>
								<p:selectOneMenu
									value="#{cadastroTermoResponsavelBean.termoResponsavel.bemMovel}"
									panelStyle="width:150px" var="f" required="true"
									label="Bem Patrimonial" id="bemMovel" filter="true"
									filterMatchMode="contains">
									<f:selectItem itemLabel="Selecione" noSelectionOption="true" />
									<f:selectItems
										value="#{cadastroTermoResponsavelBean.todosBensMoveis}"
										var="bemMovel" itemValue="#{bemMovel}"
										itemLabel="#{bemMovel.numeroPatrimonio} - #{bemMovel.descricao}" />
									<p:column>
										<p:graphicImage width="40" height="50"
											library="enviados/bensmoveis" name="#{f.fotoBemMovel}"
											rendered="#{not empty f.fotoBemMovel}" />
									</p:column>
									<p:column>
										<h:outputText value="#{f.numeroPatrimonio} - #{f.descricao}" />
									</p:column>
									<p:ajax event="change"
										listener="#{cadastroTermoResponsavelBean.prepararBensMoveis()}"
										update=":frm:bemMovel" process="@this" />
								</p:selectOneMenu>
								<p:outputLabel />

								<p:outputLabel value="Estado do Bem" for="estadoBem">
									<h:graphicImage library="lavor" name="ajuda.png" height="15"
										width="15" style="float:right;" onclick="PF('dlg7').show();" />
								</p:outputLabel>
								<p:selectOneMenu
									value="#{cadastroTermoResponsavelBean.termoResponsavel.estadoBem}"
									required="true" label="Estado do Bem" id="estadoBem"
									filter="false" filterMatchMode="contains">
									<f:selectItem itemLabel="Selecione" noSelectionOption="true" />
									<f:selectItems
										value="#{cadastroTermoResponsavelBean.todosEstadosBens}"
										var="estadoBem" itemValue="#{estadoBem}"
										itemLabel="#{estadoBem.descricaoEstadoBem}" />
									<p:ajax
										listener="#{cadastroTermoResponsavelBean.prepararEstadosBens()}"
										update=":frm:estadoBem" process="@this" />
								</p:selectOneMenu>
								<p:outputLabel />
								
								<p:outputLabel />
								<h:selectBooleanCheckbox id="notificacao"
									value="#{cadastroTermoResponsavelBean.termoResponsavel.notificarEmail}">
									<h:outputLabel
										style="font-weight:bold; font-size:11px; color:red;"
										value="Notificar por E-mail, os responsáveis pela transferência deste Bem?"
										for="notificacao" />
								</h:selectBooleanCheckbox>
								<p:outputLabel />
								

								<p:outputLabel />
								<p:outputLabel value=" * é campo de preenchimento obrigatório"
									style="font-size:11px; color:red;" />
								<p:outputLabel />

								<p:commandButton value="Salvar/Aberto"
									onblur="bloquear();PF('widgetVarDataTermoResponsabilidade').disable();PF('selectOneMenuWidgetResponsavel').disable();PF('selectOneMenuWidgetVarLocalOrigem').disable();PF('selectOneMenuWidgetVarLocalDestino').disable();"
									onclick="desbloquear();PF('widgetVarDataTermoResponsabilidade').enable();PF('selectOneMenuWidgetResponsavel').enable();PF('selectOneMenuWidgetVarLocalOrigem').enable();PF('selectOneMenuWidgetVarLocalDestino').enable();"
									title="Cadastrar bem e repetir dados do Termo de Responsabilidade recém cadastrado, termo ABERTO"
									action="#{cadastroTermoResponsavelBean.salvarRepetir}"
									icon="ui-icon-repeat" process="@form"
									update=":frm:bemMovel" style="width:auto">
									</p:commandButton>

								<p:commandButton value="Salvar/Gerar"
									title="GERAR/Encerrar termo"
									onclick="desbloquear();PF('widgetVarDataTermoResponsabilidade').enable();PF('selectOneMenuWidgetResponsavel').enable();PF('selectOneMenuWidgetVarLocalOrigem').enable();PF('selectOneMenuWidgetVarLocalDestino').enable();"
									action="#{cadastroTermoResponsavelBean.salvarGerarTermo}"
									icon="ui-icon-open-in-new" process="@form"
									update="@form :frm:bemMovel" style="width:auto">
								</p:commandButton>

							</p:panelGrid>
						</p:panel>

		<!-- 	<p:dataTable
							value="#{cadastroTermoResponsavelBean.todosTermosResponsaveis}" 
							var="termoResponsavel" border="1" cellspacing="0" cellpadding="2"
							paginator="true" rows="8" rowsPerPageTemplate="8,25,50,100"
							paginatorPosition="bottom" id="tabela"
							emptyMessage="Não foi localizado o registro solicitado."
							paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
							currentPageReportTemplate="Total de {totalRecords} registros localizados - Página: {currentPage} de {totalPages}">

							<f:facet name="header">
       							 Lista de Bens Patrimoniais deste Termo de Responsabilidade
							</f:facet>
							<p:column headerText="No. Patrimônio" style="width:30%"
								sortBy="#{termoResponsavel.bemMovel.numeroPatrimonio}"
								filterBy="#{termoResponsavel.bemMovel.numeroPatrimonio}"
								filterMatchMode="contains" id="camponumero">
								<h:outputText value="#{termoResponsavel.bemMovel.numeroPatrimonio}" />
							</p:column>
							<p:column headerText="Bem Patrimonial " style="width:30%"
								sortBy="#{termoResponsavel.bemMovel.descricao}"
								filterBy="#{termoResponsavel.bemMovel.descricao}"
								filterMatchMode="contains" id="campobem">
								<h:outputText value="#{termoResponsavel.bemMovel.descricao}" />
							</p:column>

						</p:dataTable>
 -->
						<p:dialog header="Ajuda: Número do Termo de Responsabilidade"
							widgetVar="dlg1" showEffect="explode" width="500" height="100"
							resizable="false" maximizable="false" position="center"
							hideEffect="explode">
							<h:outputText
								value="É o número do termo de responsabilidade, a qual esta associado a um responsável pelo recebimento e guarda do bem." />
							<br />
							<br />
							<br />
							<div align="center">
								<p:button value="OK" icon="ui-icon-check"
									onclick="PF('dlg1').hide(); return false" style="width:100px" />
							</div>
						</p:dialog>

						<p:dialog header="Ajuda: Data do Termo de Responsabilidade"
							widgetVar="dlg2" showEffect="explode" width="500" height="100"
							resizable="false" maximizable="false" position="center"
							hideEffect="explode">
							<h:outputText
								value="É a data que o Termo de Responsabilidade foi gerado para encaminhamento/entrega do bem patrimonial." />
							<br />
							<br />
							<br />
							<div align="center">
								<p:button value="OK" icon="ui-icon-check"
									onclick="PF('dlg2').hide(); return false" style="width:100px" />
							</div>
						</p:dialog>

						<p:dialog
							header="Ajuda: Funcionário Receptor Responsável pelo Bem"
							widgetVar="dlg3" showEffect="explode" width="550" height="100"
							resizable="false" maximizable="false" position="center"
							hideEffect="explode">
							<h:graphicImage library="lavor" name="funcionarios.png"
								height="30" width="30" style="float:left;" />
							<h:outputText
								value="É o Funcionário Responsável pela guarda do bem patrimonial." />
							<br />
							<br />
							<div align="center">
								<p:button value="OK" icon="ui-icon-check"
									onclick="PF('dlg3').hide(); return false" style="width:100px" />
							</div>
						</p:dialog>


						<p:dialog
							header="Ajuda: Localização Física -> Unidade Administrativa de ORIGEM do Bem"
							widgetVar="dlg4" showEffect="explode" width="550" height="110"
							resizable="false" maximizable="false" position="center"
							hideEffect="explode">
							<h:graphicImage library="lavor" name="unidadeadministrativa.png"
								height="30" width="30" style="float:left;" />
							<h:outputText
								value="É a localização física da Unidade Administrativa de Origem do Bem, ou seja, onde se encontra o bem patrimonial atualmente." />
							<br />
							<br />
							<h:outputText value="Por exemplo: SEFAZ/Patrimonio" />
							<br />
							<div align="center">
								<p:button value="OK" icon="ui-icon-check"
									onclick="PF('dlg4').hide(); return false" style="width:100px" />
							</div>
						</p:dialog>

						<p:dialog
							header="Ajuda: Localização Física -> Unidade Administrativa de DESTINO do Bem"
							widgetVar="dlg5" showEffect="explode" width="550" height="110"
							resizable="false" maximizable="false" position="center"
							hideEffect="explode">
							<h:graphicImage library="lavor" name="unidadeadministrativa.png"
								height="30" width="30" style="float:left;" />
							<h:outputText
								value="É a localização física da Unidade Administrativa de Destino do Bem, ou seja, onde o bem patrimonial será destinado/incorporado." />
							<br />
							<br />
							<h:outputText value="Por exemplo: SEFAZ/CETIF" />
							<br />
							<div align="center">
								<p:button value="OK" icon="ui-icon-check"
									onclick="PF('dlg5').hide(); return false" style="width:100px" />
							</div>
						</p:dialog>

						<p:dialog header="Ajuda: Bem Patrimonial /p Incorporação"
							widgetVar="dlg6" showEffect="explode" width="500" height="100"
							resizable="false" maximizable="false" position="center"
							hideEffect="explode">
							<h:graphicImage library="lavor" name="bem.png" height="30"
								width="30" style="float:left;" />
							<h:outputText
								value="É o bem patrimonial, daqual ainda não foi incorporado em uma unidade administrativa." />
							<br />
							<br />
							<h:outputText
								value="Por exemplo: Macbook i5 8 RAM, 1TB, 13 polegadas, tela de retina." />
							<br />
							<div align="center">
								<p:button value="OK" icon="ui-icon-check"
									onclick="PF('dlg6').hide(); return false" style="width:100px" />
							</div>
						</p:dialog>

						<p:dialog header="Ajuda: Estado do Bem" widgetVar="dlg7"
							showEffect="explode" width="500" height="100" resizable="false"
							maximizable="false" position="center" hideEffect="explode">
							<h:graphicImage library="lavor" name="estadobem.png" height="30"
								width="30" style="float:left;" />
							<h:outputText
								value="É o Estado de Conservação dos bens patrimoniais permanentes." />
							<br />
							<h:outputText value="Por exemplo: Bom Estado" />
							<br />
							<div align="center">
								<p:button value="OK" icon="ui-icon-check"
									onclick="PF('dlg7').hide(); return false" style="width:100px" />
							</div>
						</p:dialog>
					</h:form>
				</div>
			</div>
		</div>
	</ui:define>
</ui:composition>