<!DOCTYPE html>
<ui:composition template="/WEB-INF/template.xhtml"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:p="http://primefaces.org/ui" xmlns:o="http://omnifaces.org/ui">

	<f:metadata>
		<o:viewParam name="codigoSeguradora" value="#{cadastroSeguradoraBean.seguradora}" />
		<f:viewAction action="#{cadastroSeguradoraBean.prepararCadastro}" />
	</f:metadata>

	<ui:define name="titulo">Cadastro de Seguradoras</ui:define>

	<ui:define name="content">
		<div class="ui-g ui-fluid">
			<div class="ui-g-12">
				<div class="card">

					<h1>
						<h:graphicImage library="lavor" name="seguradora.png" height="45"
							width="45" />
						(ATUALIZANDO) Cadastro de Seguradoras <a
							href="ConsultaSeguradoras.xhtml"> <h:graphicImage library="lavor"
								name="voltar.gif" height="35" width="80" style="float:right;" />
						</a>
					</h1>

					<h:form id="frm">
						<p:messages showDetail="false" showSummary="true"
							autoUpdate="true" />

						<p:panel header="Cadastro de Seguradoras">
							<p:panelGrid columns="2" styleClass="semBorda">
								<p:outputLabel value="Nome da Seguradora">
									<p:outputLabel value="*" style="font-size:11px; color:red;" />
									<h:graphicImage library="lavor" name="ajuda.png" height="15"
										width="15" style="float:right;" onclick="PF('dlg1').show();" />
								</p:outputLabel>
								<p:inputText size="100" required="true"
									value="#{cadastroSeguradoraBean.seguradora.descricaoSeguradora}"
									label="Nome da Seguradora" immediate="true" maxlength="100"
									placeholder="informe o nome da seguradora"
									title="Informe o nome da Seguradora." />

								<p:outputLabel />
								<p:outputLabel value=" * é campo de preenchimento obrigatório"
									style="font-size:11px; color:red;" />
								<p:commandButton value="Salvar"
									action="#{cadastroSeguradoraBean.editar}" icon="ui-icon-save"
									process="@form" update="@form" />
							</p:panelGrid>
						</p:panel>
					</h:form>
					<p:dialog header="Ajuda: Nome da Seguradora" widgetVar="dlg1"
						showEffect="explode" width="600" height="100" resizable="false"
						maximizable="false" position="center" hideEffect="explode">
						<h:outputText
							value="É a descrição do nome da Seguradora." />
						<br />
						<br />
						<h:outputText value="Por exemplo: Banco do Brasil" />
						<br />
						<div align="center">
							<p:button value="OK" icon="ui-icon-check"
								onclick="PF('dlg1').hide(); return false" style="width:100px"/>
						</div>
					</p:dialog>
				</div>
			</div>
		</div>
	</ui:define>
</ui:composition>