<!DOCTYPE html>
<ui:composition template="/WEB-INF/template.xhtml"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:p="http://primefaces.org/ui" xmlns:o="http://omnifaces.org/ui">

	<f:metadata>
		<o:viewParam name="codigoMarcaBem"
			value="#{cadastroMarcaBean.marcaBens}" />
		<f:viewAction action="#{cadastroMarcaBean.prepararCadastro}" />
	</f:metadata>

	<ui:define name="titulo">Cadastro de Marcas de Bens Patrimoniais</ui:define>

	<ui:define name="content">
		<div class="ui-g ui-fluid">
			<div class="ui-g-12">
				<div class="card">
					<h1>
						<h:graphicImage library="lavor" name="marcas.png" height="45"
							width="45" />
						(ATUALIZANDO) Cadastro de Marcas de Bens Patrimoniais <a
							href="ConsultaMarcasBens.xhtml"><h:graphicImage
								library="lavor" name="voltar.gif" height="35" width="80"
								style="float:right;" /> </a>
					</h1>

					<h:form id="frm">
						<p:messages showDetail="false" showSummary="true"
							autoUpdate="true" />

						<p:panel header="Cadastro de Marcas de Bens">
							<p:panelGrid columns="2" styleClass="semBorda">
								<p:outputLabel value="Nome da Marca">
									<p:outputLabel value="*" style="font-size:11px; color:red;" />
									<h:graphicImage library="lavor" name="ajuda.png" height="15"
										width="15" style="float:right;" onclick="PF('dlg1').show();" />
								</p:outputLabel>
								<p:inputText size="100" required="true"
									value="#{cadastroMarcaBean.marcaBens.descricaoMarcaBem}"
									label="Nome da Marca" immediate="true" maxlength="100"
									placeholder="informe o nome da marca"
									title="Informe o nome da Marca do Bem Patrimonial." />

								<p:outputLabel />
								<p:outputLabel value=" * é campo de preenchimento obrigatório"
									style="font-size:11px; color:red;" />
								<p:commandButton value="Salvar"
									action="#{cadastroMarcaBean.editar}" icon="ui-icon-save" style="width:100px" 
									process="@form" update="@form" />
							</p:panelGrid>
						</p:panel>
					</h:form>
					<p:dialog header="Ajuda: Nome da Marca" widgetVar="dlg1"
						showEffect="explode" width="600" height="90" resizable="false"
						maximizable="false" position="center" hideEffect="explode">
						<h:outputText
							value="É a descrição do nome da Marca dos bens patrimoniais permanentes." />
						<br />
						<br />
						<h:outputText value="Por exemplo: APPLE" />
						<br />
						<div align="center">
							<p:button value="OK" icon="ui-icon-check"
								onclick="PF('dlg1').hide(); return false" style="width:100px" />
						</div>
					</p:dialog>
				</div>
			</div>
		</div>
	</ui:define>
</ui:composition>