<!DOCTYPE html>
<ui:composition template="/WEB-INF/template.xhtml"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:pe="http://primefaces.org/ui/extensions"
	xmlns:o="http://omnifaces.org/ui">

	<f:metadata>
		<o:viewParam name="codigoApolice"
			value="#{cadastroApoliceBean.apolice}" />
		<f:viewAction action="#{cadastroApoliceBean.prepararCadastro}" />
	</f:metadata>

	<ui:define name="titulo">Cadastro de Apólices de Seguros</ui:define>

	<ui:define name="content">
		<div class="ui-g ui-fluid">
			<div class="ui-g-12">
				<div class="card">
					<h1>
						<h:graphicImage library="lavor" name="apolice.png" height="45"
							width="45" />
						(ATUALIZANDO) Cadastro de Apólices de Seguro de Bens Patrimoniais
						<a href="ConsultaApolices.xhtml"><h:graphicImage
								library="lavor" name="voltar.gif" height="35" width="80"
								style="float:right;" /></a>
					</h1>

					<h:form id="frm">

						<p:messages showDetail="false" showSummary="true"
							autoUpdate="true" />

						<p:panel header="Cadastro de Apólices de Seguros">
							<p:panelGrid columns="3" styleClass="semBorda">

								<p:outputLabel value="Bem Patrimonial" for="bemMovel"
									style="font-size:13px; color:red;font-weight:bold">
									<h:graphicImage library="lavor" name="ajuda.png" height="15"
										width="15" style="float:right;" onclick="PF('dlg1').show();" />
								</p:outputLabel>
								<p:selectOneMenu value="#{cadastroApoliceBean.apolice.bemMovel}"
									panelStyle="width:150px" var="f" required="true"
									label="Bem Patrimonial" id="bemMovel" filter="true"
									filterMatchMode="contains">
									<f:selectItem itemLabel="Selecione" noSelectionOption="true" />
									<f:selectItems value="#{cadastroApoliceBean.todosBensMoveis}"
										var="bemMovel" itemValue="#{bemMovel}"
										itemLabel="#{bemMovel.numeroPatrimonio} - #{bemMovel.descricao}" />
									<p:column>
										<p:graphicImage width="40" height="50"
											library="enviados/bensmoveis" name="#{f.fotoBemMovel}"
											rendered="#{not empty f.fotoBemMovel}" />
									</p:column>
									<p:column>
										<h:outputText value="#{f.numeroPatrimonio} - #{f.descricao}" />
									</p:column>
									<p:ajax listener="#{cadastroApoliceBean.prepararBens()}"
										update=":frm:bemMovel :frm:responsavel" process="@this" />
								</p:selectOneMenu>
								<p:outputLabel />

								<h:outputText value="Funcionário Responsável pela Guarda do Bem" />
								<h:outputText id="responsavel"
									style="font-size:12px; color:green;"
									value="#{cadastroApoliceBean.apolice.bemMovel.novoFuncionarioResponsavelPatrimonial.nomeFuncionario} / #{cadastroApoliceBean.apolice.bemMovel.novoFuncionarioResponsavelPatrimonial.cargo.descricaoCargo}" />
								<p:outputLabel />

								<p:outputLabel value="Seguradora" for="seguradora">
									<p:outputLabel value="*" style="font-size:11px; color:red;" />
									<h:graphicImage library="lavor" name="ajuda.png" height="15"
										width="15" style="float:right;" onclick="PF('dlg2').show();" />
								</p:outputLabel>
								<p:selectOneMenu
									value="#{cadastroApoliceBean.apolice.seguradora}"
									label="Seguradora" id="seguradora" filter="true"
									filterMatchMode="contains">
									<f:selectItem itemLabel="Selecione" noSelectionOption="true" />
									<f:selectItems value="#{cadastroApoliceBean.todasSeguradoras}"
										var="seguradora" itemValue="#{seguradora}"
										itemLabel="#{seguradora.descricaoSeguradora}" />
								</p:selectOneMenu>
								<p:outputLabel />

								<p:outputLabel value="Número da Apólice">
									<p:outputLabel value=" *" style="font-size:11px; color:red;" />
									<h:graphicImage library="lavor" name="ajuda.png" height="15"
										width="15" style="float:right;" onclick="PF('dlg3').show();" />
								</p:outputLabel>
								<p:inputText size="30" required="true"
									value="#{cadastroApoliceBean.apolice.numeroApolice}"
									label="Número da Apólice" immediate="true" maxlength="18"
									placeholder="informe o número da apólice do seguro do patrimônio"
									title="Informe o Número da Apólice do Seguro do Patrimônio." />
								<p:outputLabel />


								<p:outputLabel value="Data de Contratação">
									<p:outputLabel value=" *" style="font-size:11px; color:red;" />
									<h:graphicImage library="lavor" name="ajuda.png" height="15"
										width="15" style="float:right;" onclick="PF('dlg4').show();" />
								</p:outputLabel>
								<p:calendar id="datacontratacao" effect="fold" showOn="button"
									mask="true" required="true"
									value="#{cadastroApoliceBean.apolice.dataContratacao}"
									placeholder="informe a data de contratação da apólice de seguro do bem"
									title="Informe a Data de Contratação da Apólice de Seguro do Bem."
									pattern="dd/MM/yyyy" locale="pt" />
								<p:outputLabel />

								<p:outputLabel value="Anexo Apólice">
									<h:graphicImage library="lavor" name="ajuda.png" height="15"
										width="15" style="float:right;" onclick="PF('dlg5').show();" />
									<h:graphicImage id="ver" library="lavor" name="ver.png"
										height="20" width="20" style="float:right;"
										onclick="PF('dlgapolice').show();"
										title="Visualizar Apólice de Seguro" />
								</p:outputLabel>
								<p:outputLabel id="apolicepdf"
									value="#{cadastroApoliceBean.apolice.apolicePdf}">

								<p:fileUpload fileLimit="3"
									fileLimitMessage="Só é permitido enviar apenas uma apólice de seguro."
									label="Selecionar Apólice de Seguro PDF" sizeLimit="1000000"
									customUI="true" multiple="false"
									invalidSizeMessage="Tamanho inválido! Tamanho máximo permitido 1MB."
									fileUploadListener="#{cadastroApoliceBean.uploadPdf}"
									update=":frm:apolicepdf :frm:pdfviewapolice" mode="advanced"
									cancelLabel="Cancelar" uploadLabel="Enviar" auto="false"
									invalidFileMessage="Formato inválido!"
									allowTypes="/(\.|\/)(pdf)$/" />
								</p:outputLabel>
								<p:outputLabel />

								<p:outputLabel />
								<h:selectBooleanCheckbox id="notificacao"
									value="#{cadastroApoliceBean.apolice.notificarEmail}">
									<h:outputLabel
										style="font-weight:bold; font-size:11px; color:red;"
										value="Notificar por E-mail, o responsável pela guarda deste Bem?"
										for="notificacao" />
								</h:selectBooleanCheckbox>
								<p:outputLabel />

								<p:outputLabel />
								<p:outputLabel value=" * é campo de preenchimento obrigatório"
									style="font-size:11px; color:red;" />
								<p:outputLabel />
								<p:outputLabel />
								<p:commandButton value="Salvar"
									action="#{cadastroApoliceBean.editar}" icon="ui-icon-save"
									style="width:100px" process="@form" update="@form" />
							</p:panelGrid>
						</p:panel>

						<p:dialog header="Ajuda: Bem Patrimonial" widgetVar="dlg1"
							showEffect="explode" width="600" height="90" resizable="false"
							maximizable="false" position="center" hideEffect="explode">
							<h:outputText
								value="São todos bens patrimoniais ativos incorporados e não incorporados." />
							<br />
							<br />
							<h:outputText
								value="Dica: Pesquise pelo nome do bem ou número do tombamento/patrimônio" />
							<br />
							<div align="center">
								<p:button value="OK" icon="ui-icon-check"
									onclick="PF('dlg1').hide(); return false" style="width:100px" />
							</div>
						</p:dialog>

						<p:dialog header="Ajuda: Seguradora" widgetVar="dlg2"
							showEffect="explode" width="600" height="90" resizable="false"
							maximizable="false" position="center" hideEffect="explode">
							<h:outputText value="São todas seguradoras de apólices." />
							<br />
							<br />
							<h:outputText value="Por exemplo: Banco do Brasil" />
							<br />
							<div align="center">
								<p:button value="OK" icon="ui-icon-check"
									onclick="PF('dlg2').hide(); return false" style="width:100px" />
							</div>
						</p:dialog>

						<p:dialog header="Ajuda: Número da Apólice" widgetVar="dlg3"
							showEffect="explode" width="600" height="90" resizable="false"
							maximizable="false" position="center" hideEffect="explode">
							<h:outputText
								value="É número do contrato desta apólice de seguro." />
							<br />
							<br />
							<br />
							<div align="center">
								<p:button value="OK" icon="ui-icon-check"
									onclick="PF('dlg3').hide(); return false" style="width:100px" />
							</div>
						</p:dialog>

						<p:dialog header="Ajuda: Data de Contratação" widgetVar="dlg4"
							showEffect="explode" width="600" height="90" resizable="false"
							maximizable="false" position="center" hideEffect="explode">
							<h:outputText value="É data do contrato desta apólice de seguro." />
							<br />
							<br />
							<br />
							<div align="center">
								<p:button value="OK" icon="ui-icon-check"
									onclick="PF('dlg4').hide(); return false" style="width:100px" />
							</div>
						</p:dialog>

						<p:dialog header="Ajuda: Anexo Apólice" widgetVar="dlg5"
							showEffect="explode" width="600" height="90" resizable="false"
							maximizable="false" position="center" hideEffect="explode">
							<h:outputText
								value="É o arquivo em formato PDF, do contrato desta apólice de seguro." />
							<br />
							<br />
							<br />
							<div align="center">
								<p:button value="OK" icon="ui-icon-check"
									onclick="PF('dlg5').hide(); return false" style="width:100px" />
							</div>
						</p:dialog>

						<p:dialog header="Informação: Arquivo PDF-Apólice de Seguro"
							widgetVar="dlgapolice" showEffect="explode" width="600"
							height="500" resizable="false" maximizable="false"
							position="center" hideEffect="explode">
							<pe:documentViewer id="pdfviewapolice" width="550" height="450"
								url="http://localhost:8080/sigpat/resources/enviados/bensmoveis/apolices/#{cadastroApoliceBean.apolice.apolicePdf}" />
							<br />
							<div align="center">
								<p:button value="OK" icon="ui-icon-check"
									onclick="PF('dlgapolice').hide(); return false" />
							</div>
						</p:dialog>

					</h:form>
				</div>
			</div>
		</div>
	</ui:define>
</ui:composition>