<!DOCTYPE html>
<ui:composition template="/WEB-INF/template.xhtml"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:p="http://primefaces.org/ui" xmlns:o="http://omnifaces.org/ui">

	<f:metadata>
		<o:viewParam name="codigoGrupoBem"
			value="#{cadastroGrupoBean.grupoBens}" />
		<f:viewAction action="#{cadastroGrupoBean.prepararCadastro}" />
	</f:metadata>

	<ui:define name="titulo">Cadastro de Grupos de Bens Patrimoniais</ui:define>

	<ui:define name="content">
		<div class="ui-g ui-fluid">
			<div class="ui-g-12">
				<div class="card">
					<h1>
						<h:graphicImage library="lavor" name="grupobem.png" height="45"
							width="45" />
						(ATUALIZANDO) Cadastro de Grupos de Bens Patrimoniais <a
							href="ConsultaGruposBens.xhtml"><h:graphicImage
								library="lavor" name="voltar.gif" height="35" width="80"
								style="float:right;" /> </a>
					</h1>

					<h:form id="frm">
						<p:messages showDetail="false" showSummary="true"
							autoUpdate="true" />

						<p:panel header="Cadastro de Grupos de Bens">
							<p:panelGrid columns="2" styleClass="semBorda">
								<p:outputLabel value="Nome do Grupo">
									<p:outputLabel value="*" style="font-size:11px; color:red;" />
									<h:graphicImage library="lavor" name="ajuda.png" height="15"
										width="15" style="float:right;" onclick="PF('dlg1').show();" />
								</p:outputLabel>
								<p:inputText size="100" required="true"
									value="#{cadastroGrupoBean.grupoBens.descricaoGrupoBem}"
									label="Nome do Grupo" immediate="true" maxlength="100"
									placeholder="informe o nome do grupo"
									title="Informe o nome do Grupo do Bem Patrimonial." />

								<p:outputLabel value="Taxa Anual de Depreciação( % )">
									<p:outputLabel value="*" style="font-size:11px; color:red;" />
									<h:graphicImage library="lavor" name="ajuda.png" height="15"
										width="15" style="float:right;" onclick="PF('dlg2').show();" />
								</p:outputLabel>
								<p:inputMask size="12" required="true"
									value="#{cadastroGrupoBean.grupoBens.taxaDepreciacao}"
									label="Taxa Anual de Depreciação( % )" immediate="true"
									maxlength="12" placeholder="00" mask="9?9"
									title="Informe a Taxa(em %) de Depreciação deste Grupo de Bem Patrimonial.">
									<f:convertNumber pattern="#0" />
								</p:inputMask>

								<p:outputLabel value="Conta Contabil">
									<p:outputLabel value="*" style="font-size:11px; color:red;" />
									<h:graphicImage library="lavor" name="ajuda.png" height="15"
										width="15" style="float:right;" onclick="PF('dlg3').show();" />
								</p:outputLabel>
								<p:inputMask size="12" required="true"
									value="#{cadastroGrupoBean.grupoBens.contaContabil}"
									label="Conta Contabil" immediate="true" maxlength="11"
									placeholder="00000000000"
									title="Informe o código contábil do Grupo do Bem Patrimonial." />

								<p:outputLabel value="Prazo Vida Útil (Anos) Econômica">
									<p:outputLabel value="*" style="font-size:11px; color:red;" />
									<h:graphicImage library="lavor" name="ajuda.png" height="15"
										width="15" style="float:right;" onclick="PF('dlg4').show();" />
								</p:outputLabel>
								<p:inputMask size="12" required="true"
									value="#{cadastroGrupoBean.grupoBens.vidaUtil}"
									label="Vida Útil" immediate="true" maxlength="2"
									placeholder="00" mask="9?9"
									title="Informe o tempo de Vida útil deste Grupo de Bem Patrimonial.">
									<f:convertNumber pattern="#0" />
								</p:inputMask>

								<p:outputLabel value="Valor Residual ( % )">
									<p:outputLabel value="*" style="font-size:11px; color:red;" />
									<h:graphicImage library="lavor" name="ajuda.png" height="15"
										width="15" style="float:right;" onclick="PF('dlg5').show();" />
								</p:outputLabel>
								<p:inputMask size="12" required="true"
									value="#{cadastroGrupoBean.grupoBens.valorResidual}"
									label="Valor Residual" immediate="true" maxlength="12"
									placeholder="00" mask="9?9"
									title="Informe o valor residual deste Grupo de Bem Patrimonial.">
									<f:convertNumber pattern="#0" />
								</p:inputMask>

								<p:outputLabel />
								<p:outputLabel value=" * é campo de preenchimento obrigatório"
									style="font-size:11px; color:red;" />
								<p:commandButton value="Salvar"
									action="#{cadastroGrupoBean.editar}" icon="ui-icon-save" style="width:100px" 
									process="@form" update="@form" />
							</p:panelGrid>
						</p:panel>
					</h:form>
					<p:dialog header="Ajuda: Nome do Grupo" widgetVar="dlg1"
						showEffect="explode" width="600" height="90" resizable="false"
						maximizable="false" position="center" hideEffect="explode">
						<h:outputText
							value="É a descrição do nome do Grupo de bens patrimoniais permanentes." />
						<br />
						<br />
						<h:outputText value="Por exemplo: AERONAVES" />
						<br />
						<div align="center">
							<p:button value="OK" icon="ui-icon-check"
								onclick="PF('dlg1').hide(); return false" style="width:100px" />
						</div>
					</p:dialog>

					<p:dialog header="Ajuda: Taxa de Depreciação (Anual)"
						widgetVar="dlg2" showEffect="explode" width="600" height="150"
						resizable="false" maximizable="false" position="center"
						hideEffect="explode">
						<h:outputText
							value="A depreciação do ativo se inicia quando este está disponível para uso, ou seja,
				 quando está no local e em condição de funcionamento na forma pretendida pela administração, ou mais comumente, apartir da data de aquisição do bem." />
						<br />
						<br />
						<h:outputText
							value="A quota de depreciação a ser registrada na escrituração contábil da pessoa jurídica, como custo ou despesa operacional, 
				será determinada mediante aplicação da taxa de depreciação sobre o valor do bem em reais." />
						<br />
						<div align="center">
							<p:button value="OK" icon="ui-icon-check"
								onclick="PF('dlg2').hide(); return false" style="width:100px" />
						</div>
					</p:dialog>

					<p:dialog header="Ajuda: Conta Contabil" widgetVar="dlg3"
						showEffect="explode" width="600" height="100" resizable="false"
						maximizable="false" position="center" hideEffect="explode">
						<h:outputText
							value="Em contabilidade, é chamado de elemento despesa, usado para informa o tipo despesa que o grupo patrimonial pertence." />
						<br />
						<br />
						<h:outputText
							value="Por exemplo: 14212010000 que referente ao Grupo AERONAVES" />
						<br />
						<div align="center">
							<p:button value="OK" icon="ui-icon-check"
								onclick="PF('dlg3').hide(); return false" style="width:100px" />
						</div>
					</p:dialog>

					<p:dialog header="Ajuda: Vida Útil Econômica" widgetVar="dlg4"
						showEffect="explode" width="600" height="450" resizable="false"
						maximizable="false" position="center" hideEffect="explode">
						<h:outputText
							value="A vida útil refere-se à expectativa do prazo de geração de benefícios econômicos para a entidade que detém 
			o controle, riscos e benefícios do ativo e a vida útil econômica, à expectativa em relação a todo fluxo esperado de benefícios 
			econômicos a ser gerado ao longo da vida econômica do ativo, independente do número de entidades que venham a utilizá-lo." />
						<br />
						<br />
						<h:outputText
							value="Quando é utilizada a vida útil econômica pode existir ativo com valor contábil substancialmente depreciado,
			 ou mesmo igual a zero, e que continua em operação e gerando benefícios econômicos para a entidade. " />
						<br />
						<br />
						<h:outputText
							value="Assim sendo, para definir o valor a ser considerado como sendo a vida útil do ativo, deve-se avaliar: " />
						<br />
						<h:outputText
							value="- O uso esperado do ativo avaliado pela capacidade esperada ou por unidades produzidas;" />
						<br />
						<h:outputText
							value="- Como o ativo será usado (se terá manutenções, quantidade de turnos que será utilizada, etc);" />
						<br />
						<h:outputText
							value="- Obsolescências técnicas decorrentes de mudanças na produção ou do mercado do produto. " />
						<br />
						<br />
						<h:outputText
							value="Por exemplo: Uma máquina com vida útil estipulada em 5 anos que é adquirida por R$ 60.000.00, aplicada 
			uma taxa de depreciação de 20% a.a. Se a empresa vende este ativo imobilizado no seu quarto ano de utilização,
			seu valor residual é de R$ 12.000,00 e valor depreciado será de R$ 48.000,00. Um valor residual de 20% significa 
			que apenas os 80% serão depreciados." />
						<br />
						<div align="center">
							<p:button value="OK" icon="ui-icon-check"
								onclick="PF('dlg4').hide(); return false" style="width:100px"  />
						</div>
					</p:dialog>

					<p:dialog header="Ajuda: Valor Residual" widgetVar="dlg5"
						showEffect="explode" width="600" height="210" resizable="false"
						maximizable="false" position="center" hideEffect="explode">
						<h:outputText
							value="Em contabilidade, o valor residual é um termo usado para definir o valor de um ativo que sofre depreciação, ao final de sua vida útil. Por exemplo, assumindo que a vida útil de uma máquina
			seja de 10 anos, então seu valor residual é o valor esperado desta máquina ao ser vendida depois de passados 10 anos." />
						<br />
						<br />
						<h:outputText
							value="Por exemplo: Uma máquina com vida útil estipulada em 5 anos que é adquirida por R$ 60.000.00, aplicada 
			uma taxa de depreciação de 20% a.a. Se a empresa vende este ativo imobilizado no seu quarto ano de utilização,
			seu valor residual é de R$ 12.000,00 e valor depreciado será de R$ 48.000,00. Um valor residual de 20% significa 
			que apenas os 80% serão depreciados." />
						<br />
						<div align="center">
							<p:button value="OK" icon="ui-icon-check"
								onclick="PF('dlg5').hide(); return false" style="width:100px" />
						</div>
					</p:dialog>
				</div>
			</div>
		</div>
	</ui:define>
</ui:composition>