<!DOCTYPE html>
<ui:composition template="/WEB-INF/template.xhtml"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">

	<f:metadata>
		<f:viewAction action="#{consultaGruposBensBean.consultar}" />
	</f:metadata>

	<ui:define name="titulo">Consulta de Grupos de Bens Patrimoniais</ui:define>

	<ui:define name="content">
		<div class="ui-g ui-fluid">
			<div class="ui-g-12">
				<div class="card">
					<h1>
						<h:graphicImage library="lavor" name="grupobem.png" height="45"
							width="45" />
						Consulta de Grupos de Bens Patrimoniais <a
							href="../../dashboard.xhtml"><h:graphicImage library="lavor"
								name="voltar.gif" height="35" width="80" style="float:right;" />
						</a>
					</h1>

					<h:form id="frm">
						<p:messages showDetail="false" showSummary="true"
							autoUpdate="true" />

						<p:dataTable value="#{consultaGruposBensBean.gruposBens}"
							expandableRowGroups="true" reflow="true" selectionMode="single"
							selection="#{consultaGruposBensBean.grupoBensSelecionado}"
							rowKey="#{grupoBem.codigoGrupoBem}"
							var="grupoBem" border="1" cellspacing="0" cellpadding="2"
							paginator="true" rows="8" rowsPerPageTemplate="8,25,50,100"
							paginatorPosition="bottom" id="tabela"
							emptyMessage="Não foi localizado o registro solicitado."
							paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
							currentPageReportTemplate="Total de {totalRecords} registros localizados - Página: {currentPage} de {totalPages}">

							<f:facet name="header">
       				 Lista de Grupos de Bens
					<div align="right">
									<p:commandButton id="toggler" type="button"
										value="Ajuste Colunas" icon="ui-icon-calculator" />
								</div>
								<p:columnToggler datasource="tabela" trigger="toggler" />
							</f:facet>

							<f:facet name="footer">
								<div align="right">
									Exportar
									<h:commandLink>
										<h:graphicImage library="lavor" name="pdf.png" width="20"
											title="Exportar para PDF" />
										<p:dataExporter type="pdf" target="tabela"
											fileName="gruposbens" />
									</h:commandLink>

									<h:commandLink>
										<h:graphicImage library="lavor" name="xls.png" width="20"
											title="Exportar para XLS" />
										<p:dataExporter type="xls" target="tabela"
											fileName="gruposbens" />
									</h:commandLink>

									<h:commandLink>
										<h:graphicImage library="lavor" name="xml.png" width="20"
											title="Exportar para XML" />
										<p:dataExporter type="xml" target="tabela"
											fileName="gruposbens" />
									</h:commandLink>
								</div>
							</f:facet>

							<p:column headerText="Nome do Grupo" style="width:40%"
								sortBy="#{grupoBem.descricaoGrupoBem}"
								filterBy="#{grupoBem.descricaoGrupoBem}"
								filterMatchMode="contains" id="campogrupo1">
								<h:outputText value="#{grupoBem.descricaoGrupoBem}" />
							</p:column>

							<p:column headerText="Conta Contábil"
								style="width:115px;text-align: center"
								sortBy="#{grupoBem.contaContabil}"
								filterBy="#{grupoBem.contaContabil}" filterMatchMode="contains"
								id="campogrupo2">
								<h:outputText value="#{grupoBem.contaContabil}" />
							</p:column>

							<p:column headerText="Taxa Anual de Depreciação  ( % )"
								id="campogrupo3" style="width:60px;text-align: center">
								<h:outputText value="#{grupoBem.taxaDepreciacao}">
									<f:convertNumber pattern="#0" />
								</h:outputText>
							</p:column>

							<p:column headerText=" Prazo Vida Útil (Anos)" id="campogrupo4"
								style="width:60px;text-align: center">
								<h:outputText value="#{grupoBem.vidaUtil}" />
							</p:column>

							<p:column headerText="Valor Residual (%)" id="campogrupo5"
								style="width:60px;text-align: center">
								<h:outputText value="#{grupoBem.valorResidual}">
									<f:convertNumber pattern="#0" />
								</h:outputText>
							</p:column>

							<p:column headerText="Ação" style="width:90px" exportable="false">
								<div align="center">
									<p:column style="width:20px">
										<p:commandButton update=":frm:grupoBemDetalhes"  styleClass="blue-grey-btn"
											oncomplete="PF('dlgver').show()" icon="ui-icon-search"
											title="Ver">
											<f:setPropertyActionListener value="#{grupoBem}"
												target="#{consultaGruposBensBean.grupoBensSelecionado}" />
										</p:commandButton>
									</p:column>
									<p:column style="width:20px">
										<p:button icon="ui-icon-pencil" title="Alterar"
										    rendered="#{seguranca.autoridades=='[ROLE_ADMINISTRADORES]'}"
											outcome="/paginas/GrupoBem/CadastroGrupoBensEdit">
											<f:param name="codigoGrupoBem"
												value="#{grupoBem.codigoGrupoBem}" />
										</p:button>
									</p:column>
									<p:column style="width:20px">
										<p:commandButton icon="ui-icon-trash" title="Excluir"  styleClass="red-btn"
										    rendered="#{seguranca.autoridades=='[ROLE_ADMINISTRADORES]'}"
											process="@this" update="@form"
											action="#{consultaGruposBensBean.excluir}">
											<p:confirm header="Excluindo..."
												message="Tem certeza que deseja excluir este Registro?"
												icon="ui-icon-alert" />
											<f:setPropertyActionListener value="#{grupoBem}"
												target="#{consultaGruposBensBean.grupoBensSelecionado}" />
										</p:commandButton>
									</p:column>
								</div>
							</p:column>
						</p:dataTable>
						<p:dialog header="Detalhes: Grupo de Bem" widgetVar="dlgver"
							modal="true" showEffect="fade" hideEffect="fade"
							resizable="false">
							<p:outputPanel id="grupoBemDetalhes" style="text-align:center;">
								<p:panelGrid columns="2"
									rendered="#{not empty consultaGruposBensBean.grupoBensSelecionado}"
									columnClasses="label,value">

									<h:outputText value="Código Interno" style="font-weight:bold" />
									<h:outputText
										value="#{consultaGruposBensBean.grupoBensSelecionado.codigoGrupoBem}"
										style="font-weight:bold" />

									<h:outputText value="Nome do Grupo do Bem"
										style="font-weight:bold" />
									<h:outputText
										value="#{consultaGruposBensBean.grupoBensSelecionado.descricaoGrupoBem}"
										style="font-weight:bold" />

									<h:outputText value="Conta Contábil" />
									<h:outputText
										value="#{consultaGruposBensBean.grupoBensSelecionado.contaContabil}" />

									<h:outputText value="Taxa Anual de Depreciação ( % )" />
									<h:outputText
										value="#{consultaGruposBensBean.grupoBensSelecionado.taxaDepreciacao}">
										<f:convertNumber pattern="#0" />
									</h:outputText>

									<h:outputText value="Prazo Vida Útil (Anos)" />
									<h:outputText
										value="#{consultaGruposBensBean.grupoBensSelecionado.vidaUtil}" />

									<h:outputText value="Valor Residual ( % )" />
									<h:outputText
										value="#{consultaGruposBensBean.grupoBensSelecionado.valorResidual}">
										<f:convertNumber pattern="#0" />
									</h:outputText>
								</p:panelGrid>
							</p:outputPanel>
							<br />
							<div align="center">
								<p:button value="OK" icon="ui-icon-check"
									onclick="PF('dlgver').hide(); return false" style="width:100px"  />
							</div>
						</p:dialog>
					</h:form>
				</div>
			</div>
		</div>
	</ui:define>
</ui:composition>