<!DOCTYPE html>
<ui:composition template="/WEB-INF/template.xhtml"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:p="http://primefaces.org/ui" xmlns:o="http://omnifaces.org/ui">

	<f:metadata>
		<o:viewParam name="codigoTipoTransferencia"
			value="#{cadastroTipoTransferenciaBean.tipoTransferencia}" />
		<f:viewAction
			action="#{cadastroTipoTransferenciaBean.prepararCadastro}" />
	</f:metadata>

	<ui:define name="titulo">Cadastro de Tipos de Transferências de Bens</ui:define>

	<ui:define name="content">
		<div class="ui-g ui-fluid">
			<div class="ui-g-12">
				<div class="card">
					<h1>
						<h:graphicImage library="lavor" name="tipomovimento.png"
							height="45" width="45" />
						Cadastro de Tipos de Transferências de Bens <a
							href="../../dashboard.xhtml"><h:graphicImage library="lavor"
								name="voltar.gif" height="35" width="80" style="float:right;" />
						</a>
					</h1>

					<h:form id="frm">
						<p:messages showDetail="false" showSummary="true"
							autoUpdate="true" />

						<p:panel header="Cadastro de Tipos de Tranferências de Bens">
							<p:panelGrid columns="2" styleClass="semBorda">
								<p:outputLabel value="Nome do Tipo de Transferência do Bem">
									<p:outputLabel value="*" style="font-size:11px; color:red;" />
									<h:graphicImage library="lavor" name="ajuda.png" height="15"
										width="15" style="float:right;" onclick="PF('dlg1').show();" />
								</p:outputLabel>
								<p:inputText size="100" required="true"
									value="#{cadastroTipoTransferenciaBean.tipoTransferencia.descricaoTipoTransferencia}"
									label="Nome do Tipo de Transferência do Bem" immediate="true"
									maxlength="100"
									placeholder="informe o nome do tipo de movimento do bem"
									title="Informe o nome do Tipo de Transferência do Bem." />

								<p:outputLabel />
								<p:outputLabel value=" * é campo de preenchimento obrigatório"
									style="font-size:11px; color:red;" />
								<p:commandButton value="Salvar"
									action="#{cadastroTipoTransferenciaBean.salvar}"
									icon="ui-icon-save" process="@form" update="@form" style="width:100px"/>
							</p:panelGrid>
						</p:panel>
					</h:form>
					<p:dialog header="Ajuda: Nome do Tipo de Transferência do Bem"
						widgetVar="dlg1" showEffect="explode" width="600" height="90"
						resizable="false" maximizable="false" position="center"
						hideEffect="explode">
						<h:outputText
							value="É a descrição do nome Tipo de Movimento/transferência do Bem patrimonial." />
						<br />
						<br />
						<h:outputText value="Por exemplo: Transferência Interna" />
						<br />
						<div align="center">
							<p:button value="OK" icon="ui-icon-check"
								onclick="PF('dlg1').hide(); return false" style="width:100px"/>
						</div>
					</p:dialog>
				</div>
			</div>
		</div>
	</ui:define>
</ui:composition>