<!DOCTYPE html>
<ui:composition template="/WEB-INF/template.xhtml"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:p="http://primefaces.org/ui" xmlns:o="http://omnifaces.org/ui"
	xmlns:pe="http://primefaces.org/ui/extensions">

	<f:metadata>
		<o:viewParam name="codigoBaixa" value="#{cadastroBaixaBean.baixa}" />
		<f:viewAction action="#{cadastroBaixaBean.prepararCadastro}" />
	</f:metadata>

	<ui:define name="titulo">Baixa de Bem Patrimonial</ui:define>

	<ui:define name="content">
		<div class="ui-g">
			<div class="ui-g-12">
				<div class="card">
					<h1>
						<h:graphicImage library="lavor" name="baixa.png" height="45"
							width="45" />
						(ATUALIZANDO) Baixa de Bem Patrimonial <a href="ConsultaBaixas.xhtml"><h:graphicImage
								library="lavor" name="voltar.gif" height="35" width="80"
								style="float:right;" /> </a>
					</h1>

					<h:form id="frm" enctype="multipart/form-data">

						<script> 
          			function bloquear(){
                	document.getElementById('frm:numero').disabled=true; 
                	document.getElementById('frm:numeroProcesso').disabled=true; 
                	
            			}

          			function desbloquear(){
                    	document.getElementById('frm:numero').disabled=false;
                    	document.getElementById('frm:numeroProcesso').disabled=false; 
                			}

       			 </script>


						<p:messages showDetail="false" showSummary="true"
							autoUpdate="true" />

						<p:tabView>

							<p:tab>
								<f:facet name="title">
									<h:outputText value="Dados da Baixa" />
									<h:graphicImage library="lavor" name="cadastro.png" height="30"
										width="30" style="float:left;" />
								</f:facet>

									<p:panelGrid columns="3" styleClass="semBorda">

										<p:outputLabel value="Número do Termo de Baixa">
											<p:outputLabel value=" *" style="font-size:11px; color:red;" />
											<h:graphicImage library="lavor" name="ajuda.png" height="15"
												width="15" style="float:right;" onclick="PF('dlg1').show();" />
										</p:outputLabel>
										<p:inputTextarea required="true" id="numero" disabled="true"
											title="Informe o Número do Termo de Baixa do Bem Móvel."
											style="font-weight:bold; font-size:20px"
											placeholder="número do termo"
											value="#{cadastroBaixaBean.baixa.numeroTermoBaixa}"
											label="Número do termo" immediate="true" maxlength="20"
											completeMethod="#{cadastroBaixaBean.pesquisarNumeroTermoBaixa}"
											minQueryLength="3" autoResize="true|false" rows="1" cols="30">
										</p:inputTextarea>
										<p:outputLabel />

										<p:outputLabel value="Data da Baixa">
											<p:outputLabel value=" *" style="font-size:11px; color:red;" />
											<h:graphicImage library="lavor" name="ajuda.png" height="15"
												width="15" style="float:right;" onclick="PF('dlg2').show();" />
										</p:outputLabel>
										<p:calendar id="databaixa" effect="fold" immediate="true"
											widgetVar="widgetVardatabaixa" disabledWeekends="true"
											required="#{empty cadastroBaixaBean.baixa.dataBaixa}"
											disabled="true" showOn="button" mask="true"
											value="#{cadastroBaixaBean.baixa.dataBaixa}"
											placeholder="__/__/____" title="Informe a Data da Baixa"
											pattern="dd/MM/yyyy" locale="pt" />
										<p:outputLabel />

										<p:outputLabel value="Motivo da Baixa" for="motivoBaixa">
											<h:graphicImage library="lavor" name="ajuda.png" height="15"
												width="15" style="float:right;" onclick="PF('dlg3').show();" />
										</p:outputLabel>
										<p:selectOneMenu
											required="#{empty cadastroBaixaBean.baixa.motivoBaixa}"
											disabled="true"
											value="#{cadastroBaixaBean.baixa.motivoBaixa}"
											label="Motivo da Baixa" id="motivoBaixa" filter="false"
											widgetVar="selectOneMenuWidgetMotivo"
											filterMatchMode="contains">
											<f:selectItem itemLabel="Selecione" noSelectionOption="true" />
											<f:selectItems value="#{cadastroBaixaBean.todosMotivosBaixa}"
												var="motivoBaixa" itemValue="#{motivoBaixa}"
												itemLabel="#{motivoBaixa.descricaoMotivoBaixa}" />
										</p:selectOneMenu>
										<p:outputLabel />

										<p:outputLabel value="Bem Patrimonial" for="bemMovel"
											style="font-size:13px; color:red;font-weight:bold">
											<h:graphicImage library="lavor" name="ajuda.png" height="15"
												width="15" style="float:right;" onclick="PF('dlg4').show();" />
										</p:outputLabel>
										<p:selectOneMenu disabled="true"
											value="#{cadastroBaixaBean.baixa.bemMovelBaixado}"
											panelStyle="width:150px" var="f" required="true"
											label="Bem Patrimonial" id="bemMovel" filter="true"
											filterMatchMode="contains">
											<f:selectItem itemLabel="Selecione" noSelectionOption="true" />
											<f:selectItems value="#{cadastroBaixaBean.todosBensMoveis}"
												var="bemMovel" itemValue="#{bemMovel}"
												itemLabel="#{bemMovel.numeroPatrimonio} - #{bemMovel.descricao}" />
											<p:column>
												<p:graphicImage width="40" height="50"
													library="enviados/bensmoveis" name="#{f.fotoBemMovel}"
													rendered="#{not empty f.fotoBemMovel}" />
											</p:column>
											<p:column>
												<h:outputText value="#{f.numeroPatrimonio} - #{f.descricao}" />
											</p:column>
										</p:selectOneMenu>
										<p:outputLabel />

										<p:outputLabel value="Valor de Baixa do Bem">
											<p:outputLabel value=" *" style="font-size:11px; color:red;" />
											<h:graphicImage library="lavor" name="ajuda.png" height="15"
												width="15" style="float:right;" onclick="PF('dlg5').show();" />
										</p:outputLabel>
										<p:inputNumber value="#{cadastroBaixaBean.baixa.valorBaixa}"
											disabled="true" required="true" symbol="R$ "
											symbolPosition="p" decimalSeparator="," thousandSeparator="."
											immediate="true" label="Valor de Baixa do Bem" maxlength="12"
											title="Informe o valor de baixa do de Bem Patrimonial.">
										</p:inputNumber>
										<p:outputLabel />

										<p:outputLabel value="Número do Processo">
											<h:graphicImage library="lavor" name="ajuda.png" height="15"
												width="15" style="float:right;" onclick="PF('dlg6').show();" />
										</p:outputLabel>
										<p:inputText size="20" id="numeroProcesso" disabled="true"
											value="#{cadastroBaixaBean.baixa.numeroProcesso}"
											label="Número do Processo" immediate="true" maxlength="30"
											placeholder="informe o número"
											title="Informe o Número do Proceso de Baixa do Bem Móvel." />
										<p:outputLabel />

										<p:outputLabel value="Anexo Processo">
											<h:graphicImage library="lavor" name="ajuda.png" height="15"
												width="15" style="float:right;" onclick="PF('dlg7').show();" />
											<h:graphicImage id="ver" library="lavor" name="ver.png"
												height="20" width="20" style="float:right;"
												onclick="PF('dlgprocesso').show();"
												title="Visualizar Processo de Baixa do Bem" />
										</p:outputLabel>
										<p:outputLabel id="processopdf"
											value="#{cadastroBaixaBean.baixa.processoPdf}">
										</p:outputLabel>
										<p:outputLabel />


										<p:outputLabel value="Observação" />
										<p:editor size="700" required="false" width="600" height="120"
											disabled="true" value="#{cadastroBaixaBean.baixa.observacao}"
											label="Observação" immediate="true"
											title="Informe a observação da baixa do Bem Patrimonial." />

										<p:outputLabel />
										<p:outputLabel value=" * é campo de preenchimento obrigatório"
											style="font-size:11px; color:red;" />
										<p:outputLabel />

									</p:panelGrid>
							</p:tab>

							<p:tab>
								<f:facet name="title">
									<h:outputText value="Foto(s) do Bem Patrimonial (OPCIONAL)" />
									<h:graphicImage library="lavor" name="foto1.png" height="23"
										width="23" style="float:left;" />
								</f:facet>

									<div class="card card-w-title">
										<p:panelGrid columns="3" styleClass="semBorda">
											<p:lightBox styleClass="imagebox" id="lighbox">
												<h:outputLink
													value="http://localhost:8080/sigpat/resources/enviados/bensmoveisbaixados/#{cadastroBaixaBean.baixa.foto1}"
													title="Foto 1">
													<p:graphicImage library="enviados/bensmoveisbaixados"
														name="#{cadastroBaixaBean.baixa.foto1}"
														rendered="#{not empty cadastroBaixaBean.baixa.foto1}"
														style="height: 77px; width: auto; margin-right: 10px;" />
												</h:outputLink>

												<h:outputLink
													value="http://localhost:8080/sigpat/resources/enviados/bensmoveisbaixados/#{cadastroBaixaBean.baixa.foto2}"
													title="Foto 2">
													<p:graphicImage library="enviados/bensmoveisbaixados"
														name="#{cadastroBaixaBean.baixa.foto2}"
														rendered="#{not empty cadastroBaixaBean.baixa.foto2}"
														style="height: 77px; width: auto; margin-right: 10px;" />
												</h:outputLink>

												<h:outputLink
													value="http://localhost:8080/sigpat/resources/enviados/bensmoveisbaixados/#{cadastroBaixaBean.baixa.foto3}"
													title="Foto 3">
													<p:graphicImage library="enviados/bensmoveisbaixados"
														name="#{cadastroBaixaBean.baixa.foto3}"
														rendered="#{not empty cadastroBaixaBean.baixa.foto3}"
														style="height: 77px; width: auto; margin-right: 10px;" />
												</h:outputLink>
											</p:lightBox>
										</p:panelGrid>
									</div>
							</p:tab>
						</p:tabView>

						<p:dialog header="Ajuda: Número do Termo de Baixa"
							widgetVar="dlg1" showEffect="explode" width="500" height="100"
							resizable="false" maximizable="false" position="center"
							hideEffect="explode">
							<h:outputText
								value="É o número do termo de baixa patrimonial, a qual esta associado há um ou mais bens." />
							<br />
							<br />
							<br />
							<div align="center">
								<p:button value="OK" icon="ui-icon-check"
									onclick="PF('dlg1').hide(); return false" style="width:100px" />
							</div>
						</p:dialog>

						<p:dialog header="Ajuda: Data da Baixa" widgetVar="dlg2"
							showEffect="explode" width="500" height="100" resizable="false"
							maximizable="false" position="center" hideEffect="explode">
							<h:outputText
								value="É a data que o Termo de Baixa foi gerado/assinado para encaminhamento/entrega do bem ao setor patrimonial." />
							<br />
							<br />
							<br />
							<div align="center">
								<p:button value="OK" icon="ui-icon-check"
									onclick="PF('dlg2').hide(); return false" style="width:100px" />
							</div>
						</p:dialog>

						<p:dialog header="Ajuda: Motivo da Baixa" widgetVar="dlg3"
							showEffect="explode" width="600" height="120" resizable="false"
							maximizable="false" position="center" hideEffect="explode">
							<h:outputText
								value="É o motivo da baixa/alienação de bens patrimoniais, pela qual o bem está sendo retirado da unidade." />
							<br />
							<br />
							<h:outputText value="Por exemplo: Inservível" />
							<br />
							<div align="center">
								<p:button value="OK" icon="ui-icon-check"
									onclick="PF('dlg3').hide(); return false" style="width:100px" />
							</div>
						</p:dialog>

						<p:dialog header="Ajuda: Bem Patrimonial" widgetVar="dlg4"
							showEffect="explode" width="500" height="100" resizable="false"
							maximizable="false" position="center" hideEffect="explode">
							<h:graphicImage library="lavor" name="bem.png" height="30"
								width="30" style="float:left;" />
							<h:outputText
								value="É o bem patrimonial, que será retirado da unidade administrativa." />
							<br />
							<br />
							<h:outputText
								value="Por exemplo: Macbook i5 8 RAM, 1TB, 13 polegadas, tela de retina." />
							<br />
							<div align="center">
								<p:button value="OK" icon="ui-icon-check"
									onclick="PF('dlg4').hide(); return false" style="width:100px" />
							</div>
						</p:dialog>

						<p:dialog header="Ajuda: Valor de Baixa do Bem" widgetVar="dlg5"
							showEffect="explode" width="500" height="80" resizable="false"
							maximizable="false" position="center" hideEffect="explode">
							<h:outputText
								value="É o valor em reais (R$) avaliado no ato da baixa do bem." />
							<br />
							<br />
							<div align="center">
								<p:button value="OK" icon="ui-icon-check"
									onclick="PF('dlg5').hide(); return false" />
							</div>
						</p:dialog>

						<p:dialog header="Ajuda: Número do Processo" widgetVar="dlg6"
							showEffect="explode" width="550" height="100" resizable="false"
							maximizable="false" position="center" hideEffect="explode">
							<h:outputText
								value="É o número do processo referente a baixa do bem patrimonial." />
							<br />
							<br />
							<div align="center">
								<p:button value="OK" icon="ui-icon-check"
									onclick="PF('dlg6').hide(); return false" />
							</div>
						</p:dialog>

						<p:dialog header="Ajuda: Anexo Processo" widgetVar="dlg7"
							showEffect="explode" width="600" height="90" resizable="false"
							maximizable="false" position="center" hideEffect="explode">
							<h:outputText
								value="É o arquivo em formato PDF, do processo de baixa deste termo." />
							<br />
							<br />
							<br />
							<div align="center">
								<p:button value="OK" icon="ui-icon-check"
									onclick="PF('dlg7').hide(); return false" style="width:100px" />
							</div>
						</p:dialog>

						<p:dialog header="Informação: Arquivo PDF-Processo Baixa de Bem"
							widgetVar="dlgprocesso" showEffect="explode" width="600"
							height="500" resizable="false" maximizable="false"
							position="center" hideEffect="explode">
							<pe:documentViewer id="pdfviewprocesso" width="550" height="450"
								url="http://localhost:8080/sigpat/resources/enviados/bensmoveisbaixados/processos/#{cadastroBaixaBean.baixa.processoPdf}" />
							<br />
							<div align="center">
								<p:button value="OK" icon="ui-icon-check"
									onclick="PF('dlgprocesso').hide(); return false" />
							</div>
						</p:dialog>

					</h:form>
				</div>
			</div>
		</div>
	</ui:define>
</ui:composition>