<!DOCTYPE html>
<ui:composition template="/WEB-INF/template.xhtml"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:p="http://primefaces.org/ui" xmlns:o="http://omnifaces.org/ui">

	<f:metadata>
		<o:viewParam name="codigoFuncionario"
			value="#{cadastroFuncionarioBean.funcionario}" />
		<f:viewAction action="#{cadastroFuncionarioBean.prepararCadastro}" />
	</f:metadata>

	<ui:define name="titulo">Cadastro de Funcionários</ui:define>

	<ui:define name="content">
		<div class="ui-g ui-fluid">
			<div class="ui-g-12">
				<div class="card">
					<h1>
						<h:graphicImage library="lavor" name="funcionarios.png"
							height="45" width="45" />
						Cadastro de Funcionários <a href="../../dashboard.xhtml"><h:graphicImage
								library="lavor" name="voltar.gif" height="35" width="80"
								style="float:right;" /> </a>
					</h1>

					<h:form id="frm">
						<p:messages showDetail="false" showSummary="true"
							autoUpdate="true" />
						<script>
				function setarFocoMatricula() {
					document.getElementById("frm:matricula").focus();
				}

				function setarFocoNomeUA() {
					document.getElementById("frm2:nomeunidadeadministrativa")
							.focus();
				}

				function checarJS() {
					var valorx = document.getElementById('frm:cep').valueOf();
					pesquisacep(valorx);
				}

				function limpa_formulário_cep() {
					//Limpa valores do formulário de cep.
					document.getElementById('frm:rua').value = ("");
					document.getElementById('frm:bairro').value = ("");
					document.getElementById('frm:municipio').value = ("");
					document.getElementById('frm:uf').value = ("");
					// document.getElementById('frm:ibge').value=("");
				}

				function meu_callback(conteudo) {
					if (!("erro" in conteudo)) {
						//Atualiza os campos com os valores.
						document.getElementById('frm:rua').value = (conteudo.logradouro);
						document.getElementById('frm:bairro').value = (conteudo.bairro);
						document.getElementById('frm:municipio').value = (conteudo.localidade);
						document.getElementById('frm:uf').value = (conteudo.uf);
						//document.getElementById('frm:ibge').value=(conteudo.ibge);
					} //end if.
					else {
						//CEP não Encontrado.
						limpa_formulário_cep();
						alert("CEP não encontrado.");
					}
				}

				function pesquisacep(valor) {
					//Nova variável "cep" somente com dígitos.
					var cep = valor.replace(/\D/g, '');

					//Verifica se campo cep possui valor informado.
					if (cep != "") {

						//Expressão regular para validar o CEP.
						var validacep = /^[0-9]{8}$/;

						//Valida o formato do CEP.
						if (validacep.test(cep)) {

							//Cria um elemento javascript.
							var script = document.createElement('script');

							//Sincroniza com o callback.
							script.src = '//viacep.com.br/ws/' + cep
									+ '/json/?callback=meu_callback';

							//Insere script no documento e carrega o conteúdo.
							document.body.appendChild(script);

						} //end if.
						else {
							//cep é inválido.
							limpa_formulário_cep();
							alert("Formato de CEP inválido.");
						}
					} //end if.
					else {
						//cep sem valor, limpa formulário.
						limpa_formulário_cep();
					}
				};

				function limpa_formulário_cep1() {
					//Limpa valores do formulário de cep.
					document.getElementById('frm2:rua').value = ("");
					document.getElementById('frm2:bairro').value = ("");
					document.getElementById('frm2:municipio').value = ("");
					document.getElementById('frm2:uf').value = ("");
					// document.getElementById('frm:ibge').value=("");
				}

				function meu_callback1(conteudo) {
					if (!("erro" in conteudo)) {
						//Atualiza os campos com os valores.
						document.getElementById('frm2:rua').value = (conteudo.logradouro);
						document.getElementById('frm2:bairro').value = (conteudo.bairro);
						document.getElementById('frm2:municipio').value = (conteudo.localidade);
						document.getElementById('frm2:uf').value = (conteudo.uf);
						//document.getElementById('frm:ibge').value=(conteudo.ibge);
					} //end if.
					else {
						//CEP não Encontrado.
						limpa_formulário_cep1();
						alert("CEP não encontrado.");
					}
				}

				function pesquisacep1(valor) {
					//Nova variável "cep" somente com dígitos.
					var cep = valor.replace(/\D/g, '');

					//Verifica se campo cep possui valor informado.
					if (cep != "") {

						//Expressão regular para validar o CEP.
						var validacep = /^[0-9]{8}$/;

						//Valida o formato do CEP.
						if (validacep.test(cep)) {

							//Cria um elemento javascript.
							var script = document.createElement('script');

							//Sincroniza com o callback.
							script.src = '//viacep.com.br/ws/' + cep
									+ '/json/?callback=meu_callback1';

							//Insere script no documento e carrega o conteúdo.
							document.body.appendChild(script);

						} //end if.
						else {
							//cep é inválido.
							limpa_formulário_cep1();
							alert("Formato de CEP inválido.");
						}
					} //end if.
					else {
						//cep sem valor, limpa formulário.
						limpa_formulário_cep1();
					}
				};
			</script>

						<p:wizard backLabel="Voltar" nextLabel="Próximo"
							flowListener="#{cadastroFuncionarioBean.onFlowProcess}"
							style="width: 850px;">
							<p:tab id="funcionario" title="Funcionário"
								titleStyle="font-size:12px;">

								<p:panel header="Dados do Pessoais">
									<p:panelGrid columns="3" styleClass="semBorda">
										<p:column headerText="Foto" style="width:4%">
											<p:outputPanel id="photo">
												<p:graphicImage style="float:right;" width="111"
													height="140" library="enviados/funcionarios"
													onclick="PF('dlg39').show();"
													title="CLIQUE AQUI PARA ADICIONAR UMA FOTO"
													name="#{cadastroFuncionarioBean.funcionario.foto}"
													rendered="#{not empty cadastroFuncionarioBean.funcionario.foto}">
												</p:graphicImage>
											</p:outputPanel>
										</p:column>

										<p:outputLabel value="Nome do Funcionário" id="lblnome"
											style="display:block">
											<p:outputLabel value="*" style="font-size:11px; color:red;" />
											<h:graphicImage library="lavor" name="ajuda.png" height="15"
												width="15" style="float:right;" onclick="PF('dlg1').show();" />
										</p:outputLabel>
										<p:inputText size="60" required="true" id="txtnome"
											style="display:block"
											value="#{cadastroFuncionarioBean.funcionario.nomeFuncionario}"
											label="Nome" immediate="true" maxlength="150"
											placeholder="informe o nome do funcionário"
											title="Informe o nome do Funcionário." />
										<p:outputLabel />
										
										<p:outputLabel value="Sexo" for="tipoSexo">
											<p:outputLabel value="*" style="font-size:11px; color:red;" />
											<h:graphicImage library="lavor" name="ajuda.png" height="15"
												width="15" style="float:right;"
												onclick="PF('dlgSexo').show();" />
										</p:outputLabel>
										<p:selectOneMenu required="false"
											value="#{cadastroFuncionarioBean.funcionario.sexo}"
											label="Sexo" id="tipoSexo" filter="false"
											filterMatchMode="contains">
											<f:selectItem itemLabel="Selecione" noSelectionOption="true" />
											<f:selectItems
												value="#{cadastroFuncionarioBean.tiposSexo}"
												var="tipoSexo"
												itemValue="#{tipoSexo}"
												itemLabel="#{tipoSexo}" />
										</p:selectOneMenu>
										 <p:outputLabel />

										<p:outputLabel value="CPF" id="lblcpf" style="display:block">
											<p:outputLabel value="*" style="font-size:11px; color:red;" />
											<h:graphicImage library="lavor" name="ajuda.png" height="15"
												width="15" style="float:right;" onclick="PF('dlg2').show();" />
										</p:outputLabel>
										<p:inputMask required="true" id="txtcpf" style="display:block"
											value="#{cadastroFuncionarioBean.funcionario.cpf}"
											label="CNPJ/CPF" immediate="true" maxlength="18"
											placeholder="informe o cpf"
											title="Informe o CPF do Funcionário." mask="999.999.999-99?"
											size="14" />
										<p:outputLabel />

										<p:outputLabel value="Telefone">
											<p:outputLabel />
											<h:graphicImage library="lavor" name="ajuda.png" height="15"
												width="15" style="float:right;" onclick="PF('dlg3').show();" />
										</p:outputLabel>
										<p:inputMask size="30" required="false"
											value="#{cadastroFuncionarioBean.funcionario.telefone}"
											label="Telefone" immediate="true" maxlength="20"
											placeholder="informe o telefone" mask="(99)9999-9999"
											title="Informe o Telefone." />
										<p:outputLabel />

										<p:outputLabel value="Celular">
											<p:outputLabel />
											<h:graphicImage library="lavor" name="ajuda.png" height="15"
												width="15" style="float:right;" onclick="PF('dlg4').show();" />
										</p:outputLabel>
										<p:inputMask size="30" required="false"
											value="#{cadastroFuncionarioBean.funcionario.celular}"
											label="Telefone" immediate="true" maxlength="20"
											placeholder="informe o celular" mask="(99)99999-9999"
											title="Informe o Celular." />
										<p:outputLabel />

										<p:outputLabel value="E-mail">
											<p:outputLabel value="*" style="font-size:11px; color:red;" />
											<h:graphicImage library="lavor" name="ajuda.png" height="15"
												width="15" style="float:right;"
												onclick="PF('dlgEmail').show();" />
										</p:outputLabel>
										<p:inputText size="80" required="false"
											value="#{cadastroFuncionarioBean.funcionario.email}"
											label="E-mail" immediate="true" maxlength="150"
											placeholder="informe o E-mail" title="Informe o E-mail." />
										<p:outputLabel />

									</p:panelGrid>
								</p:panel>
								<p:outputLabel value=" * é campo de preenchimento obrigatório"
									style="font-size:11px; color:red;" />
							</p:tab>

							<p:tab id="endereco" title="Endereço"
								titleStyle="font-size:12px;">
								<p:panel header="Detalhes do Endereço">
									<p:panelGrid columns="3" styleClass="semBorda">

										<p:outputLabel value="CEP">
											<h:graphicImage library="lavor" name="ajuda.png" height="15"
												width="15" style="float:right;" onclick="PF('dlg6').show();" />
										</p:outputLabel>
										<p:inputMask size="10" required="false" id="cep"
											onblur="pesquisacep(this.value);"
											value="#{cadastroFuncionarioBean.funcionario.cep}"
											label="cep" immediate="true" maxlength="9" mask="99999-999"
											placeholder="00000-000"
											title="DICA: Informe o CEP (Código de Endereçamento Postal), e AUTOMATICAMENTE os campos UF, MUNÍCIPIO, DISTRITO/BAIRRO, LOGRADOURO serão preenchidos(Necessário INTERNET)." />
										<p:outputLabel />

										<p:outputLabel value="UF">
											<h:graphicImage library="lavor" name="ajuda.png" height="15"
												width="15" style="float:right;" onclick="PF('dlg7').show();" />
										</p:outputLabel>
										<p:inputText size="5" required="false" id="uf"
											value="#{cadastroFuncionarioBean.funcionario.uf}" label="UF"
											immediate="true" maxlength="2" placeholder="informe a uf"
											title="Informe a UF(Unidade Federativa) do Funcionário." />
										<p:outputLabel />

										<p:outputLabel value="Município">
											<h:graphicImage library="lavor" name="ajuda.png" height="15"
												width="15" style="float:right;" onclick="PF('dlg8').show();" />
										</p:outputLabel>
										<p:inputText size="80" required="false" id="municipio"
											value="#{cadastroFuncionarioBean.funcionario.municipio}"
											label="Município" immediate="true" maxlength="100"
											placeholder="informe o município"
											title="Informe o Munícipio do Funcionário." />
										<p:outputLabel />

										<p:outputLabel value="Distrito/Bairro">
											<h:graphicImage library="lavor" name="ajuda.png" height="15"
												width="15" style="float:right;" onclick="PF('dlg9').show();" />
										</p:outputLabel>
										<p:inputText size="80" required="false" id="bairro"
											value="#{cadastroFuncionarioBean.funcionario.distrito}"
											label="Distrito" immediate="true" maxlength="150"
											placeholder="informe o distrito/bairro"
											title="Informe o Distrito/Bairro do Funcionário." />
										<p:outputLabel />

										<p:outputLabel value="Logradouro">
											<h:graphicImage library="lavor" name="ajuda.png" height="15"
												width="15" style="float:right;"
												onclick="PF('dlg10').show();" />
										</p:outputLabel>
										<p:inputText size="80" required="false" id="rua"
											value="#{cadastroFuncionarioBean.funcionario.logradouro}"
											label="Logradouro" immediate="true" maxlength="100"
											placeholder="informe o nome do logradouro"
											title="Informe o nome do Logradouro." />
										<p:outputLabel />

										<p:outputLabel value="Número">
											<h:graphicImage library="lavor" name="ajuda.png" height="15"
												width="15" style="float:right;"
												onclick="PF('dlg11').show();" />
										</p:outputLabel>
										<p:inputText size="15" required="false"
											value="#{cadastroFuncionarioBean.funcionario.numero}"
											label="Nome Fantasia" immediate="true" maxlength="10"
											placeholder="informe o número"
											title="Informe o Número do Endereço do Funcionário." />
										<p:outputLabel />

										<p:outputLabel value="Complemento">
											<h:graphicImage library="lavor" name="ajuda.png" height="15"
												width="15" style="float:right;"
												onclick="PF('dlg12').show();" />
										</p:outputLabel>
										<p:inputText size="80" required="false" id="complemento"
											value="#{cadastroFuncionarioBean.funcionario.complemento}"
											label="Complemento" immediate="true" maxlength="150"
											placeholder="informe o complemento"
											title="Informe o Complemento do Endereço." />
										<p:outputLabel />

										<p:outputLabel value="Latitude">
											<h:graphicImage library="lavor" name="ajuda.png" height="15"
												width="15" style="float:right;"
												onclick="PF('dlg13').show();" />
										</p:outputLabel>
										<p:inputText size="15" required="false"
											value="#{cadastroFuncionarioBean.funcionario.latitude}"
											label="Nome Fantasia" immediate="true" maxlength="20"
											placeholder="informe a latitude" title="Informe a Latitude." />
										<p:outputLabel />

										<p:outputLabel value="Longitude">
											<h:graphicImage library="lavor" name="ajuda.png" height="15"
												width="15" style="float:right;"
												onclick="PF('dlg14').show();" />
										</p:outputLabel>
										<p:inputText size="15" required="false"
											value="#{cadastroFuncionarioBean.funcionario.longitude}"
											label="Nome Fantasia" immediate="true" maxlength="20"
											placeholder="informe o longitude"
											title="Informe a Longitude." />
										<p:outputLabel />
									</p:panelGrid>
								</p:panel>
								<p:outputLabel value=" * é campo de preenchimento obrigatório"
									style="font-size:11px; color:red;" />
							</p:tab>

							<p:tab id="dadosfuncionais" title="Funcionais"
								titleStyle="font-size:12px;">
								<p:panel header="Detalhes Funcionais">
									<p:panelGrid columns="3" styleClass="semBorda">

										<p:outputLabel value="Unidade Administrativa"
											for="unidadeAdministrativa">
											<p:outputLabel />
											<IMG src="../../resources/lavor/adicionar.png" align="right"
												height="15" width="15"
												title="Clique aqui para Adicionar uma Unidade Administrativa"
												onclick="PF('dlg22').show(); $(function(){PrimeFaces.focus('frm2:nomeunidadeadministrativa');});"
												process="@this" update=":frm2" ignoreAutoUpdate="true" />
											<h:graphicImage library="lavor" name="ajuda.png" height="15"
												width="15" style="float:right;"
												onclick="PF('dlg15').show();" />
										</p:outputLabel>
										<p:selectOneMenu required="true" filter="true"
											value="#{cadastroFuncionarioBean.funcionario.unidadeAdministrativa}"
											label="Unidade Administrativa" id="unidadeAdministrativa"
											filterMatchMode="contains">
											<f:selectItem itemLabel="Selecione" noSelectionOption="true" />
											<f:selectItems
												value="#{cadastroFuncionarioBean.todasUnidadesAdministrativas}"
												var="unidadeAdministrativa"
												itemValue="#{unidadeAdministrativa}"
												itemLabel="#{unidadeAdministrativa.nomeUnidadeAdministrativa} (#{unidadeAdministrativa.nomeResumido} / #{unidadeAdministrativa.unidadeGestora.nomeResumido})" />
											<p:ajax listener="#{cadastroFuncionarioBean.prepararDados()}"
												update=":frm2:unidadeGestora" process="@this" />
										</p:selectOneMenu>
										<p:outputLabel />

										<p:outputLabel value="Cargo" for="cargo">
											<p:outputLabel />
											<IMG src="../../resources/lavor/adicionar.png" align="right"
												height="15" width="15"
												title="Clique aqui para Adicionar um Cargo"
												onclick="PF('dlg20').show();" process="@this" update="@this"
												ignoreAutoUpdate="true" />
											<h:graphicImage library="lavor" name="ajuda.png" height="15"
												width="15" style="float:right;"
												onclick="PF('dlg16').show();" />
										</p:outputLabel>
										<p:selectOneMenu required="true" filter="true"
											value="#{cadastroFuncionarioBean.funcionario.cargo}"
											label="Cargo" id="cargo" filterMatchMode="contains">
											<f:selectItem itemLabel="Selecione" noSelectionOption="true" />
											<f:selectItems value="#{cadastroFuncionarioBean.todosCargos}"
												var="cargo" itemValue="#{cargo}"
												itemLabel="#{cargo.descricaoCargo}" />
											<p:ajax listener="#{cadastroFuncionarioBean.prepararDados()}"
												update=":frm:cargo" process="@this" />
										</p:selectOneMenu>
										<p:outputLabel />

										<p:outputLabel value="Matrícula">
											<p:outputLabel />
											<h:graphicImage library="lavor" name="ajuda.png" height="15"
												width="15" style="float:right;"
												onclick="PF('dlg17').show();" />
										</p:outputLabel>
										<p:inputText size="30" required="false" id="matricula"
											value="#{cadastroFuncionarioBean.funcionario.matricula}"
											label="Matrícula" immediate="true" maxlength="20"
											placeholder="informe a matrícula do funcionário"
											title="Informe a Matrícula do Funcionário.">
											<p:ajax event="focus"
												listener="#{cadastroFuncionarioBean.prepararDados()}"
												update=":frm:cargo :frm:unidadeAdministrativa"
												process="@this" ignoreAutoUpdate="true" />
										</p:inputText>
										<p:outputLabel />

										<p:outputLabel
											value="É responsável pela Guarda de Patrimônios?"
											for="responsavel">
											<p:outputLabel value="*" style="font-size:11px; color:red;" />
											<h:graphicImage library="lavor" name="ajuda.png" height="15"
												width="15" style="float:right;"
												onclick="PF('dlg18').show();" />
										</p:outputLabel>
										<p:selectOneMenu
											value="#{cadastroFuncionarioBean.funcionario.responsavelPatrimonial}"
											label="Situação" id="responsavel" filter="false"
											filterMatchMode="contains">
											<f:selectItem itemLabel="Selecione" noSelectionOption="true" />
											<f:selectItems
												value="#{cadastroFuncionarioBean.responsaveisPatrimoniais}"
												var="responsavel" itemValue="#{responsavel}"
												itemLabel="#{responsavel}" />
										</p:selectOneMenu>
										<p:outputLabel />

										<p:outputLabel value="É responsável pelo Inventário?"
											for="responsavelinventario">
											<p:outputLabel value="*" style="font-size:11px; color:red;" />
											<h:graphicImage library="lavor" name="ajuda.png" height="15"
												width="15" style="float:right;"
												onclick="PF('dlg42').show();" />
										</p:outputLabel>
										<p:selectOneMenu
											value="#{cadastroFuncionarioBean.funcionario.responsavelInventario}"
											label="Situação" id="responsavelinventario" filter="false"
											filterMatchMode="contains">
											<f:selectItem itemLabel="Selecione" noSelectionOption="true" />
											<f:selectItems
												value="#{cadastroFuncionarioBean.responsavelInventarios}"
												var="responsavelinventario}"
												itemValue="#{responsavelinventario}"
												itemLabel="#{responsavelinventario}" />
										</p:selectOneMenu>
										<p:outputLabel />

										<p:outputLabel value="Situação" for="situacao">
											<p:outputLabel value="*" style="font-size:11px; color:red;" />
											<h:graphicImage library="lavor" name="ajuda.png" height="15"
												width="15" style="float:right;"
												onclick="PF('dlg19').show();" />
										</p:outputLabel>
										<p:selectOneMenu
											value="#{cadastroFuncionarioBean.funcionario.tipoSituacaoFuncionario}"
											label="Situação" id="situacao" filter="false"
											filterMatchMode="contains">
											<f:selectItem itemLabel="Selecione" noSelectionOption="true" />
											<f:selectItems
												value="#{cadastroFuncionarioBean.tiposSituacoesFuncionarios}"
												var="situacao" itemValue="#{situacao}"
												itemLabel="#{situacao}" />
										</p:selectOneMenu>
										<p:outputLabel />

									</p:panelGrid>
								</p:panel>
								<p:outputLabel value=" * é campo de preenchimento obrigatório"
									style="font-size:11px; color:red;" />
							</p:tab>

							<p:tab id="confirmacao" title="Confirmação"
								titleStyle="font-size:12px;">
								<p:panel header="Detalhes da Confirmação (SALVAR REGISTRO?)">
									<p:panelGrid columns="4" styleClass="semBorda"
										columnClasses="grid,grid,grid">

										<h:outputText value="Nome do Funcionário: " />
										<h:outputText
											value="#{cadastroFuncionarioBean.funcionario.nomeFuncionario}"
											styleClass="outputLabel" style="font-weight:bold" />

										<h:outputText value="CPF: " />
										<h:outputText
											value="#{cadastroFuncionarioBean.funcionario.cpf}"
											styleClass="outputLabel" style="font-weight:bold" />

										<h:outputText value="Telefone " />
										<h:outputText
											value="#{cadastroFuncionarioBean.funcionario.telefone}"
											styleClass="outputLabel" style="font-weight:bold" />

										<h:outputText value="Celular: " />
										<h:outputText
											value="#{cadastroFuncionarioBean.funcionario.celular}"
											styleClass="outputLabel" style="font-weight:bold" />

										<h:outputText value="Email: " />
										<h:outputText
											value="#{cadastroFuncionarioBean.funcionario.email}"
											styleClass="outputLabel" style="font-weight:bold" />

										<h:outputText value="CEP: " />
										<h:outputText
											value="#{cadastroFuncionarioBean.funcionario.cep}"
											styleClass="outputLabel" style="font-weight:bold" />

										<h:outputText value="UF: " />
										<h:outputText
											value="#{cadastroFuncionarioBean.funcionario.uf}"
											styleClass="outputLabel" style="font-weight:bold" />
										<h:outputText value="Município: " />
										<h:outputText
											value="#{cadastroFuncionarioBean.funcionario.municipio}"
											styleClass="outputLabel" style="font-weight:bold" />

										<h:outputText value="Distrito/Bairro: " />
										<h:outputText
											value="#{cadastroFuncionarioBean.funcionario.distrito}"
											styleClass="outputLabel" style="font-weight:bold" />

										<h:outputText value="Logradouro: " />
										<h:outputText
											value="#{cadastroFuncionarioBean.funcionario.logradouro}"
											styleClass="outputLabel" style="font-weight:bold" />

										<h:outputText value="Número: " />
										<h:outputText
											value="#{cadastroFuncionarioBean.funcionario.numero}"
											styleClass="outputLabel" style="font-weight:bold" />
										<h:outputText value="Complemento: " />
										<h:outputText
											value="#{cadastroFuncionarioBean.funcionario.complemento}"
											styleClass="outputLabel" style="font-weight:bold" />

										<h:outputText value="Latitude: " />
										<h:outputText
											value="#{cadastroFuncionarioBean.funcionario.latitude}"
											styleClass="outputLabel" style="font-weight:bold" />
										<h:outputText value="Longitude: " />
										<h:outputText
											value="#{cadastroFuncionarioBean.funcionario.longitude}"
											styleClass="outputLabel" style="font-weight:bold" />

										<h:outputText value="Nome da Unidade Administrativa: " />
										<h:outputText
											value="#{cadastroFuncionarioBean.funcionario.unidadeAdministrativa.nomeUnidadeAdministrativa}"
											styleClass="outputLabel" style="font-weight:bold" />

										<h:outputText
											value="Nome Resumido da Unidade Administrativa: " />
										<h:outputText
											value="#{cadastroFuncionarioBean.funcionario.unidadeAdministrativa.nomeResumido}"
											styleClass="outputLabel" style="font-weight:bold" />

										<h:outputText value="Código Orçamentário da Unidade Gestora: " />
										<h:outputText
											value="#{cadastroFuncionarioBean.funcionario.unidadeAdministrativa.unidadeGestora.codigoOrcamentario}"
											styleClass="outputLabel" style="font-weight:bold" />

										<h:outputText value="Nome da Unidade Gestora: " />
										<h:outputText
											value="#{cadastroFuncionarioBean.funcionario.unidadeAdministrativa.unidadeGestora.nomeUnidadeGestora}"
											styleClass="outputLabel" style="font-weight:bold" />
										<h:outputText value="Nome Resumido da Unidade Gestora: " />
										<h:outputText
											value="#{cadastroFuncionarioBean.funcionario.unidadeAdministrativa.unidadeGestora.nomeResumido}"
											styleClass="outputLabel" style="font-weight:bold" />
										<h:outputText />
										<p:outputLabel />
										<p:outputLabel />
										<p:outputLabel />

										<h:outputText value="Responsável pela Guarda de Patrimônios: " />
										<h:outputText
											value="#{cadastroFuncionarioBean.funcionario.responsavelPatrimonial}"
											styleClass="outputLabel" style="font-weight:bold" />
										<h:outputText value="Responsável pelo Inventário: " />
										<h:outputText
											value="#{cadastroFuncionarioBean.funcionario.responsavelInventario}"
											styleClass="outputLabel" style="font-weight:bold" />

										<h:outputText value="Situação Funcional: " />
										<h:outputText
											value="#{cadastroFuncionarioBean.funcionario.tipoSituacaoFuncionario}"
											styleClass="outputLabel" style="font-weight:bold" />
										<h:outputText />

										<p:outputLabel />
										<p:outputLabel />
										<p:commandButton value="Salvar"
											action="#{cadastroFuncionarioBean.salvar}"
											icon="ui-icon-save" process="@form" update="@form" style="width:100px"/>
									</p:panelGrid>
								</p:panel>
							</p:tab>
						</p:wizard>
					</h:form>

					<p:dialog header="Ajuda: Nome do Funcionário" widgetVar="dlg1"
						showEffect="explode" width="450" height="90" resizable="false"
						maximizable="false" position="center" hideEffect="explode">
						<h:outputText value="É o nome completo do Funcionário." />
						<br />
						<br />
						<h:outputText value="Por exemplo: Fulano de Tal" />
						<br />
						<div align="center">
							<p:button value="OK" icon="ui-icon-check"
								onclick="PF('dlg1').hide(); return false" style="width:100px" />
						</div>
					</p:dialog>
					
					<p:dialog header="Ajuda: Sexo do Funcionário" widgetVar="dlgSexo"
						showEffect="explode" width="450" height="90" resizable="false"
						maximizable="false" position="center" hideEffect="explode">
						<h:outputText value="É o sexo do Funcionário." />
						<br />
						<br />
						<h:outputText value="Por exemplo: Masculino" />
						<br />
						<div align="center">
							<p:button value="OK" icon="ui-icon-check"
								onclick="PF('dlgSexo').hide(); return false" style="width:100px" />
						</div>
					</p:dialog>

					<p:dialog header="Ajuda: CPF" widgetVar="dlg2" showEffect="explode"
						width="450" height="100" resizable="false" maximizable="false"
						position="center" hideEffect="explode">
						<h:outputText
							value="O CPF (Cadastro Pessoa Física) para o cidadão (pessoa física), ou seja, uma identificação perante a Receita Federal do Brasil." />
						<br />
						<br />
						<h:outputText value="Por exemplo: 111.111.111-11" />
						<br />
						<div align="center">
							<p:button value="OK" icon="ui-icon-check"
								onclick="PF('dlg2').hide(); return false" style="width:100px" />
						</div>
					</p:dialog>

					<p:dialog header="Ajuda: Telefone" widgetVar="dlg3"
						showEffect="explode" width="500" height="90" resizable="false"
						maximizable="false" position="center" hideEffect="explode">
						<h:outputText
							value="Número do Telefone para contato do funcionário." />
						<br />
						<br />
						<h:outputText value="Por exemplo: 95 3623-3662" />
						<br />
						<div align="center">
							<p:button value="OK" icon="ui-icon-check"
								onclick="PF('dlg3').hide(); return false" style="width:100px"/>
						</div>
					</p:dialog>

					<p:dialog header="Ajuda: Celular" widgetVar="dlg4"
						showEffect="explode" width="500" height="90" resizable="false"
						maximizable="false" position="center" hideEffect="explode">
						<h:outputText
							value="Número do Celular para contato do funcionário." />
						<br />
						<br />
						<h:outputText value="Por exemplo: 95 99999-9999" />
						<br />
						<div align="center">
							<p:button value="OK" icon="ui-icon-check"
								onclick="PF('dlg4').hide(); return false" style="width:100px"/>
						</div>
					</p:dialog>

					<p:dialog header="Ajuda: E-mail" widgetVar="dlgEmail"
						showEffect="explode" width="500" height="140" resizable="false"
						maximizable="false" position="center" hideEffect="explode">
						<h:outputText
							value="E-mail é o termmo inglês,  que traduzido significa correio eletrônico (português brasileiro) ou correio eletrónico (português europeu) ou, ainda, e-mail e correio-e, é um método que permite compor, enviar e receber mensagens através de sistemas eletrônicos de comunicação." />
						<br />
						<br />
						<h:outputText value="Por exemplo: fulanodetal@gmail.com" />
						<br />
						<div align="center">
							<p:button value="OK" icon="ui-icon-check"
								onclick="PF('dlgEmail').hide(); return false" style="width:100px"/>
						</div>
					</p:dialog>

					<p:dialog header="Ajuda: Foto" widgetVar="dlg5"
						showEffect="explode" width="500" height="100" resizable="false"
						maximizable="false" position="center" hideEffect="explode">
						<h:outputText
							value="Se desejar ou achar necessário, localize uma foto para o Funcionário. Formatos aceitos de imagens: JPG, JPEG ou PNG." />
						<br />
						<br />
						<h:outputText
							value="Dica: Escolha apenas uma foto, informando um dos formatos válidos." />
						<br />
						<div align="center">
							<p:button value="OK" icon="ui-icon-check"
								onclick="PF('dlg5').hide(); return false" style="width:100px"/>
						</div>
					</p:dialog>

					<p:dialog header="Ajuda: CEP" widgetVar="dlg6" showEffect="explode"
						width="500" height="120" resizable="false" maximizable="false"
						position="center" hideEffect="explode">
						<h:outputText
							value="É a sigla de Código de Endereçamento Postal, criado e utilizado pelos Correios para facilitar o encaminhamento e a entrega das correspondências aos destinatários." />
						<br />
						<br />
						<h:outputText value="Por exemplo: 69305520" />
						<br />
						<div align="center">
							<p:button value="OK" icon="ui-icon-check"
								onclick="PF('dlg6').hide(); return false" style="width:100px" />
						</div>
					</p:dialog>


					<p:dialog header="Ajuda: UF" widgetVar="dlg7" showEffect="explode"
						width="500" height="120" resizable="false" maximizable="false"
						position="center" hideEffect="explode">
						<h:outputText
							value="É a sigla para Unidade da Federação. Unidade da Federação refere-se aos Estados brasileiros, porque cada um representa uma Unidade da Federação." />
						<br />
						<br />
						<h:outputText value="Por exemplo: RR" />
						<br />
						<div align="center">
							<p:button value="OK" icon="ui-icon-check"
								onclick="PF('dlg7').hide(); return false" style="width:100px"/>
						</div>
					</p:dialog>

					<p:dialog header="Ajuda: Munícipio" widgetVar="dlg8"
						showEffect="explode" width="500" height="100" resizable="false"
						maximizable="false" position="center" hideEffect="explode">
						<h:outputText
							value="É nome do Munícipio onde está localizado o Funcionário." />
						<br />
						<br />
						<h:outputText value="Por exemplo: Boa Vista" />
						<br />
						<div align="center">
							<p:button value="OK" icon="ui-icon-check"
								onclick="PF('dlg8').hide(); return false" style="width:100px"/>
						</div>
					</p:dialog>

					<p:dialog header="Ajuda: Distrito/Bairro" widgetVar="dlg9"
						showEffect="explode" width="500" height="100" resizable="false"
						maximizable="false" position="center" hideEffect="explode">
						<h:outputText value="É nome do Distrito/Bairro do Funcionário." />
						<br />
						<br />
						<h:outputText value="Por exemplo: Centro" />
						<br />
						<div align="center">
							<p:button value="OK" icon="ui-icon-check"
								onclick="PF('dlg9').hide(); return false" style="width:100px"/>
						</div>
					</p:dialog>

					<p:dialog header="Ajuda: Logradouro" widgetVar="dlg10"
						showEffect="explode" width="500" height="100" resizable="false"
						maximizable="false" position="center" hideEffect="explode">
						<h:outputText
							value="É o nome da  rua; um endereço de espaço público ou privado do Funcionário." />
						<br />
						<br />
						<h:outputText value="Por exemplo: Avenida Ville Roy" />
						<br />
						<div align="center">
							<p:button value="OK" icon="ui-icon-check"
								onclick="PF('dlg10').hide(); return false" style="width:100px"/>
						</div>
					</p:dialog>

					<p:dialog header="Ajuda: Número" widgetVar="dlg11"
						showEffect="explode" width="500" height="100" resizable="false"
						maximizable="false" position="center" hideEffect="explode">
						<h:outputText
							value="É o número de identificação do estabelecimento público ou privado do Funcionário" />
						<br />
						<br />
						<h:outputText value="Por exemplo: 123" />
						<br />
						<div align="center">
							<p:button value="OK" icon="ui-icon-check"
								onclick="PF('dlg11').hide(); return false" style="width:100px"/>
						</div>
					</p:dialog>

					<p:dialog header="Ajuda: Complemento" widgetVar="dlg12"
						showEffect="explode" width="500" height="100" resizable="false"
						maximizable="false" position="center" hideEffect="explode">
						<h:outputText
							value="Na necessidade de ser mais preciso, no endereçamento, para indicar uma referência mais precisa." />
						<br />
						<br />
						<h:outputText
							value="Por exemplo: Apartamento 123, Próximo ao Supermercado." />
						<br />
						<div align="center">
							<p:button value="OK" icon="ui-icon-check"
								onclick="PF('dlg12').hide(); return false" style="width:100px"/>
						</div>
					</p:dialog>

					<p:dialog header="Ajuda: Latitude" widgetVar="dlg13"
						positionType="Center" showEffect="explode" width="500"
						height="auto" resizable="false" maximizable="false"
						position="center" hideEffect="explode">
						<h:outputText
							value="Latitude é uma coordenada geográfica, sendo a distância ao Equador medida ao longo do meridiano de Greenwich. Esta distância mede-se em graus, podendo variar entre 0º e 90º para Norte(N) ou para Sul(S)." />
						<br />
						<p:media value="http://www.youtube.com/v/RxLrXbGH82A" width="405"
							height="300" player="flash" />
						<br />
						<h:outputText value="Por exemplo:2°49'17.1''N  =  2.8214237" />
						<br />
						<div align="center">
							<p:button value="OK" icon="ui-icon-check"
								onclick="PF('dlg13').hide(); return false" style="width:100px"/>
						</div>
					</p:dialog>

					<p:dialog header="Ajuda: Longitude" widgetVar="dlg14"
						positionType="Center" showEffect="explode" width="500"
						height="auto" resizable="false" maximizable="false"
						position="center" hideEffect="explode">
						<h:outputText
							value="Longitude é uma coordenada geográfica, sendo a distância ao meridiano de Greenwich medida ao longo do Equador. Esta distância mede-se em graus, podendo variar entre 0º e 180º para Leste(E) ou para Oeste(W)." />
						<br />
						<p:media value="http://www.youtube.com/v/RxLrXbGH82A" width="405"
							height="300" player="flash" />
						<br />
						<h:outputText value="Por exemplo:60°40'22.6''W  = -60.690454" />
						<br />
						<div align="center">
							<p:button value="OK" icon="ui-icon-check"
								onclick="PF('dlg14').hide(); return false" style="width:100px"/>
						</div>
					</p:dialog>

					<p:dialog header="Ajuda: Unidade Administrativa" widgetVar="dlg15"
						showEffect="explode" width="500" height="100" resizable="false"
						maximizable="false" position="center" hideEffect="explode">
						<h:outputText
							value="É a descrição do nome da Unidade Administrativa. " />
						<br />
						<br />
						<h:outputText value="Por exemplo: Departamento de Patrimônio." />
						<br />
						<div align="center">
							<p:button value="OK" icon="ui-icon-check"
								onclick="PF('dlg15').hide(); return false" style="width:100px"/>
						</div>
					</p:dialog>

					<p:dialog header="Ajuda: Cargo" widgetVar="dlg16"
						showEffect="explode" width="500" height="130" resizable="false"
						maximizable="false" position="center" hideEffect="explode">
						<h:outputText
							value="É a descrição do nome Cargo dos Funcionários." />
						<br />
						<br />
						<h:outputText value="Por exemplo: Analista de Sistemas " />
						<br />
						<div align="center">
							<p:button value="OK" icon="ui-icon-check"
								onclick="PF('dlg16').hide(); return false" style="width:100px" />
						</div>
					</p:dialog>

					<p:dialog header="Ajuda: Matrícula" widgetVar="dlg17"
						showEffect="explode" width="500" height="130" resizable="false"
						maximizable="false" position="center" hideEffect="explode">
						<h:outputText
							value="É a descrição da matrícula do Funcionáriodo, geralmente composto de números." />
						<br />
						<br />
						<h:outputText value="Por exemplo: 010000000" />
						<br />
						<div align="center">
							<p:button value="OK" icon="ui-icon-check"
								onclick="PF('dlg17').hide(); return false" style="width:100px" />
						</div>
					</p:dialog>

					<p:dialog header="Ajuda: É responsável pela Guarda de Patrimônios?"
						widgetVar="dlg18" showEffect="explode" width="500" height="130"
						resizable="false" maximizable="false" position="center"
						hideEffect="explode">
						<h:outputText
							value="Informa se o Funcionário é responsável pela guarda dos bens patrimoniais da Unidade administrativa a que pertence." />
						<br />
						<br />
						<br />
						<div align="center">
							<p:button value="OK" icon="ui-icon-check"
								onclick="PF('dlg18').hide(); return false" style="width:100px" />
						</div>
					</p:dialog>

					<!-- Nova implementacao 02.09.2016 para Responsavel pelo Inventario -->
					<p:dialog header="Ajuda: É responsável pelo Inventário?"
						widgetVar="dlg42" showEffect="explode" width="500" height="130"
						resizable="false" maximizable="false" position="center"
						hideEffect="explode">
						<h:outputText
							value="Informa se o Funcionário é responsável pelo Inventário dos Bens patrimoniais." />
						<br />
						<br />
						<br />
						<div align="center">
							<p:button value="OK" icon="ui-icon-check"
								onclick="PF('dlg42').hide(); return false" style="width:100px"/>
						</div>
					</p:dialog>


					<p:dialog header="Ajuda: Situação" widgetVar="dlg19"
						showEffect="explode" width="500" height="115" resizable="false"
						maximizable="false" position="center" hideEffect="explode">
						<h:outputText
							value="A situação funcional, é para informar que, funcionário está trabalhando ativamente na sua Unidade ou não esteja mais exercendo suas atividades funcionais." />
						<br />
						<br />
						<h:outputText value="Por exemplo: Ativo" />
						<br />
						<div align="center">
							<p:button value="OK" icon="ui-icon-check"
								onclick="PF('dlg19').hide(); return false" style="width:100px"/>
						</div>
					</p:dialog>

					<p:dialog header="Cadastro de Cargos Funcionais" widgetVar="dlg20"
						showEffect="explode" width="900" height="350" resizable="false"
						maximizable="false" position="center" hideEffect="explode"
						closable="true" modal="true">

						<f:metadata>
							<o:viewParam name="codigoCargo"
								value="#{cadastroCargoBean.cargo}" />
							<f:viewAction action="#{cadastroCargoBean.prepararCadastro}" />
						</f:metadata>
						<h1>
							<h:graphicImage library="lavor" name="cargo.png" height="45"
								width="45" />
							Cadastro de Cargos Funcionais
						</h1>
						<h:form id="frm1">

							<p:panel header="Cadastro de Cargos Funcionais">
								<p:panelGrid columns="2" styleClass="semBorda">
									<p:outputLabel value="Nome do Cargo Funcional">
										<p:outputLabel value="*" style="font-size:11px; color:red;" />
										<h:graphicImage library="lavor" name="ajuda.png" height="15"
											width="15" style="float:right;" onclick="PF('dlg21').show();" />
									</p:outputLabel>
									<p:inputText size="100" required="true"
										value="#{cadastroCargoBean.cargo.descricaoCargo}"
										label="Nome do Cargo Funcional" immediate="true"
										maxlength="30" placeholder="informe o nome do Cargo Funcional"
										title="Informe o nome do Cargo Funcional." />

									<p:outputLabel />
									<p:outputLabel value=" * é campo de preenchimento obrigatório"
										style="font-size:11px; color:red;" />
									<p:commandButton value="Salvar" onblur="setarFocoMatricula();" style="width:100px"
										action="#{cadastroCargoBean.salvar}" icon="ui-icon-save"
										process=":frm1" update=":frm:cargo"
										oncomplete="PF('dlg20').hide(); return false;" />

									<p:commandButton value="Cancelar" ignoreAutoUpdate="true"
										icon="ui-icon-cancel"
										onclick="PF('dlg20').hide(); return false" />
								</p:panelGrid>
							</p:panel>
						</h:form>
					</p:dialog>

					<p:dialog header="Ajuda: Nome do Cargo Funcional" widgetVar="dlg21"
						showEffect="explode" width="600" height="90" resizable="false"
						maximizable="false" position="center" hideEffect="explode">
						<h:outputText
							value="É a descrição do nome Cargo dos Funcionários." />
						<br />
						<br />
						<h:outputText value="Por exemplo: Analista de Sistemas" />
						<br />
						<div align="center">
							<p:button value="OK" icon="ui-icon-check"
								onclick="PF('dlg21').hide(); return false" style="width:100px"/>
						</div>
					</p:dialog>

					<!-- inicio -->
					<p:dialog header="Cadastro de Unidades Administrativas"
						widgetVar="dlg22" showEffect="explode" width="900" height="600"
						resizable="false" maximizable="false" position="center"
						hideEffect="explode" closable="true" modal="true">

						<f:metadata>
							<o:viewParam name="codigoUnidadeAdministrativa"
								value="#{cadastroUnidadeAdministrativaBean.unidadeAdministrativa}" />
							<f:viewAction
								action="#{cadastroUnidadeAdministrativaBean.prepararCadastro}"
								immediate="true" />
							<p:ajax event="focus"
								listener="#{cadastroUnidadeAdministrativaBean.prepararUnidadesGestoras()}"
								update=":frm2:unidadeGestora" process="@this"
								ignoreAutoUpdate="true" />
							<f:event type="preRenderView"
								listener="#{cadastroUnidadeAdministrativaBean.prepararUnidadesGestoras()}" />
						</f:metadata>
						<h1>
							<h:graphicImage library="lavor" name="unidadeadministrativa.png"
								height="45" width="45" />
							Cadastro de Unidades Administrativas
						</h1>
						<h:form id="frm2">
							<p:wizard backLabel="Voltar" nextLabel="Próximo"
								flowListener="#{cadastroFuncionarioBean.onFlowProcess}"
								style="width: 850px;">
								<p:tab id="unidadeadministrativa" title="Unidade Administrativa"
									titleStyle="font-size:12px;">

									<p:panel header="Dados da Unidades Administrativas">

										<p:panelGrid columns="3" styleClass="semBorda">
											<p:outputLabel value="Unidade Gestora" for="unidadeGestora">
												<p:outputLabel value="*" style="font-size:11px; color:red;" />
												<h:graphicImage library="lavor" name="ajuda.png" height="15"
													width="15" style="float:right;"
													onclick="PF('dlg23').show();" />
											</p:outputLabel>
											<p:selectOneMenu
												value="#{cadastroUnidadeAdministrativaBean.unidadeAdministrativa.unidadeGestora}"
												label="Unidade Gestora" id="unidadeGestora" filter="true"
												filterMatchMode="contains">
												<f:selectItem itemLabel="Selecione" noSelectionOption="true" />
												<f:selectItems
													value="#{cadastroUnidadeAdministrativaBean.todasUnidadesGestoras}"
													var="unidadeGestora" itemValue="#{unidadeGestora}"
													itemLabel="#{unidadeGestora.nomeUnidadeGestora} (#{unidadeGestora.nomeResumido})" />
												<p:ajax
													listener="#{cadastroUnidadeAdministrativaBean.prepararUnidadesGestoras()}"
													update=":frm2:unidadeGestora" process="@this" />
											</p:selectOneMenu>
											<p:outputLabel />

											<p:outputLabel value="Nome da Unidade Administrativa">
												<p:outputLabel value="*" style="font-size:11px; color:red;" />
												<h:graphicImage library="lavor" name="ajuda.png" height="15"
													width="15" style="float:right;"
													onclick="PF('dlg24').show();" />
											</p:outputLabel>
											<p:inputText size="100" required="true"
												id="nomeunidadeadministrativa"
												value="#{cadastroUnidadeAdministrativaBean.unidadeAdministrativa.nomeUnidadeAdministrativa}"
												label="Nome da Unidade Administrativa" immediate="true"
												maxlength="100"
												placeholder="informe o nome da unidade administrativa"
												title="Informe o nome da Unidade Administrativa.">
												<p:ajax event="focus"
													listener="#{cadastroUnidadeAdministrativaBean.prepararUnidadesGestoras()}"
													update=":frm2:unidadeGestora" process="@this"
													ignoreAutoUpdate="true" />
											</p:inputText>
											<p:outputLabel />

											<p:outputLabel value="Nome Resumido">
												<p:outputLabel value="*" style="font-size:11px; color:red;" />
												<h:graphicImage library="lavor" name="ajuda.png" height="15"
													width="15" style="float:right;"
													onclick="PF('dlg25').show();" />
											</p:outputLabel>
											<p:inputText size="40" required="true"
												value="#{cadastroUnidadeAdministrativaBean.unidadeAdministrativa.nomeResumido}"
												label="Nome Resumido" immediate="true" maxlength="30"
												placeholder="informe o nome resumido da unidade administrativa"
												title="Informe o nome Resumido da Unidade Administrativa." />
											<p:outputLabel />
										</p:panelGrid>
									</p:panel>
									<p:outputLabel value=" * é campo de preenchimento obrigatório"
										style="font-size:11px; color:red;" />
								</p:tab>

								<p:tab id="endereco" title="Endereço"
									titleStyle="font-size:12px;">
									<p:panel header="Detalhes do Endereço">
										<p:panelGrid columns="3" styleClass="semBorda">

											<p:outputLabel value="CEP">
												<h:graphicImage library="lavor" name="ajuda.png" height="15"
													width="15" style="float:right;"
													onclick="PF('dlg26').show();" />
											</p:outputLabel>
											<p:inputMask size="10" required="false" id="cep"
												onblur="pesquisacep1(this.value);"
												value="#{cadastroUnidadeAdministrativaBean.unidadeAdministrativa.cep}"
												label="cep1" immediate="true" maxlength="9" mask="99999-999"
												placeholder="00000-000"
												title="DICA: Informe o CEP (Código de Endereçamento Postal), e AUTOMATICAMENTE os campos UF, MUNÍCIPIO, DISTRITO/BAIRRO, LOGRADOURO serão preenchidos(Necessário INTERNET)." />
											<p:outputLabel />


											<p:outputLabel value="UF">
												<h:graphicImage library="lavor" name="ajuda.png" height="15"
													width="15" style="float:right;"
													onclick="PF('dlg27').show();" />
											</p:outputLabel>
											<p:inputText size="5" required="false" id="uf"
												value="#{cadastroUnidadeAdministrativaBean.unidadeAdministrativa.uf}"
												label="UF" immediate="true" maxlength="2"
												placeholder="informe a uf"
												title="Informe a UF(Unidade Federativa) da Unidade Administrativa." />
											<p:outputLabel />

											<p:outputLabel value="Município">
												<h:graphicImage library="lavor" name="ajuda.png" height="15"
													width="15" style="float:right;"
													onclick="PF('dlg28').show();" />
											</p:outputLabel>
											<p:inputText size="80" required="false" id="municipio"
												value="#{cadastroUnidadeAdministrativaBean.unidadeAdministrativa.municipio}"
												label="Município" immediate="true" maxlength="100"
												placeholder="informe o município"
												title="Informe o Munícipio da Unidade Administrativa." />
											<p:outputLabel />

											<p:outputLabel value="Distrito/Bairro">
												<h:graphicImage library="lavor" name="ajuda.png" height="15"
													width="15" style="float:right;"
													onclick="PF('dlg29').show();" />
											</p:outputLabel>
											<p:inputText size="80" required="false" id="bairro"
												value="#{cadastroUnidadeAdministrativaBean.unidadeAdministrativa.distrito}"
												label="Distrito" immediate="true" maxlength="150"
												placeholder="informe o distrito/bairro"
												title="Informe o Distrito/Bairro da Unidade Administrativa." />
											<p:outputLabel />

											<p:outputLabel value="Logradouro">
												<h:graphicImage library="lavor" name="ajuda.png" height="15"
													width="15" style="float:right;"
													onclick="PF('dlg30').show();" />
											</p:outputLabel>
											<p:inputText size="80" required="false" id="rua"
												value="#{cadastroUnidadeAdministrativaBean.unidadeAdministrativa.logradouro}"
												label="Logradouro" immediate="true" maxlength="100"
												placeholder="informe o nome do logradouro"
												title="Informe o nome do Logradouro." />
											<p:outputLabel />

											<p:outputLabel value="Número">
												<h:graphicImage library="lavor" name="ajuda.png" height="15"
													width="15" style="float:right;"
													onclick="PF('dlg31').show();" />
											</p:outputLabel>
											<p:inputText size="15" required="false"
												value="#{cadastroUnidadeAdministrativaBean.unidadeAdministrativa.numero}"
												label="Nome Fantasia" immediate="true" maxlength="10"
												placeholder="informe o número"
												title="Informe o Número do Endereço da Unidade Administrativa." />
											<p:outputLabel />

											<p:outputLabel value="Complemento">
												<h:graphicImage library="lavor" name="ajuda.png" height="15"
													width="15" style="float:right;"
													onclick="PF('dlg32').show();" />
											</p:outputLabel>
											<p:inputText size="80" required="false" id="complemento"
												value="#{cadastroUnidadeAdministrativaBean.unidadeAdministrativa.complemento}"
												label="Complemento" immediate="true" maxlength="150"
												placeholder="informe o complemento"
												title="Informe o Complemento do Endereço." />
											<p:outputLabel />

											<p:outputLabel value="Latitude">
												<h:graphicImage library="lavor" name="ajuda.png" height="15"
													width="15" style="float:right;"
													onclick="PF('dlg33').show();" />
											</p:outputLabel>
											<p:inputText size="15" required="false"
												value="#{cadastroUnidadeAdministrativaBean.unidadeAdministrativa.latitude}"
												label="Nome Fantasia" immediate="true" maxlength="20"
												placeholder="informe a latitude" title="Informe a Latitude." />
											<p:outputLabel />

											<p:outputLabel value="Longitude">
												<h:graphicImage library="lavor" name="ajuda.png" height="15"
													width="15" style="float:right;"
													onclick="PF('dlg34').show();" />
											</p:outputLabel>
											<p:inputText size="15" required="false"
												value="#{cadastroUnidadeAdministrativaBean.unidadeAdministrativa.longitude}"
												label="Nome Fantasia" immediate="true" maxlength="20"
												placeholder="informe o longitude"
												title="Informe a Longitude." />
											<p:outputLabel />
										</p:panelGrid>
									</p:panel>
									<p:outputLabel value=" * é campo de preenchimento obrigatório"
										style="font-size:11px; color:red;" />
								</p:tab>

								<p:tab id="localizacao" title="Localização Física"
									titleStyle="font-size:12px;">
									<p:panel header="Detalhes da Localização Física">
										<p:panelGrid columns="3" styleClass="semBorda">

											<p:outputLabel value="Prédio">
												<p:outputLabel value="*" style="font-size:11px; color:red;" />
												<h:graphicImage library="lavor" name="ajuda.png" height="15"
													width="15" style="float:right;"
													onclick="PF('dlg35').show();" />
											</p:outputLabel>
											<p:inputText size="50" required="true" id="predio"
												value="#{cadastroUnidadeAdministrativaBean.unidadeAdministrativa.predio}"
												label="Prédio" immediate="true" maxlength="100"
												placeholder="informe o nome do prédio da unidade administrativa"
												title="Informe o nome do Prédio da Unidade Administrativa." />
											<p:outputLabel />

											<p:outputLabel value="Piso">
												<p:outputLabel value="*" style="font-size:11px; color:red;" />
												<h:graphicImage library="lavor" name="ajuda.png" height="15"
													width="15" style="float:right;"
													onclick="PF('dlg36').show();" />
											</p:outputLabel>
											<p:spinner id="piso"
												value="#{cadastroUnidadeAdministrativaBean.unidadeAdministrativa.piso}"
												prefix="Piso " min="0" max="100" placeholder="informe piso"
												title="Informe qual o Piso no Prédio, que esta Localizado a Unidade Administrativa."
												required="true" size="10" immediate="true" />
											<p:outputLabel />

											<p:outputLabel value="Corredor">
												<p:outputLabel value="*" style="font-size:11px; color:red;" />
												<h:graphicImage library="lavor" name="ajuda.png" height="15"
													width="15" style="float:right;"
													onclick="PF('dlg37').show();" />
											</p:outputLabel>
											<p:spinner id="corredor"
												value="#{cadastroUnidadeAdministrativaBean.unidadeAdministrativa.corredor}"
												prefix="Corredor " min="0" max="30"
												placeholder="informe o corredor"
												title="Informe qual o Corredor." required="true" size="10"
												immediate="true" />
											<p:outputLabel />

											<p:outputLabel value="Sala">
												<p:outputLabel value="*" style="font-size:11px; color:red;" />
												<h:graphicImage library="lavor" name="ajuda.png" height="15"
													width="15" style="float:right;"
													onclick="PF('dlg38').show();" />
											</p:outputLabel>
											<p:inputText size="50" required="true" id="sala"
												value="#{cadastroUnidadeAdministrativaBean.unidadeAdministrativa.sala}"
												label="Sala" immediate="true" maxlength="50"
												placeholder="informe o nome da sala do prédio"
												title="Informe o nome da Sala do Prédio." />
											<p:outputLabel />

										</p:panelGrid>
									</p:panel>
									<p:outputLabel value=" * é campo de preenchimento obrigatório"
										style="font-size:11px; color:red;" />
								</p:tab>


								<p:tab id="confirmacao" title="Confirmação"
									titleStyle="font-size:12px;">
									<p:panel header="Detalhes da Confirmação (SALVAR REGISTRO?)">
										<p:panelGrid columns="4" styleClass="semBorda"
											columnClasses="grid,grid,grid">

											<h:outputText value="Unidade Administrativa: " />
											<h:outputText
												value="#{cadastroUnidadeAdministrativaBean.unidadeAdministrativa.nomeUnidadeAdministrativa}"
												styleClass="outputLabel" style="font-weight:bold" />

											<h:outputText
												value="Nome Resumido da Unidade Administrativa: " />
											<h:outputText
												value="#{cadastroUnidadeAdministrativaBean.unidadeAdministrativa.nomeResumido}"
												styleClass="outputLabel" style="font-weight:bold" />

											<h:outputText value="Código da Unidade Gestora: " />
											<h:outputText
												value="#{cadastroUnidadeAdministrativaBean.unidadeAdministrativa.unidadeGestora.codigoOrcamentario}"
												styleClass="outputLabel" style="font-weight:bold" />

											<h:outputText value="Nome da Unidade Gestora: " />
											<h:outputText
												value="#{cadastroUnidadeAdministrativaBean.unidadeAdministrativa.unidadeGestora.nomeUnidadeGestora}"
												styleClass="outputLabel" style="font-weight:bold" />

											<h:outputText value="Nome Resumido da Unidade Gestora: " />
											<h:outputText
												value="#{cadastroUnidadeAdministrativaBean.unidadeAdministrativa.unidadeGestora.nomeResumido}"
												styleClass="outputLabel" style="font-weight:bold" />

											<h:outputText value="CEP: " />
											<h:outputText
												value="#{cadastroUnidadeAdministrativaBean.unidadeAdministrativa.cep}"
												styleClass="outputLabel" style="font-weight:bold" />

											<h:outputText value="UF: " />
											<h:outputText
												value="#{cadastroUnidadeAdministrativaBean.unidadeAdministrativa.uf}"
												styleClass="outputLabel" style="font-weight:bold" />
											<h:outputText value="Município: " />
											<h:outputText
												value="#{cadastroUnidadeAdministrativaBean.unidadeAdministrativa.municipio}"
												styleClass="outputLabel" style="font-weight:bold" />

											<h:outputText value="Distrito/Bairro: " />
											<h:outputText
												value="#{cadastroUnidadeAdministrativaBean.unidadeAdministrativa.distrito}"
												styleClass="outputLabel" style="font-weight:bold" />

											<h:outputText value="Logradouro: " />
											<h:outputText
												value="#{cadastroUnidadeAdministrativaBean.unidadeAdministrativa.logradouro}"
												styleClass="outputLabel" style="font-weight:bold" />

											<h:outputText value="Número: " />
											<h:outputText
												value="#{cadastroUnidadeAdministrativaBean.unidadeAdministrativa.numero}"
												styleClass="outputLabel" style="font-weight:bold" />
											<h:outputText value="Complemento: " />
											<h:outputText
												value="#{cadastroUnidadeAdministrativaBean.unidadeAdministrativa.complemento}"
												styleClass="outputLabel" style="font-weight:bold" />

											<h:outputText value="Latitude: " />
											<h:outputText
												value="#{cadastroUnidadeAdministrativaBean.unidadeAdministrativa.latitude}"
												styleClass="outputLabel" style="font-weight:bold" />
											<h:outputText value="Longitude: " />
											<h:outputText
												value="#{cadastroUnidadeAdministrativaBean.unidadeAdministrativa.longitude}"
												styleClass="outputLabel" style="font-weight:bold" />

											<h:outputText value="Prédio: " />
											<h:outputText
												value="#{cadastroUnidadeAdministrativaBean.unidadeAdministrativa.predio}"
												styleClass="outputLabel" style="font-weight:bold" />
											<h:outputText value="Piso: " />
											<h:outputText
												value="#{cadastroUnidadeAdministrativaBean.unidadeAdministrativa.piso}"
												styleClass="outputLabel" style="font-weight:bold" />

											<h:outputText value="Corredor: " />
											<h:outputText
												value="#{cadastroUnidadeAdministrativaBean.unidadeAdministrativa.corredor}"
												styleClass="outputLabel" style="font-weight:bold" />
											<h:outputText value="Sala: " />
											<h:outputText
												value="#{cadastroUnidadeAdministrativaBean.unidadeAdministrativa.sala}"
												styleClass="outputLabel" style="font-weight:bold" />

											<h:outputText />
											<p:commandButton value="Salvar" style="width:100px"
												onblur="setarFocoMatricula();"
												action="#{cadastroUnidadeAdministrativaBean.salvar}"
												icon="ui-icon-save" process=":frm2"
												update=":frm:unidadeAdministrativa"
												oncomplete="PF('dlg22').hide(); return false;" />

											<p:commandButton value="Cancelar" ignoreAutoUpdate="true" style="width:100px"
												icon="ui-icon-cancel"
												onclick="PF('dlg22').hide(); return false" />
										</p:panelGrid>
									</p:panel>
								</p:tab>
							</p:wizard>
						</h:form>
					</p:dialog>

					<p:dialog header="Ajuda: Unidade Gestora" widgetVar="dlg23"
						showEffect="explode" width="600" height="100" resizable="false"
						maximizable="false" position="center" hideEffect="explode">
						<h:outputText
							value="São as Unidades orçamentárias ou administrativas investidas do poderes de gerir recursos orçamentários e financeiros, próprios ou sob descentralização." />
						<br />
						<br />
						<h:outputText value="Por exemplo: Secretaria de Estado da Fazenda" />
						<br />
						<div align="center">
							<p:button value="OK" icon="ui-icon-check"
								onclick="PF('dlg23').hide(); return false" style="width:100px"/>
						</div>
					</p:dialog>

					<p:dialog header="Ajuda: Nome da Unidade Administrativa"
						widgetVar="dlg24" showEffect="explode" width="600" height="90"
						resizable="false" maximizable="false" position="center"
						hideEffect="explode">
						<h:outputText
							value="É a descrição do nome da Unidade Administrativa." />
						<br />
						<br />
						<h:outputText value="Por exemplo: Departamento de Patrimônio" />
						<br />
						<div align="center">
							<p:button value="OK" icon="ui-icon-check"
								onclick="PF('dlg24').hide(); return false" style="width:100px"/>
						</div>
					</p:dialog>

					<p:dialog header="Ajuda: Nome Resumido" widgetVar="dlg25"
						showEffect="explode" width="600" height="90" resizable="false"
						maximizable="false" position="center" hideEffect="explode">
						<h:outputText
							value="É a descrição do nome Resumido da Unidade Administrativa." />
						<br />
						<br />
						<h:outputText
							value="Por exemplo: O nome resumido para o Departamento de Patrimônio, poderia ser DEPAT" />
						<br />
						<div align="center">
							<p:button value="OK" icon="ui-icon-check"
								onclick="PF('dlg25').hide(); return false" style="width:100px" />
						</div>
					</p:dialog>



					<p:dialog header="Ajuda: CEP" widgetVar="dlg26"
						showEffect="explode" width="500" height="120" resizable="false"
						maximizable="false" position="center" hideEffect="explode">
						<h:outputText
							value="É a sigla de Código de Endereçamento Postal, criado e utilizado pelos Correios para facilitar o encaminhamento e a entrega das correspondências aos destinatários." />
						<br />
						<br />
						<h:outputText value="Por exemplo: 69305520" />
						<br />
						<div align="center">
							<p:button value="OK" icon="ui-icon-check"
								onclick="PF('dlg26').hide(); return false" style="width:100px"/>
						</div>
					</p:dialog>


					<p:dialog header="Ajuda: UF" widgetVar="dlg27" showEffect="explode"
						width="500" height="120" resizable="false" maximizable="false"
						position="center" hideEffect="explode">
						<h:outputText
							value="É a sigla para Unidade da Federação. Unidade da Federação refere-se aos Estados brasileiros, porque cada um representa uma Unidade da Federação." />
						<br />
						<br />
						<h:outputText value="Por exemplo: RR" />
						<br />
						<div align="center">
							<p:button value="OK" icon="ui-icon-check"
								onclick="PF('dlg27').hide(); return false" style="width:100px"/>
						</div>
					</p:dialog>

					<p:dialog header="Ajuda: Munícipio" widgetVar="dlg28"
						showEffect="explode" width="500" height="100" resizable="false"
						maximizable="false" position="center" hideEffect="explode">
						<h:outputText
							value="É nome do Munícipio onde está localizado a Unidade." />
						<br />
						<br />
						<h:outputText value="Por exemplo: Boa Vista" />
						<br />
						<div align="center">
							<p:button value="OK" icon="ui-icon-check"
								onclick="PF('dlg28').hide(); return false" style="width:100px"/>
						</div>
					</p:dialog>

					<p:dialog header="Ajuda: Distrito/Bairro" widgetVar="dlg29"
						showEffect="explode" width="500" height="100" resizable="false"
						maximizable="false" position="center" hideEffect="explode">
						<h:outputText value="É nome do Distrito/Bairro da Unidade." />
						<br />
						<br />
						<h:outputText value="Por exemplo: Centro" />
						<br />
						<div align="center">
							<p:button value="OK" icon="ui-icon-check"
								onclick="PF('dlg29').hide(); return false" style="width:100px"/>
						</div>
					</p:dialog>

					<p:dialog header="Ajuda: Logradouro" widgetVar="dlg30"
						showEffect="explode" width="500" height="100" resizable="false"
						maximizable="false" position="center" hideEffect="explode">
						<h:outputText
							value="É o nome da  rua; um endereço de espaço público ou privado da Unidade." />
						<br />
						<br />
						<h:outputText value="Por exemplo: Avenida Ville Roy" />
						<br />
						<div align="center">
							<p:button value="OK" icon="ui-icon-check"
								onclick="PF('dlg30').hide(); return false" style="width:100px" />
						</div>
					</p:dialog>

					<p:dialog header="Ajuda: Número" widgetVar="dlg31"
						showEffect="explode" width="500" height="100" resizable="false"
						maximizable="false" position="center" hideEffect="explode">
						<h:outputText
							value="É o número de identificação do estabelecimento público ou privado da Unidade Administrativa." />
						<br />
						<br />
						<h:outputText value="Por exemplo: 123" />
						<br />
						<div align="center">
							<p:button value="OK" icon="ui-icon-check"
								onclick="PF('dlg31').hide(); return false" style="width:100px"/>
						</div>
					</p:dialog>

					<p:dialog header="Ajuda: Complemento" widgetVar="dlg32"
						showEffect="explode" width="500" height="100" resizable="false"
						maximizable="false" position="center" hideEffect="explode">
						<h:outputText
							value="Na necessidade de ser mais preciso, no endereçamento, para indicar uma referência mais precisa." />
						<br />
						<br />
						<h:outputText
							value="Por exemplo: Apartamento 123, Próximo ao Supermercado." />
						<br />
						<div align="center">
							<p:button value="OK" icon="ui-icon-check"
								onclick="PF('dlg32').hide(); return false" style="width:100px"/>
						</div>
					</p:dialog>

					<p:dialog header="Ajuda: Latitude" widgetVar="dlg33"
						positionType="Center" showEffect="explode" width="500"
						height="auto" resizable="false" maximizable="false"
						position="center" hideEffect="explode">
						<h:outputText
							value="Latitude é uma coordenada geográfica, sendo a distância ao Equador medida ao longo do meridiano de Greenwich. Esta distância mede-se em graus, podendo variar entre 0º e 90º para Norte(N) ou para Sul(S)." />
						<br />
						<p:media value="http://www.youtube.com/v/RxLrXbGH82A" width="405"
							height="300" player="flash" />
						<br />
						<h:outputText value="Por exemplo:2°49'17.1''N  =  2.8214237" />
						<br />
						<div align="center">
							<p:button value="OK" icon="ui-icon-check"
								onclick="PF('dlg33').hide(); return false" style="width:100px"/>
						</div>
					</p:dialog>

					<p:dialog header="Ajuda: Longitude" widgetVar="dlg34"
						positionType="Center" showEffect="explode" width="500"
						height="auto" resizable="false" maximizable="false"
						position="center" hideEffect="explode">
						<h:outputText
							value="Longitude é uma coordenada geográfica, sendo a distância ao meridiano de Greenwich medida ao longo do Equador. Esta distância mede-se em graus, podendo variar entre 0º e 180º para Leste(E) ou para Oeste(W)." />
						<br />
						<p:media value="http://www.youtube.com/v/RxLrXbGH82A" width="405"
							height="300" player="flash" />
						<br />
						<h:outputText value="Por exemplo:60°40'22.6''W  = -60.690454" />
						<br />
						<div align="center">
							<p:button value="OK" icon="ui-icon-check"
								onclick="PF('dlg34').hide(); return false" style="width:100px"/>
						</div>
					</p:dialog>

					<p:dialog header="Ajuda: Prédio" widgetVar="dlg35"
						showEffect="explode" width="600" height="100" resizable="false"
						maximizable="false" position="center" hideEffect="explode">
						<h:outputText value="Nome do Prédio." />
						<br />
						<h:outputText value="Por exemplo: " />
						<h:outputText value="Prédio Cidade Administrativa"
							style="font-weight:bold" />

						<br />
						<br />
						<div align="center">
							<p:button value="OK" icon="ui-icon-check"
								onclick="PF('dlg35').hide(); return false" style="width:100px"/>
						</div>
					</p:dialog>

					<p:dialog header="Ajuda: Piso" widgetVar="dlg36"
						showEffect="explode" width="600" height="100" resizable="false"
						maximizable="false" position="center" hideEffect="explode">
						<h:outputText value="Número do Piso do Prédio" />
						<br />
						<h:outputText value="Por exemplo: Prédio Cidade Administrativa," />
						<h:outputText value=" Piso 2" style="font-weight:bold" />
						<br />
						<br />
						<div align="center">
							<p:button value="OK" icon="ui-icon-check"
								onclick="PF('dlg36').hide(); return false" style="width:100px"/>
						</div>
					</p:dialog>

					<p:dialog header="Ajuda: Corredor" widgetVar="dlg37"
						showEffect="explode" width="600" height="100" resizable="false"
						maximizable="false" position="center" hideEffect="explode">
						<h:outputText value="Número do Corredor do Prédio" />
						<br />
						<h:outputText
							value="Por exemplo: Prédio Cidade Administrativa, Piso 2, " />
						<h:outputText value="Corredor 1" style="font-weight:bold" />
						<br />
						<br />
						<div align="center">
							<p:button value="OK" icon="ui-icon-check"
								onclick="PF('dlg37').hide(); return false" style="width:100px"/>
						</div>
					</p:dialog>

					<p:dialog header="Ajuda: Sala" widgetVar="dlg38"
						showEffect="explode" width="600" height="100" resizable="false"
						maximizable="false" position="center" hideEffect="explode">
						<h:outputText value="Nome/Número da Sala" />
						<br />
						<h:outputText
							value="Por exemplo: Prédio Cidade Administrativa, Piso 2, Corredor 1, " />
						<h:outputText value="Sala 5" style="font-weight:bold" />

						<br />
						<br />
						<div align="center">
							<p:button value="OK" icon="ui-icon-check"
								onclick="PF('dlg38').hide(); return false" style="width:100px"/>
						</div>
					</p:dialog>

					<h:form>
						<p:dialog header="FOTO: Escolha uma das Opções:" widgetVar="dlg39"
							showEffect="explode" width="450" height="270" resizable="false"
							maximizable="false" position="center" hideEffect="explode">
							<p:panelGrid columns="2">
								<f:facet name="header">
									<h:outputText value="Escolha a opção para enviar a foto:"
										style="font-weight:bold" />
								</f:facet>

								<h:graphicImage library="lavor" name="arquivofoto.jpg"
									height="180" width="180" title="Escolher uma Foto Existente"
									style="float:right;" onclick="PF('dlg40').show();" />

								<h:graphicImage library="lavor" name="foto.jpg" height="180"
									width="180" title="Tirar Foto" style="float:right;"
									onclick="PF('dlg41').show();" />
							</p:panelGrid>
							<div align="center">
								<p:button value="Fechar" icon="ui-icon-close"
									onclick="PF('dlg39').hide(); return false" style="width:100px"/>
							</div>
						</p:dialog>


						<p:dialog header="Enviar Foto Existente" widgetVar="dlg40"
							showEffect="explode" width="600" height="280" resizable="false"
							maximizable="false" position="center" hideEffect="explode"
							modal="true">
							<p:outputLabel value="Foto">
								<p:outputLabel />
								<h:graphicImage library="lavor" name="ajuda.png" height="15"
									width="15" onclick="PF('dlg5').show();" />
							</p:outputLabel>
							<h:form enctype="multipart/form-data" id="frmfu">
								<p:fileUpload fileLimit="3"
									fileLimitMessage="Só é permitido enviar apenas uma foto."
									label="Selecionar Foto" sizeLimit="1000000" customUI="true"
									multiple="false"
									invalidSizeMessage="Tamanho inválido! Tamanho máximo permitido 1MB."
									fileUploadListener="#{cadastroFuncionarioBean.uploadAction}"
									update=":frm:photo" mode="advanced" cancelLabel="Cancelar"
									uploadLabel="Enviar" auto="false"
									invalidFileMessage="Formato inválido!"
									allowTypes="/(\.|\/)(jpe?g|png)$/" />
							</h:form>
							<div align="center">
								<p:button value="Fechar" icon="ui-icon-close"
									onclick="PF('dlg40').hide(); return false" style="width:100px"/>
							</div>
						</p:dialog>

						<p:dialog header="Capturar Foto" widgetVar="dlg41"
							showEffect="explode" width="440" height="290" resizable="false"
							maximizable="false" position="center" hideEffect="explode"
							modal="true">
							<h:form id="frmpc">
								<p:panelGrid columns="2">
									<p:photoCam widgetVar="pc" height="200" width="200"
										listener="#{cadastroFuncionarioBean.photoCamAction}"
										update="photo :frm:photo" />

									<p:graphicImage height="170" width="170" id="photo"
										library="enviados/funcionarios"
										name="#{cadastroFuncionarioBean.funcionario.foto}"
										rendered="#{not empty cadastroFuncionarioBean.funcionario.foto}" />

									<p:commandButton type="button" value="Capturar FOTO"
										style="float:center; width:100px" onclick="PF('pc').capture()"/>
									<h:outputText />
								</p:panelGrid>
							</h:form>

							<div align="center">
								<p:button value="Fechar" icon="ui-icon-close"
									onclick="PF('dlg41').hide(); return false" style="width:100px" />
							</div>
						</p:dialog>
					</h:form>
				</div>
			</div>
		</div>
	</ui:define>
</ui:composition>