<!DOCTYPE html>
<ui:composition template="/WEB-INF/template.xhtml"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">

	<f:metadata>
		<f:viewAction action="#{consultaFuncionariosBean.consultar}" />
	</f:metadata>

	<ui:define name="titulo">Consulta de Funcionários</ui:define>

	<ui:define name="content">
		<div class="ui-g ui-fluid">
			<div class="ui-g-12">
				<div class="card">
					<!-- Estilo usado para  -->
					<style type="text/css">
.colored {
	color: red;
}

.colorvermelho {
	color: red;
}

.colorgreen {
	/* background-color:green; */
	color: green;
}
</style>

					<h1>
						<h:graphicImage library="lavor" name="funcionarios.png"
							height="45" width="45" />
						Consulta de Funcionários <a href="../../dashboard.xhtml"><h:graphicImage
								library="lavor" name="voltar.gif" height="35" width="80"
								style="float:right;" /> </a>
					</h1>

					<h:form id="frm">
						<p:messages showDetail="false" showSummary="true"
							autoUpdate="true" />

						<!-- <p:dataTable
				value="#{consultaReferenciasFornecedoresBean.referenciasFornecedores}"
				var="referenciasFornecedores" border="1" cellspacing="0"
				cellpadding="2" paginator="true" rows="10"
				paginatorPosition="bottom" id="tabela"
				emptyMessage="Não foi localizado o registro solicitado."
				rowStyleClass="#{referenciasFornecedores.regraFornecedor le 'Bloqueado' ? 'colored' : null}"> -->

						<p:dataTable value="#{consultaFuncionariosBean.funcionarios}"
							expandableRowGroups="true" reflow="true" selectionMode="single"
							selection="#{consultaFuncionariosBean.funcionarioSelecionado}"
							rowKey="#{funcionario.codigoFuncionario}"
							widgetVar="funcionarioTabela" var="funcionario" border="1"
							cellspacing="0" cellpadding="2" paginator="true" rows="8"
							rowsPerPageTemplate="8,25,50,100" paginatorPosition="bottom"
							id="tabela"
							emptyMessage="Não foi localizado o registro solicitado."
							rowStyleClass="#{funcionario.tipoSituacaoFuncionario eq 'Inativo' ? 'colored' : null}"
							paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
							currentPageReportTemplate="Total de {totalRecords} registros localizados - Página: {currentPage} de {totalPages}">

							<f:facet name="header">
       				 Lista de Funcionários
					<div align="right">
									<p:commandButton id="toggler" type="button"
										value="Ajuste Colunas" icon="ui-icon-calculator" />
								</div>
								<p:columnToggler datasource="tabela" trigger="toggler" />
							</f:facet>

							<f:facet name="footer">
								<div align="right">
									Exportar
									<h:commandLink>
										<h:graphicImage library="lavor" name="pdf.png" width="20"
											title="Exportar para PDF" />
										<p:dataExporter type="pdf" target="tabela"
											fileName="funcionarios" />
									</h:commandLink>

									<h:commandLink>
										<h:graphicImage library="lavor" name="xls.png" width="20"
											title="Exportar para XLS" />
										<p:dataExporter type="xls" target="tabela"
											fileName="funcionarios" />
									</h:commandLink>

									<h:commandLink>
										<h:graphicImage library="lavor" name="xml.png" width="20"
											title="Exportar para XML" />
										<p:dataExporter type="xml" target="tabela"
											fileName="funcionarios" />
									</h:commandLink>
								</div>
							</f:facet>

							<p:column headerText="Foto" style="width:4%">
								<h:graphicImage name="#{funcionario.foto}"
									library="enviados/funcionarios" width="50" height="55" />
							</p:column>

							<p:column headerText="Nome do Funcionário" style="width:22%"
								sortBy="#{funcionario.nomeFuncionario}"
								filterBy="#{funcionario.nomeFuncionario}"
								filterMatchMode="contains" id="camponome">
								<h:outputText value="#{funcionario.nomeFuncionario}" />
							</p:column>

							<p:column headerText="CPF" style="width:80px;text-align: center"
								sortBy="#{funcionario.cpf}" filterBy="#{funcionario.cpf}"
								filterMatchMode="contains" id="campocpf">
								<h:outputText value="#{funcionario.cpf}" />
							</p:column>

							<p:column headerText="Unid. Gestora/Administrativa"
								style="width:110px;text-align: center"
								sortBy="#{funcionario.unidadeAdministrativa.unidadeGestora.nomeResumido} / #{funcionario.unidadeAdministrativa.nomeResumido}"
								filterBy="#{funcionario.unidadeAdministrativa.unidadeGestora.nomeResumido} / #{funcionario.unidadeAdministrativa.nomeResumido}"
								filterMatchMode="contains" id="campounidadeadm">
								<h:outputText
									value="#{funcionario.unidadeAdministrativa.unidadeGestora.nomeResumido} / #{funcionario.unidadeAdministrativa.nomeResumido}" />
							</p:column>

							<p:column headerText="Cargo"
								style="width:80px;text-align: center"
								sortBy="#{funcionario.cargo.descricaoCargo}"
								filterBy="#{funcionario.cargo.descricaoCargo}"
								filterMatchMode="contains" id="campocargo">
								<h:outputText value="#{funcionario.cargo.descricaoCargo}" />
							</p:column>

							<p:column headerText="Responsável Patrimonial"
								style="width:70px;text-align: center"
								sortBy="#{funcionario.responsavelPatrimonial}"
								filterBy="#{funcionario.responsavelPatrimonial}"
								filterMatchMode="contains" id="camporesponsavel">
								<h:outputText value="#{funcionario.responsavelPatrimonial}" />
							</p:column>

							<p:column headerText="Responsável Inventário"
								style="width:70px;text-align: center"
								sortBy="#{funcionario.responsavelInventario}"
								filterBy="#{funcionario.responsavelInventario}"
								filterMatchMode="contains" id="camporesponsavelinventario">
								<h:outputText value="#{funcionario.responsavelInventario}" />
							</p:column>

							<p:column headerText="Situação"
								style="width:70px;text-align: center"
								sortBy="#{funcionario.tipoSituacaoFuncionario}"
								filterBy="#{funcionario.tipoSituacaoFuncionario}"
								filterMatchMode="exact" id="camposituacao">
								<h:outputText value="#{funcionario.tipoSituacaoFuncionario}" />
							</p:column>

							<p:column headerText="Ação" style="width:90px" exportable="false">
								<div align="center">
									<p:column style="width:20px">
										<p:commandButton update=":frm:funcionarioDetalhes"  styleClass="blue-grey-btn"
											oncomplete="PF('dlgver').show()" icon="ui-icon-search"
											title="Ver">
											<f:setPropertyActionListener value="#{funcionario}"
												target="#{consultaFuncionariosBean.funcionarioSelecionado}" />
										</p:commandButton>
									</p:column>
									<p:column style="width:20px">
										<p:button icon="ui-icon-pencil" title="Alterar"
										    rendered="#{seguranca.autoridades=='[ROLE_ADMINISTRADORES]' or seguranca.autoridades=='[ROLE_GESTORES]'}"
											outcome="/paginas/Funcionario/CadastroFuncionarioEdit">
											<f:param name="codigoFuncionario"
												value="#{funcionario.codigoFuncionario}" />
										</p:button>
									</p:column>
									<p:column style="width:20px">
										<p:commandButton icon="ui-icon-trash" title="Excluir"  styleClass="red-btn"
										    rendered="#{seguranca.autoridades=='[ROLE_ADMINISTRADORES]'}"
											process="@this" update="@form"
											action="#{consultaFuncionariosBean.excluir}">
											<p:confirm header="Excluindo..."
												message="Tem certeza que deseja excluir este Registro?"
												icon="ui-icon-alert" />
											<f:setPropertyActionListener value="#{funcionario}"
												target="#{consultaFuncionariosBean.funcionarioSelecionado}" />
										</p:commandButton>
									</p:column>
								</div>
							</p:column>
						</p:dataTable>

						<p:dialog header="Detalhes: Funcionário " widgetVar="dlgver"
							modal="true" showEffect="fade" hideEffect="fade" height="auto"
							resizable="false">
							<p:outputPanel id="funcionarioDetalhes"
								style="text-align:center;">
								<p:panelGrid columns="2"
									rendered="#{not empty consultaFuncionariosBean.funcionarioSelecionado}"
									columnClasses="label,value">

									<h:outputText value="Foto tamanho recomendado: 121x150"
										style="font-weight:bold" />
									<h:graphicImage library="enviados/funcionarios"
										name="#{consultaFuncionariosBean.funcionarioSelecionado.foto}"
										width="101" height="130" />

									<h:outputText value="Nome do Funcionário"
										style="font-weight:bold" />
									<h:outputText
										value="#{consultaFuncionariosBean.funcionarioSelecionado.nomeFuncionario}"
										style="font-weight:bold" />

									<h:outputText value="Responsável Patrimonial"
										style="font-weight:bold;" />
									<h:outputText
										value="#{consultaFuncionariosBean.funcionarioSelecionado.responsavelPatrimonial}"
										style="font-weight:bold"
										styleClass="#{consultaFuncionariosBean.funcionarioSelecionado.responsavelPatrimonial eq 'Sim' ? 'colorgreen' : 'colorvermelho'}" />

									<h:outputText value="Responsável pelo Inventário"
										style="font-weight:bold;" />
									<h:outputText
										value="#{consultaFuncionariosBean.funcionarioSelecionado.responsavelInventario}"
										style="font-weight:bold"
										styleClass="#{consultaFuncionariosBean.funcionarioSelecionado.responsavelInventario eq 'Sim' ? 'colorgreen' : 'colorvermelho'}" />


									<h:outputText value="Situação" style="font-weight:bold;" />
									<h:outputText
										value="#{consultaFuncionariosBean.funcionarioSelecionado.tipoSituacaoFuncionario}"
										style="font-weight:bold"
										styleClass="#{consultaFuncionariosBean.funcionarioSelecionado.tipoSituacaoFuncionario eq 'Ativo' ? 'colorgreen' : 'colorvermelho'}" />

									<h:outputText value="Unidade Gestora" />
									<h:outputText
										value="#{consultaFuncionariosBean.funcionarioSelecionado.unidadeAdministrativa.unidadeGestora.codigoOrcamentario} - 
						#{consultaFuncionariosBean.funcionarioSelecionado.unidadeAdministrativa.unidadeGestora.nomeUnidadeGestora}  (#{consultaFuncionariosBean.funcionarioSelecionado.unidadeAdministrativa.unidadeGestora.nomeResumido})" />

									<h:outputText value="Unidade Administrativa" />
									<h:outputText
										value="#{consultaFuncionariosBean.funcionarioSelecionado.unidadeAdministrativa.nomeUnidadeAdministrativa} (#{consultaFuncionariosBean.funcionarioSelecionado.unidadeAdministrativa.nomeResumido})" />

									<h:outputText
										value="Localização Física da Unidade Administrativa" />
									<h:outputText
										value="Prédio: #{consultaFuncionariosBean.funcionarioSelecionado.unidadeAdministrativa.predio} 
							Piso: #{consultaFuncionariosBean.funcionarioSelecionado.unidadeAdministrativa.piso} 
							Corredor: #{consultaFuncionariosBean.funcionarioSelecionado.unidadeAdministrativa.corredor} 
						    Sala:  #{consultaFuncionariosBean.funcionarioSelecionado.unidadeAdministrativa.sala}" />

									<h:outputText value="Cargo" />
									<h:outputText
										value="#{consultaFuncionariosBean.funcionarioSelecionado.cargo.descricaoCargo}" />


								</p:panelGrid>
							</p:outputPanel>
							<br />
							<div align="center">
								<p:button value="OK" icon="ui-icon-check"
									onclick="PF('dlgver').hide(); return false"  style="width:100px" />
							</div>
						</p:dialog>
					</h:form>
				</div>
			</div>
		</div>
	</ui:define>
</ui:composition>