<!DOCTYPE html>
<ui:composition template="/WEB-INF/template.xhtml"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:p="http://primefaces.org/ui" xmlns:o="http://omnifaces.org/ui"
	xmlns:pe="http://primefaces.org/ui/extensions">

	<f:metadata>
		<o:viewParam name="codigoReparo" value="#{cadastroReparoBean.reparo}" />
		<f:viewAction action="#{cadastroReparoBean.prepararCadastroRetorno}" />
	</f:metadata>

	<ui:define name="titulo">RETORNO de Bem Patrimonial de REPARO</ui:define>

	<ui:define name="content">
		<div class="ui-g ui-fluid">
			<div class="ui-g-12">
				<div class="card">
					<h1>
						<h:graphicImage library="lavor" name="reparoretorno.png"
							height="45" width="45" />
						RETORNO de Bem Patrimonial de REPARO <a
							href="ConsultaReparos.xhtml"><h:graphicImage library="lavor"
								name="voltar.gif" height="35" width="80" style="float:right;" />
						</a>
					</h1>

					<h:form id="frm">

						<p:messages showDetail="false" showSummary="true"
							autoUpdate="true" />

						<p:panel header="RETORNO de Bem Patrimonial de REPARO ">
							<p:panelGrid columns="3" styleClass="semBorda">

								<h:outputText value="Bem Patrimonial" style="font-weight:bold" />
								<h:outputText style="font-weight:bold" 
									value="#{cadastroReparoBean.reparo.bemMovel.numeroPatrimonio} #{cadastroReparoBean.reparo.bemMovel.descricao}" />
								<p:outputLabel />

								<p:outputLabel />
								<h:outputText id="responsavel"
									style="font-size:12px; color:green;font-weight:bold"
									value="Funcionário Responsável pela Guarda do Bem:  #{cadastroReparoBean.reparo.bemMovel.novoFuncionarioResponsavelPatrimonial.nomeFuncionario} / #{cadastroReparoBean.reparo.bemMovel.novoFuncionarioResponsavelPatrimonial.cargo.descricaoCargo}" />
								<p:outputLabel />

								<h:outputText value="Fornecedor Serviço"
									style="font-weight:bold" />
								<h:outputText style="font-weight:bold" 
									value="#{cadastroReparoBean.reparo.fornecedorReparo.nomeFornecedor}" />
								<p:outputLabel />

								<p:outputLabel value="Data de Saída" style="font-weight:bold" />
								<h:outputText style="color:red;font-weight:bold"
									value="#{cadastroReparoBean.reparo.dataSaida}"
									styleClass="outputLabel">
									<f:convertDateTime pattern="dd/MM/yyyy" />
								</h:outputText>
								<p:outputLabel />

								<h:outputText value="Descrição do Defeito"
									style="font-weight:bold" />
								<h:outputText style="color:red;font-weight:bold"
									value="#{cadastroReparoBean.reparo.descricaoDefeito}" />
								<p:outputLabel />


								<p:outputLabel value="Data de Retorno">
									<p:outputLabel value=" *" style="font-size:11px;" />
									<h:graphicImage library="lavor" name="ajuda.png" height="15"
										width="15" style="float:right;" onclick="PF('dlg1').show();" />
								</p:outputLabel>
								<p:calendar id="dataretorno" effect="fold" showOn="button"
									disabledWeekends="false" mask="true" required="true"
									value="#{cadastroReparoBean.reparo.dataRetorno}"
									placeholder="informe a data de retorno"
									title="Informe a Data de Retorno do Reparo do Bem Patrimonial."
									pattern="dd/MM/yyyy" locale="pt" />
								<p:outputLabel />

								<p:outputLabel value="Descrição do Reparo" for="defeito">
									<h:graphicImage library="lavor" name="ajuda.png" height="15"
										width="15" style="float:right;" onclick="PF('dlg2').show();" />
								</p:outputLabel>
								<h:panelGroup styleClass="md-inputfield">
									<p:inputTextarea id="defeito" styleClass="md-inputfield"
										maxlength="700"
										value="#{cadastroReparoBean.reparo.descricaoReparo}"
										immediate="true"
										required="true"
										title="Informe a Descrição do Reparo do Bem Patrimonial."
										counterTemplate="{0} restantes" counter="display"
										autoResize="true|false" rows="4" cols="120" />
									<h:outputText id="display" />
									<label>Descrição do Reparo</label>
								</h:panelGroup>
								<p:outputLabel />

								<p:outputLabel value="Anexo Ordem de Serviço do Fornecedor">
									<h:graphicImage library="lavor" name="ajuda.png" height="15"
										width="15" style="float:right;" onclick="PF('dlg3').show();" />
									<h:graphicImage id="ver" library="lavor" name="ver.png"
										height="20" width="20" style="float:right;"
										onclick="PF('dlgOS').show();"
										title="Visualizar Ordem de Serviço de Reparo" />
								</p:outputLabel>
								<p:outputLabel id="ospdf"
									value="#{cadastroReparoBean.reparo.ordemServicoRetornoPdf}">

									<p:fileUpload fileLimit="3"
										fileLimitMessage="Só é permitido enviar apenas um documento de Ordem de Serviço de reparo."
										label="Selecionar Ordem de Serviço PDF" sizeLimit="1000000"
										customUI="true" multiple="false"
										invalidSizeMessage="Tamanho inválido! Tamanho máximo permitido 1MB."
										fileUploadListener="#{cadastroReparoBean.uploadPdf}"
										update="ospdf :frm:pdfviewos" mode="advanced"
										cancelLabel="Cancelar" uploadLabel="Enviar" auto="false"
										invalidFileMessage="Formato inválido!"
										allowTypes="/(\.|\/)(pdf)$/" />
								</p:outputLabel>
								<p:outputLabel />

								<p:outputLabel value="Valor do Reparo">
									<p:outputLabel value=" *" style="font-size:11px; color:red;" />
									<h:graphicImage library="lavor" name="ajuda.png" height="15"
										width="15" style="float:right;" onclick="PF('dlg4').show();" />
								</p:outputLabel>
								<p:inputNumber value="#{cadastroReparoBean.reparo.valorReparo}"
									required="true" symbol="R$ " symbolPosition="p"
									decimalSeparator="," thousandSeparator="." immediate="true"
									label="Valor do Reparos do Bem" maxlength="12"
									title="Informe o valor do reparo do Bem Patrimonial.">
								</p:inputNumber>
								<p:outputLabel />

								<p:outputLabel value="Dias de Garantia do Reparo">
									<p:outputLabel value="*" style="font-size:11px; color:red;" />
									<h:graphicImage library="lavor" name="ajuda.png" height="15"
										width="15" style="float:right;" onclick="PF('dlg5').show();" />
								</p:outputLabel>
								<p:spinner id="dias"
									value="#{cadastroReparoBean.reparo.diasDeGarantia}"
									prefix="Dias " min="0" max="1000" placeholder="informe dias"
									title="Informe os dias de garantia do reparo."
									required="true" size="10" immediate="true" />
								<p:outputLabel />

								<p:outputLabel />
								<p:outputLabel value=" * é campo de preenchimento obrigatório"
									style="font-size:11px; color:red;" />
								<p:outputLabel />
								<p:outputLabel />
								<p:commandButton value="Salvar"
									action="#{cadastroReparoBean.editar}" icon="ui-icon-save"
									style="width:100px" process="@form" update="@form" />
							</p:panelGrid>
						</p:panel>
						
						<p:dialog header="Ajuda: Data de Retorno" widgetVar="dlg1"
							showEffect="explode" width="600" height="90" resizable="false"
							maximizable="false" position="center" hideEffect="explode">
							<h:outputText
								value="É data de retorno do bem patrimonial a Unidade Administrativa." />
							<br />
							<br />
							<br />
							<div align="center">
								<p:button value="OK" icon="ui-icon-check"
									onclick="PF('dlg1').hide(); return false" style="width:100px" />
							</div>
						</p:dialog>

						<p:dialog header="Ajuda: Descrição do Reparo" widgetVar="dlg2"
							showEffect="explode" width="600" height="90" resizable="false"
							maximizable="false" position="center" hideEffect="explode">
							<h:outputText value="É a descrição detalhada do reparo efetuado no Bem patrimonial." />
							<br />
							<br />
							<div align="center">
								<p:button value="OK" icon="ui-icon-check"
									onclick="PF('dlg2').hide(); return false" style="width:100px" />
							</div>
						</p:dialog>

						<p:dialog header="Ajuda: Anexo Ordem de Serviço do Fornecedor" widgetVar="dlg3"
							showEffect="explode" width="600" height="120" resizable="false"
							maximizable="false" position="center" hideEffect="explode">
							<h:outputText
								value="É a ordem de serviço ou similar digitalizada em formato PDF." />
							<br />
							<br />
							<div align="center">
								<p:button value="OK" icon="ui-icon-check"
									onclick="PF('dlg3').hide(); return false" style="width:100px" />
							</div>
						</p:dialog>


						<p:dialog header="Ajuda: Valor do Reparo" widgetVar="dlg4"
							showEffect="explode" width="600" height="90" resizable="false"
							maximizable="false" position="center" hideEffect="explode">
							<h:outputText
								value="É o valor do custo total do reparo do bem patrimonial." />
							<br />
							<br />
							<br />
							<div align="center">
								<p:button value="OK" icon="ui-icon-check"
									onclick="PF('dlg4').hide(); return false" style="width:100px" />
							</div>
						</p:dialog>
						
						<p:dialog header="Ajuda: Dias de Garantia do Reparo" widgetVar="dlg5"
							showEffect="explode" width="600" height="100" resizable="false"
							maximizable="false" position="center" hideEffect="explode">
							<h:outputText
								value="É quantidade total de dias de garantia da qualidade do serviço/reparo efetuado no bem patrimonial." />
							<br />
							<br />
							<br />
							<div align="center">
								<p:button value="OK" icon="ui-icon-check"
									onclick="PF('dlg5').hide(); return false" style="width:100px" />
							</div>
						</p:dialog>
						
						


						<p:dialog
							header="Informação: Arquivo PDF-Ordem de Serviço do Fornecedor"
							widgetVar="dlgOS" showEffect="explode" width="600" height="500"
							resizable="false" maximizable="false" position="center"
							hideEffect="explode">
							<pe:documentViewer id="pdfviewos" width="550" height="450"
								url="http://localhost:8080/sigpat/resources/enviados/bensmoveis/reparos/#{cadastroReparoBean.reparo.ordemServicoRetornoPdf}" />
							<br />
							<div align="center">
								<p:button value="OK" icon="ui-icon-check"
									onclick="PF('dlgOS').hide(); return false" style="width:100px" />
							</div>
						</p:dialog>

					</h:form>
				</div>
			</div>
		</div>
	</ui:define>
</ui:composition>