<!DOCTYPE html>
<ui:composition template="/WEB-INF/template.xhtml"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:p="http://primefaces.org/ui" xmlns:o="http://omnifaces.org/ui"
	xmlns:pe="http://primefaces.org/ui/extensions">

	<f:metadata>
		<o:viewParam name="codigoReparo" value="#{cadastroReparoBean.reparo}" />
		<f:viewAction action="#{cadastroReparoBean.prepararCadastroRetorno}" />
	</f:metadata>

	<ui:define name="titulo">RETORNO de Bem Patrimonial de REPARO</ui:define>

	<ui:define name="content">
		<div class="ui-g ui-fluid">
			<div class="ui-g-12">
				<div class="card">
					<h1>
						<h:graphicImage library="lavor" name="reparoretorno.png"
							height="45" width="45" />
						RETORNO de Bem Patrimonial de REPARO <a
							href="ConsultaReparos.xhtml"><h:graphicImage library="lavor"
								name="voltar.gif" height="35" width="80" style="float:right;" />
						</a>
					</h1>

					<h:form id="frm">

						<p:messages showDetail="false" showSummary="true"
							autoUpdate="true" />

						<p:panel header="RETORNO de Bem Patrimonial de REPARO ">
							<p:panelGrid columns="3" styleClass="semBorda">

								<h:outputText value="Bem Patrimonial" style="font-weight:bold" />
								<h:outputText style="font-weight:bold"
									value="#{cadastroReparoBean.reparo.bemMovel.numeroPatrimonio} #{cadastroReparoBean.reparo.bemMovel.descricao}" />
								<p:outputLabel />

								<p:outputLabel />
								<h:outputText id="responsavel"
									style="font-size:12px; color:green;font-weight:bold"
									value="Funcionário Responsável pela Guarda do Bem:  #{cadastroReparoBean.reparo.bemMovel.novoFuncionarioResponsavelPatrimonial.nomeFuncionario} / #{cadastroReparoBean.reparo.bemMovel.novoFuncionarioResponsavelPatrimonial.cargo.descricaoCargo}" />
								<p:outputLabel />

								<h:outputText value="Fornecedor Serviço"
									style="font-weight:bold" />
								<h:outputText style="font-weight:bold"
									value="#{cadastroReparoBean.reparo.fornecedorReparo.nomeFornecedor}" />
								<p:outputLabel />

								<p:outputLabel value="Data de Saída" style="font-weight:bold" />
								<h:outputText style="color:red;font-weight:bold"
									value="#{cadastroReparoBean.reparo.dataSaida}"
									styleClass="outputLabel">
									<f:convertDateTime pattern="dd/MM/yyyy" />
								</h:outputText>
								<p:outputLabel />

								<h:outputText value="Descrição do Defeito"
									style="font-weight:bold" />
								<h:outputText style="color:red;font-weight:bold"
									value="#{cadastroReparoBean.reparo.descricaoDefeito}" />
								<p:outputLabel />


								<p:outputLabel value="Data de Retorno" style="font-weight:bold" />
								<h:outputText style="color:blue; font-weight:bold"
									value="#{cadastroReparoBean.reparo.dataRetorno}"
									styleClass="outputLabel">
									<f:convertDateTime pattern="dd/MM/yyyy" />
								</h:outputText>
								<p:outputLabel />

								<h:outputText value="Descrição do Reparo"
									style="font-weight:bold" />
								<h:outputText style="color:blue;font-weight:bold"
									value="#{cadastroReparoBean.reparo.descricaoReparo}" />
								<p:outputLabel />

								<p:outputLabel value="Anexo Ordem de Serviço do Fornecedor">
									<h:graphicImage id="ver" library="lavor" name="ver.png"
										height="20" width="20" style="float:right;"
										onclick="PF('dlgOS').show();"
										title="Visualizar Ordem de Serviço de Reparo" />
								</p:outputLabel>
								<p:outputLabel id="ospdf"
									value="#{cadastroReparoBean.reparo.ordemServicoRetornoPdf}" />
								<p:outputLabel />

								<h:outputText value="Valor do Reparo" style="font-weight:bold" />
								<h:outputText style="font-weight:bold;color:blue;"
									value="#{cadastroReparoBean.reparo.valorReparo}">
									<f:convertNumber minFractionDigits="2" minIntegerDigits="3" />
								</h:outputText>
								<p:outputLabel />

								<h:outputText value="Dias de Garantia do Reparo"
									style="font-weight:bold" />
								<h:outputText style="color:blue;font-weight:bold"
									value="#{cadastroReparoBean.reparo.diasDeGarantia}" />
								<p:outputLabel />


								<p:outputLabel />
								<p:outputLabel value=" * é campo de preenchimento obrigatório"
									style="font-size:11px; color:red;" />
								<p:outputLabel />
								<p:outputLabel />
								<p:button outcome="/paginas/Reparo/ConsultaReparos" value="Voltar"
									icon="ui-icon-done" style="width:100px" />


							</p:panelGrid>
						</p:panel>

						<p:dialog
							header="Informação: Arquivo PDF-Ordem de Serviço do Fornecedor"
							widgetVar="dlgOS" showEffect="explode" width="600" height="500"
							resizable="false" maximizable="false" position="center"
							hideEffect="explode">
							<pe:documentViewer id="pdfviewos" width="550" height="450"
								url="http://localhost:8080/sigpat/resources/enviados/bensmoveis/reparos/#{cadastroReparoBean.reparo.ordemServicoRetornoPdf}" />
							<br />
							<div align="center">
								<p:button value="OK" icon="ui-icon-check"
									onclick="PF('dlgOS').hide(); return false" style="width:100px"  />
							</div>
						</p:dialog>

					</h:form>
				</div>
			</div>
		</div>
	</ui:define>
</ui:composition>