<!DOCTYPE html>
<ui:composition template="/WEB-INF/template.xhtml"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:pe="http://primefaces.org/ui/extensions">

	<f:metadata>
		<f:viewAction action="#{consultaReparosBean.consultar}" />
	</f:metadata>

	<ui:define name="titulo">Consulta de Reparos em Bens Patrimoniais</ui:define>

	<ui:define name="content">
		<div class="ui-g ui-fluid">
			<div class="ui-g-12">
				<div class="card">

					<!-- Estilo usado para  -->
					<style type="text/css">
.colororange {
	color: orange;
}
</style>
					<h1>
						<h:graphicImage library="lavor" name="reparo.png" height="45"
							width="45" />
						Reparos em Bens Patrimoniais <a href="../../dashboard.xhtml"><h:graphicImage
								library="lavor" name="voltar.gif" height="35" width="80"
								style="float:right;" /> </a>
					</h1>

					<h:form id="frm">
						<p:messages showDetail="false" showSummary="true"
							autoUpdate="true" />
						<p:dataTable value="#{consultaReparosBean.reparos}"
							expandableRowGroups="true" reflow="true" selectionMode="single"
							selection="#{consultaReparosBean.reparoSelecionado}"
							rowKey="#{reparo.codigoReparo}" var="reparo" border="1"
							cellspacing="0" cellpadding="2" paginator="true" rows="8"
							rowsPerPageTemplate="8,25,50,100" paginatorPosition="bottom"
							id="tabela"
							rowStyleClass="#{reparo.bemMovel.ativo eq 'Reparo' ? 'colororange' : null}"
							emptyMessage="Não foi localizado o registro solicitado."
							paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
							currentPageReportTemplate="Total de {totalRecords} registros localizados - Página: {currentPage} de {totalPages}">

							<f:facet name="header">
       				 Lista de Reparos em Bens Patrimoniais
					<div align="right">
									<p:commandButton id="toggler" type="button"
										value="Ajuste Colunas" icon="ui-icon-calculator" />
								</div>
								<p:columnToggler datasource="tabela" trigger="toggler" />
							</f:facet>

							<f:facet name="footer">
								<div align="right">
									Exportar
									<h:commandLink>
										<h:graphicImage library="lavor" name="pdf.png" width="20"
											title="Exportar para PDF" />
										<p:dataExporter type="pdf" target="tabela" fileName="reparos" />
									</h:commandLink>

									<h:commandLink>
										<h:graphicImage library="lavor" name="xls.png" width="20"
											title="Exportar para XLS" />
										<p:dataExporter type="xls" target="tabela" fileName="reparos" />
									</h:commandLink>

									<h:commandLink>
										<h:graphicImage library="lavor" name="xml.png" width="20"
											title="Exportar para XML" />
										<p:dataExporter type="xml" target="tabela" fileName="reparos" />
									</h:commandLink>
								</div>
							</f:facet>

							<p:column headerText="Bem Patrimonial" style="width:25%"
								sortBy="#{reparo.bemMovel.numeroPatrimonio}  #{reparo.bemMovel.descricao}"
								filterBy="#{reparo.bemMovel.numeroPatrimonio}  #{reparo.bemMovel.descricao}"
								filterMatchMode="contains" id="campobem">
								<h:outputText
									value="#{reparo.bemMovel.numeroPatrimonio}  #{reparo.bemMovel.descricao}" />
							</p:column>

							<p:column headerText="Fornecedor" style="width:15%"
								sortBy="#{reparo.fornecedorReparo.nomeFornecedor}"
								filterBy="#{reparo.fornecedorReparo.nomeFornecedor}"
								filterMatchMode="contains" id="campofornecedor">
								<h:outputText value="#{reparo.fornecedorReparo.nomeFornecedor}" />
							</p:column>

							<p:column headerText="Data Saída" style="width:7%"
								sortBy="#{reparo.dataSaida}" filterBy="#{reparo.dataSaida}"
								filterMatchMode="contains" id="campodatasaida">
								<h:outputText value="#{reparo.dataSaida}">
									<f:convertDateTime locale="pt" pattern="dd/MM/yyyy" />
								</h:outputText>
							</p:column>

							<p:column headerText="Data Retorno" style="width:7%"
								sortBy="#{reparo.dataRetorno}" filterBy="#{reparo.dataRetorno}"
								filterMatchMode="contains" id="campodataretorno">
								<h:outputText value="#{reparo.dataRetorno}">
									<f:convertDateTime locale="pt" pattern="dd/MM/yyyy" />
								</h:outputText>
							</p:column>

							<p:column headerText="Valor Reparo" style="width:7%; text-align: right"
								sortBy="#{reparo.valorReparo}" filterBy="#{reparo.valorReparo}"
								filterMatchMode="contains" id="campovalor">
								<h:outputText value="#{reparo.valorReparo}">
									<f:convertNumber minFractionDigits="2" />
								</h:outputText>
							</p:column>

							<p:column headerText="Dias de Garantia" style="width:7%"
								rendered="" sortBy="#{reparo.diasDeGarantia}"
								filterBy="#{reparo.diasDeGarantia}" filterMatchMode="contains"
								id="campodiasgarantia">
								<h:outputText value="#{reparo.diasDeGarantia}">
									<f:convertNumber minIntegerDigits="3" />
								</h:outputText>
							</p:column>


							<p:column headerText="Ação" style="width:70px" exportable="false">
								<div align="center">
									<p:column style="width:20px;text-align: center">
										<p:button icon="ui-icon-search" title="Ver"
											outcome="/paginas/Reparo/CadastroReparoEditVER">
											<f:param name="codigoReparo" value="#{reparo.codigoReparo}" />
										</p:button>
									</p:column>
									<p:column style="width:20px;text-align: center">
										<p:button icon="ui-icon-settings-backup-restore"
											rendered="#{empty reparo.dataRetorno and (seguranca.autoridades=='[ROLE_ADMINISTRADORES]' or seguranca.autoridades=='[ROLE_GESTORES]')}"
											title="Retorno de Bem"
											outcome="/paginas/Reparo/CadastroReparoEdit">
											<f:param name="codigoReparo" value="#{reparo.codigoReparo}" />
										</p:button>
									</p:column>
									<p:column style="width:20px;text-align: center">
										<p:commandButton icon="ui-icon-mail" styleClass="green-btn"
											rendered="#{seguranca.autoridades=='[ROLE_ADMINISTRADORES]' or seguranca.autoridades=='[ROLE_GESTORES]'}"
											title="ENVIAR E-MAIL AO RESPONSÁVEL PELA GUARDA DESTE BEM PELA SAÍDA PARA REPARO."
											id="btEmail"
											action="#{consultaReparosBean.enviarNotificacaoEmailSaida}"
											process="@this">
											<f:setPropertyActionListener value="#{reparo}"
												target="#{consultaReparosBean.reparoSelecionado}" />
										</p:commandButton>
									</p:column>
								</div>
							</p:column>
						</p:dataTable>
					</h:form>
				</div>
			</div>
		</div>
	</ui:define>
</ui:composition>