<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui" template="/WEB-INF/template.xhtml">

	<f:metadata>
		<f:viewAction action="#{consultaBensMoveisBean.consultar}" />
		<f:viewAction action="#{consultaBensMoveisBean.consultarBensMesAtual}" />
		<f:viewAction action="#{consultaBensMoveisBean.consultarIncorporados}" />
		<f:viewAction
			action="#{consultaBensMoveisBean.consultarNaoIncorporados}" />
		<f:viewAction
			action="#{consultaBensMoveisBean.consultarTodosEmReparos}" />
		<f:viewAction action="#{consultaBaixasBean.consultarTodos()}" />
		
		<f:viewAction action="#{consultaDepreciacoesBean.consultar()}" />
		

	</f:metadata>

	<ui:define name="title">Painel de indicadores</ui:define>

	<ui:define name="head">

		<script type="text/javascript">
		
               //<![CDATA[
               function skinChart() {
                   this.cfg.shadow = false;
                   this.cfg.title = '';
                   this.cfg.seriesColors = ['#FFC107', '#03A9F4'];
                   this.cfg.grid = {
                       background: '#ffffff',
                       borderColor: '#ffffff',
                       gridLineColor: '#EEEEEE',
                       shadow: false
                   };
                   this.cfg.axesDefaults = {
                       rendererOptions: {
                           textColor: '#212121'
                       }
                   };
                   this.cfg.seriesDefaults = {
                       shadow: false,
                       lineWidth: 1,
                       markerOptions: {
                           shadow: false,
                           size: 7,
                           style: 'circle'
                       }
                   }
               }
               //]]>  

              // location.reload();
           </script>
           

		<style type="text/css">
.main-content {
	padding: 0;
}
</style>


	</ui:define>
		 
	<ui:define name="content">
	
		<div class="ui-g dashboard">
			<div class="ui-g-12 ui-md-4">
				<div class="card overview">
					<div class="overview-content clearfix">
						<span class="overview-title">Bens Incluídos Mês atual</span> <span
							class="overview-badge"></span> <span class="overview-detail">
							<h:link style="color:blue; font-size:30px"
								value="#{consultaBensMoveisBean.bensMoveisMesAtual.size()}"
								outcome="/paginas/BemMovel/ConsultaBensMoveisMesAtual" />

						</span>
					</div>
					<div class="overview-footer">
						<p:graphicImage name="images/dashboard/sales.svg"
							library="ultima-layout" style="width: 100%" />
					</div>
				</div>
			</div>

			<div class="ui-g-12 ui-md-4">
				<div class="card overview">
					<div class="overview-content clearfix">
						<span class="overview-title">Bens Baixados(Gerado/Aberto)</span> <span
							class="overview-badge"></span> <span class="overview-detail">
							<h:link style="color:orange; font-size:30px"
								value="#{consultaBaixasBean.baixas.size()}"
								outcome="/paginas/Baixa/ConsultaBaixas" />

						</span>
					</div>
					<div class="overview-footer">
						<p:graphicImage name="baixaext.png" library="lavor"
							style="width: 75%;  float:right;" />
					</div>
				</div>
			</div>

			<div class="ui-g-12 ui-md-4">
				<div class="card overview">
					<div class="overview-content clearfix">
						<span class="overview-title">Depreciação Bens</span> <span
							class="overview-badge"></span> <span class="overview-detail">
							<h:link style="color:red; font-size:30px"
								value="#{consultaDepreciacoesBean.depreciacoes.size()}"
								outcome="#" />
							</span>
					</div>
					<div class="overview-footer">
						<p:graphicImage name="images/dashboard/progress.svg"
							library="ultima-layout" style="width: 100%" />
					</div>
				</div>
			</div>

			<div class="ui-g-12 ui-md-6 ui-lg-3">
				<div class="ui-g card colorbox colorbox-4">
					<div class="ui-g-4">
						<i class="material-icons">&#xE877;</i>
					</div>
					<div class="ui-g-8">
						<span class="colorbox-name">Total de Bens Cadastrados</span> <span
							class="colorbox-count"> <h:link
								style="font-weight:bold;color:white"
								value="#{consultaBensMoveisBean.bensMoveis.size()}"
								outcome="/paginas/BemMovel/ConsultaBensMoveis" />
						</span>
					</div>
				</div>
			</div>

			<div class="ui-g-12 ui-md-6 ui-lg-3">
				<div class="ui-g card colorbox colorbox-1">
					<div class="ui-g-4">
						<i class="material-icons">&#xE86C;</i>
					</div>
					<div class="ui-g-8">
						<span class="colorbox-name">Bens patrimoniais Incorporados</span>
						<span class="colorbox-count"> <h:link
								style="font-weight:bold;color:white"
								value="#{consultaBensMoveisBean.bensMoveisIncorporados.size()}"
								outcome="/paginas/BemMovel/ConsultaBensMoveisIncorporados" />
						</span>
					</div>
				</div>
			</div>
			<div class="ui-g-12 ui-md-6 ui-lg-3">
				<div class="ui-g card colorbox colorbox-3">
					<div class="ui-g-4">
						<i class="material-icons">&#xE160;</i>
					</div>
					<div class="ui-g-8">
						<span class="colorbox-name">Bens patrimoniais não
							incorporados</span> <span class="colorbox-count"> <h:link
								style="font-weight:bold;color:#FF4000"
								value="#{consultaBensMoveisBean.bensMoveisNaoIncorporados.size()}"
								outcome="/paginas/BemMovel/ConsultaBensMoveisNaoIncorporados" />
						</span>
					</div>
				</div>
			</div>

			<div class="ui-g-12 ui-md-6 ui-lg-3">
				<div class="ui-g card colorbox colorbox-2">
					<div class="ui-g-4">
						<i class="material-icons">&#xE869;</i>
					</div>
					<div class="ui-g-8">
						<span class="colorbox-name">Saída de Bens para Reparo</span> <span
							class="colorbox-count"> <h:link
								style="font-weight:bold; color:#FF4000"
								value="#{consultaBensMoveisBean.consultarTodosEmReparos.size()}"
								outcome="/paginas/Reparo/ConsultaReparos" />
						</span>
					</div>
				</div>
			</div>

			<div class="ui-g-12 ui-md-6 ui-lg-6">
				<p:panel header="Informação">
					<br />
					<h:outputText value="# SIGPAT - Sistema de Gestão Patrimonial "
						style="font-size:9px; color:green; font-weight:bold" />
					<br />
					<h:outputText
						value=">> O SIGPAT, é um tipo específico de software que atende às necessidades de modernização da administração pública de
						 qualquer dos Poderes da União, dos Estados, do Distrito Federal e dos Municípios. SIGPAT, vai muito além de registrar tombamentos, 
						 pois  registram as movimentações que concorrem ativa e passivamente para a formação do patrimônio da entidade, ou seja, 
						 são registrados os bens patrimoniais móveis originadas da execução orçamentária. Lançamentos que correspondem a incorporação
						  ou desincorporação de ativos patrimoniais. No sistema patrimonial há mecânismos automatizados para depreciação dos bens móveis e 
						  depreciação acumulada. Há um gerenciamento amplo dos bens, visando localizá-los contabilmente e físicamante. Por fim, resultando na
						   economia de recursos públicos e constituindo um recurso benéfico para a administração pública, 
						  demonstrando sua eficiência e transparência."
						style="font-size:9px; color:green;" />


				</p:panel>
			</div>
			
			<div class="ui-g-12 ui-md-6 ui-lg-6">
				<p:panel header="Perfil Usuário Logado">
					<br />
					<h:outputText value="Código Interno da Unidade Gestora: " style="font-size:11px; font-weight:bold"/><h:outputText value="#{seguranca.codigoIDUnidadeGestora}" style="font-size:11px; color:blue; font-weight:bold" />
					<br />
					<h:outputText value="Código da Unidade Gestora: " style="font-size:11px; font-weight:bold"/><h:outputText value="#{seguranca.codigoUO}" style="font-size:11px; color:blue; font-weight:bold" />
					<br />
					<h:outputText value="Unidade Gestora: " style="font-size:11px; font-weight:bold"/><h:outputText value="#{seguranca.unidadeGestora}" style="font-size:11px; color:blue; font-weight:bold" />
					<br />
					<h:outputText value="Unidade Administrativa: " style="font-size:11px; font-weight:bold"/><h:outputText value="#{seguranca.UAFuncionario}" style="font-size:11px; color:blue; font-weight:bold" />
					<br />
					<h:outputText value="Funcionário: " style="font-size:11px; font-weight:bold"/><h:outputText value="#{seguranca.matriculaFuncionario} - #{seguranca.nomeUsuario}" style="font-size:11px; color:blue; font-weight:bold" />
					<br />
					<h:outputText value="Cargo do Funcionário: " style="font-size:11px; font-weight:bold"/><h:outputText value="#{seguranca.cargoFuncionario}" style="font-size:11px; color:blue; font-weight:bold" />
					<br />
					<br />
					
					
					<h:outputText value="Responsável por Patrimônios: " style="font-size:11px; font-weight:bold"/><h:outputText value="#{seguranca.responsavelPatrimonial}" style="font-size:11px; color:blue; font-weight:bold" />
					<br />
					
					<h:outputText value="Responsável pelo Inventário: " style="font-size:11px; font-weight:bold"/><h:outputText value="#{seguranca.responsavelInventario}" style="font-size:11px; color:blue; font-weight:bold" />
					<br />
					
					<h:outputText value="Perfil: " style="font-size:11px; font-weight:bold"/><h:outputText value="#{seguranca.autoridades}" style="font-size:11px; color:blue; font-weight:bold" />
					<br />
				</p:panel>
			</div>
		</div>
	</ui:define>

</ui:composition>