<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">

<h:head>
	<f:facet name="first">
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<meta name="viewport"
			content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
		<meta name="apple-mobile-web-app-capable" content="yes" />
	</f:facet>
	<title>SIGPAT - Sistema de Gestão Patrimonial</title>
	<h:outputScript name="js/ripple.js" library="ultima-layout" />
	<h:outputScript name="js/layout.js" library="ultima-layout" />
</h:head>

<h:body styleClass="login-body">
<f:metadata>
		<f:viewParam name="dummy" />
		<f:event listener="#{loginBean.preRender}" type="preRenderView" />
	</f:metadata>

	<div class="card login-panel ui-fluid">
		<h:form id="frm" prependId="false">
			<p:messages autoUpdate="true" />
			<div class="ui-g">
				<div class="ui-g-12">
					<h:graphicImage library="lavor" name="sigpat1.png" />
				</div>
				<div class="ui-g-12">
					<h:panelGroup styleClass="md-inputfield">
						<p:inputText id="username" value="#{loginBean.email}"/>
						<label>E-mail</label>
					</h:panelGroup>
				</div>
				<div class="ui-g-12">
					<h:panelGroup styleClass="md-inputfield">
						<p:password size="30" id="password"/>
						<label>Senha</label>
					</h:panelGroup>
				</div>

				<div class="ui-g-12">
					<p:commandButton styleClass="secondary" value="Acessar" ajax="false" 
						action="#{loginBean.login}" icon="ui-icon-person" />
				</div>
			</div>
		</h:form>
	</div>

	<div class="login-footer">Versão 2.0</div>
	<h:outputStylesheet name="css/ripple.css" library="ultima-layout" />
	<h:outputStylesheet name="css/layout-blue.css" library="ultima-layout" />
</h:body>

</html>