<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:pu="http://primefaces.org/ultima">

	<h:form id="menuform">
		<div class="layout-menu #{guestPreferences.menuClass}">
			<div class="nano">
				<div class="nano-content menu-scroll-content">
					<ui:fragment rendered="true">
						<div class="profile">
							<div class="profile-image"></div>
							<a id="profile-options" href="#"> <span class="profile-name">
									Administrador</span> <i class="material-icons">&#xE313;</i>
							</a>
						</div>

						<ul id="profile-menu" class="ultima-menu">
							<li role="menuitem"><a href="#" class="ripplelink"> <i
									class="material-icons">&#xE7FD;</i> <span>Perfil</span>
							</a></li>
							<li role="menuitem"><a href="#" class="ripplelink"> <i
									class="material-icons">&#xE8AC;</i> <span>Sair</span>
							</a></li>
						</ul>
					</ui:fragment>
					<h:form>
						<pu:menu widgetVar="me">
							<p:menuitem id="um_dashboard" value="Painel de Controle"
								icon="&#xE871;" outcome="/dashboard" />

							<p:submenu id="themes" label="Gerenciar Patrimônio"
								icon="&#xE86C;">
								<p:menuitem id="theme1" value="Termo Responsável"
									title="Gerar termo de responsabilidade"
									outcome="/paginas/TermoResponsavel/CadastroTermoResponsavel"
									icon="&#xE8B0;" ajax="false" />

								<p:submenu label="Transferir Bem" icon="&#xE86A;">
									<p:menuitem value="Tipo de Transferência"
										title="Cadastros dos Tipos de Transferências de bens patrimoniais"
										outcome="/paginas/TipoTransferencia/CadastroTipoTransferencia"
										icon="&#xE148;" ajax="false" />
									<p:menuitem value="Transferir bem"
										outcome="/paginas/Transferencia/CadastroTransferencia"
										title="Transferir bem patrimonial" icon="&#xE86A;"
										ajax="false" />
								</p:submenu>

								<p:submenu label="Invetário" icon="&#xE02F;">
									<p:menuitem value="Classificação Inventário"
										title="Cadastro das Classificações dos Invetários"
										outcome="/paginas/ClassificacaoInventario/CadastroClassificacaoInventario"
										icon="&#xE148;" ajax="false" />
									<p:menuitem value="Tipos de Divergências"
										title="Cadastro dos Tipos de Divergências em Invetários"
										outcome="/paginas/Divergencia/CadastroDivergencia"
										icon="&#xE148;" ajax="false" />
									<p:menuitem value="Inventariar" title="Criar Inventário"
										outcome="/paginas/Inventario/CadastroInventario"
										icon="&#xE02F;" />
									<p:menuitem value="Vistoriar"
										title="Vistoriar Bens patrimoniais com Inventários em Aberto"
										outcome="/paginas/Vistoria/CadastroVistoria" icon="&#xE065;"
										ajax="false" />
								</p:submenu>

								<p:submenu label="Baixa de Bens" icon="&#xE2C0;">
									<p:menuitem value="Motivos de baixas"
										title="Cadastro dos motivos de baixas dos bens patrimoniais"
										outcome="/paginas/MotivoBaixa/CadastroMotivoBaixa"
										icon="&#xE148;" ajax="false" />
									<p:menuitem value="Baixa do Bem"
										title="Dar baixa do bem patrimonial" icon="&#xE2C0;"
										outcome="/paginas/Baixa/CadastroBaixa" ajax="false" />
									<p:menuitem value="Estornar Bem"
										outcome="/paginas/Baixa/ConsultaBaixas"
										title="Retornar bem patrimonial baixado" icon="&#xE2C3;"
										ajax="false" />
								</p:submenu>

								<p:submenu label="Reparo do Bem" icon="&#xE869;">
									<p:menuitem value="Saída p/ Manutenção"
										title="Saída de bem patrimonial para reparo/conserto"
										outcome="/paginas/Reparo/CadastroReparo" icon="&#xE869;"
										ajax="false" />
									<p:menuitem value="Retorno Manutenção"
										title="Retorno do bem patrimonial do reparo/conserto"
										outcome="/paginas/Reparo/ConsultaReparos" icon="&#xE869;"
										ajax="false" />

								</p:submenu>

								<p:menuitem value="Apólice de Seguro"
									title="Cadastro de Apólice de Seguro do Bem Patrimonial"
									outcome="/paginas/Apolice/CadastroApolice" icon="&#xE8E8;"
									ajax="false" />

								<p:menuitem value="Vida Útil Bem"
									title="Cálculo da vida útil econômica do bem patrimonial"
									icon="&#xE855;" ajax="false" />
							</p:submenu>


							<p:submenu id="cadastro" label="Cadastro" icon="&#xE89C;">
								<p:submenu id="bem" label="Bem" icon="&#xE903;">

									<p:menuitem value="Estados dos Bens"
										title="Cadastro dos Estados de Conservação de Bens Patrimoniais"
										icon="&#xE148;"
										outcome="/paginas/EstadoBem/CadastroEstadoBens" ajax="false" />
									<p:menuitem value="Marcas dos Bens"
										title="Cadastro das Marcas de produtos de Bens Patrimoniais"
										outcome="/paginas/MarcaBem/CadastroMarcaBens" icon="&#xE148;"
										ajax="false" />

									<p:menuitem value="Modalidades Aquisição"
										title="Cadastro das Modalidades das Aquisições de Bens Patrimoniais"
										outcome="/paginas/ModalidadeAquisicaoBem/CadastroModalidadeAquisicaoBens"
										icon="&#xE148;" ajax="false" />
									<p:menuitem value="Tipos de Bens"
										title="Cadastro de Tipos de Bens Patrimoniais"
										outcome="/paginas/TipoBem/CadastroTipoBens" icon="&#xE148;"
										ajax="false" />
									<p:menuitem value="Grupo"
										title="Cadastro de Grupos de Bens Patrimoniais"
										outcome="/paginas/GrupoBem/CadastroGrupoBens" icon="&#xE148;"
										ajax="false" />
									<p:menuitem value="Sub-Grupo Bens"
										title="Cadastro de Sub-Grupos de Bens Patrimoniais"
										outcome="/paginas/SubGrupo/CadastroSubGrupoBens"
										icon="&#xE148;" ajax="false" />
									<p:menuitem value="Fontes de Recursos"
										title="Cadastro de Fontes de Recursos Financeiros"
										outcome="/paginas/FonteRecurso/CadastroFonteRecurso"
										icon="&#xE148;" ajax="false" />
									<p:menuitem value="Bens" title="Cadastro de Bens Patrimoniais"
										outcome="/paginas/BemMovel/CadastroBemMovel" icon="&#xE147;"
										ajax="false" />
								</p:submenu>

								<p:submenu id="fornecedor" label="Fornecedor" icon="&#xE8DC;">

									<p:menuitem value="Referência Fornecedor"
										title="Cadastro das Referências do Atendimentos dos Fornecedores"
										outcome="/paginas/ReferenciaFornecedor/CadastroReferenciaFornecedor"
										icon="&#xE148;" ajax="false" />
									<p:menuitem value="Tipos de Fornecedores"
										title="Cadastro dos tipos de Fornecedores de produtos de Bens Patrimoniais"
										outcome="/paginas/TipoFornecedor/CadastroTipoFornecedor"
										icon="&#xE148;" ajax="false" />
									<p:menuitem value="Fornecedores"
										title="Cadastro de Fornecedores do Bens Patrimonais"
										outcome="/paginas/Fornecedor/CadastroFornecedor"
										icon="&#xE147;" ajax="false" />
								</p:submenu>

								<p:submenu id="Seguradora" label="Seguradora" icon="&#xE84F;">
									<p:menuitem value="Seguradora"
										title="Cadastro das entidades Seguradoras"
										outcome="/paginas/Seguradora/CadastroSeguradora"
										icon="&#xE148;" ajax="false" />
								</p:submenu>

								<p:submenu id="entidade" label="Entidade" icon="&#xE7F1;">
									<p:menuitem value="Tipo Instituição"
										title="Cadastro de Tipos de Instituições"
										outcome="/paginas/TipoInstituicao/CadastroTipoInstituicao"
										icon="&#xE148;" ajax="false" />
									<p:menuitem value="Unidade Gestora"
										title="Cadastro das Unidades Gestoras"
										outcome="/paginas/UnidadeGestora/CadastroUnidadeGestora"
										icon="&#xE147;" ajax="false" />
									<p:menuitem value="Unidade Administrativa"
										title="Cadastro das Unidades Administrativas"
										outcome="/paginas/UnidadeAdministrativa/CadastroUnidadeAdministrativa"
										icon="&#xE147;" ajax="false" />
								</p:submenu>

								<p:submenu id="funcionario" label="Funcionário" icon="&#xE8A3;">
									<p:menuitem value="Cargos"
										title="Cadastro dos Cargos dos funcionários"
										outcome="/paginas/Cargo/CadastroCargo" icon="&#xE148;"
										ajax="false" />
									<p:menuitem value="Funcionários"
										title="Cadastro de Funcionários para uso do sistema e/ou responsável por bens patrimoniais"
										outcome="/paginas/Funcionario/CadastroFuncionario"
										icon="&#xE147;" ajax="false" />
								</p:submenu>
							</p:submenu>


							<p:submenu label="Consultas" icon="&#xE880;">
								<p:submenu label="Bens" icon="&#xE8B6;">
									<p:menuitem value="BENS" title="Listagem de Bens Patrimoniais"
										outcome="/paginas/BemMovel/ConsultaBensMoveis" icon="&#xE8B6;"
										ajax="false" />
									<p:menuitem value="Bens Baixados"
										title="Listagem de Bens Patrimoniais Baixados"
										outcome="/paginas/Baixa/ConsultaBaixas" icon="&#xE8B6;"
										ajax="false" />
									<p:menuitem value="Bens Reparos"
										title="Listagem de Bens Patrimoniais em manutenção/reparo"
										outcome="/paginas/Reparo/ConsultaReparos" icon="&#xE8B6;"
										ajax="false" />

									<p:menuitem value="Estados de Bens"
										title="Listagem de Estados de Conservação de Bens Patrimoniais"
										outcome="/paginas/EstadoBem/ConsultaEstadosBens"
										icon="&#xE8B6;" ajax="false" />
									<p:menuitem value="Marcas de Bens"
										title="Listagem de Marcas de Bens Patrimoniais"
										outcome="/paginas/MarcaBem/ConsultaMarcasBens" icon="&#xE8B6;"
										ajax="false" />
									<p:menuitem value="Modalidades"
										title="Listagem de Modalidades de Aquisição de Bens Patrimoniais"
										outcome="/paginas/ModalidadeAquisicaoBem/ConsultaModalidadesAquisicoesBens"
										icon="&#xE8B6;" ajax="false" />
									<p:menuitem value="Tipos de Bens"
										title="Listagem de Tipos de Bens Patrimoniais"
										outcome="/paginas/TipoBem/ConsultaTiposBens" icon="&#xE8B6;"
										ajax="false" />
									<p:menuitem value="Grupos"
										title="Listagem de Grupos de Bens Patrimoniais"
										outcome="/paginas/GrupoBem/ConsultaGruposBens" icon="&#xE8B6;"
										ajax="false" />
									<p:menuitem value="Sub-Grupos"
										title="Listagem de Sub-Grupos de Bens Patrimoniais"
										outcome="/paginas/SubGrupo/ConsultaSubGruposBens"
										icon="&#xE8B6;" ajax="false" />
									<p:menuitem value="Tipo Motivos de baixas"
										title="Listagem dos motivos de baixas dos bens patrimoniais"
										outcome="/paginas/MotivoBaixa/ConsultaMotivosBaixas"
										icon="&#xE8B6;" ajax="false" />
									<p:menuitem value="Tipos de Transferências"
										title="Listagem de Tipos de Transferências/Movimento de Bens patrimoniais"
										outcome="/paginas/TipoTransferencia/ConsultaTiposTransferencias"
										icon="&#xE8B6;" ajax="false" />
									<p:menuitem value="Classificação Inventário"
										title="Listagem de Tipos de Transferências/Movimento de Bens patrimoniais"
										outcome="/paginas/ClassificacaoInventario/ConsultaClassificacoesInventarios"
										icon="&#xE8B6;" ajax="false" />
									<p:menuitem value="Tipos de Divergências"
										title="Listagem de Tipos de Divergências do Inventário"
										outcome="/paginas/Divergencia/ConsultaDivergencias"
										icon="&#xE8B6;" ajax="false" />
									<p:menuitem value="Fontes de Recursos"
										title="Listagem de Fontes de Recursos Financeiro"
										outcome="/paginas/FonteRecurso/ConsultaFontesRecursos"
										icon="&#xE8B6;" ajax="false" />
								</p:submenu>

								<p:submenu label="Fornecedores" icon="&#xE8B6;">
									<p:menuitem value="Referência Fornecedor"
										title="Listagem de Referências de Fornecedores"
										outcome="/paginas/ReferenciaFornecedor/ConsultaReferenciasFornecedores"
										icon="&#xE8B6;" ajax="false" />
									<p:menuitem value="Tipos de Fornecedores"
										title="Listagem de Referências de Fornecedores"
										outcome="/paginas/TipoFornecedor/ConsultaTiposFornecedores"
										icon="&#xE8B6;" ajax="false" />
									<p:menuitem value="Fornecedores"
										title="Listagem de Fornecedores"
										outcome="/paginas/Fornecedor/ConsultaFornecedores"
										icon="&#xE8B6;" ajax="false" />
								</p:submenu>

								<p:submenu label="Apólices de Seguro" icon="&#xE8B6;">
									<p:menuitem value="Seguradoras"
										title="Listagem de Seguradoras de Apólice"
										outcome="/paginas/Seguradora/ConsultaSeguradoras"
										icon="&#xE8B6;" ajax="false" />
									<p:menuitem value="Apólices"
										title="Listagem de Apólices de Seguro"
										outcome="/paginas/Apolice/ConsultaApolices" icon="&#xE8B6;"
										ajax="false" />
								</p:submenu>

								<p:submenu label="Entidades" icon="&#xE8B6;">
									<p:menuitem value="Tipos Instituições"
										title="Listagem de Tipos de Instituições"
										outcome="/paginas/TipoInstituicao/ConsultaTiposInstituicoes"
										icon="&#xE8B6;" ajax="false" />
									<p:menuitem value="Unidades Gestoras"
										title="Listagem das Unidades Gestoras"
										outcome="/paginas/UnidadeGestora/ConsultaUnidadesGestoras"
										icon="&#xE8B6;" ajax="false" />
									<p:menuitem value="Unidade Administrativa"
										title="Listagem das Unidades Administrativas"
										outcome="/paginas/UnidadeAdministrativa/ConsultaUnidadesAdministrativas"
										icon="&#xE8B6;" ajax="false" />
								</p:submenu>

								<p:submenu label="Funcionários" icon="&#xE8B6;">
									<p:menuitem value="Cargos"
										title="Listagem de Cargos Funcionais"
										outcome="/paginas/Cargo/ConsultaCargos" icon="&#xE8B6;" />
									<p:menuitem value="Funcionários"
										title="Listagem de Funcionários"
										outcome="/paginas/Funcionario/ConsultaFuncionarios"
										icon="&#xE8B6;" ajax="false" />
								</p:submenu>

								<p:menuitem value="Transferências"
									title="Listagem de transferências geradas de bens patrimoniais"
									outcome="/paginas/Transferencia/ConsultaTransferencias"
									icon="&#xE8B6;" ajax="false" />

								<p:menuitem value="Inventários Realizados"
										title="Listagem de Inventários Realizados"
										outcome="/paginas/Inventario/ConsultaInventarios"
										icon="&#xE8B6;" ajax="false" />
								<p:menuitem value="Vistorias Realizadas"
										title="Listagem de Vistorias realizadas"
										outcome="/paginas/Vistoria/ConsultaVistorias"
										icon="&#xE8B6;" ajax="false" />
								<p:menuitem value="Termos Responsáveis"
									title="Listagem de Termos de responsabildades de bens patrimoniais"
									outcome="/paginas/TermoResponsavel/ConsultaTermosResponsaveis"
									icon="&#xE8B6;" ajax="false" />
							</p:submenu>


							<p:submenu id="relatorios" label="Relatórios Comuns"
								icon="&#xE8AD;">
								<p:submenu label="Bens Agrupado" icon="&#xE8AD;">
									<p:submenu label="Por Grupo de Bens" icon="&#xE8AD;">
										<p:menuitem value="Analítico" icon="&#xE8AD;" ajax="false"
											title="Relatório contábil ANALÍTICO(DETALHADO) das contas contábil, agrupado pelo(s) Grupo(s) de bens" />
										<p:menuitem value="Sintético" icon="&#xE8AD;" ajax="false"
											title="Relatório contábil SINTÉTICO(RESUMIDO) das contas contábil, sumarizadas por Grupo(s) de bens" />
									</p:submenu>
									<p:submenu label="Por Und.Admin" icon="&#xE8AD;">
										<p:menuitem value="Analítico" icon="&#xE8AD;" ajax="false"
											title="Relatório contábil ANALÍTICO(DETALHADO) das contas contábil, agrupados por Unidades Administrativas(UA) e pelo(s) Grupo(s) de bens" />
										<p:menuitem value="Sintético" icon="&#xE8AD;" ajax="false"
											title="Relatório contábil SINTÉTICO(RESUMIDO) das contas contábil, agrupados por Unidades Administratvas(UA) e sumarizadas por Grupo(s) de bens" />
									</p:submenu>

									<p:menuitem value="Por Responsáveis" icon="&#xE8AD;"
										ajax="false" title="Relação de bens agrupados por responsável" />
								</p:submenu>
								<p:menuitem value="Bens em Reparo" icon="&#xE8AD;" ajax="false"
									title="Listagem de Saída de Bem(ns) Patrimonial(ais) para Reparo(s)"
									onclick="PF('dlg2').show();" />
								<p:menuitem value="Bens não localizados" icon="&#xE8AD;"
									ajax="false"
									title="Listagem de bens patrimoniais não localizados na unidade" />
								<p:menuitem value="Etiquetas patrimoniais"
									title="Gerar etiquetas dos bens patrimoniais" icon="&#xE8AD;"
									ajax="false" />
								<p:menuitem value="Grupos de Bens"
									title="Listagem de todos os Grupos de bens patrimoniais"
									icon="&#xE8AD;" ajax="false" />
								<p:menuitem value="Sub-Grupos de Bens"
									title="Listagem de todos os Sub-Grupos de bens patrimoniais"
									icon="&#xE8AD;" ajax="false" />
								<p:menuitem value="Fornecedores"
									title="Listagem de Fornecedores de Bens Patrimoniais"
									icon="&#xE8AD;" ajax="false" />
								<p:menuitem value="Funcionários"
									title="Listagem de Funcionários das Unidades Gestoras e Unidades Administrativas"
									icon="&#xE8AD;" ajax="false" />
							</p:submenu>

							<p:submenu id="relatoriosContabeis" label="Relatórios Contabéis"
								icon="&#xE8AD;">
								<p:submenu label="Depreciação Bem" icon="&#xE8AD;">
									<p:menuitem value="Analítico"
										title="Relatório Analítico(detalhado) de todos os bens depreciados"
										icon="&#xE8AD;" ajax="false" />
									<p:menuitem value="Sintético"
										title="Relatório Sintético(resumido) de todos os bens depreciados"
										icon="&#xE8AD;" ajax="false" />
									<p:menuitem value="Bens Depreciados"
										title="Relatório Completo dos bens patrimoniais depreciados"
										icon="&#xE8AD;" ajax="false" />
								</p:submenu>

								<p:submenu label="Termos" icon="&#xE8AD;">
									<p:menuitem value="Termo Responsável" icon="&#xE8AD;"
										ajax="false"
										title="Documento oficial de Termo de responsabilidade de bens patrimoniais"
										outcome="/paginas/Relatorios/RelatorioTermoResponsabilidade" />

									<p:menuitem value="Termos Transferências" icon="&#xE8AD;"
										ajax="false"
										title="Termo de transferência de Responsabilidade, sendo o documento oficial de comprovação de entrega/recebimento dos bens patrimoniais"
										outcome="/paginas/Relatorios/RelatorioTermoTransferencia" />

									<p:menuitem value="Termo de Baixa" icon="&#xE8AD;"
										outcome="/paginas/Relatorios/RelatorioTermoBaixa" ajax="false"
										title="Documento oficial de comprovação de baixa dos bens patrimoniais" />

									<p:menuitem value="Termo Reparo" icon="&#xE8AD;" ajax="false"
										title="Termo para Reparo de Bem"
										outcome="/paginas/Relatorios/RelatorioTermoReparoSaida" />
								</p:submenu>

								<p:menuitem value="Inventário Analítico" icon="&#xE8AD;"
									ajax="false"
									title="Listagem de todos os Bens patrimoniais Inventariados(Vistoriados) agrupados por Unidades Administrativas" />
									
								<p:menuitem value="Bens para Vistoriar" icon="&#xE8AD;"
									ajax="false" title="Listagem de bens para vistoriar"
									outcome="/paginas/Relatorios/RelatorioVistoria" />
									
								<p:menuitem value="Bens Baixados" icon="&#xE8AD;" ajax="false"
									title="Listagem de todos os bens patrimoniais baixados(Inativos)"
									onclick="PF('dlg1').show();" />
								
							</p:submenu>


							<p:submenu label="Mensagens" icon="&#xE0B7;">
								<p:menuitem value="Assunto das Mensagens" icon="&#xE148;"
									ajax="false"
									title="Cadastro dos Tipos de Assuntos das Mensagens" />
								<p:menuitem value="Mensagens Envidas" icon="&#xE0B7;"
									ajax="false" title="Todas as mensagens enviadas" />
								<p:menuitem value="Mensagens Recebidas" icon="&#xE0B7;"
									ajax="false" title="Todas as mensagens recebidas" />
								<p:menuitem value="Mensagens hoje" icon="&#xE0B7;" ajax="false"
									title="Mensagens recebidas Hoje" />
								<p:menuitem value="Enviar Mensagem" icon="&#xE163;" ajax="false"
									title="Enviar mensagem" />
							</p:submenu>

						</pu:menu>

						<p:dialog header="Relatório: Bens Patrimoniais Baixados"
							modal="true" widgetVar="dlg1" showEffect="explode" width="350"
							height="150" resizable="false" maximizable="false"
							position="center" hideEffect="explode">

							<p:toolbar style="margin-top: 20px">
								<p:toolbarGroup>
									<p:commandButton value="Emitir Bens Patrimoniais Baixados"
										icon="ui-icon-print"
										action="#{relatorioBensBaixadosBean.execute}" ajax="false"
										styleClass="amber-btn flat" style="margin-bottom:10px;" />
								</p:toolbarGroup>
							</p:toolbar>
							<br />

							<div align="center">
								<p:button value="Fechar" icon="ui-icon-check"
									onclick="PF('dlg1').hide(); return false" style="width:100px" />
							</div>
						</p:dialog>

						<p:dialog
							header="Relatório: Saída de Bem(ns) Patrimonial(ais) para Reparo(s)"
							modal="true" widgetVar="dlg2" showEffect="explode" width="350"
							height="150" resizable="false" maximizable="false"
							position="center" hideEffect="explode">

							<p:toolbar style="margin-top: 20px">
								<p:toolbarGroup>
									<p:commandButton
										value="Emitir Listagem de Saída de Bem(ns) Patrimonial(ais) para Reparo(s)"
										icon="ui-icon-print"
										action="#{relatorioBemEmReparoBean.execute}" ajax="false"
										styleClass="amber-btn flat" style="margin-bottom:10px;" />
								</p:toolbarGroup>
							</p:toolbar>
							<br />

							<div align="center">
								<p:button value="Fechar" icon="ui-icon-check"
									onclick="PF('dlg2').hide(); return false" style="width:100px" />
							</div>
						</p:dialog>

						<!-- Caixa de Diálogo para confirmar a exclusão com efeito Puff e Notificação do tipo notificationBar-->
						<p:confirmDialog global="true" showEffect="fade" hideEffect="puff">
							<p:commandButton value="Sim" type="button"
								styleClass="ui-confirmdialog-yes" icon="ui-icon-check"
								onclick="PF('barNoticacao').show(),PF('barNoticacao').hide()" />
							<p:commandButton value="Não" type="button"
								styleClass="ui-confirmdialog-no" icon="ui-icon-close" />
						</p:confirmDialog>

						<!--Notificação no Topo do navegador ao excluir um registro  -->
						<p:notificationBar position="top" effect="slide" styleClass="top"
							widgetVar="barNoticacao">
							<h:outputText value="Registro Excluído com Sucesso!"
								style="font-size:36px; color:red;" />
						</p:notificationBar>

					</h:form>
				</div>
			</div>
		</div>
	</h:form>
</ui:composition>