<ui:composition 
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:p="http://primefaces.org/ui"
    xmlns:pu="http://primefaces.org/ultima">

    <div class="topbar clearfix">
        <div class="topbar-left">            
            <div class="logo"></div>
        </div>
        
        <div class="topbar-right">
            <a id="menu-button" href="#">
                <i></i>
            </a>
            
            <a id="topbar-menu-button" href="#">
                <i class="material-icons">&#xE5D2;</i>
            </a>
            <ul class="topbar-items fadeInDown animated">
                <ui:fragment rendered="true">
                    <li class="profile-item">
                        <a href="#">                            
                            <div class="profile-image"></div>
                            <span class="topbar-item-name">Administrador</span>
                        </a>
                        
                        <ul class="ultima-menu animated">
                            <li role="menuitem">
                                <a href="#">
                                    <i class="material-icons">&#xE7FD;</i>
                                    <span>Perfil</span>
                                </a>
                            </li>
                            <li role="menuitem">
                                <a href="#">
                                    <i class="material-icons">&#xE8AC;</i>
                                    <span>Sair</span>
                                </a>
                            </li>
                        </ul>
                    </li>
                </ui:fragment>
                <li>
                    <a href="#">
                        <i class="topbar-icon material-icons">&#xE8B8;</i>
                        <span class="topbar-item-name">Configurações</span>
                    </a>
                    <ul class="ultima-menu animated">
                        <li role="menuitem">
                            <a href="#">
                                <i class="material-icons">verified_user</i>
                                <span>Usuários</span>
                            </a>
                        </li>
                        <li role="menuitem">
                            <a href="#">
                                <i class="material-icons">lock</i>
                                <span>Permissões</span>
                            </a>
                        </li>
                        <li role="menuitem">
                            <a href="#">
                                <i class="material-icons">&#xE869;</i>
                                <span>Parâmetros</span>
                            </a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#">
                        <i class="topbar-icon material-icons animated swing">&#xE0C9;</i>
                        <span class="topbar-badge animated rubberBand">5</span>
                        <span class="topbar-item-name">Mensagens</span>
                    </a>
                    <ul class="ultima-menu animated">
                        <li role="menuitem">
                            <a href="#" class="topbar-message">
                                <p:graphicImage name="images/avatar1.png" library="ultima-layout" width="35"/>
                                <span>Me ligue</span>
                            </a>
                        </li>
                        <li role="menuitem">
                            <a href="#" class="topbar-message">
                                <p:graphicImage name="images/avatar2.png" library="ultima-layout" width="35"/>
                                <span>Relatório depreciação</span>
                            </a>
                        </li>
                        <li role="menuitem">
                            <a href="#" class="topbar-message">
                                <p:graphicImage name="images/avatar3.png" library="ultima-layout" width="35"/>
                                <span>Sobre o inventário anual</span>
                            </a>
                        </li>
                        <li role="menuitem">
                            <a href="#" class="topbar-message">
                                <p:graphicImage name="images/avatar2.png" library="ultima-layout" width="35"/>
                                <span>Reunião no auditório 10h</span>
                            </a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#">
                        <i class="topbar-icon material-icons">&#xE425;</i>
                        <span class="topbar-badge animated rubberBand">4</span>
                        <span class="topbar-item-name">Lembrete</span>
                    </a>
                    <ul class="ultima-menu animated">
                        <li role="menuitem">
                            <a href="#">
                                <i class="material-icons">&#xE868;</i>
                                <span>Tarefas pendentes</span>
                            </a>
                        </li>
                        <li role="menuitem">
                            <a href="#">
                                <i class="material-icons">&#xE878;</i>
                                <span>Encontro hoje às 15h</span>
                            </a>
                        </li>
                        <li role="menuitem">
                            <a href="#">
                                <i class="material-icons">&#xE878;</i>
                                <span>Colação de grau Domus</span>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="search-item">
                    <h:panelGroup styleClass="md-inputfield">
                        <p:inputText />
                        <label>Pesquisar</label>
                        <i class="topbar-icon material-icons">&#xE8B6;</i>
                    </h:panelGroup>
                    
                </li>
            </ul>
        </div>
    </div>

</ui:composition>