<ui:composition 
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:p="http://primefaces.org/ui"
    xmlns:pu="http://primefaces.org/ultima">

    <div class="topbar clearfix">
        <div class="topbar-left">            
            <div class="logo"></div>
            
        </div>
        
        <div class="topbar-right">
            <a id="menu-button" href="#">
                <i></i>
            </a>
            
            <a id="topbar-menu-button" href="#">
                <i class="material-icons">&#xE5D2;</i>
            </a>
            
             <ul class="topbar-items fadeInDown animated">
                <ui:fragment rendered="true">
                    <li class="profile-item">
                        <a href="#">                            
                          <h:graphicImage name="#{seguranca.fotoUsuario}"
									library="enviados/funcionarios" width="40" height="45" />
                        </a>
                        
                        <ul class="ultima-menu animated">
                           
                          <h:panelGrid rendered="#{seguranca.autoridades=='[ROLE_ADMINISTRADORES]'}">  
                            
                             <li role="menuitem"  >
                                <a href="/sigpat/paginas/Usuario/ConsultaUsuarios.xhtml"   style="font-weight:bold;color:blue;">
                                    <i class="material-icons">&#xe55a;</i>
                                    <span>Gerenciar Usuários</span>
                                </a>
                            </li>
                            </h:panelGrid>  
                            
                             <li role="menuitem">
                                <a href="/sigpat/logout">
                                    <i class="material-icons">&#xE8AC;</i>
                                    <span>Sair</span>
                                </a>
                            </li>
                        </ul>
                    </li>
                </ui:fragment>
                <!-- 
                 <li>
                    <a href="#">
                        <i class="topbar-icon material-icons animated swing">&#xE0C9;</i>
                        <span class="topbar-badge animated rubberBand">1</span>
                        <span class="topbar-item-name">Mensagens</span>
                    </a>
                    <ul class="ultima-menu animated">
                        <li role="menuitem">
                            <a href="#" class="topbar-message">
                                <p:graphicImage name="images/avatar2.png" library="ultima-layout" width="35"/>
                                <span>Reunião SETRABES</span>
                            </a>
                        </li>
                    </ul>
                </li>
                -->
                
              </ul>
           
            
        </div>
    </div>

</ui:composition>