<!DOCTYPE html>
<ui:composition template="/WEB-INF/template.xhtml"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">

	<f:metadata>
		<f:viewAction
			action="#{consultaTransferenciasBean.consultarTodasPendentes}" />
	</f:metadata>

	<ui:define name="titulo">Consulta de Transferências Externa de Bens Patrimoniais - TEB </ui:define>

	<ui:define name="content">
		<div class="ui-g ui-fluid">
			<div class="ui-g-12">
				<div class="card">
					<!-- Estilo usado para  -->
					<style type="text/css">
.colored {
	color: red;
}

.colorvermelho {
	color: red;
}

.colorgreen {
	color: green;
}
</style>

					<h1>
						<h:graphicImage library="lavor" name="transferencia.png" height="45"
							width="45" />
						Consulta de Transferências Externa de Bens Patrimoniais -TEB<a
							href="../../dashboard.xhtml"><h:graphicImage library="lavor"
								name="voltar.gif" height="35" width="80" style="float:right;" />
						</a>
					</h1>

					<h:form id="frm">
						<p:messages showDetail="false" showSummary="true"
							autoUpdate="true" />

						<p:dataTable
							value="#{consultaTransferenciasBean.transferencias}"
							expandableRowGroups="true" reflow="true" selectionMode="single"
							selection="#{consultaTransferenciasBean.transferenciaSelecionada}"
							rowKey="#{transferencia.codigoTransferencia}"
							widgetVar="tabela" var="transferencia" border="1"
							cellspacing="0" cellpadding="2" paginator="true" rows="8"
							rowsPerPageTemplate="8,25,50,100" paginatorPosition="bottom"
							id="tabela"
							emptyMessage="Não existem transferências para este bem."
							rowStyleClass="#{transferencia.statusRecebimento eq 'Pendente' ? 'colored' : null}  "
							paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
							currentPageReportTemplate="Total de {totalRecords} registros localizados - Página: {currentPage} de {totalPages}">

							<f:facet name="header">
       				 Lista de Transferências Externa de Bens Patrimoniais -  TEB
					<div align="right">
									<p:commandButton id="toggler" type="button"
										value="Ajuste Colunas" icon="ui-icon-calculator" />
								</div>
								<p:columnToggler datasource="tabela" trigger="toggler" />
							</f:facet>

							<f:facet name="footer">
								<div align="right">
									Exportar
									<h:commandLink>
										<h:graphicImage library="lavor" name="pdf.png" width="20"
											title="Exportar para PDF" />
										<p:dataExporter type="pdf" target="tabela"
											fileName="transferencias" />
									</h:commandLink>

									<h:commandLink>
										<h:graphicImage library="lavor" name="xls.png" width="20"
											title="Exportar para XLS" />
										<p:dataExporter type="xls" target="tabela"
											fileName="transferencias" />
									</h:commandLink>

									<h:commandLink>
										<h:graphicImage library="lavor" name="xml.png" width="20"
											title="Exportar para XML" />
										<p:dataExporter type="xml" target="tabela"
											fileName="transferencias" />
									</h:commandLink>
								</div>
							</f:facet>

									<p:column headerText="No. Transferência" style="width:30%"
										filterBy="#{transferencia.numeroTermoTransferencia}"
										filterMatchMode="contains" id="camponumero">
										<h:outputText style="font-size:12px;font-weight:bold"
											value="#{transferencia.numeroTermoTransferencia}" />
								     	<h:graphicImage library="lavor" name="mailok.png" rendered="#{transferencia.notificarEmail}" height="20" width="20" />
						           	    <h:graphicImage library="lavor" name="mailnot.png" rendered="#{!transferencia.notificarEmail}" height="20" width="20" />
						
									</p:column>
									
									<p:column headerText="Bem" style="width:25%;font-size:12px;" 
										filterBy="#{transferencia.bemMovel.numeroPatrimonio} - #{transferencia.bemMovel.descricao}"
										filterMatchMode="contains" id="campobem">
										<h:outputText style="font-size:11px;font-weight:bold"
											value="#{transferencia.bemMovel.numeroPatrimonio} - #{transferencia.bemMovel.descricao}" />
									</p:column>
									
									<p:column headerText="Estado do Bem" style="width:20%;font-size:12px;" 
										visible="false"
										filterBy="#{transferencia.estadoBem.descricaoEstadoBem}"
										filterMatchMode="contains" id="campoestado">
										<h:outputText style="font-size:11px;"
											value="#{transferencia.estadoBem.descricaoEstadoBem}" />
									</p:column>
									
								     <p:column headerText="Tipo de Transferência" style="width:25%;font-size:12px;" 
										filterBy="#{transferencia.tipoTransferencia.descricaoTipoTransferencia}"
										filterMatchMode="contains" id="campotipo">
										<h:outputText style="font-size:11px;"
											value="#{transferencia.tipoTransferencia.descricaoTipoTransferencia}" />
									</p:column>
									
									
							    	<p:column headerText="Unidade ORIGEM/Saída" style="width:30%;font-size:12px;" 
										filterBy="#{transferencia.localOrigem.nomeUnidadeAdministrativa} (#{transferencia.localOrigem.nomeResumido}) Responsável:#{transferencia.antigoFuncionarioResponsavelPatrimonial.nomeFuncionario}"
										filterMatchMode="contains" id="campoorigem">
										<h:outputText style="font-size:11px;"
											value="#{transferencia.localOrigem.nomeUnidadeAdministrativa} (#{transferencia.localOrigem.nomeResumido}) Responsável:#{transferencia.antigoFuncionarioResponsavelPatrimonial.nomeFuncionario}" />
									</p:column>
									
									<p:column headerText="Unidade DESTINO/Entrada" style="width:30%;font-size:12px;" 
										filterBy="#{transferencia.localDestino.nomeUnidadeAdministrativa} (#{transferencia.localDestino.nomeResumido}) Receptor:#{transferencia.novoFuncionarioResponsavelPatrimonial.nomeFuncionario}"
										filterMatchMode="contains" id="campodestino">
										<h:outputText style="font-size:11px;"
											value="#{transferencia.localDestino.nomeUnidadeAdministrativa} (#{transferencia.localDestino.nomeResumido}) Receptor:#{transferencia.novoFuncionarioResponsavelPatrimonial.nomeFuncionario}">
										</h:outputText>
									</p:column>
									
									
									<p:column headerText="Data de Transferência" style="width:15%;font-size:12px;" 
										filterBy="#{transferencia.dataTransferencia}"
										filterMatchMode="contains" id="campodatatransferencia">
										<h:outputText style="font-size:11px;"
											value="#{transferencia.dataTransferencia}" >
											<f:convertDateTime locale="pt" pattern="dd/MM/yyyy"/>
											</h:outputText>
									</p:column>
									
									<p:column headerText="Data de Registro" style="width:20%;font-size:12px;" 
										filterBy="#{transferencia.dataCadastro}"
										filterMatchMode="contains" id="campodatacadastro">
										<h:outputText style="font-size:11px;"
											value="#{transferencia.dataCadastro}" >
											<f:convertDateTime locale="pt" dateStyle="long" pattern="dd/MM/yyyy HH:mm:ss" timeZone="GMT-04:00" />
											</h:outputText>
									</p:column>
									
							<p:column headerText="Ação" style="width:90px" exportable="false">
								<div align="center">
									<p:column style="width:20px;text-align: center">
										<p:commandButton update=":frm:transferenciaDetalhes" styleClass="blue-grey-btn"
											oncomplete="PF('dlgver').show()" icon="ui-icon-search"
											title="Ver">
											
											<f:setPropertyActionListener value="#{transferencia}"
												target="#{consultaTransferenciasBean.transferenciaSelecionada}" />
										</p:commandButton>
									</p:column>
									
									<p:column style="width:30px;text-align: center">
										<p:commandButton icon="ui-icon-settings-backup-restore" 
											title="Estornar Termo de Transferência Externa" 
										    styleClass="red-btn" value="Estonar"
											process="@this" update="@form"
											action="#{consultaTransferenciasBean.gerarEstorno}"
											rendered="#{transferencia.localOrigem.unidadeGestora.codigoOrcamentario == consultaTransferenciasBean.codigoOrcamentarioLogado and (seguranca.autoridades=='[ROLE_ADMINISTRADORES]' or seguranca.autoridades=='[ROLE_GESTORES]')}">
											<p:confirm header="ESTORNAR TRANSFERÊNCIA"
												message="Tem certeza que deseja ESTORNAR esta Transferência e os seus Bens Relacionados?"
												icon="ui-icon-alert" />
											<f:setPropertyActionListener value="#{transferencia}"
												target="#{consultaTransferenciasBean.transferenciaSelecionada}" />
										</p:commandButton>
									</p:column>
									
									<p:column style="width:30px;text-align: center">
										<p:commandButton icon="ui-icon-thumb-up"  
											title="Confirmar Recebimento Bens do Termo de Transferência Externo" 
										    styleClass="green-btn" value="Receber"
											process="@this" update="@form :frm:tabela"
											action="#{consultaTransferenciasBean.gerarRecebimento}"
											rendered="#{transferencia.localDestino.unidadeGestora.codigoOrcamentario == consultaTransferenciasBean.codigoOrcamentarioLogado and (seguranca.autoridades=='[ROLE_ADMINISTRADORES]' or seguranca.autoridades=='[ROLE_GESTORES]')}">
											<p:confirm header="CONFIRMAR RECEBIMENTO DO TERMO DE TRANSFERÊNCIA EXTERNA"
												message="Tem certeza que deseja RECEBER esta Transferência e os seus Bens Relacionados?"
												icon="ui-icon-alert" />
											<f:setPropertyActionListener value="#{transferencia}"
												target="#{consultaTransferenciasBean.transferenciaSelecionada}" />
										</p:commandButton>
									</p:column>
									
									<p:column style="width:20px;text-align: center">
										<p:commandButton icon="ui-icon-mail" styleClass="green-btn"
										    	rendered="#{transferencia.localOrigem.unidadeGestora.codigoOrcamentario == consultaTransferenciasBean.codigoOrcamentarioLogado and (seguranca.autoridades=='[ROLE_ADMINISTRADORES]' or seguranca.autoridades=='[ROLE_GESTORES]')}"
											title="NOTIFICAR POR E-MAIL, OS RESPONSÁVEIS POR ESTA TRANSFERÊNCIA"
											id="btEmail"
											action="#{consultaTransferenciasBean.enviarNotificacaoResponsaveisTransferenciaTEB}"
											process="@this">
											<f:setPropertyActionListener value="#{transferencia}"
												target="#{consultaTransferenciasBean.transferenciaSelecionada}" />
										</p:commandButton>
									</p:column>
									
									
								</div>
							</p:column>
						</p:dataTable>


						<p:dialog header="Detalhes: Transferências "
							widgetVar="dlgver" modal="true" showEffect="fade"
							hideEffect="clip" resizable="false">
							<p:outputPanel id="transferenciaDetalhes"
								style="text-align:center;">
								<p:panelGrid columns="2"
									rendered="#{not empty consultaTransferenciasBean.transferenciaSelecionada}"
									columnClasses="label,value">

									<h:outputText value="No. Transferência" 
										style="font-weight:bold;" />
									<h:outputText
										value="#{consultaTransferenciasBean.transferenciaSelecionada.numeroTermoTransferencia}"
										style="font-weight:bold" />
									
									<h:outputText value="Data Transferência"
										style="font-weight:bold" />
									<h:outputText
										value="#{consultaTransferenciasBean.transferenciaSelecionada.dataTransferencia}"
										style="font-weight:bold">
										<f:convertDateTime pattern="dd/MM/yyyy" locale="pt" />
									</h:outputText>
									
									<h:outputText value="Data de Registro"
										style="font-weight:bold" />
									<h:outputText
										value="#{consultaTransferenciasBean.transferenciaSelecionada.dataCadastro}"
										style="font-weight:bold">
										<f:convertDateTime locale="pt" dateStyle="long" pattern="dd/MM/yyyy HH:mm:ss" timeZone="GMT-04:00" />
									</h:outputText>
									
									
									<h:outputText value="Tipo de Transferência" 
									    style="font-weight:bold"/>
										<h:outputText style="font-weight:bold"
											value="#{consultaTransferenciasBean.transferenciaSelecionada.tipoTransferencia.descricaoTipoTransferencia}" />
									
									<h:outputText value="Bem Patrimonial" 
									    style="font-weight:bold"/>
										<h:outputText style="font-weight:bold"
											value="No. Patrimônio: #{consultaTransferenciasBean.transferenciaSelecionada.bemMovel.numeroPatrimonio}  /  
											 Descrição do Bem: #{consultaTransferenciasBean.transferenciaSelecionada.bemMovel.descricao}  / 
											Número de Série: #{consultaTransferenciasBean.transferenciaSelecionada.bemMovel.numeroSerie}"/>
								
									<h:outputText value="Número de Série do Bem:" 
									    style="font-weight:bold"/>
										<h:outputText style="font-weight:bold"
											value="#{consultaTransferenciasBean.transferenciaSelecionada.bemMovel.numeroSerie}" />
									
									<h:outputText value="Unidade ORIGEM/Saída" 
									    style="font-weight:bold"/>
										<h:outputText style="font-weight:bold"
											value="#{consultaTransferenciasBean.transferenciaSelecionada.localOrigem.nomeUnidadeAdministrativa} (#{consultaTransferenciasBean.transferenciaSelecionada.localOrigem.nomeResumido})  /  Responsável:#{consultaTransferenciasBean.transferenciaSelecionada.antigoFuncionarioResponsavelPatrimonial.nomeFuncionario}" />
									
										<h:outputText value="Unidade DESTINO/Entrada" 
									    style="font-weight:bold"/>
										<h:outputText style="font-weight:bold; color:green"
											value="#{consultaTransferenciasBean.transferenciaSelecionada.localDestino.nomeUnidadeAdministrativa} (#{consultaTransferenciasBean.transferenciaSelecionada.localDestino.nomeResumido}) " />
										
										<h:outputText value="Receptor" 
									    style="font-weight:bold"/>
										<h:outputText style="font-weight:bold; color:green"
											value="#{consultaTransferenciasBean.transferenciaSelecionada.novoFuncionarioResponsavelPatrimonial.nomeFuncionario} " />
										
										
									
										<h:outputText value="Localização Física de Destino do Bem" />
										<h:outputText style="font-weight:bold; color:green" 
										value="Prédio: #{consultaTransferenciasBean.transferenciaSelecionada.localDestino.predio} 
							Piso: #{consultaTransferenciasBean.transferenciaSelecionada.localDestino.piso} 
							Corredor: #{consultaTransferenciasBean.transferenciaSelecionada.localDestino.corredor} 
						    Sala:  #{consultaTransferenciasBean.transferenciaSelecionada.localDestino.sala}" />
									
									<h:outputText value="Estado de Conservação do Bem"
										style="font-weight:bold" />
									<h:outputText
										value="#{consultaTransferenciasBean.transferenciaSelecionada.estadoBem.descricaoEstadoBem}"
										style="font-weight:bold"
										styleClass="#{consultaTransferenciasBean.transferenciaSelecionada.estadoBem.descricaoEstadoBem eq 'Novo'  ? 'colorgreen' :  'colorvermelho'}" />
									
									<h:outputText value="Observação"
										style="font-weight:bold" />
									<h:outputText
										value="#{consultaTransferenciasBean.transferenciaSelecionada.observacao}"
										style="font-weight:bold"/>
									
								</p:panelGrid>
							</p:outputPanel>
							<br />
							<div align="center">
								<p:button value="OK" icon="ui-icon-check"
									onclick="PF('dlgver').hide(); return false" style="width:100px" />
							</div>
						</p:dialog>
					</h:form>
				</div>
			</div>
		</div>
	</ui:define>
</ui:composition>